extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')

block variables
  -
    const fileName = 'promotion-twelve-months'
    const pageTitle = 'Акция «Двенадцать месяцев»'

    const smallBannerData = {
      h3: 'Условия участия',
      descr: 'Оформите кредитную карту &laquo;Универсальная&raquo; в&nbsp;период проведения акции и&nbsp;совершите расходную операцию в&nbsp;месяце оформления.',
      descrMods: '--d-size-xl',
      footnote: '<p class="ui-p1 ui-p1--mob-xs text-mob-only">с&nbsp;1&nbsp;декабря 2023 по&nbsp;31&nbsp;января 2024</p>',
      img: 'img/small_banner_img.png',
      btn: 'Условия акции',
      btnMods: 'empty',
      btnDesc: '<p class="ui-p1 text-mob-none">с&nbsp;1&nbsp;декабря 2023 по&nbsp;31&nbsp;января 2024</p>'
    }

    const calendarItem1 = { 
      date: 'Декабрь 2023',
      startDay: 5, 
      endDay: 31,
      promotionStart: 1,
    }
    
    const calendarItem2 = {
        date: 'Январь 2024',
        prizeDay: 17,
        startDay: 1,
        endDay: 31,
        promotionEnd: 31,
      }
    
    const calendarItem3 = {
        date: 'Февраль 2024',
        prizeDay: 14,
        startDay: 4,
        endDay: 29,
      }
    
    const cardDayData = [
      { 
        day: '17',
        month: 'января',
        descr: 'Среди клиентов оформивших карту в&nbsp;декабре 2023 года',
        footnote: 'После 17&nbsp;января опубликуем запись проведения розыгрыша',
      },
      {
        day: '14',
        month: 'февраля',
        descr: 'Среди клиентов, оформивших карту в&nbsp;январе 2024 года', 
        footnote: 'После 14&nbsp;февраля опубликуем запись проведения розыгрыша',
        itemMods: '--bg-flesh',
      },
    ]

    const sweepstakesData = [
      { img: 'img/sweepstakes_img_1.png', text: 'Количество призов определяется как <span class="text-orange text-bg-light-orange">количество участников, деленное на&nbsp;100</span>&nbsp;с округлением в&nbsp;меньшую сторону до&nbsp;целого числа. Например:<br> 1015 участников <span class="text-orange">&rarr;</span> делим на&nbsp;100 <span class="text-orange">&rarr;</span> получаем 10&nbsp;призов', count: '01' },
      { img: 'img/sweepstakes_img_2.png', text: 'Победители будут определены с&nbsp;помощью рандомайзера по&nbsp;номеру договора в&nbsp;указанные выше даты. Запись будет опубликована на&nbsp;этой странице после проведения розыгрыша.', count: '02' },
      { img: 'img/sweepstakes_img_3.png', text: 'Победителей также проинформируем через email/смс и/или push-уведомления в&nbsp;течение 5&nbsp;рабочих дней после проведения розыгрыша.', count: '03' }
    ]

    const list_1 =[
      { text: 'На&nbsp;момент оформления Договора по&nbsp;ТП&nbsp;&laquo;Универсальная карта&raquo; нет действующего Кредитного договора по&nbsp;ТП&nbsp;&laquo;Универсальная карта&raquo; либо ТП&nbsp;&laquo;180 дней без&nbsp;%&raquo;;' },
      { text: 'Гражданин Российской Федерации, не&nbsp;состоящий в&nbsp;браке, возраст которого не&nbsp;превышает 35&nbsp;лет, и&nbsp;имеющий ребенка в&nbsp;возрасте до&nbsp;18&nbsp;лет;' },
      { text: 'Регистрация: по&nbsp;месту жительства /месту пребывания на&nbsp;территории Российской федерации;' },
      { text: 'Возраст: от&nbsp;21&nbsp;года до&nbsp;35&nbsp;лет (включительно) на&nbsp;дату заключения кредитного договора;' },
      { text: 'Кредитование не&nbsp;осуществляется в&nbsp;случае, если Заемщик (любой из&nbsp;солидарных заемщиков) является (ранее являлся) Заемщиком (солидарным заемщиком) или поручителем по&nbsp;другим жилищным (ипотечным) кредитам, предоставленным в&nbsp;соответствии с&nbsp;Условиями реализации программы &laquo;Дальневосточная ипотека&raquo;, утвержденным Постановлением Правительства Российской Федерации (от&nbsp;&laquo;07&raquo; декабря 2019 года &#8470;&nbsp;1609).' },
    ]

    const list_2 =[
      { text: 'Вам от&nbsp;21&nbsp;до&nbsp;70&nbsp;лет (на&nbsp;момент окончания кредитного договора);' },
      { text: 'Вы&nbsp;проживаете <span class="text-orange">на&nbsp;территории обслуживания Банка</span> или у&nbsp;вас положительная кредитная история в&nbsp;АТБ или других банках;' },
      { text: 'У&nbsp;Вас есть гражданство&nbsp;РФ;' },
      { text: 'Для работающих по&nbsp;найму&nbsp;&mdash; стаж на&nbsp;последнем месте работы от&nbsp;3&nbsp;месяцев;' },
      { text: 'Для пенсионеров&nbsp;&mdash; регулярное поступление пенсионных или иных социальных выплат;' },
      { text: 'Для индивидуальных предпринимателей&nbsp;&mdash; стаж ведения&nbsp;ИП не&nbsp;менее 6&nbsp;месяцев;' },
      { text: 'Для самозанятых&nbsp;&mdash; срок регистрации в&nbsp;качестве самозанятых не&nbsp;менее 6&nbsp;месяцев.' },
    ]

    const documentsItems = [
      { name: 'Краткие условия акции &laquo;12&nbsp;месяцев&raquo;', info: '' },
      { name: 'Полные условия акции &laquo;12&nbsp;месяцев&raquo;&quot;', info: '' }
    ]

block content
  main
    +banner('--m-vertically')
      +banner-item()
        +banner-wrapper('img/banner-image.png', true)
          +banner-h1('Акция <br> &laquo;Двенадцать месяцев&raquo;', '--mob-size-l')
          +banner-text('Оформите кредитную карту &laquo;Универсальная&raquo; и&nbsp;получите шанс не&nbsp;платить проценты до&nbsp;года!')
          +banner-foot
            +ui-button('Оформить карту', 'banner, --m-size-l')(href='#')

    .page-content
      +section('--mt0')
        .inner
          +small-banner-wrapper()
            +small-banner(smallBannerData, '--promotion-twelve-months')

      +section()
        .inner
          +section-head()
            +ui-h2('Два розыгрыша призов', 'section-head').text-center.text-center--laptop-left
            +ui-h5('Розыгрыш проводится среди клиентов, выполнивших <span class="text-orange">все условия акции</span>').text-center.text-center--laptop-left
          +calendar-wrapper()
            +calendar()
              +calendar-item(calendarItem1, '--filled-light-blue')
              +calendar-item(calendarItem2, '--filled-flesh')
              +calendar-item(calendarItem3)
            +card-day-wrapper()
              each cardItem in cardDayData
                +card-day(cardItem, cardItem.itemMods)

      +section()
        .inner
          +section-head()
            +ui-h2('Как будут проходить розыгрыши', 'section-head').text-center.text-center--laptop-left
            +ui-h5('Победителям увеличим первый беспроцентный период до&nbsp;12&nbsp;месяцев').text-center.text-center--laptop-left
          +sweepstakes()
            +sweepstakes-item(sweepstakesData[0], '--right')
            +sweepstakes-item(sweepstakesData[1])
            +sweepstakes-item(sweepstakesData[2], '--right')

      +section
        .inner
          +section-head
            +ui-h2('Ответы на&nbsp;вопросы')
          +accordion
            +accordion-item('Кто может стать участником акции? Есть&nbsp;ли ограничения?')
              +ui-p1('Нужны выполнить все условия:', '--mb5')
              +ui-ul(list_1, '--mt10')
              +ui-p1('Сотрудники АТБ не&nbsp;могут принимать участие в&nbsp;акции.')
            +accordion-item('Условия предоставления кредитной карты &laquo;Универсальная&raquo;:') 
              +ui-ul(list_2, '--mt10')
            +accordion-item('Как и&nbsp;когда проходит определение победителей?') 
            +accordion-item('Как получить беспроцентный период на&nbsp;12&nbsp;месяцев по&nbsp;карте Универсальная, оформленной с&nbsp;1&nbsp;декабря 2023 по&nbsp;31&nbsp;января 2024?') 
            +accordion-item('Я&nbsp;оформил кредитную карту &laquo;Универсальная&raquo; до&nbsp;декабря 2023&nbsp;года, я&nbsp;могу участвовать?') 
            +accordion-item('Где будет размещена информация о&nbsp;победителях?') 

      +section
        .inner.text-center
          +ui-button('Оформить карту')

      +section
        .inner
          +section-head
            +ui-h2('Документы')
          +documents(documentsItems)
