extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')

block variables
  -
    const fileName = 'credits'
    const pageTitle ='Кредиты'

  //- -
    const bannerSapid = [
      {
        img: 'img/star.gif',
        txt: 'Акции',
        content: [
          {
            img: 'img/icon_rabbit_run.svg',
            txt: 'Акция «Будь быстрее Кролика»',
            link: '#',
            //- mods: 'banner-sapid-box-main-content-item--bg'
          }
        ]
      },
    ]

  -
    const productsData =[
      {
        img: 'img/credit_1.png',
        title: 'Кредит наличными',
        label: 'Акция «Охота за удачей»',
        list: [
          { text: 'Оформление по паспорту' },
          { text: 'Фиксированная процентная ставка' },
          { text: 'Удобство и скорость оформления' },
        ],
        features: [
          {
            name: 'Ставка',
            txt: 'от <span class="products__val-big">6,5%</span>',
          },
          {
            name: 'срок',
            txt: 'от <span class="products__val-big">5 лет</span>',
          },
          {
            name: 'Сумма кредита',
            txt: 'до <span class="products__val-big">3 млн ₽</span>',
          },
        ],
        btn: {
          href: '#',
          txt: 'Оставить заявку',
        },
        link: {
          href: '#',
          txt: 'Подробнее',
        },
      },
      {
        img: 'img/credit_4.png',
        title: 'Рефинансирование кредитов',
        list: [
          { text: 'Снижение ставки' },
          { text: 'Объединение кредитов разных банков в&nbsp;один' },
          { text: 'Дополнительная сумма на&nbsp;любые цели' },
        ],
        features: [
          {
            name: 'Ставка',
            txt: 'от <span class="products__val-big">4%</span>',
          },
          {
            name: 'срок',
            txt: 'до <span class="products__val-big">7 лет</span>',
          },
          {
            name: 'Сумма кредита',
            txt: 'до <span class="products__val-big">3 млн ₽</span>',
          },
        ],
        btn: {
          href: '#',
          txt: 'Оставить заявку',
        },
        link: {
          href: '#',
          txt: 'Подробнее',
        },
      },
      {
        img: 'img/credit_2.png',
        title: 'Кредит под залог недвижимости',
        list: [
          { text: 'Подходит для ИП' },
          { text: 'На любые цели, кроме предпринимательской деятельности' },
        ],
        features: [
          {
            name: 'Ставка',
            txt: 'от <span class="products__val-big">11,2%</span>',
          },
          {
            name: 'срок',
            txt: 'до <span class="products__val-big">20 лет</span>',
          },
          {
            name: 'Сумма кредита',
            txt: 'до <span class="products__val-big">15 млн ₽</span>',
          },
        ],
        btn: {
          href: '#',
          txt: 'Оставить заявку',
        },
        link: {
          href: '#',
          txt: 'Подробнее',
        },
      },
      {
        img: 'img/credit_3.png',
        title: 'Автокредит',
        list: [
          { text: 'От 0% первоначальный взнос' },
          { text: 'Оформление по двум документам' },
        ],
        features: [
          {
            name: 'Ставка',
            txt: 'от <span class="products__val-big">18,5%</span>',
          },
          {
            name: 'срок',
            txt: 'до <span class="products__val-big">8 лет</span>',
          },
          {
            name: 'Сумма кредита',
            txt: 'до <span class="products__val-big">4,5 млн ₽</span>',
          },
        ],
        btn: {
          href: '#',
          txt: 'Подробнее',
        }
      },
    ]

block content
  main
    +banner('--m-vertically')
      +banner-item()
        +banner-wrapper('img/banner_credits_small.png', true)
          +banner-h1('Кредиты <br class="banner__br-no-mob">наличными', '--mob-size-l')
          +banner-subtitle('На&nbsp;любые цели')
          +banner-foot
            +ui-button('Оформить кредит', 'banner, --m-size-l')(href='#')

      +banner-item('--refinancing')
        +banner-wrapper('img/banner_refinancing_small.png', true)
          +banner-h1('Рефинансирование кредитов', '--mob-size-l', false)
          +banner-text('Объедините кредиты других банков и&nbsp;платите меньше!')
          +banner-foot
            +ui-button('Оставить заявку', 'banner, --m-size-l')(href='#')

    .page-content
      +section('--mt0')
        .inner
          +section-head
            +ui-h2('Кредиты', 'section-head')
          +products(productsData, '--img-contain')
      +section
        .inner
          +section-head.text-center
            +ui-h2('Вопросы и ответы', 'section-head')
          +accordion
            +accordion-item('Как оформить кредит?')
              +ui-p1('Оформить кредит можно, оставив заявку на&nbsp;сайте банка, в&nbsp;мобильном приложении или в&nbsp;офисе. При оформлении заявки дистанционно (сайт банка/мобильное приложение) после предварительного одобрения вам будет назначена встреча в&nbsp;офисе для подписания договора и&nbsp;получения кредита. Для действующих клиентов банка, с&nbsp;установленным мобильным приложением доступно оформление кредита онлайн без посещения офиса.', '--light')
            +accordion-item('Почему мне отказали в кредите?')
              +ui-p1('Для обеспечения финансовой надежности принятие решения о&nbsp;выдаче кредита осуществляется банком на&nbsp;основании требований и&nbsp;критериев, применяемых при оценке финансовой устойчивости заемщика, а&nbsp;также иных показателей, влияющих на&nbsp;вероятность возврата кредита. Кроме того, действующим законодательством не&nbsp;предусмотрена обязанность банка информировать лиц, обратившихся за&nbsp;предоставлением кредита, о&nbsp;причинах отказа в&nbsp;предоставлении кредита.', '--light')
            +accordion-item('Можно ли оформить кредит без залога в АТБ?')
              +ui-p1('Да, в&nbsp;АТБ возможно оформление кредита на&nbsp;сумму до&nbsp;3&nbsp;млн рублей без залога. Ставка фиксирована на&nbsp;весь срок кредитования. Более подробно можно ознакомиться ', '--light')
                a.text-orange(href='#') здесь
                | .
            +accordion-item('Как платить по кредиту?')
              +ui-p1('', '--light')
                p Оплачивать можно в наличной и безналичной форме. Все доступные способы погашения кредита представлены на
                  =' '
                  a.text-orange(href='#') странице
                  | .
            +accordion-item('Не могу оплачивать кредит, что делать? Как оформить кредитные каникулы?')
              +ui-p1('', '--light')
                p Банк может предложить вам снижение платежа, увеличив срок кредита либо предоставить отсрочку платежа, как частичную, так и полную. Более подробно ознакомиться с информацией и оставить заявку на получение услуги можно на
                  =' '
                  a.text-orange(href='#') сайте банка
                  | , либо обратиться в любое удобное для Вас отделение.
                p При наличии просроченной задолженности банк может предложить вам несколько программ реструктуризации. Оставить заявку и&nbsp;более подробно ознакомиться с&nbsp;условиями вы&nbsp;можете на
                  =' '
                  a.text-orange(href='#') сайте
                  |  либо обратиться
                  =' '
                  a.text-orange(href='#') в&nbsp;любое удобное для вас отделение
                  | .
            +accordion-item('Как узнать сумму платежа?')
              +ui-p1('', '--light')
                p В&nbsp;личном кабинете интернет-банка, через мобильное приложение, в
                  =' '
                  a.text-orange(href='#') отделении банка
                  |  по&nbsp;предъявлению паспорта, через банкомат, по&nbsp;телефону горячей линии&nbsp;&mdash; 8-800-775-88-88 (потребуется назвать кодовое слово и&nbsp;паспортные данные).
            +accordion-item('Как снизить ставку по действующему кредиту?')
              +ui-p1('', '--light')
                p Вы&nbsp;можете объединить действующие кредиты, оформленные в&nbsp;АТБ, и&nbsp;получить дополнительные денежные средства, которыми сможете распоряжаться по&nbsp;своему усмотрению. АТБ предлагает различные условия кредитования, ознакомиться более подробно и&nbsp;оставить заявку можно
                  =' '
                  a.text-orange(href='#') здесь
                  | .
            +accordion-item('У меня плохая кредитная история, могу ли я оформить кредит?')
              +ui-p1('', '--light')
                p Существует возможность получения кредита и в такой ситуации. Банк принимает решение индивидуально по каждому клиенту с учетом совокупности данных. Обратитесь по телефону колл-центра 8-800-775-88-88 или в отделение банка.
            +accordion-item('Можно ли погасить кредит частично или полностью досрочно?')
              +ui-p1('', '--light')
                p Действующий кредитный договор можно погасить досрочно, частично либо полностью, для этого вам необходимо уведомить банк, написав заявление на полное либо частичное погашение, в том числе и по телефону 8-800-775-88-88, а позже внести необходимую сумму для погашения.
            +accordion-item('Как узнать реквизиты счета?')
              +ui-p1('', '--light')
                p Реквизиты счета можете узнать непосредственно в офисе банка, а также в Интернет-банке и в Мобильном приложении. При возникновении вопросов по работе с Интернет-банком или Мобильным приложением можно обратиться в колл-центр 8-800-775-88-88.
            +accordion-item('Другие предложения по кредитам наличными')
              +credits-list

    +seo('Условия получения кредита в АТБ')
      p Взять кредит наличными в Азиатско-Тихоокеанском банке можно без залога и поручителей. Физические лица и индивидуальные предприниматели вправе тратить денежные средства на любые нужды. АТБ не требует подтверждения целевого использования потребительского кредита.
      p Программы банка доступны заемщикам в возрасте от 21 года до 70 лет. Оформление кредита без подтверждения дохода возможно для:
      ul
        li зарплатных клиентов
        li клиентов, предоставивших согласие на запрос выписки из ПФР
        li для всех граждан при сумме кредита до 100 000 рублей
      p На нашем сайте можно сравнить программы, узнать актуальные процентные ставки, сроки кредита. Рассчитать параметры погашения ссуды для желаемой суммы и сопоставить с доходами удобно с помощью онлайн-калькулятора.
      p Оформите онлайн-заявку на кредит наличными и получите одобрение в день обращения.
