mixin vacancy(mods)
  -
    const baseName = 'vacancy'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  -
    const vacancyPropsItems =[
      { icon: 'icon_geo',
        text: 'Благовещенск, Амурская область',
      },
      { icon: 'icon_timer',
        text: 'Полная занятость',
      },
    ]

  .vacancy(class=allMods)&attributes(attributes)
    .vacancy__head
      +ui-h2('Ведущий специалист отдела информационной безопасности', 'vacancy')
      +vacancy-props(vacancyPropsItems)
    .vacancy__main
      .vacancy__inner
        // интегрировать верстку с нашими классами не получится. стилизуем то, что приходит по api
        h4 "Азиатско-Тихоокеанский Банк" - опорный банк Дальнего Востока, уверенно растущий в TOP-50 по всем показателям финансовой деятельности, с 2021 входит инвестиционно-финансовую холдинговую компанию «Pioneer Capital Invest». Работает на Российском рынке 31 год. 22 региона присутствия в 102 населенных пунктах.
        h4 Приходи к команду лучших!
        h4 Функционал по должности:
        ul
          li Консультации и поддержка пользователей;
          li Прикладное администрирование АБС ЦФТ, первоначальная настройка и перенастройка;
          li Тестирование исправлений, доработок, разбор ошибок;
          li Написание мониторингов;
          li Взаимодействие с поставщиками и другие вопросы сопровождения АБС банка и системы с микросервисной архитектурой по направлению "кредиты, кредитные карты".
        h4 Критерии успеха:
        ul
          li Опыт работы в банковской/финансовой сфере, знание банковских продуктов в АБС ЦФТ;
          li Опыт сопровождения "кредитного конвейера" (желательно);
          li Опыт разработки в ЦФТ ( на уровне junior);
          li
            strong Опыт тех. поддержки систем с микросервисной архитектурой
            |  (в отклике укажите с чем приходилось работать)
            strong :
            |  системные инструменты мониторинга метрик: Kibana, Grafana, ElasticSearch, Victoriametrics, Prometheus, *-exporter, Alertmanager, opensearch, opensearch dashboard; инструменты – git, gitlab, nexus, Jenkins, sonarqube, kubernetes, docker swarm, docker, helm, npm, maven, gradle, Rabbit, Kafka; языки - Groovy, Python, Ansible, Bash, Dart, PL/SQL.
          li ОС Windows (опытный пользователь);
          li SQL на базовом уровне,
          li Java, JS, Visual Basic, PL/SQL (один или несколько языков) на базовом уровне;
          li Ответственность, внимательность, умение работать в команде.
        h4 Мы предлагаем:
        ul
          li Работу в крупном стабильном банке ТОП-50;
          li Официальное оформление в соответствии с ТК РФ, полный соц.пакет;
          li График 5/2 ,
            strong
              | дистанционно из РФ или Казахстана (по времени того города, в котором вы находитесь)
            | ;
          li Конкурентный доход;
          li Заботу о здоровье: программа ДМС со стоматологией для сотрудников банка;
          li Возможности профессионального и карьерного роста;
          li Насыщенную корпоративную жизнь.
        h4 !Если Вы заинтересовались нашей вакансией, пожалуйста, в сопроводительном письме обозначьте Ваш желаемый уровень дохода.

    block
