mixin online-tabs(mods)
  -
    const baseName = 'online-tabs'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  -
    const benefitsItems =[
      { icon: 'img/benefits1.svg', title: 'по номеру телефона и паспортным данным' },
      { icon: 'img/benefits2.svg', title: 'по номеру счета' },
      { icon: 'img/benefits3.svg', title: 'по номеру банковской карты' },
    ]

  .online-tabs(class=allMods)&attributes(attributes)
    .online-tabs__wrapper
      .online-tabs__head
        .online-tabs__head-item.online-tabs__head-item--connection.active
          span Подключение АТБ онлайн
        .online-tabs__head-item.online-tabs__head-item--safety
          span Безопасность
        .online-tabs__head-item.online-tabs__head-item--q_a
          span Вопросы и ответы

      .online-tabs__main
        .online-tabs__main-item.online-tabs__main-item--connection.active
          .online-tabs__main-item-btn Подключение АТБ-Мобайл
          .online-tabs__main-item-content
            .online-tabs__main-text
              p Для входа в АТБ онлайн используйте логин и пароль.
                br
                |  Зарегистрироваться или восстановить учетную запись можно без обращения в банк:
            +benefits(benefitsItems, '--title-normal')
            +ui-button('Войти')(href='#')

        .online-tabs__main-item.online-tabs__main-item--safety
          .online-tabs__main-item-btn Безопасность
          .online-tabs__main-item-content
            .online-tabs__main-text
              p Мы стремимся к созданию безопасного пространства, в котором клиенты не переживают за свои сбережения.
              p Вся работа нового сервиса производится исключительно по защищённым протоколам передачи информации, которая соответствует международным стандартам кибербезопасности.
              p Несмотря на совершенствование систем безопасности необходимо соблюдать простые правила:
              ol.ui-ol
                li Проверяйте адрес и наличие защищенного соединения с АТБ Онлайн.
                  br
                  | Перед началом работы с АТБ Онлайн убедитесь, что в адресной строке браузера указан корректный адрес https://ib.atb.su, а также установлено соединение по защищенному протоколу SSL (Secure Sockets Layer). В адресной строке должна отображаться иконка закрытого замка:
                  .online-tabs__main-safety
                    img(src='img/online-tabs__main-safety.png', alt='')
                li Никому не говорите регистрационные данные для входа в АТБ Онлайн.
                  br
                  | Для входа в АТБ Онлайн необходимо ввести Логин и Пароль, а также одноразовый код, направленный на номер вашего телефона в смс-сообщении.
                  br
                  | Знайте, что сотрудники АТБ никогда не запрашивают логин, пароль и код из смс-сообщения/push-уведомления. Не следует отвечать на подозрительные звонки, электронные письма и сообщения, в которых запрашивают конфиденциальную информацию.
                li Соблюдайте меры безопасности при работе с компьютером:
                  ul.ui-ul.ui-ul--child
                    li установите на свой компьютер антивирус и обновляйте его на регулярной основе. Антивирус защитит компьютер от вредоносных программ и снизит риск мошеннических действий
                    li при работе с АТБ Онлайн с собственного компьютера или ноутбука не следует подключаться к открытому WI-FI соединению в публичных местах
                    li ознакомьтесь с «
                      a.text-orange(href='#') Рекомендациями Клиенту по безопасному использованию системы дистанционного банковского обслуживания в «Азиатско-Тихоокеанском Банке» (АО)
                      | »
                    li прочтите «
                      a.text-orange(href='#') Памятку безопасности
                      | »
              p Дополнительно советуем ознакомиться с
                =' '
                a.text-orange(href='https://www.atb.su/upload/doc/2019/pamyatka.pdf' target='_blank')  Рекомендациями Клиенту по безопасному использованию системы дистанционного банковского обслуживания в «Азиатско-Тихоокеанском Банке» (АО).
                br
                a.text-orange(href='#' target='_blank') Памятка безопасности

        .online-tabs__main-item.online-tabs__main-item--q_a
          .online-tabs__main-item-btn Вопросы и ответы
          .online-tabs__main-item-content
            +accordion
              +accordion-item('Как получить доступ в АТБ Онлайн?')
                p Любой клиент Банка может самостоятельно пройти регистрацию в приложении АТБ Онлайн. Регистрация в сервисе возможна по номеру телефона, номеру банковской карты, а также используя номер расчетного счета.
              +accordion-item('Почему доступ в АТБ Онлайн заблокирован?')
                p Причин может быть несколько, но в большинстве случаев это делается ради безопасности ваших средств. Чаще всего доступ блокируется из-за неверно введенных регистрационных данных. Для возможности восстановления доступа клиенту необходимо обратиться в колл-центр Банка по телефону
                  =' '
                  a.text-orange.text-nowrap(href='tel:88007758888') 8-800-775-88-88
                  |  (звонок по России бесплатный), либо в любое отделение.
              +accordion-item('Забыл логин и/или пароль, что делать?')
                p Восстановить регистрационные данные можно самостоятельно. Для этого необходимо на странице АТБ Онлайн нажать на кнопку «Забыли пароль?».
              +accordion-item('В АТБ Онлайн не отражаются счета, что делать?')
                p Если возникли проблемы с отображением продуктов и счетов, то просим вас позвонить по телефону
                  =' '
                  a.text-orange.text-nowrap(href='tel:88007758888') 8-800-775-88-88
                  |  (звонок по России бесплатный).
              +accordion-item('Что такое Система быстрых платежей (СБП)?')
                p Система Банка России, позволяющая клиентам Банка переводить средства по номеру телефона получателя, счет которого открыт в любом другом банке-участника данной системы. Без комиссии (бесплатно) можно переводить до 100 тыс. руб. в месяц.
                p  Подробнее о Системе быстрых платежей можно ознакомиться на
                  =' '
                  a.text-orange(href='https://www.atb.su/services/sbp/' target='_blank') отдельной странице сайта
                  | .
              +accordion-item('Что делать, если не работает приложение?')
                p Проверьте, пожалуйста, обновления в
                  =' '
                  a.text-orange(href='https://apps.apple.com/ru/app/%D0%B0%D1%82%D0%B1-%D0%BC%D0%BE%D0%B1%D0%B0%D0%B9%D0%BB-new/id1545924358' target='_blank')  App Store
                  |  или
                  =' '
                  a.text-orange(href='https://play.google.com/store/apps/details?id=com.isimplelab.ionic.atbnew.prod' target='_blank') Play Market
                  =' '
                  | . При необходимости клиент может обратиться за помощью, позвонив в колл-центр по телефону
                  =' '
                  a.text-orange.text-nowrap(href='tel:88007758888') 8-800-775-88-88
                  |  (звонок по России бесплатный).
              +accordion-item('Можно ли стать клиентом без посещения офиса?')
                p Мы работаем над этим. Возможность удаленной регистрации будет доступна в будущем.
              +accordion-item('Не могу войти в АТБ Онлайн по логину и паролю')
                p Если вы ранее указывали логин и пароль, а после успешно проходили авторизацию в интернет-банке, но теперь имеется ошибка «Неверный логин и пароль», то просим вас пройти регистрацию в интернет-банке и установить новые регистрационные данные.
                p Пройти регистрацию можно самостоятельно используя:
                .ui-ul
                  li Номер телефона и паспортные данные
                  li Номер расчетного счета
                  li Номер банковской карты
    block
