extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  script(src=fileName + '.js')

block variables
  -const fileName = 'mortgage'
  -const pageTitle ='Дальневосточная ипотека'

  -
    const tabsHeadItems =[
      { text: 'Процентная ставка' },
      { text: 'Требования к заемщикам' },
      { text: 'Условия предоставления кредита' },
      { text: 'Документы' },
    ]

  -
    const mortgageSliderItems =[
      {
        icon: 'img/mortgage_slider_r_h.svg',
        name: 'Приобретение готового жилья',
        feature: [
          { subtitle: 'Срок кредита ипотеки до', value: '30 лет' },
          { subtitle: 'Процентная ставка  от ', value: '21,5%' }
        ]
      },
      {
        icon: 'img/mortgage_slider_netselevoy.svg',
        name: 'Нецелевой',
        feature: [
          { subtitle: 'Срок кредита ипотеки до', value: '20 лет' },
          { subtitle: 'Процентная ставка  от ', value: '26%' }
        ]
      },
      {
        icon: 'img/mortgage_slider_construction.svg',
        name: 'Приобретение квартиры на этапе строительства',
        feature: [
          { subtitle: 'Срок кредита ипотеки до', value: '30 лет' },
          { subtitle: 'Процентная ставка  от ', value: '21,5%' }
        ]
      },
      {
        icon: 'img/mortgage_slider_state_support.svg',
        name: 'Ипотека с&nbsp;гос.&nbspподдержкой',
        feature: [
          { subtitle: 'Срок кредита ипотеки до', value: '30 лет' },
          { subtitle: 'Процентная ставка  от ', value: '5,75%' }
        ]
      },
    ]

  -
    const list_1 =[
      { text: '<b>Процентная ставка</b>: Базовая процентная ставка по ипотеке на Дальнем Востоке: 0,9% годовых.' },
      { text: '<b>Надбавки</b>: На Дальнем Востоке ипотека предоставляется под 2% - таковы общие условия. Предусмотрены надбавки. В случае незаключения заемщиком договоров личного страхования и страхования жилого помещения после государственной регистрации права собственности на такое жилое помещение, а также при невыполнении заемщиком предусмотренных кредитным договором условий указанных договоров страхования: 1 процентный пункт.' },
    ]

  -
    const list_2 =[
      { text: 'Граждане Российской Федерации, состоящие в браке между собой, и возраст обоих супругов не превышает 35 лет. Оба супруга должны быть солидарными заемщиками;' },
      { text: 'Гражданин Российской Федерации, не состоящий в браке, возраст которого не превышает 35 лет, и имеющий ребенка в возрасте до 18 лет;' },
      { text: 'Регистрация: по месту жительства /месту пребывания на территории Российской федерации;' },
      { text: 'Возраст: от 21 года до 35 лет (включительно) на дату заключения кредитного договора;' },
      { text: 'Кредитование не осуществляется в случае, если Заемщик (любой из солидарных заемщиков) является (ранее являлся) Заемщиком (солидарным заемщиком) или поручителем по другим жилищным (ипотечным) кредитам, предоставленным в соответствии с Условиями реализации программы "Дальневосточная ипотека", утвержденным Постановлением Правительства Российской Федерации (от «07» декабря 2019 года № 1609).' },
    ]

  -
    const list_3 =[
      { text: 'Амурская область' },
      { text: 'Республика Бурятия' },
      { text: 'Еврейская автономная область' },
      { text: 'Забайкальский край' },
      { text: 'Камчатский край' },
      { text: 'Магаданская область' },
      { text: 'Приморский край' },
      { text: 'Республика Саха (Якутия)' },
      { text: 'Сахалинская область' },
      { text: 'Хабаровский край' },
      { text: 'Чукотский автономный округ' },
    ]

  -
    const mortgageWhomItems =[
      {
        imgs: [
          'mortgage_whom1_1.png',
        ],
        title: 'Супруги',
        descr: 'Обоим до 35 лет на дату заключения договора',
      },
      {
        imgs: [
          'mortgage_whom2_1.png',
        ],
        title: 'Родитель до 35 лет',
        descr: 'Не состоит в браке, <br>ребенку до 19&nbsp;лет на дату заключения договора',
      },
      {
        imgs: [
          'mortgage_whom3_1.png',
          'mortgage_whom3_2.png',
        ],
        title: 'Учитель или врач',
        descr: 'Стаж не менее 5&nbsp;лет по профилю в ДФО на дату заключения договора',
      },
    ]

  -
    const benefitsItems =[
      { title: 'Сумма кредита', val: 'до 6 млн ₽' },
      { title: 'Срок кредита', val: 'до 20 лет' },
      { title: 'Первоначальный взнос', val: 'от 15%' },
    ]

block content
  main
    +breadcrumbs()
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item('Кредиты', '#')
      +breadcrumbs-item('Ипотека', '#')
      +breadcrumbs-item('Калькулятор ипотеки', '#')
      +breadcrumbs-item('Дальневосточная ипотека')
    +banner('--m-vertically')
      +banner-item('--far-eastern-mortgage')
        +banner-wrapper('img/banner_far-eastern-mortgage.png', true)
          +banner-h1('Дальневосточная <br class="banner__br-no-mob">ипотека', '--mob-size-l')
          +banner-subtitle('от ')
            span.banner-subtitle__accent 1,2%
            |  годовых
          +banner-foot
            +ui-button('оставить заявку', 'banner, --m-size-l')(href='#')

    .page-content
      +section('--mt0')
        .inner
          +benefits(benefitsItems, '--title-normal')
      +section
        .inner
          +section-head
            +ui-h2('Кто может получить', 'section-head')
          +mortgage-whom(mortgageWhomItems)
      +section
        .inner
          +section-head
            +ui-h2('Рассчитайте свою ипотеку', 'section-head')
          +calc-mortgage
      +section
        .inner
          +info-partners
      +section
        +tabs-head(tabsHeadItems)
        +tabs-main
          +tabs-main__item(true)
            .inner
              +ui-p1
                +ui-ul(list_1)
          +tabs-main__item
            .inner
              +ui-p1
                p К заемщикам, желающим воспользоваться программой ипотеки на Дальнем Востоке под 2 процента, предъявляются следующие требования: &nbsp;&nbsp;
                +ui-ul(list_2)
                p Есть уникальная возможность приобрести объект на территории Дальневосточного Федерального Округа в следующих регионах:
                +ui-ul(list_3)
                p При использовании опции «Простая ипотека», требования к трудовому стажу/ к деятельности индивидуальных предпринимателей отсутствуют.
          +tabs-main__item
            .inner
              +ui-p1
                p <b>Срок кредита:</b> от <b>36</b> до <b>240</b> месяцев
                p <b>Сумма ипотечного кредита: </b>от 500 тыс. руб.<br> Максимальная сумма Кредита 6 млн. руб.
                p  Первоначальный взнос по программе Дальний Восток ипотека 2%: не менее 15%. Первоначальный взнос может формироваться с использованием средств региональных субсидий и материнского капитала.
                  br
                  | Важно, что кредитные средства предоставляются только после подтверждения оплаты первоначального взноса.
                p Заемщик (или солидарный Заемщик – при наличии) обязуется зарегистрироваться по месту жительства по адресу Объекта недвижимости, приобретенного с использованием кредитных средств в течение 270 дней, считая с даты государственной регистрации права собственности заемщика (одного из солидарных заемщиков) на Объект недвижимости и не сниматься с регистрационного учета по месту жительства по адресу Объекта недвижимости, приобретенного с использованием кредитных средств до даты, отстоящей на 5 лет, считая от даты выдачи кредита.
          +tabs-main__item
            .inner
              +documents

      +section
        .inner
          +section-head.text-center
            +ui-h2('Вопросы и ответы', 'section-head')
          +accordion
            +accordion-item('Как оформить ипотечный кредит?')
              +ui-p1('', '--light')
                p Предлагаем несколько удобных способов: через личный кабинет на сайте Банка, также можно позвонить в колл-центр по&nbsp;телефону
                  =' '
                  span.text-nowrap 8-800-775-88-88
                  |  (звонок по России бесплатный) или посетить ближайший офис банка.
            +accordion-item('Что нужно для оформления ипотеки?')
              +ui-p1('Анкета, паспорт, документы о&nbsp;трудоустройстве и доходе.', '--light')
            +accordion-item('Как узнать, сколько осталось выплатить по ипотеке?')
              +ui-p1('', '--light')
                p В мобильном приложении, через личный кабинет на сайте Банка, также можно позвонить в колл-центр по&nbsp;телефону
                  =' '
                  span.text-nowrap 8-800-775-88-88
                  |  (звонок по России бесплатный) или посетить ближайший офис банка.
            +accordion-item('Как использовать материнский капитал для выплаты ипотеки и&nbsp;какие есть ограничения?')
              +ui-p1('Обратиться в Банк для получения соответствующей справки для Пенсионного фонда и&nbsp;предоставить ее в&nbsp;ПФР. После перечисления материнского капитала вы можете выбрать, каким образом будет происходить погашение ипотеки: с&nbsp;уменьшением ежемесячного платежа или уменьшением срока кредитования. Ограничения могут устанавливаться Пенсионным фондом.', '--light')
            +accordion-item('Как частично/полностью погасить ипотеку досрочно?')
              +ui-p1('', '--light')
                p Обратиться в колл-центр по телефону 8-800-775-88-88 (звонок по России бесплатный) или посетить ближайший офис банка.
            +accordion-item('Какие объекты недвижимости можно приобрести за счет ипотечного кредита?')
              +ui-p1('В ипотеку можно приобрести квартиру, апартаменты, таунхаус, дом с&nbsp;земельным участком.', '--light')
            +accordion-item('Что делать, если я сейчас не могу выплачивать ипотечный кредит?')
              +ui-p1('Необходимо обратиться в ', '--light')
                a.text-orange(href='#') отделения АТБ
                |  с&nbsp;соответствующим заявлением. Возможна реструктуризация кредита.

            +accordion-item('Как внести платеж по ипотеке?')
              +ui-p1('', '--light')
                p Безналичным переводом в мобильном или интернет-банке с&nbsp;дебетовой карты, оформленной в Банке.
                p Безналичным переводом с&nbsp;любой карты на карту Банка.
                p Зачислением через банкомат Банка. Наличными в кассе любого
                  =' '
                  a.text-orange(href='#') отделения Банка
                  | .
            +accordion-item('Как долго вы рассматриваете заявку на кредит?')
              +ui-p1('Заявка рассматривается в&nbsp;течение двух рабочих дней.', '--light')
            +accordion-item('Можно ли изменить дату платежа?')
              +ui-p1('Да, обратившись в ', '--light')
                =' '
                a.text-orange(href='#') отделение банка
                |  с&nbsp;соответствующим заявлением.

      +section
        .inner
          +mortgage-slider(mortgageSliderItems)
