extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  script(src=fileName + '.js')

block variables
  -const fileName = 'mortgage'
  -const pageTitle ='Кредит на любые цели'

  -
    const tabsHeadItems =[
      { text: 'Процентная ставка' },
      { text: 'Требования к заемщикам' },
      { text: 'Условия предоставления кредита' },
      { text: 'Документы' },
    ]

  -
    const mortgageSliderItems =[
      {
        icon: 'img/mortgage_slider_r_h.svg',
        name: 'Приобретение готового жилья',
        feature: [
          { subtitle: 'Срок кредита ипотеки до', value: '30 лет' },
          { subtitle: 'Процентная ставка  от ', value: '21,5%' }
        ]
      },
      {
        icon: 'img/mortgage_slider_state_support.svg',
        name: 'Дальневосточная ипотека',
        feature: [
          { subtitle: 'Срок кредита ипотеки до', value: '20 лет' },
          { subtitle: 'Процентная ставка  от ', value: '0,1%' }
        ]
      },
      {
        icon: 'img/mortgage_slider_construction.svg',
        name: 'Приобретение квартиры на этапе строительства',
        feature: [
          { subtitle: 'Срок кредита ипотеки до', value: '30 лет' },
          { subtitle: 'Процентная ставка  от ', value: '21,5%' }
        ]
      },
      {
        icon: 'img/mortgage_slider_state_support.svg',
        name: 'Ипотека с&nbsp;гос.&nbspподдержкой',
        feature: [
          { subtitle: 'Срок кредита ипотеки до', value: '30 лет' },
          { subtitle: 'Процентная ставка  от ', value: '5,75%' }
        ]
      },
    ]

  -
    const list_1 =[
      { text: '<b>Гражданство:</b> Российская Федерация,' },
      { text: '<b>Регистрация:</b> не является обязательным,' },
      { text: '<b>Возраст:</b> от 21 года до 75 лет (включительно) на момент полного погашения ипотечного кредита с учетом того, что на момент оформления заявки максимальный возраст составляет не более 65 лет, а также при наличии Созаемщика, возраст которого на момент окончания кредита составляет не более 65 лет, допустимо привлечение Созаемщика в возрасте от 18 лет, если данный Созаемщик является Залогодателем либо супругом(-ой) Заемщика без подтверждённого дохода;' },
      { text: '<b>Трудоустройство и стаж:</b><br>- наемные работники - не менее 3-х месяцев на последнем месте работы и не менее 12 месяцев общий трудовой стаж;<br>- индивидуальные предприниматели - безубыточная предпринимательская деятельность не менее 12 месяцев;<br>- пенсионеры — лица, вышедшие в отставку либо на пенсию.' },
      { text: '<b>Состав Заемщиков:</b> число Заемщиков по одному ипотечному кредиту — не более 4 человек.' },
    ]

  -
    const list_2 =[
      { text: 'для г. Москвы, Московской области: 15,00 млн. руб.' },
      { text: 'для иных субъектов Российской Федерации: 10,00 млн. руб.' },
    ]

  -
    const list_3 =[
      { text: 'В обязательном порядке страхуются риски, связанные с утратой (гибелью) или повреждением приобретаемого недвижимого имущества' },
      { text: 'Личное страхование (страхование рисков, связанных с причинением вреда жизни и здоровью в результате несчастного случая или болезни) и Титульное страхование на приобретаемый Объект недвижимости (страхование от риска утраты / ограничения права собственности (титула) на Объект недвижимости, осуществляется в течение 3-х лет с момента оформления права собственности Заемщика на Объект недвижимости) – не обязательны, но отсутствие одного из вида страхования увеличивает ставку на 2% годовых.' },
    ]

block content
  main
    +breadcrumbs()
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item('Кредиты', '#')
      +breadcrumbs-item('Ипотека', '#')
      +breadcrumbs-item('Калькулятор ипотеки', '#')
      +breadcrumbs-item('Нецелевой')
    +banner('--m-vertically')
      +banner-item('--netselevoy')
        +banner-wrapper('img/banner_netselevoy.png', true)
          +banner-h1('Кредит под залог недвижимости', '--mob-size-l')
          +banner-subtitle('Ставка от ')
            span.banner-subtitle__accent 14,5%
            |  годовых
          +banner-foot
            +ui-button('оформить заявку', 'banner, --m-size-l')(href='#')
    .page-content
      +section('--mt0')
        .inner
          +section-head
            +ui-h2('Рассчитайте свою ипотеку', 'section-head')
          +calc-mortgage
      +section
        .inner
          +info-partners
      +section
        +tabs-head(tabsHeadItems)
        +tabs-main
          +tabs-main__item(true)
            .inner
              +ui-p1
                p Процентная ставка: от 26%
          +tabs-main__item
            .inner
              +ui-p1
                +ui-ul(list_1)
          +tabs-main__item
            .inner
              +ui-p1
                p <b>Срок кредита:</b> от <b>3</b> до <b>20</b> лет
                p <b>Сумма ипотечного кредита – </b>от 500 тыс. руб. до 15 млн. руб.
                p <b>Сумма кредита в зависимости от местонахождения предмета ипотеки не может превышать:</b>
                +ui-ul(list_2)
                p <b>Страхование:</b>
                +ui-ul(list_3)
          +tabs-main__item
            .inner
              +documents

      +section
        .inner
          +section-head.text-center
            +ui-h2('Вопросы и ответы', 'section-head')
          +accordion
            +accordion-item('Как оформить кредит?')
              +ui-p1('Оформить кредит можно, оставив заявку на&nbsp;сайте банка, в&nbsp;мобильном приложении или в&nbsp;офисе. При оформлении заявки дистанционно (сайт банка/мобильное приложение) после предварительного одобрения вам будет назначена встреча в&nbsp;офисе для подписания договора и&nbsp;получения кредита. Для действующих клиентов банка, с&nbsp;установленным мобильным приложением доступно оформление кредита онлайн без посещения офиса.', '--light')
            +accordion-item('Почему мне отказали в кредите?')
              +ui-p1('Для обеспечения финансовой надежности принятие решения о&nbsp;выдаче кредита осуществляется банком на&nbsp;основании требований и&nbsp;критериев, применяемых при оценке финансовой устойчивости заемщика, а&nbsp;также иных показателей, влияющих на&nbsp;вероятность возврата кредита. Кроме того, действующим законодательством не&nbsp;предусмотрена обязанность банка информировать лиц, обратившихся за&nbsp;предоставлением кредита, о&nbsp;причинах отказа в&nbsp;предоставлении кредита.', '--light')
            +accordion-item('Можно ли оформить кредит без залога в АТБ?')
              +ui-p1('Да, в&nbsp;АТБ возможно оформление кредита на&nbsp;сумму до&nbsp;3&nbsp;млн рублей без залога. Ставка фиксирована на&nbsp;весь срок кредитования. Более подробно можно ознакомиться ', '--light')
                a.text-orange(href='#') здесь
                | .
            +accordion-item('Как платить по кредиту?')
              +ui-p1('', '--light')
                p Оплачивать можно в наличной и безналичной форме. Все доступные способы погашения кредита представлены на
                  =' '
                  a.text-orange(href='#') странице
                  | .
            +accordion-item('Не могу оплачивать кредит, что делать? Как оформить кредитные каникулы?')
              +ui-p1('', '--light')
                p Банк может предложить вам снижение платежа, увеличив срок кредита либо предоставить отсрочку платежа, как частичную, так и полную. Более подробно ознакомиться с информацией и оставить заявку на получение услуги можно на
                  =' '
                  a.text-orange(href='#') сайте банка
                  | , либо обратиться в любое удобное для Вас отделение.
                p При наличии просроченной задолженности банк может предложить вам несколько программ реструктуризации. Оставить заявку и&nbsp;более подробно ознакомиться с&nbsp;условиями вы&nbsp;можете на
                  =' '
                  a.text-orange(href='#') сайте
                  |  либо обратиться
                  =' '
                  a.text-orange(href='#') в&nbsp;любое удобное для вас отделение
                  | .
            +accordion-item('Как узнать сумму платежа?')
              +ui-p1('', '--light')
                p В&nbsp;личном кабинете интернет-банка, через мобильное приложение, в
                  =' '
                  a.text-orange(href='#') отделении банка
                  |  по&nbsp;предъявлению паспорта, через банкомат, по&nbsp;телефону горячей линии&nbsp;&mdash; 8-800-775-88-88 (потребуется назвать кодовое слово и&nbsp;паспортные данные).
            +accordion-item('Как снизить ставку по действующему кредиту?')
              +ui-p1('', '--light')
                p Вы&nbsp;можете объединить действующие кредиты, оформленные в&nbsp;АТБ, и&nbsp;получить дополнительные денежные средства, которыми сможете распоряжаться по&nbsp;своему усмотрению. АТБ предлагает различные условия кредитования, ознакомиться более подробно и&nbsp;оставить заявку можно
                  =' '
                  a.text-orange(href='#') здесь
                  | .
            +accordion-item('У меня плохая кредитная история, могу ли я оформить кредит?')
              +ui-p1('', '--light')
                p Существует возможность получения кредита и в такой ситуации. Банк принимает решение индивидуально по каждому клиенту с учетом совокупности данных. Обратитесь по телефону колл-центра 8-800-775-88-88 или в отделение банка.
            +accordion-item('Можно ли погасить кредит частично или полностью досрочно?')
              +ui-p1('', '--light')
                p Действующий кредитный договор можно погасить досрочно, частично либо полностью, для этого вам необходимо уведомить банк, написав заявление на полное либо частичное погашение, в том числе и по телефону 8-800-775-88-88, а позже внести необходимую сумму для погашения.
            +accordion-item('Как узнать реквизиты счета?')
              +ui-p1('', '--light')
                p Реквизиты счета можете узнать непосредственно в офисе банка, а также в Интернет-банке и в Мобильном приложении. При возникновении вопросов по работе с Интернет-банком или Мобильным приложением можно обратиться в колл-центр 8-800-775-88-88.

      +section
        .inner
          +mortgage-slider(mortgageSliderItems)
