extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  script(src=fileName + '.js')

block variables
  -const fileName = 'mortgage'
  -const pageTitle ='Ипотека с гос. поддержкой'

  -
    const tabsHeadItems =[
      { text: 'Процентная ставка' },
      { text: 'Льготная ипотека: требования к заемщикам' },
      { text: 'Условия предоставления кредита' },
      { text: 'Документы' },
    ]

  -
    const mortgageSliderItems =[
      {
        icon: 'img/mortgage_slider_r_h.svg',
        name: 'Приобретение готового жилья',
        feature: [
          { subtitle: 'Срок кредита ипотеки до', value: '30 лет' },
          { subtitle: 'Процентная ставка  от ', value: '21,5%' }
        ]
      },
      {
        icon: 'img/mortgage_slider_netselevoy.svg',
        name: 'Нецелевой',
        feature: [
          { subtitle: 'Срок кредита ипотеки до', value: '20 лет' },
          { subtitle: 'Процентная ставка  от ', value: '26%' }
        ]
      },
      {
        icon: 'img/mortgage_slider_state_support.svg',
        name: 'Дальневосточная ипотека',
        feature: [
          { subtitle: 'Срок кредита ипотеки до', value: '20 лет' },
          { subtitle: 'Процентная ставка  от ', value: '0,1%' }
        ]
      },
      {
        icon: 'img/mortgage_slider_construction.svg',
        name: 'Приобретение квартиры на этапе строительства',
        feature: [
          { subtitle: 'Срок кредита ипотеки до', value: '30 лет' },
          { subtitle: 'Процентная ставка  от ', value: '21,5%' }
        ]
      },
    ]

  -
    const list_1 =[
      { text: '<b>Надбавки</b> - В случае незаключения Заемщиком договоров личного страхования и страхования жилого помещения после государственной регистрации права собственности на такое жилое помещение, а также при невыполнении заемщиком предусмотренных кредитным договором условий указанных договоров страхования: <b>плюс 1 процентный пункт</b>, но не более процентной ставки, равной размеру ключевой ставки Центрального банка Российской Федерации, установленной на дату заключения Кредитного договора, увеличенной на 3 процентных пункта.' },
    ]

  -
    const list_2 =[
      { text: '<b>Гражданство:</b> Российская Федерация,' },
      { text: '<b>Регистрация:</b> не является обязательным,' },
      { text: '<b>Возраст:</b> от 21 года до 75 лет (включительно) на момент полного погашения ипотеки под 5,75% с учетом того, что на момент оформления заявки максимальный возраст составляет не более 65 лет, а также при наличии Созаемщика, возраст которого на момент окончания кредита составляет не более 65 лет;' },
      { text: `<li><b>Трудоустройство и стаж:</b>
        <br>- наемные работники - не менее 3-х месяцев на последнем месте работы и не менее 12 месяцев общий трудовой стаж;
        <br>- индивидуальные предприниматели - безубыточная предпринимательская деятельность не менее 12 месяцев;
        <br>- пенсионеры — лица, вышедшие в отставку либо на пенсию.</li>` },
      { text: '<b>Состав Заемщиков:</b> число Заемщиков по одному ипотечному кредиту — не более 4 человек.' },
      { text: 'При использовании опции «Простая ипотека», требования к трудовому стажу/ к деятельности индивидуальных предпринимателей отсутствуют.' },
    ]

  -
    const list_3 =[
      { text: '3 млн. руб. в любом регионе РФ' },
    ]

  -
    const list_4 =[
      { text: 'не менее 15%;' },
      { text: 'не менее 15%, если при определении платежеспособности Заемщика учитывается доход только от предпринимательской деятельности и/или доход Заемщика-собственника бизнеса (полученный от этого бизнеса).' },
    ]

  -
    const list_5 =[
      { text: 'у юридического, являющегося первым собственником жилого помещения, зарегистрировавшим право собственности на недвижимое имущество после ввода объекта недвижимости в эксплуатацию на первичном рынке жилья готового жилого помещения, по договору купли-продажи;' },
      { text: 'приобретение у юридического лица находящегося на этапе строительства жилого помещения, по договору участия в долевом строительстве.' },
    ]

  -
    const list_6 =[
      { text: 'Личное: выбирается по желанию Заемщика;' },
    ]

  -
    const list_7 =[
      { text: 'Имущественное страхование: обязательный вид страхования;' },
      { text: 'Личное страхование: выбирается по желанию Заемщика.' },
    ]

  -
    const list_8 =[
      { text: 'Имущественное страхование: обязательный вид страхования;' },
      { text: 'Личное страхование, Страхование риска утраты права собственности (титул): условие при оформлении ипотеки под 5,75% выбирается по желанию Заемщика.' },
    ]

block content
  main
    +breadcrumbs()
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item('Кредиты', '#')
      +breadcrumbs-item('Ипотека', '#')
      +breadcrumbs-item('Калькулятор ипотеки', '#')
      +breadcrumbs-item('Ипотека с гос. поддержкой')
    +banner('--m-vertically')
      +banner-item('--state-support')
        +banner-wrapper('img/banner-state-support.png', true)
          +banner-h1('Ипотека с&nbsp;государственной поддержкой')
          +banner-subtitle('от ')
            span.banner-subtitle__accent 7,2%
          +banner-foot
            +ui-button('Консультация', 'banner, --m-size-l')(href='#')
    .page-content
      +section('--mt0')
        .inner
          +section-head
            +ui-h2('Рассчитайте свою ипотеку', 'section-head')
          +calc-mortgage
      +section
        .inner
          +info-partners
      +section
        +tabs-head(tabsHeadItems)
        +tabs-main
          +tabs-main__item(true)
            .inner
              +ui-p1
                p <b>Базовая процентная ставка по льготной ипотеке с Господдержкой: 5,75% годовых.</b>
                +ui-ul(list_1)
          +tabs-main__item
            .inner
              +ui-p1
                +ui-ul(list_2)
          +tabs-main__item
            .inner
              +ui-p1
                p <b>Срок кредита:</b> от <b>36</b> до <b>360</b> месяцев.
                p <b>Сумма ипотечного кредита:</b> от 500 тыс. руб.
                p Максимальная сумма Кредита:
                +ui-ul(list_3)
                p <b>Первоначальный взнос:</b>
                +ui-ul(list_4)
                p <b>Приобретение жилья в ипотеку по ставке 5,75% возможно:</b>
                +ui-ul(list_5)
                p <b>Страхование:</b>
                p <b>При приобретении находящегося на этапе строительства жилого помещения:</b>
                +ui-ul('')
                  li <b>До регистрации права собственности на Объект недвижимости:</b>
                    +ui-ul(list_6)
                  li <b>После регистрации права собственности на Объект недвижимости:</b>
                    +ui-ul(list_7)
                p <b>При приобретении готового жилого помещения:</b>
                +ui-ul(list_8)
          +tabs-main__item
            .inner
              +documents

      +section
        .inner
          +section-head.text-center
            +ui-h2('Вопросы и ответы', 'section-head')
          +accordion
            +accordion-item('Как оформить ипотечный кредит?')
              +ui-p1('', '--light')
                p Предлагаем несколько удобных способов: через личный кабинет на сайте Банка, также можно позвонить в колл-центр по&nbsp;телефону
                  =' '
                  span.text-nowrap 8-800-775-88-88
                  |  (звонок по России бесплатный) или посетить ближайший офис банка.
            +accordion-item('Что нужно для оформления ипотеки?')
              +ui-p1('Анкета, паспорт, документы о&nbsp;трудоустройстве и доходе.', '--light')
            +accordion-item('Как узнать, сколько осталось выплатить по ипотеке?')
              +ui-p1('', '--light')
                p В мобильном приложении, через личный кабинет на сайте Банка, также можно позвонить в колл-центр по&nbsp;телефону
                  =' '
                  span.text-nowrap 8-800-775-88-88
                  |  (звонок по России бесплатный) или посетить ближайший офис банка.
            +accordion-item('Как использовать материнский капитал для выплаты ипотеки и&nbsp;какие есть ограничения?')
              +ui-p1('Обратиться в Банк для получения соответствующей справки для Пенсионного фонда и&nbsp;предоставить ее в&nbsp;ПФР. После перечисления материнского капитала вы можете выбрать, каким образом будет происходить погашение ипотеки: с&nbsp;уменьшением ежемесячного платежа или уменьшением срока кредитования. Ограничения могут устанавливаться Пенсионным фондом.', '--light')
            +accordion-item('Как частично/полностью погасить ипотеку досрочно?')
              +ui-p1('', '--light')
                p Обратиться в колл-центр по телефону 8-800-775-88-88 (звонок по России бесплатный) или посетить ближайший офис банка.
            +accordion-item('Какие объекты недвижимости можно приобрести за счет ипотечного кредита?')
              +ui-p1('В ипотеку можно приобрести квартиру, апартаменты, таунхаус, дом с&nbsp;земельным участком.', '--light')
            +accordion-item('Что делать, если я сейчас не могу выплачивать ипотечный кредит?')
              +ui-p1('Необходимо обратиться в ', '--light')
                a.text-orange(href='#') отделения АТБ
                |  с&nbsp;соответствующим заявлением. Возможна реструктуризация кредита.

            +accordion-item('Как внести платеж по ипотеке?')
              +ui-p1('', '--light')
                p Безналичным переводом в мобильном или интернет-банке с&nbsp;дебетовой карты, оформленной в Банке.
                p Безналичным переводом с&nbsp;любой карты на карту Банка.
                p Зачислением через банкомат Банка. Наличными в кассе любого
                  =' '
                  a.text-orange(href='#') отделения Банка
                  | .
            +accordion-item('Как долго вы рассматриваете заявку на кредит?')
              +ui-p1('Заявка рассматривается в&nbsp;течение двух рабочих дней.', '--light')
            +accordion-item('Можно ли изменить дату платежа?')
              +ui-p1('Да, обратившись в ', '--light')
                =' '
                a.text-orange(href='#') отделение банка
                |  с&nbsp;соответствующим заявлением.

      +section
        .inner
          +mortgage-slider(mortgageSliderItems)
