extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  script(src=fileName + '.js')

block variables
  -const fileName = 'mortgage'
  -const pageTitle ='Приобретение квартиры на этапе строительства'

  -
    const benefitsItems =[
      { icon: 'img/benefit_uc_1.svg', title: 'Ставка от 21,5%' },
      { icon: 'img/benefit_uc_2.svg', title: 'Первый взнос от&nbsp;30%' },
      { icon: 'img/benefit_uc_3.svg', title: 'Срок кредита до&nbsp;30&nbsp;лет' },
    ]

  -
    const tabsHeadItems =[
      { text: 'Процентная ставка' },
      { text: 'Требования к заемщикам' },
      { text: 'Условия предоставления кредита' },
      { text: 'Документы' },
    ]

  -
    const mortgageSliderItems =[
      {
        icon: 'img/mortgage_slider_r_h.svg',
        name: 'Приобретение готового жилья',
        feature: [
          { subtitle: 'Срок кредита ипотеки до', value: '30 лет' },
          { subtitle: 'Процентная ставка  от ', value: '21,5%' }
        ]
      },
      {
        icon: 'img/mortgage_slider_netselevoy.svg',
        name: 'Нецелевой',
        feature: [
          { subtitle: 'Срок кредита ипотеки до', value: '20 лет' },
          { subtitle: 'Процентная ставка  от ', value: '26%' }
        ]
      },
      {
        icon: 'img/mortgage_slider_state_support.svg',
        name: 'Дальневосточная ипотека',
        feature: [
          { subtitle: 'Срок кредита ипотеки до', value: '20 лет' },
          { subtitle: 'Процентная ставка  от ', value: '0,1%' }
        ]
      },
      {
        icon: 'img/mortgage_slider_state_support.svg',
        name: 'Ипотека с&nbsp;гос.&nbspподдержкой',
        feature: [
          { subtitle: 'Срок кредита ипотеки до', value: '30 лет' },
          { subtitle: 'Процентная ставка  от ', value: '5,75%' }
        ]
      },
    ]

  -
    const list_1 =[
      { text: '<b>Квартира</b>: 21,5%;' },
      { text: '<b>Апартаменты</b>: 21,5%;' },
      { text: '<b>Таунхаус</b>: 22,5%.' },
    ]

  -
    const list_2 =[
      { text: '<b>Гражданство:</b> Российская Федерация,' },
      { text: '<b>Регистрация:</b> не является обязательным,' },
      { text: '<b>Возраст:</b> от 21 года до 75 лет (включительно) на момент полного погашения ипотечного кредита с учетом того, что на момент оформления заявки максимальный возраст составляет не более 65 лет, а также при наличии Созаемщика, возраст которого на момент окончания кредита составляет не более 65 лет;' },
      { text: `<li><b>Трудоустройство и стаж:</b><br>- наемные работники - не менее 3-х месяцев на последнем месте работы и не менее 12 месяцев общий трудовой стаж;
        <br>- индивидуальные предприниматели - безубыточная предпринимательская деятельность не менее 12 месяцев;
        <br>- пенсионеры — лица, вышедшие в отставку либо на пенсию.</li>` },
      { text: '<b>Состав Заемщиков:</b> число Заемщиков по одному ипотечному кредиту — не более 4 человек.' },
      { text: 'При использовании опции «Простая ипотека», требования к трудовому стажу/ к деятельности индивидуальных предпринимателей отсутствуют.' },
    ]

  -
    const list_3 =[
      { text: 'минимум – 500 тысяч рублей, максимум 90 % от цены жилья, которое оформляется в залог, но не более 30 млн. рублей для Москвы и Московской области и 15 млн. рублей – для остальных регионов.' },
    ]

  -
    const list_4 =[
      { text: 'Строится по Федеральному закону № 214.' },
      { text: 'Может быть на любой стадии строительства.' },
      { text: 'Приобретаемая недвижимость должна находиться в объекте, прошедшим аккредитацию. <a class="text-orange" href="#" target="_blank">Обширный перечень аккредитованных объектов.</a> Легко аккредитовать любой другой объект.' },
    ]

  -
    const list_5 =[
      { text: 'до оформления собственности – залог прав требования участника долевого строительства.' },
      { text: 'после оформления права собственности — залог квартиры.' },
    ]

  -
    const list_6 =[
      { text: 'После передачи объекта заемщику обязательно подписывается договор имущественного страхования.' },
      { text: 'Рекомендовано, но не обязательно также оформить личное страхование (его отсутствие увеличит ставку на 2 %) и страхование от утраты права собственности на приобретаемую недвижимость (на ставку не влияет).' },
    ]

block content
  main
    +breadcrumbs()
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item('Кредиты', '#')
      +breadcrumbs-item('Ипотека', '#')
      +breadcrumbs-item('Калькулятор ипотеки', '#')
      +breadcrumbs-item('Приобретение квартиры на этапе строительства')
    +banner('--m-vertically')
      +banner-item('--under-construction')
        +banner-wrapper('img/banner_under_construction.png', true)
          +banner-h1('Приобретение квартиры на&nbsp;этапе строительства', '--mob-size-l')
          +banner-foot
            +ui-button('Оставить заявку', 'banner, --m-size-l')(href='#')
    .page-content
      +section('--mt0')
        .inner
          +benefits(benefitsItems, '--title-normal')
      +section
        .inner
          +mortgage-info('Приобретение квартиры/апартаментов в многоквартирном доме / таунхауса на этапе строительства')
      +section
        .inner
          +section-head
            +ui-h2('Рассчитайте свою ипотеку', 'section-head')
          +calc-mortgage
      +section
        .inner
          +info-partners
      +section
        +tabs-head(tabsHeadItems)
        +tabs-main
          +tabs-main__item(true)
            .inner
              +ui-p1
                p Базовая процентная ставка:
                +ui-ul(list_1)
          +tabs-main__item
            .inner
              +ui-p1
                +ui-ul(list_2)
          +tabs-main__item
            .inner
              +ui-p1
                p <b>Сумма ипотечного кредита:</b>
                +ui-ul(list_3)
                p <b>Требования к строящемуся объекту:</b>
                +ui-ul(list_4)
                p <b>В залог оформляется:</b>
                +ui-ul(list_5)
                p <b>Страхование:</b>
                +ui-ul(list_6)
          +tabs-main__item
            .inner
              +documents

      +section
        .inner
          +section-head.text-center
            +ui-h2('Вопросы и ответы', 'section-head')
          +accordion
            +accordion-item('Как оформить ипотечный кредит?')
              +ui-p1('', '--light')
                p Предлагаем несколько удобных способов: через личный кабинет на сайте Банка, также можно позвонить в колл-центр по&nbsp;телефону
                  =' '
                  span.text-nowrap 8-800-775-88-88
                  |  (звонок по России бесплатный) или посетить ближайший офис банка.
            +accordion-item('Что нужно для оформления ипотеки?')
              +ui-p1('Анкета, паспорт, документы о&nbsp;трудоустройстве и доходе.', '--light')
            +accordion-item('Как узнать, сколько осталось выплатить по ипотеке?')
              +ui-p1('', '--light')
                p В мобильном приложении, через личный кабинет на сайте Банка, также можно позвонить в колл-центр по&nbsp;телефону
                  =' '
                  span.text-nowrap 8-800-775-88-88
                  |  (звонок по России бесплатный) или посетить ближайший офис банка.
            +accordion-item('Как использовать материнский капитал для выплаты ипотеки и&nbsp;какие есть ограничения?')
              +ui-p1('Обратиться в Банк для получения соответствующей справки для Пенсионного фонда и&nbsp;предоставить ее в&nbsp;ПФР. После перечисления материнского капитала вы можете выбрать, каким образом будет происходить погашение ипотеки: с&nbsp;уменьшением ежемесячного платежа или уменьшением срока кредитования. Ограничения могут устанавливаться Пенсионным фондом.', '--light')
            +accordion-item('Как частично/полностью погасить ипотеку досрочно?')
              +ui-p1('', '--light')
                p Обратиться в колл-центр по телефону 8-800-775-88-88 (звонок по России бесплатный) или посетить ближайший офис банка.
            +accordion-item('Какие объекты недвижимости можно приобрести за счет ипотечного кредита?')
              +ui-p1('В ипотеку можно приобрести квартиру, апартаменты, таунхаус, дом с&nbsp;земельным участком.', '--light')
            +accordion-item('Что делать, если я сейчас не могу выплачивать ипотечный кредит?')
              +ui-p1('Необходимо обратиться в ', '--light')
                a.text-orange(href='#') отделения АТБ
                |  с&nbsp;соответствующим заявлением. Возможна реструктуризация кредита.

            +accordion-item('Как внести платеж по ипотеке?')
              +ui-p1('', '--light')
                p Безналичным переводом в мобильном или интернет-банке с&nbsp;дебетовой карты, оформленной в Банке.
                p Безналичным переводом с&nbsp;любой карты на карту Банка.
                p Зачислением через банкомат Банка. Наличными в кассе любого
                  =' '
                  a.text-orange(href='#') отделения Банка
                  | .
            +accordion-item('Как долго вы рассматриваете заявку на кредит?')
              +ui-p1('Заявка рассматривается в&nbsp;течение двух рабочих дней.', '--light')
            +accordion-item('Можно ли изменить дату платежа?')
              +ui-p1('Да, обратившись в ', '--light')
                =' '
                a.text-orange(href='#') отделение банка
                |  с&nbsp;соответствующим заявлением.

      +section
        .inner
          +mortgage-slider(mortgageSliderItems)
