mixin search-block(hasResult, mods)
  -
    const baseName = 'search-block'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .search-block.js-type(class=allMods)&attributes(attributes)
    +search-form
    +search-suggestions(hasResult, 'search-block')
    block
