extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  script(src=fileName + '.js')

block variables
  -const fileName = 'the-most-important-txt'
  -const pageTitle ='Вниманию клиентов'

  -
    const listRules =[
      { text: 'Не сообщайте никому свои подтверждающие пароли, ПИН- и CVV-коды (код с обратной стороны карты), а также срок действия карты. Сотрудники АТБ никогда не просят назвать конфиденциальные сведения, к которым относятся личные данные.' },
      { text: 'АТБ не отправляет сообщения с требованием подтверждения, обновления или предоставления ваших персональных данных.' },
      { text: 'Используйте только официальные приложения АТБ из магазинов App Store, Google Play.' },
      { text: 'АТБ не присылает ссылки на АТБ-онлайн с неизвестных электронных адресов. Все письма от банка приходят исключительно с доменов, принадлежащих АТБ. Домен — это имя сайта, всё, что располагается в адресе после знака @. Например, <a class="text-orange" href="mailto:ask@atb.su">ask@atb.su,</a> <a class="text-orange" href="mailto:atb@atb.su">atb@atb.su</a> и др.'  },
      { text: 'Не переходите по ссылкам на незнакомые ресурсы: мошенники могут украсть ваши персональные данные. Используйте антивирус для компьютера и телефона.' },
      { text: 'При смене номера телефона / утрате телефона сразу сообщите об этом сотрудникам АТБ, чтобы ваши данные не попали посторонним лицам.' },
      { text: 'Проверяйте реквизиты операции в СМС от АТБ с подтверждающим паролем.' },
      { text: 'При поступлении звонка от незнакомого человека с известного вам номера не поддавайтесь на уговоры. Завершив звонок, уточните информацию непосредственно у родственника, знакомого, коллеги, в банке или органе государственной власти, с номера которых якобы был совершен звонок.' },
      { text: 'Будьте внимательны при публикации личной информации, которая может быть использована в мошеннических целях, в социальных сетях и других внешних источниках.' },
    ]

  -
    const listIntruders =[
      { text: 'предлагают платные консультации с обещанием освободить от любых финансовых обязательств, в том числе по кредитным каникулам;' },
      { text: 'предлагают оформить поддельные справки 2 НДФЛ и фальшивые больничные для предоставления в банк и подтверждения необходимости предоставления кредитных каникул.' },
    ]

  -
    const listSignsFraud =[
      { text: 'Мошенники часто используют наименования несуществующих юридических лиц, до степени смешения похожие на названия крупных брокерских фирм и банков, в том числе АТБ' },
      { text: 'Возможно частичное использование реквизитов АТБ (ИНН, ОГРН, номера лицензий АТБ)' },
      { text: 'Используются адреса общедоступных сервисов электронной почты (@mail.ru, @yandex.ru).' },
      { text: 'Просят совершить «пробный платеж» или заплатить за оформление справок через общедоступные платежные системы или переводом на карту, при этом <b>получателем платежа часто указывается физическое лицо</b>.' },
    ]

block content
  main
    +breadcrumbs()
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item('Самое важное сегодня', '#')
      +breadcrumbs-item(pageTitle)
    .page-content
      +section('--mt0')
        .inner
          +most-important-txt('cheaters')
      +section
        .inner
          +accordion
            +accordion-item('Азиатско-Тихоокеанский Банк напоминает: не сообщайте никому свои персональные данные')
              +ui-p1('', '--light')
                p Азиатско-Тихоокеанский Банк в целях сохранности ваших персональных данных и личных денежных средств постоянно совершенствует систему защиты и отслеживает новые угрозы мошенничества. В банке уделяют особое внимание безопасности. Мы просим вас быть бдительными и напоминаем о мерах, предостерегающих от действий мошенников.
                p Важно помнить следующие правила:
                +ui-ul(listRules)
                p Азиатско-Тихоокеанский Банк просит вас быть внимательными, пользоваться этими правилами безопасности при использовании банковских карт, мобильных приложений, интернет-банка и др.
                p В случае фиксирования вами попыток получить от вас личные данные и (или) пароли, а также в случае совершения в отношении вас мошеннических действий, звоните в колл-центр АТБ -
                  nobr 8-800-775-88-88
                  | . Звонок по России бесплатный.
            +accordion-item('Как мошенники пытаются заработать на эпидемиологической ситуации')
              +ui-p1('', '--light')
                p В связи с распространением коронавирусной инфекции (COVID-19) в стране фиксируются новые виды мошеннических схем для хищения средств клиентов с банковских счетов, в том числе с применением методов социальной инженерии.
                p Мошенники сообщают клиентам о возможности отсрочки по выплатам кредитов, о несуществующих компенсациях, возврате денег за услуги и др.
                p Также участились случаи, когда злоумышленники пытаются заработать на сложившейся непростой ситуации и обманным путем завладеть денежными средствами:
                +ui-ul(listIntruders)
                p Все действия направлены на незаконное получение сведений и денежных средств от граждан.
                p Напоминаем, что все обращения клиентов о предоставлении кредитных каникул принимаются через колл-центр АТБ для обеспечения вашей безопасности и соблюдения режима самоизоляции. Банк предоставляет отсрочку платежа на основании листа нетрудоспособности или документов, подтверждающих финансовые трудности. Все справки проходят обязательную проверку.
                p Чтобы не стать жертвой мошенников, в АТБ призывают клиентов проявлять бдительность и не поддаваться панике. В Банке ведется постоянный мониторинг ситуации и предприняты все необходимые действия для обеспечения безопасности средств клиентов.
                p В случае фиксирования вами попыток получить от вас личные данные и (или) пароли, а также в случае совершения в отношении вас мошеннических действий, звоните в колл-центр АТБ -
                  nobr 8-800-775-88-88
                  | . Звонок по России бесплатный.
            +accordion-item('Предупреждение о возможности мошенничества с использованием имени и репутации АТБ')
              +ui-p1('', '--light')
                p Будьте внимательны: в последнее время участились случаи неправомерного использования наименования и бренда Азиатско-Тихоокеанского Банка (АТБ). Как правило, мошенники предлагают помощь физическим лицам в получении кредитов, услуги по инвестированию средств. Подобные предложения часто распространяются через социальные сети.
                p Пожалуйста, ознакомьтесь с признаками потенциального мошенничества:
                +ui-ul(listSignsFraud)
                p При возникновении каких-либо сомнений в отношении потенциальных сделок с
                  b Азиатско-Тихоокеанским Банком
                  | , просим незамедлительно обращаться по адресу:
                  a.text-orange(href='mailto:atb@atb.su') atb@atb.su
                p В случае необходимости, по фактам мошенничества вам также следует обращаться в правоохранительные органы.
                p Азиатско-Тихоокеанский Банк настоятельно рекомендует игнорировать сомнительные бизнес-предложения и не совершать сомнительные операции без консультации с
                  b Азиатско-Тихоокеанским Банком
                  | .
