extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  script(src=fileName + '.js')

block variables
  -const fileName = 'the-most-important-txt'
  -const pageTitle ='Ответы на часто задаваемые вопросы'

  -
    const qaAccrodion=[
      {
        question: 'У меня есть счёт / вклад в АТБ в иностранной валюте, что с ним будет?',
        answer: 'Ваши деньги сохраняются на счёте без изменений. Если у вас открыт вклад, то проценты по нему начисляются в соответствии с условиями вклада.'
      },
      {
        question: 'Могу ли я снять деньги наличными с валютного вклада / счета?',
        answer: '<p>ЦБ ввёл временные правила на операции с наличной валютой сроком на 6 месяцев. До 9 сентября вы можете снять до 10 тыс. долларов США наличными (единоразово или частями, но общая сумма ограничена 10 тыс. долларов США).</p> <p> Остальную сумму можно снять в рублях: валютные средства будут конвертироваться в рубли по курсу ЦБ РФ на день, предшествующий выплате. Суммы снятий в рублях не ограничены </p> <p> Это относится ко вкладам, открытым до 9 марта. Получить наличные с валютных счетов и вкладов, открытых 9 марта 2022 года и позже, будет невозможно, только снятие в рублях через конвертацию по рыночному курсу.</p>'
      },
      {
        question: 'Могу ли я снять в это время другую валюту, не доллары?',
        answer: 'Согласно указаниям Банка России, к снятию доступны только доллары США. Снятие любой другой наличной валюты (евро, юани и т.д.) доступно только через конвертацию этой валюты в доллары США по рыночному курсу.'
      },
      {
        question: 'Можно ли купить в банке наличную валюту?',
        answer: 'Пока действует временный порядок операций с наличной валютой, вы не можете ее приобрести. Но вы можете расплачиваться картой «Мир» и снимать с нее наличные в валюте страны вашей поездки там, где принимается карта «Мир». Это Турция, Вьетнам, Армения, Беларусь, Казахстан, Киргизия, Таджикистан, Узбекистан, Южная Осетия и Абхазия.'
      },
      {
        question: 'У меня валюта в банковской ячейке. Я могу забрать всю сумму или только 10 тыс.?',
        answer: 'Вы можете распоряжаться содержимым своей банковской ячейки по своему усмотрению. Ограничение на этот случай не распространяется.'
      },
      {
        question: 'Почему нужно заказывать наличную валюту заранее?',
        answer: 'По данным Банка России объем наличной валюты в стране покрывает такой объем выплат для всех держателей валютных вкладов и счетов. Но нам действительно может быть нужно время, чтобы доставить валюту в конкретное отделение. Остальные ваши средства на счетах сохранены и всегда доступны в рублях.'
      },
      {
        question: 'Сколько будут действовать временные правила обращения с валютой?',
        answer: 'На текущий момент временные правила ЦБ на операции с наличной валютой на территории России действуют до 9 сентября 2022 года.'
      },
      {
        question: 'Что с моими вкладами в рублях?',
        answer: 'Все изменения касаются только валютных вкладов и счетов. АТБ работает в штатном режиме, изменений в обслуживании клиентов нет. Банк обладает необходимыми ресурсами для обслуживания всех потребностей своих клиентов.'
      },
      {
        question: 'Как мне, закрывая вклад, получить его в валюте или рублях?',
        answer: '<p>Если сумма вклада превышает 300 000 рублей, или вам нужны наличные доллары, то заказать денежные средства можно в чате мобильного приложения <a class="text-orange" target="_blank" href="https://www.atb.su/services/mobile/">АТБ Мобайл NEW</a> или в <a class="text-orange" target="_blank" href="https://www.atb.su/getapp">интернет-банке</a>. Также есть возможность заказа через чат в <a class="text-orange" target="_blank" href="https://wa.me/74162222333">WhatsApp</a> </p> <p> Возможность заказа наличных через контакт - центр АТБ <a class="text-orange text-nowrap" href="tel:+78007758080">8-800-775-88-88</a> (звонок по России бесплатный) или в отделении банка также сохраняется. Заказ денежных средств для возврата вклада в рублях осуществляется не ранее, чем за один рабочий день до планируемой даты возврата, в иностранной валюте – не ранее чем за пять рабочих дней до планируемой даты возврата. </p>'
      },
      {
        question: 'Можно будет снять до 9 сентября 2022 года другую валюту, не доллары?',
        answer: 'К снятию доступны только доллары США. Снятие любой другой наличной валюты доступно только через конвертацию этой валюты (например, евро или фунтов) в доллары США по рыночному курсу, определяемому на день выдачи на основании данных о средневзвешенном курсе соответствующих валют, рассчитанному по сделкам, заключённым на организованных торгах в день, предшествующий дню выдачи.'
      },
      {
        question: 'Могу ли я открыть или пополнить свой валютный счёт?',
        answer: 'Да, но согласно новым правилам вы сможете снять с него не более 10 тыс. долларов США наличными за период 6 месяцев.'
      },
      {
        question: 'Могу ли я обменять наличную валюту в банке?',
        answer: 'Да, банк продолжает обменивать наличную валюту, притом не только доллары, но и евро, фунты стерлингов, юани.'
      },
      {
        question: 'Если я переведу валюту на счет близкого родственника, сможет ли он потом снять поступившие средства наличными?',
        answer: 'АТБ осуществляет такие переводы, можно открыть валютный счет и внести туда наличную валюту или перевести валюту с других счетов. Но при этом снять с такого счёта поступившие средства наличными будет невозможно, пока действуют новые правила Банка России.'
      },
      {
        question: 'Как работают карты Visa и Mastercard АТБ в России?',
        answer: '<p>Карты АТБ на территории России работают в обычном режиме. Доступна в полном объеме как оплата, так и снятие наличных. Можно делать переводы с карты на карту. </p> <p> Приостановка работы карт в России, которую объявили платежные системы Visa и MasterCard, не сказалась на работе карт АТБ.</p>'
      },
      {
        question: 'Как работают карты АТБ за рубежом?',
        answer: 'К сожалению, работа карт Visa и Mastercard за рубежом прекращается. Просим вас заблаговременно снять денежные средства в необходимом объеме и оплатить большие траты (номер в отеле, обратные билеты, аренду автомобиля).'
      },
      {
        question: 'Если я сниму наличные средства с карты VISA или MasterCard АТБ за рубежом, будет ли комиссия?',
        answer: 'Да, однако, начиная с 6 марта 2022 года и до момента полной остановки операций Visa и MasterCard за рубежом, данная комиссия будет позднее компенсирована нашим клиентам. О порядке выплаты компенсации сообщим дополнительно. Компенсации коснутся комиссии, взимаемые банком АТБ, без учета возможных дополнительных комиссий зарубежных банков.'
      },
      {
        question: 'Какие еще ограничения будут по картам АТБ VISA и MasterCard?',
        answer: 'Не будет доступна оплата по картам Visa и Mastercard в зарубежных интернет-магазинах. Проверьте все ваши выписки по операциям по картам Visa и Mastercard, совершенные за рубежом. Если вы не согласны с тем или иным списанием, то обжаловать транзакцию и открыть спор можно до 2 апреля 2022 г. включительно. Для этого нужно обратиться в отделение АТБ. Если спорных транзакций по картам нет, то никаких действий предпринимать не требуется.'
      },
      {
        question: 'А что на счет оплаты телефоном: SamsungPay, ApplePay, GooglePay, GarminPay?',
        answer: 'Возможны сложности при оплате с помощью телефона картами АТБ Visa и Mastercard с использованием данных кошельков, рекомендуем носить с собой пластиковую банковскую карту.'
      },
      {
        question: 'Я привык платить телефоном, мне так удобнее.',
        answer: 'Предлагаем рассмотреть вариант использования карт МИР от АТБ вместе с приложением <a class="text-orange" href="https://www.atb.su/cards/mir-pay/">MirPay</a>.'
      },
      {
        question: 'Что делать, если срок действия моей карты Visa или Mastercard от АТБ закончился?',
        answer: '<p> Мы работаем над тем, чтобы увеличить срок действия уже выпущенных карт. Тем не менее, если вы потеряли карту или её данные стали доступны третьим лицам, а также при окончании срока действия - просим наших клиентов выпускать карты МИР от АТБ. АТБ в ближайшее время выпустит новую карту МИР с очень интересными условиями. </p> <p> Также платёжная система МИР уже сейчас предлагает пользователям выгодные бонусные программы. Следите за новостями! </p>'
      },
      {
        question: 'Моя компания пользуется услугой торгового эквайринга от АТБ. Могут ли мои клиенты платить пластиковыми картами платёжных систем Visa и Mastercard, выпущенными за рубежом?',
        answer: 'В связи с решениями платежных систем, карты, выпущенные вне пределов Российской Федерации, не будут приниматься на территории России. При этом все карты Visa и Mastercard, выпущенные российскими банками, продолжают работать.'
      },
      {
        question: 'Какие изменения прогнозируются в Налоговом кодексе?',
        answer: '<p> 3 марта 2022 года Правительство внесло в Госдуму проект закона о внесении изменений в Налоговый кодекс. </p> <p> Для сокращения времени прохождения процедур согласования Кабинет министров получит право издавать в 2022 нормативные акты. Правительство и органы исполнительной власти регионов наделят полномочиями предоставлять отсрочки и рассрочки по уплате налогов, взносов, пеней и штрафов по ним. Правительство и региональные власти получат полномочия по ряду мероприятий налогового контроля и условий оплаты налогов. </p> <p> Отсрочку по налогам и взносам власти могут дать по обязательствам, наступившим с 1 января 2022 года. При этом должны учитываться основные виды деятельности, которые осуществляют налогоплательщики на 1 марта 2022 года, а также данные в ЕГРЮЛ и ЕГРИП. </p> <p> Не будут подлежать взысканию налоги в случаях, если обязанность по уплате налога возникла до 1 января 2022 года по приобретенному и/или использованному имуществу, открытым счетам, а также кредитам на исполнение контрактов, если информация о таком имуществе/открытии/движении денег отражена в специальной декларации в соответствии с законом 140-ФЗ. </p>'
      },
      {
        question: 'Что ожидает малый и средний бизнес?',
        answer: '3 марта 2022 года Правительство внесло в Госдуму проект закона, в котором указано, что плановые проверки субъектов МСП не будут проводиться по 31 декабря 2022 года включительно (имеются исключения). Мораторий не включает в себя остановку налоговых проверок.'
      },
      {
        question: 'Как будут проводиться проверки для организаций в области IT?',
        answer: 'Правительство внесло в Госдуму проект закона о плановых проверках в отношении имеющих государственную аккредитацию организаций, осуществляющих деятельность в области IT. В нем указано, что проверки не будут проводиться по 31 декабря 2024 года.'
      },
      {
        question: 'Будут ли изменения законов по госзакупкам?',
        answer: 'На рассмотрении находится проект закона, в котором указано, что до 31 декабря 2022 года включительно Правительство вправе устанавливать иные случаи осуществления закупок у единственного поставщика (подрядчика, исполнителя), а также порядок осуществления закупок в таких случаях.'
      },
      {
        question: 'Что будет с пенсиями?',
        answer: '3 марта 2022 года внесен проект закона, где Правительство получит право принимать решения об установлении размера социальной доплаты к пенсии и их индексировать несколько раз в год.'
      },
      {
        question: 'Какие изменения могут коснуться АО и ООО?',
        answer: 'В Госдуме находится проект закона для АО и ООО. Если сумма чистых активов АО или ООО по итогам 2022 года меньше размера его уставного капитала, то требование об уменьшении уставного капитала или принятие решения о ликвидации не применяется.'
      },
    ]

  -
    const list_1 =[
      { text: 'по вкладам (остаткам по счетам) в рублях в банках на территории РФ, процентная ставка по которым в течение всего года не превышает 1% годовых;' },
      { text: 'по счетам эскроу' },
    ]

  -
    const list_2 =[
      { text: 'в банке А вклад на год на сумму 800 000 руб. под 7% годовых;' },
      { text: 'в банке Б вклад на 270 дней на сумму 500 000 руб. под 6% годовых;' },
      { text: 'в банке В вклад на год на сумму 400 000 руб. под 0,5% годовых.' },
    ]

  -
    const list_3 =[
      { text: 'неверно введены параметры карты отправителя и/или карты получателя, например, неверный номер карты, или срок действия, или CVC2/CVV2-код;' },
      { text: 'на карте отправителя недостаточно средств для совершения перевода;' },
      { text: 'карта отправителя не поддерживает технологии 3-D Secure;' },
      { text: 'карта отправителя или карта получателя выпущены в стране, переводы для которой не разрешены;' },
      { text: 'использованы виды карт, по которым переводы запрещены;' },
      { text: 'превышены лимиты на перевод;' },
      { text: 'в переводе отказал банк, выпустивший карту отправителя или карту получателя; <br> <br>' },
      { text: 'перевод совершается с карты иностранного банка.' },
    ]

block content
  main
    +breadcrumbs()
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item('Самое важное сегодня', '#')
      +breadcrumbs-item(pageTitle)
    .page-content
      +section('--mt0')
        .inner
          +most-important-txt('measures-customer-support')
      +section('--mt-xs')
        +tabs-head([{ text: 'Текущая ситуация', isAttention: true }, { text: 'Вклады' }, { text: 'Кредит наличными' }, { text: 'Карты' }, { text: 'Ипотека' }, { text: 'Дистанционное обслуживание' }, { text: 'Переводы с карты на карты' }], '', '--round')
        +tabs-main
          +tabs-main__item(true)
            .inner
              +accordion
                each item in qaAccrodion
                  +accordion-item(item.question)
                    +ui-p1(item.answer, '--light')
          +tabs-main__item
            .inner
              +accordion
                +accordion-item('Застрахованы ли вклады и накопительные счета в Банке?')
                  +ui-p1('', '--light')
                    p Да, застрахованы на основании ФЗ от 23 декабря 2003 года № 177-ФЗ «О страховании вкладов в банках Российской Федерации», более подробная информация о страховании вкладов доступна на сайте
                      a.text-orange(href='https://www.asv.org.ru/' target='_blank') asv.org.ru
                +accordion-item('Возможно управлять вкладом или накопительным счетом без посещения офиса Банка?')
                  +ui-p1('Да, открывать и управлять вкладами и накопительными счетами можно удалённо — через Интернет - банк и Мобильное приложение АТБ.', '--light')
                +accordion-item('Может ли банк менять ставку по вкладу и накопительному счету в одностороннем порядке?')
                  +ui-p1('', '--light')
                    p В течение срока действия договора банк не может менять процентную ставку по вкладу. Переоформление вклада на новый срок (пролонгация) осуществляется по ставке в соответствии с условиями договора вклада.
                      br
                      | По накопительному счету банк может менять процентную ставку в соответствии с условиями договора.
                +accordion-item('Когда начнет применяться налог с процентов по вкладам и накопительным счетам?')
                  +ui-p1('', '--light')
                    p Налог планируется рассчитывать с процентных доходов, полученных в 2021 году, а уплачивать его необходимо в 2022 году.
                      br
                      | Декларировать процентный доход по вкладам (остаткам на счетах) в банках физическому лицу не нужно. Банк также не будет удерживать налог.
                      br
                      | Рассчитывать налог с процентов, полученных в 2021 году, будут налоговые органы на основании сведений, предоставленных им банками не позднее 1 февраля года, следующего за истекшим налоговым периодом. Налогоплательщик должен уплатить налог не позднее 1 декабря года, следующего за истекшим налоговым периодом, после получения налогового уведомления. Уведомления будут направляться налогоплательщикам начиная с 2022 года.
                      br
                      | Впервые налог с процентов по вкладам (остаткам на счетах) нужно будет уплатить не позднее 1 декабря 2022 года.
                +accordion-item('Что будет облагаться налогом?')
                  +ui-p1('', '--light')
                    p НДФЛ придется платить только с суммы превышения всех полученных в течение года процентов по вкладам в банках на территории России над показателем, рассчитанным как произведение 1 млн руб. и ключевой ставки Банка России, действующей на 1 января налогового периода.
                    p Если проценты номинированы в иностранной валюте, то их нужно будет пересчитать в рубли по официальному курсу на дату фактического получения дохода.
                    p Не будут учитываться доходы в виде процентов, полученных:
                    +ui-ul(list_1)
                    p Сумма непосредственно вклада в банке не является объектом обложения налогом на доходы физических лиц.
                +accordion-item('Доходы по накопительным счетам тоже попадают под налогообложение?')
                  +ui-p1('Да, если ставка по счету превышала в течение налогового периода 1% годовых, процентный доход будет включен в состав налоговой базы. В налоговую базу не войдут проценты по всем рублевым счетам, у которых ставка не превышает 1% годовых, и проценты по счетам эскроу.', '--light')
                +accordion-item('Что такое необлагаемый процентный доход и как его рассчитать?')
                  +ui-p1('', '--light')
                    p Необлагаемый процентный доход — это процентный доход за год по вкладу(ам) в размере 1 млн рублей, с которого не будет взиматься налог. Рассчитывается как произведение суммы вклада в размере одного миллиона рублей и ключевой ставки Банка России, установленной на 1 января соответствующего года (в условиях 2020 года необлагаемый процентный доход составил бы 62,5 тысяч рублей).
                    p Таким образом при определении налоговой базы в отношении доходов в виде процентов по вкладам (остаткам на счетах) в банках исключается доход в виде процентов, рассчитанный как произведение одного миллиона рублей и ключевой ставки Банка России, действующей на первое число налогового периода.
                    p Пример:
                    p Сумма вклада: 1 400 000 руб.;
                      br
                      | Срок: 367 дней (~ 1 год);
                      br
                      | Процентная ставка: 4,5% годовых;
                      br
                      | Ключевая ставка на 01.01.2021: 4,25% годовых.
                    p Сумма необлагаемых процентов: 1 000 000 руб. x 4,25% годовых x 1 год = 42 500 руб.;
                      br
                      | Налоговая база: (1 400 000 руб. x 4,5% годовых x 1 год) – Сумма необлагаемых процентов (42 500 руб.) = 63 000 – 42 500 руб. = 20 500 руб.;
                      br
                      | Сумма налога: 20 500 руб. x 13% = 2 665 руб.
                +accordion-item('Как будет рассчитываться налог, если в течение периода ключевая ставка Банка России будет изменяться?')
                  +ui-p1('', '--light')
                    p Налогом облагаются суммы процентов, начисленных по вкладам (остаткам по счетам), в сумме, превышающей произведение 1 млн руб. и ключевой ставки ЦБ РФ, действующей на первое число налогового периода, то есть на 1 января календарного года. Ключевая ставка ЦБ РФ на 01.01.2021 составила 4,25%. Соответственно, сумма не облагаемого НДФЛ дохода составит 42,5 тыс. руб. (по всем вкладам/счетам физического лица).
                    p Налогообложению вне зависимости от суммы полученного дохода не будут подлежать только доходы по вкладам (счетам) в рублях, ставка по которым в течение всего налогового периода не превысит 1%, а также доходы по счетам эскроу.
                    p Доходы в виде процентов по вкладам (остаткам на счетах) в банках учитываются в целях налогообложения за налоговый период, в котором такие доходы были фактически получены.
                      br
                      | Если по условиям договора проценты зачисляются в счет пополнения того же вклада, то доход в виде таких процентов учитывается в целях налогообложения в налоговом периоде, в котором произведено зачисление процентов (Письмо ФНС России от 26.11.2020 N БС-4-11/19463@).
                    p Ставка НДФЛ с процентных доходов как налоговых резидентов РФ, так и нерезидентов одинакова - 13% (при сумме дохода не более 5 млн руб.). Если сумма полученного дохода превышает 5 млн руб., налоговая ставка составляет 650 тыс. руб. и 15 процентов суммы соответствующих доходов, превышающей 5 млн руб. (п. п. 1, 3, 3.1 ст. 224 НК РФ).
                    p Пример.
                    p В 2021 г. открыты вклады в трех банках на территории РФ на следующих условиях:
                    +ui-ul(list_2)
                    p По итогам 2021 г. будет получен следующий процентный доход: от банка А - 56 000 руб., от банка Б - 22 192 руб., от банка В - 2 000 руб.
                      br
                      | Для целей налогообложения НДФЛ учитывается доход по вкладам в банках А и Б в сумме 78 192 руб. (56 000 руб. + 22 192 руб.).
                      br
                      | Доход по вкладу в банке В (2 000 руб.) для целей налогообложения не учитывается, так как процентная ставка в течение календарного года не превышала 1% годовых.
                      br
                      | На начало календарного года (01.01.2021 г.) ключевая ставка Банка России составила 4,25%. Следовательно, предельная необлагаемая сумма процентов равна 42 500 руб. (1 млн руб. x 4,25%).
                      br
                      | НДФЛ будет облагаться доход в сумме 35 692 руб. (78 192 руб. - 42 500 руб.).
                      br
                      | Сумма налога составит 4 640 руб. (35 692 руб. x 13%).
                +accordion-item('Как будет рассчитываться налог на доходы физических лиц по валютным вкладам?')
                  +ui-p1('Проценты, выплаченные физическому лицу по валютным счетам, для целей расчета налога будут пересчитываться в рубли по официальному курсу Банка России, установленному на день фактического получения такого дохода. При этом изменение размера валютного вклада, вызванное курсовыми колебаниями, налогообложению не подлежит.', '--light')
                +accordion-item('Декларацию нужно будет подавать?')
                  +ui-p1('Нет. Подача декларации 3-НДФЛ для уплаты налога с полученных доходов по процентам по вкладам не предусмотрена действующим законодательством РФ.', '--light')
          +tabs-main__item
            .inner
              +accordion
                +accordion-item('Как оформить кредит?')
                  +ui-p1('Оформить кредит можно, оставив заявку на сайте банка, в Мобильном приложении или в офисе. При оформлении заявки дистанционно (сайт Банка/мобильное приложение) после предварительного одобрения Вам будет назначена встреча в офисе для подписания договора и получения кредита.', '--light')
                +accordion-item('Почему мне отказали в кредите?')
                  +ui-p1('Для обеспечения финансовой надежности принятие решения о выдаче кредита осуществляется Банком на основании требований и критериев, применяемых при оценке финансовой устойчивости заемщика, а также иных показателей, влияющих на вероятность возврата кредита. Кроме того, действующим законодательством не предусмотрена обязанность Банка информировать лиц, обратившихся за предоставлением кредита, о причинах отказа в предоставлении кредита.', '--light')
                +accordion-item('Как оформить кредит без залога?')
                  +ui-p1('', '--light')
                    p В Банке существует широкая линейка тарифных планов, в рамках которых возможно оформление без дополнительного обеспечения, более подробно можно ознакомиться по
                      a.text-orange(href='/kredit/' target='_blank') ссылке
                      | .
                +accordion-item('Какой залог банк принимает?')
                  +ui-p1('Банк принимает в залог движимое и недвижимое имущество, которое удовлетворяет требованиям Банка.', '--light')
                +accordion-item('Как платить по кредиту?')
                  +ui-p1('', '--light')
                    p Оплачивать можно в наличной и безналичной форме. Все доступные способы погашения кредита представлены на
                      a.text-orange(href='/kredit/sposoby-oplaty/' target='_blank') странице
                      | .
                +accordion-item('Не могу оплачивать кредит, что делать? Как оформить кредитные каникулы?')
                  +ui-p1('', '--light')
                    p Банк может предложить вам снижение платежа, увеличив срок кредита либо предоставить отсрочку платежа, как частичную, так и полную. Более подробно ознакомиться с информацией и оставить заявку на получение услуги можно на
                      a.text-orange(href='/rest/' target='_blank') сайте банка
                      | , либо обратиться в любое удобное для Вас отделение. При наличии просроченной задолженности Банк может предложить вам несколько программ реструктуризации. Оставить заявку вы можете на
                      a.text-orange(href='/restructuring/' target='_blank') сайте
                      | , либо обратиться в любое удобное для вас отделение.
                +accordion-item('Мне выставили штраф/пеню, как мне оспорить это?')
                  +ui-p1('', '--light')
                    p Если есть вопросы по расчету штрафа/пени, причин их начисления, то необходимо обратиться по номеру единой &nbsp; справочной службы банка
                      a.text-orange.text-nowrap(href='tel:88007753755') 8-800-775-37-55
                      | , либо обратиться в любое удобное для Вас отделение.
                +accordion-item('Почему не оформляют кредит без страховки?')
                  +ui-p1('Договор страхования заключается в вашу пользу и направлен на защиту именно ваших финансовых интересов. Программа страхования является добровольной и дополнительной гарантией, что в случае непредвиденных обстоятельств ваш кредит будет выплачен, и ваша кредитная история не испортится. Напоминаем, что выгодоприобретателем являетесь именно вы, и принятие решения о том, куда пойдет страховое возмещение, остается только за вами.', '--light')
                +accordion-item('Можно ли вернуть страховку?')
                  +ui-p1('Вы можете расторгнуть договор страхования. Возврат 100% премии возможен при подаче документов о расторжении в течение первых 14 календарных дней. В случае, если вероятность наступления страхового риска исчезла, возврат производится пропорционально сроку, оставшемуся до конца срока действия договора страхования. При одностороннем отказе от договора страхования после истечения 14 календарных дней с момента вступления полиса в силу, возврат страховой премии не производится. Однако, расторгая страховой полис, вы лишаетесь всех преимуществ страхования. Также необходимо помнить, что по ряду тарифных планов потребительского кредитования расторжение договора страхования предусматривает повышение процентной ставки по кредитному договору.', '--light')
                +accordion-item('Как узнать сумму платежа?')
                  +ui-p1('', '--light')
                    p В отделении Банка по предъявлению паспорта, через банкомат, по телефону горячей линии – 8-800-775-88-88 (потребуется назвать кодовое слово и паспортные данные), в личном кабинете Интернет-банка, через мобильное приложение.
                +accordion-item('Как снизить ставку по действующему кредиту?')
                  +ui-p1('Воспользоваться услугой "Платёж за снижение ставки". Подробнее об условиях предоставления услуги вы можете ознакомиться на сайте Банка либо обратиться в любое удобное для вас отделение офиса.', '--light')
                +accordion-item('Можно ли снять деньги в терминале самообслуживания?')
                  +ui-p1('Нет, в терминале самообслуживания возможно только пополнение счета. Снять наличные деньги можно в банкомате или в кассе отделения, обратившись с паспортом.', '--light')
                +accordion-item('Может ли банк в счет гашения задолженности списать денежные средства, которые имеются на счете по кредитному договору?')
                  +ui-p1('Банк может списать имеющиеся у вас денежные средства при наличии просроченной задолженности в соответствии с условиями кредитного договора.', '--light')
                +accordion-item('Как узнать реквизиты счета?')
                  +ui-p1('', '--light')
                    p Реквизиты счета можете узнать непосредственно в офисе банка, а также в Интернет-банке и в Мобильном приложении. При возникновении вопросов по работе с Интернет-банком или Мобильным приложением можно обратиться в колл-центр 8-800-775-88-88.
                +accordion-item('Как узнать решение по заявке?')
                  +ui-p1('Вас оповестит кредитный менеджер, позвонив на указанный вами номер или с помощью sms сообщения.', '--light')
                +accordion-item('У меня плохая кредитная история, могу ли я оформить кредит?')
                  +ui-p1('', '--light')
                    p Существует возможность получения кредита и в такой ситуации. Банк принимает решение индивидуально по каждому клиенту с учетом совокупности данных. Обратитесь по телефону колл-центра 8-800-775-88-88 или в отделение банка.
                +accordion-item('Где узнать все условия по кредиту: сумма, остаток, ставка, ближайший платеж, включая смс-информирование и взнос по страховым кредитным продуктам (если они подключены)?')
                  +ui-p1('', '--light')
                    p Информацию по сумме остатка, действующей процентной ставке, дате и сумме ближайшего платежа можно получить в личном кабинете либо по номеру колл- центра банка 8-800-775-88-88, либо обратиться в любое удобное для вас отделение.
                +accordion-item('Можно ли погасить кредит частично или полностью досрочно?')
                  +ui-p1('', '--light')
                    p Действующий кредитный договор можно погасить досрочно, частично либо полностью, для этого вам необходимо уведомить банк, написав заявление на полное либо частичное погашение, в том числе и по телефону 8-800-775-88-88, а позже внести необходимую сумму для погашения.
                +accordion-item('Я перечислил платеж в последний день погашения по кредиту. Когда деньги поступят на ваш счет и будет ли штраф?')
                  +ui-p1('Если перевод был осуществлен через сторонний банк/платежную систему, то срок межбанковских переводов составляет от 3 до 5 рабочих дней. Если пополнение было со счета АТБ или через кассу в отделении АТБ, то денежные средства поступят в этот же день. Штрафные санкции начисляются в соответствии с условиями вашего кредитного договора. Рекомендуем вносить регулярные платежи заранее.', '--light')
                +accordion-item('У меня несколько счетов в АТБ. По ошибке внес проценты за кредит на другой счет, банк зачтёт эту операцию, как погашение кредита?')
                  +ui-p1('Нет, банк не в праве распоряжаться средствами клиента без его поручения.', '--light')
                +accordion-item('Является ли оформление дополнительных услуг, например, приобретение полиса страхования, обязательным условием получения кредита или другого продукта от банка?')
                  +ui-p1('Кредитным договором не предусмотрено оформление каких-либо дополнительных услуг, их оформление осуществляется исключительно на основании волеизъявления клиента, о чем в последующем свидетельствует договор, подписанный клиентом собственноручно, и (или) полис. Банк может только предложить, но не обязать клиента приобретать дополнительные услуги.', '--light')
          +tabs-main__item
            .inner
              +accordion
                +accordion-item('Как можно срочно заблокировать кредитную карту?')
                  +ui-p1('', '--light')
                    p Обратиться в колл - центр Банка по телефону 8-800-775-88-88, либо через Мобильный/Интернет Банк, либо обратиться в отделение Банка.
                +accordion-item('Где узнать все условия по кредитной карте: сумма к погашению, остаток свободного лимита, ставка, срок и сумма минимального обязательного платежа, включая смс-информирование и взнос по страховым кредитным продуктам (если они подключены)?')
                  +ui-p1('', '--light')
                    p Информацию можно посмотреть в Мобильном/Интернет Банке, или позвонив сотруднику Банка по телефону колл-центра 8-800-775-88-88 (информация доступна при условии прохождения процедуры идентификации), или обратиться в отделение Банка.
                +accordion-item('Куда обращаться, если я не получил кэшбэк?')
                  +ui-p1('', '--light')
                    p Необходимо обратиться в колл - центр Банка по телефону 8-800-775-88-88 или в отделение Банка.
                +accordion-item('В какие сроки начисляется кэшбэк? За какие операции?')
                  +ui-p1('Кэшбэк начисляется не позднее пятого рабочего дня календарного месяца, следующего за месяцем, в котором были совершены платежи с использованием карты (при условии, что тарифный план карты предусматривает начисление кэшбэка). Конкретные правила и условия начисления кэшбэка устанавливаются вашим тарифным планом, в рамках которого оформлена банковская карта, и программой лояльности, документ содержит коды операций (MCC коды), по которым начисляется кэшбэк.', '--light')
                +accordion-item('Может ли банк задним числом изменить условия обслуживания?')
                  +ui-p1('При изменении тарифов Банк уведомляет клиентов минимум за 3 дня. Задним числом изменить условия нельзя.', '--light')
                +accordion-item('Перечислил деньги мошенникам. Как отменить платеж?')
                  +ui-p1('', '--light')
                    p Срочно позвоните в Банк по телефону 8-800-775-88-88 и заблокируйте карту. Далее необходимо подойти в любое отделение Банка и заполнить бланк претензии. По факту несанкционированного списания будет проведено расследование международной платежной системой в течение 45 календарных дней, о результатах вам сообщат. Карту можно переоформить, написав заявление в отделении Банка.
                +accordion-item('Что делать, если моей картой были оплачены покупки через интернет, которые мной не совершались?')
                  +ui-p1('Необходимо срочно заблокировать карту. Затем подойти в любое отделение АТБ и заполнить бланк претензии. По факту несанкционированного списания будет проведено расследование международной платежной системой в течение 45 календарных дней. Поскольку номер карты стал известен третьим лицам, ее следует как можно быстрее переоформить, написав заявление в отделении Банка.', '--light')
                +accordion-item('Можно ли оформить карту без фотографирования?')
                  +ui-p1('Нет - это входит в процедуру идентификации.', '--light')
                +accordion-item('Как начисляются проценты на остаток по карте «Кошелек»?')
                  +ui-p1('По тарифному плану «Кошелек» за первый период (месяц) проценты начисляются по ставке 1% годовых. Начисление процентов за последующие периоды (месяцы) производится по ставке 4% годовых, если на счет были перечисления заработной платы (ставка сохраняется при наличии перерыва в перечислении заработной платы, но не более 6-ти календарных месяцев подряд) либо в предыдущем периоде (месяце) клиент совершил безналичные операции в ТСП на сумму более 5 000 рублей (условие актуально для карт Visa Gold/Mastercard Gold или для карт Мир). Также на карточный счет перечисляются проценты по срочному вкладу, открытому в Банке.', '--light')
                +accordion-item('Что такое льготный период и как им пользоваться?')
                  +ui-p1('Период, в течение которого не взимаются проценты по кредиту. Если Вы будете своевременно погашать ежемесячные платежи по карте в период действия льготного периода и полностью погасите задолженность не позднее срока окончания льготного периода, то проценты за использование заёмных средств не начисляются.', '--light')
                +accordion-item('Я полностью погасил задолженность по карте в льготный период, но мне начислили проценты. Почему?')
                  +ui-p1('', '--light')
                    p Возможно вы перечислили сумму меньше, чем необходимо для полного восстановления лимита кредитования, либо при перечислении через другие банки списалась комиссия, и суммы не хватило для полного выполнения обязательств. Также если вы погасили кредит по карте в последний день льготного периода с карты другого банка, то согласно российскому законодательству перевод осуществляется в срок не более трех рабочих дней. Нельзя быть точно уверенным, что денежные средства на счет кредитного договора поступят в тот же день, поэтому прекращение действия льготного периода и начисление процентов возможно. Рекомендуем перечислять деньги заблаговременно, чтобы воспользоваться преимуществами льготного периода. За дополнительной информацией по конкретной ситуации позвоните по телефону колл-центра 8-800-775-88-88 (информация доступна при условии прохождения процедуры идентификации) или обратитесь в отделение Банка.
                +accordion-item('Если делать платеж в погашение задолженности по карте картой другого банка, какая будет комиссия?')
                  +ui-p1('Комиссию удерживает банк, со счета которого перечисляются средства. Уточнить размер комиссии или убедиться, что комиссия отсутствует, можно в банке-эмитенте карты, которой вы планируете гасить задолженность. АТБ комиссию за зачисление не берет.', '--light')
                +accordion-item('Не пришли деньги на карту. Что делать?')
                  +ui-p1('', '--light')
                    p В данном вопросе вам может помочь колл-центр банка по номеру 8-800-775-88-88.
                +accordion-item('Потерял карту/украли. Что делать?')
                  +ui-p1('', '--light')
                    p Если вы потеряли карту или ее у вас украли, следует немедленно её заблокировать. Вы можете сделать это самостоятельно в личном кабинете Мобильного и Интернет - банка с помощью вкладки "Мои средства" → "Карты" → "Блокировка карты". Выбираете карту, которую необходимо заблокировать, указываете причину блокировки и нажимаете "ОК". Карта будет заблокирована, комиссия за блокировку отсутствует. Также об утере / краже карты можно сообщить в колл - центр Банка по круглосуточному номеру телефона 8-800-775-88-88 или
                      a.text-orange.text-nowrap(href='tel:+74162222333') +7 (4162) 222-333
                      | (для звонков из-за рубежа) и заблокировать карту. Кроме того, Вы можете обратиться в любое отделение Банка и заблокировать карту. Чтобы в дальнейшем разблокировать карту, Вам необходимо обратиться в отделение Банка.
                +accordion-item('Как привязать карту в МИР Pay?')
                  +ui-p1('Скачайте приложение Mir Pay в Google Play. Откройте приложение и привяжите к нему свою карту (сфотографируйте, введите данные вручную или отсканируйте по NFC – самый надежный и удобный способ), введите вручную код CVC и пароль из СМС.', '--light')
                +accordion-item('Я уезжаю в другую страну. Нужно ли предупреждать банк об этом?')
                  +ui-p1('Отправляясь в путешествие, желательно уведомить Банк о маршруте и сроках поездки. При совершении операций по карте на другом конце света Банк может посчитать, что вашу карту украли, и операции по ней совершают мошенники. В случае выявления подозрительных операций Банк блокирует карту, и ее восстановление может занять какое-то время.', '--light')
                +accordion-item('Забыл ПИН-код, что делать?')
                  +ui-p1('Если у вас возникло подозрение, что ПИН-код стал известен посторонним лицам либо его трудно запомнить, вы можете поменять на более удобный для себя в одном из банкоматов АТБ.', '--light')
                +accordion-item('Что такое МСС код?')
                  +ui-p1('Код вида торговой точки. Представляет собой четырехзначный номер и применяется в отрасли банковских карт для классификации торгово-сервисных предприятий по типу их деятельности. Начисление кэшбэка привязано к MCC кодам.', '--light')
                +accordion-item('Почему мне не начислили кэшбэк?')
                  +ui-p1('', '--light')
                    p Причин может быть несколько. Например, МСС код не входит в любимую категорию, для которой предусмотрено начисление повышенного кэшбэка (зависит от вашего тарифного плана). Или не выполнены
                      a.text-orange(href='https://www.atb.su/upload/doc/karty/programma-loyalnosti.pdf' target='_blank') условия
                      | по сумме минимальных транзакций, не входящих в любимую категорию (зависит от тарифного плана). За более детальной информацией по вашему конкретному случаю, пожалуйста, обратитесь в колл - центр Банка по телефону 8-800-775-88-88.
          +tabs-main__item
            .inner
              +accordion
                +accordion-item('Погасил кредит, в какие сроки я могу забрать закладную?')
                  +ui-p1('Забрать документ можно в течение 30 дней', '--light')
                +accordion-item('Как оформить ипотечный кредит?')
                  +ui-p1('', '--light')
                    p Предлагаем несколько удобных способов: через личный кабинет на сайте Банка, также можно позвонить в колл-центр по телефону 8-800-775-88-88 (звонок по России бесплатный) или посетить ближайший офис банка.
                +accordion-item('Зачем нужно рефинансировать ипотечный кредит?')
                  +ui-p1('Если с момента оформления ипотеки ключевая ставка Банка России снизилась, то рефинансирование – удобная возможность снизить процентную ставку и платежи по вашему кредиту, увеличить срок кредитования, а так же получить дополнительные средства на личные расходы.', '--light')
                +accordion-item('Как внести изменения в кредитный договор (заемщик/созаемщик)?')
                  +ui-p1('Обратиться в Банк с заявлением, по итогам его рассмотрения будет предложено подписание дополнительных соглашений к кредитно-обеспечительной документации.', '--light')
                +accordion-item('Можно ли продать квартиру, которая находится в залоге у банка?')
                  +ui-p1('Возможно, для этого необходимо обратиться в Банк с заявлением о выдаче согласия на продажу предмета ипотеки.', '--light')
                +accordion-item('Что нужно для оформления ипотеки?')
                  +ui-p1('Анкета, паспорт, документы о трудоустройстве и доходе.', '--light')
                +accordion-item('Как узнать переплату по моему будущему кредиту?')
                  +ui-p1('Кредитный договор содержит раздел «Полная стоимость кредита», в которой содержится информация о всех выплатах по кредиту.', '--light')
                +accordion-item('Как узнать, сколько осталось выплатить по ипотеке?')
                  +ui-p1('', '--light')
                    p В мобильном приложении, через личный кабинет на сайте Банка, также можно позвонить в колл-центр по телефону 8-800-775-88-88 (звонок по России бесплатный) или посетить ближайший офис банка.
                +accordion-item('Как использовать материнский капитал для выплаты ипотеки и какие есть ограничения?')
                  +ui-p1('Обратиться в Банк для получения соответствующей справки для Пенсионного фонда и предоставить ее в ПФР. После перечисления материнского капитала вы можете выбрать, каким образом будет происходить погашение ипотеки: с уменьшением ежемесячного платежа или уменьшением срока кредитования. Ограничения могут устанавливаться Пенсионным фондом.', '--light')
                +accordion-item('Как долго вы рассматриваете заявку на кредит?')
                  +ui-p1('Заявка рассматривается в течение двух рабочих дней.', '--light')
                +accordion-item('Как частично/полностью погасить ипотеку досрочно?')
                  +ui-p1('', '--light')
                    p Обратиться в колл-центр по телефону 8-800-775-88-88 (звонок по России бесплатный) или посетить ближайший офис банка.
                +accordion-item('Как снизить ставку / платеж по действующему ипотечному кредиту в другом банке или в АТБ?')
                  +ui-p1('Обратиться в Банк с заявлением на реструктуризацию в связи с ухудшением финансового положения либо за рефинансированием кредита.', '--light')
                +accordion-item('Какие объекты недвижимости можно приобрести за счет ипотечного кредита?')
                  +ui-p1('В ипотеку можно приобрести квартиру, апартаменты, таунхаус, дом с земельным участком.', '--light')
                +accordion-item('Что делать, если банк продал мой кредит другому банку? Что меняется для меня?')
                  +ui-p1('Все условия договора остаются прежними.', '--light')
                +accordion-item('Может ли банк повысить ставку по кредиту в будущем?')
                  +ui-p1('Да, может, если это предусмотрено условиями кредитного договора, к примеру, отказ от страхования.', '--light')
                +accordion-item('Что делать, если я сейчас не могу выплачивать ипотечный кредит?')
                  +ui-p1('Необходимо обратиться в Банк с соответствующим заявлением. Возможна реструктуризация кредита.', '--light')
                +accordion-item('Я перечислил платеж в последний день погашения по кредиту. Когда деньги поступят на ваш счет и будет ли штраф?')
                  +ui-p1('Согласно российскому законодательству межбанковские переводы могут занимать до 3-х рабочих дней, штрафы применяются в соответствии с условиями конкретного кредитного договора.', '--light')
                +accordion-item('У меня несколько счетов в АТБ. По ошибке внес проценты за кредит на другой счет, банк зачтёт эту операцию, как погашение кредита?')
                  +ui-p1('Нет, необходимо обеспечить поступление денежных средств на счет, указанный в кредитном договоре. Перевести деньги со счета на счет можно бесплатно в мобильном приложении или интернет-банке.', '--light')
                +accordion-item('Может ли банк без моего ведома списать средства с моего счета в банке в счет погашения задолженности по кредиту?')
                  +ui-p1('Да, если это предусмотрено условиями кредитного договора.', '--light')
                +accordion-item('Какие есть способы погашения ипотечного кредита?')
                  +ui-p1('', '--light')
                    p Безналичным переводом в мобильном или интернет-банке с дебетовой карты, оформленной в Банке.
                    p Безналичным переводом с любой карты на карту Банка.
                    p Зачислением через банкомат Банка. Наличными в кассе любого отделения Банка.
                +accordion-item('Как внести платеж по ипотеке?')
                  +ui-p1('', '--light')
                    p Безналичным переводом в мобильном или интернет-банке с дебетовой карты, оформленной в Банке.
                    p Безналичным переводом с любой карты на карту Банка.
                    p Зачислением через банкомат Банка. Наличными в кассе любого отделения Банка.
                +accordion-item('Когда необходимо внести средства для погашения ипотечного кредита?')
                  +ui-p1('Для погашения кредита рекомендуем разместить на счете или карточном счете (в зависимости от того, к чему привязан кредит) средства в достаточном размере за один день до даты очередного платежа по графику.', '--light')
                +accordion-item('Как узнать сумму штрафов и пеней по просроченному платежу по ипотеке?')
                  +ui-p1('В Мобильном приложении, через личный кабинет на сайте Банка, также можно позвонить в колл-центр по телефону 8-800-775-88-88 (звонок по России бесплатный) или посетить ближайший офис банка.', '--light')
                +accordion-item('Переносится ли дата платежа, если она приходится на нерабочий/праздничный день?')
                  +ui-p1('Если дата платежа, указанная в графике, приходится на нерабочий день, списание ежемесячного платежа будет в ближайший следующий за ним рабочий день. Если дата платежа выпадает на дату, отсутствующую в месяце, списание ежемесячного платежа будет в последний календарный день месяца.', '--light')
                +accordion-item('Можно ли изменить дату платежа?')
                  +ui-p1('Да, обратившись в Банк с соответствующим заявлением', '--light')
                +accordion-item('Может ли кто-нибудь вместо меня внести платёж по кредиту?')
                  +ui-p1('Да, по российскому законодательству пополнение рублевых счетов могут осуществлять третьи лица при наличии паспорта.', '--light')
                +accordion-item('Уезжаю в отпуск. Как мне внести платёж?')
                  +ui-p1('Рекомендуем обеспечить на счете необходимую для погашения сумму средств заблаговременно. Возможно пополнение счета для погашения с карты/счета в другом банке.', '--light')
                +accordion-item('Не могу вовремя внести платёж. Что делать?')
                  +ui-p1('Обратиться в Банк с соответствующим заявлением', '--light')
                +accordion-item('Могу ли я поменять страховую компанию в течение срока действия моего ипотечного кредита?')
                  +ui-p1('Да, можно обратиться в любую аккредитованную Банком страховую компанию.', '--light')
                +accordion-item('Могу ли я произвести перепланировку в квартире, которая является предметом залога по ипотечному кредиту?')
                  +ui-p1('Да, предварительно получив согласие Банка.', '--light')
                +accordion-item('Можно ли приобрести квартиру, которая находится в залоге у другого банка?')
                  +ui-p1('Да, это возможно, но подобные случаи Банк рассматривает индивидуально.', '--light')
          +tabs-main__item
            .inner
              +accordion
                +accordion-item('Как получить доступ в личный кабинет?')
                  +ui-p1('', '--light')
                    p Любой клиент Банка может самостоятельно пройти регистрацию в приложении АТБ Мобайл NEW. Для этого необходимо
                      a.text-orange(href='https://my.atb.su/signin' target='_blank') установить приложение
                      | и нажать на кнопку «Зарегистрироваться». Регистрация в сервисе возможна по номеру телефона, номеру банковской карты, а также используя номер расчетного счета.
                      br
                      | Для прохождения регистрации в Интернет-банке требуется обратиться в Колл-центр по телефону 8-800-775-88-88 (звонок по России бесплатный).
                +accordion-item('Почему личный кабинет заблокирован?')
                  +ui-p1('Причин может быть несколько, но в большинстве случаев это делается ради безопасности ваших средств. Чаще всего доступ блокируется из-за неверно введенных регистрационных данных. Для возможности восстановления доступа клиенту необходимо обратиться в колл-центр Банка по телефону 8-800-775-88-88 (звонок по России бесплатный) либо в любое отделение.', '--light')
                +accordion-item('Забыл логин и/или пароль, что делать?')
                  +ui-p1('Восстановить регистрационные данные клиент может самостоятельно. Для этого достаточно открыть приложение АТБ Мобайл NEW и нажать на кнопку «Восстановление доступа». В случае каких-либо проблем клиент может обратиться в колл-центр по телефону 8-800-775-88-88 (звонок по России бесплатный) либо обратиться в любое отдление.', '--light')
                +accordion-item('В приложении не отражаются счета, что делать?')
                  +ui-p1('Если возникли проблемы с отображением продуктов и счетов, то просим вас позвонить по телефону 8-800-775-88-88 (звонок по России бесплатный).', '--light')
                +accordion-item('Что такое Система быстрых платежей (СБП)?')
                  +ui-p1('', '--light')
                    p Система Банка России, позволяющая клиентам Банка переводить средства по номеру телефона получателя, счет которого открыт в любом другом банке-участнике данной системы. Без комиссии (бесплатно) можно переводить до 100 тыс. руб. в месяц.
                      br
                      | Подробнее о Системе быстрых платежей можно ознакомиться на
                      a.text-orange(href='/services/sbp/' target='_blank') отдельной странице сайта
                      | .
                +accordion-item('Что делать, если не работает приложение?')
                  +ui-p1('', '--light')
                    p Проверьте, пожалуйста, обновления в
                      a.text-orange(href='https://apps.apple.com/ru/app/атб-мобайл-new/id1545924358' target='_blank') App Store
                      | или
                      a.text-orange(href='https://play.google.com/store/apps/details?id=com.isimplelab.ionic.atbnew.prod' target='_blank') Play Market
                      | . При необходимости клиент может обратиться за помощью, позвонив в колл-центр по телефону 8-800-775-88-88 (звонок по России бесплатный).
                +accordion-item('Можно ли оформить кредит в приложении?')
                  +ui-p1('Да, возможность дистанционной подачи заявки на потребительский кредит доступна в Мобильном и Интернет-банке.', '--light')
                +accordion-item('Можно ли стать стать клиентом без посещения офиса?')
                  +ui-p1('Мы работаем над этим! Возможность удаленной регистрации будет доступна в будущем.', '--light')
                +accordion-item('Как найти ближайший офис банка?')
                  +ui-p1('', '--light')
                    p Проще всего посмотреть в Мобильном приложении раздел «Еще» - «Отделения и банкоматы», определить свое местоположение и найти ближайший офис Банка. Также актуальная информация по местонахождению и режиму работы отделений и банкоматов банка доступна на
                      a.text-orange(href='/atms/moskva/?changingcity=y' target='_blank') официальном сайте
                      | .
                +accordion-item('Как найти ближайший банкомат банка?')
                  +ui-p1('', '--light')
                    p Проще всего посмотреть в мобильном приложении раздел «Еще» - «Отделения и банкоматы», определить свое местоположение и найти ближайший офис Банка. Также актуальная информация по местонахождению и режиму работы отделений и банкоматов банка доступна на
                      a.text-orange(target='_blank' href='/atms/moskva/?changingcity=y') официальном сайте
                      | .
          +tabs-main__item
            .inner
              +accordion
                +accordion-item('На какие карты можно перевести деньги?')
                  +ui-p1('Переводы можно делать как на дебетовые, так и на кредитные карты российских банков, а также доступны переводы на карты иностранных банков. Переводите на карты платежных систем MasterCard Worldwide, VISA International, а также на карты национальной платежной системы «Мир».', '--light')
                +accordion-item('Получатель не получил перевод, что в таких случаях делать?')
                  +ui-p1('Денежные переводы между картами Азиатско -Тихоокеанского Банка зачисляются моментально. Сроки зачисления перевода на карты других банков/с карт других банков могут составлять до 3-х дней. Факт зачисления перевода необходимо проверять по выписке с карты получателя. В случае, если средства не зачисляются свыше ожидаемых сроков, вам необходимо обратиться в банк, выпустивший карту, и задать вопрос или подать претензию для проведения расследования по переводу. В претензии необходимо указать параметры перевода — дата, время, сумма, номера карт отправителя и получателя.', '--light')
                +accordion-item('Я ошибся с номером карты получателя. Как отозвать перевод?')
                  +ui-p1('Отозвать успешно отправленный перевод, к сожалению, невозможно. Поэтому рекомендуем вам перед подтверждением отправки перевода тщательно проверять реквизиты карты получателя.', '--light')
                +accordion-item('Чем обеспечена безопасность переводов?')
                  +ui-p1('В целях обеспечения безопасности переводов через Интернет - банк и мобильное приложение списание средств с карты отправителя осуществляется по технологии 3DSecure (Verified by Visa, MasterCard®SecureCodeTM, MIRAccept), которая позволяет однозначно идентифицировать клиента, совершающего операцию в сети Интернет, банком – эмитентом карты отправителя способом, определяемым таким банком, и снизить риск мошенничества, защищая банковскую карту от несанкционированного использования. В большинстве банков, в том числе в Азиатско -Тихоокеанском Банке, это подтверждение операции по карте путём ввода одноразового пароля, посланного в SMS-сообщении.', '--light')
                +accordion-item('Почему не уходит перевод?')
                  +ui-p1('', '--light')
                    p Можно выделить несколько наиболее часто встречающихся причин отказа в переводе:
                    +ui-ul(list_3)
                +accordion-item('В какой валюте можно совершить перевод?')
                  +ui-p1('', '--light')
                    p На территории России (как для переводов внутри Азиатско-Тихоокеанского Банка, так и для внутрироссийских переводов) переводы с карты на карту осуществляются в рублях РФ.
                      br
                      | В случае если валюта счета одной из карт не совпадает с валютой операции, то осуществляется конвертация. В случае если валюта перевода отличается от обеих валют счетов карт, то будет выполнена двойная конвертация. Конвертация выполняется по курсу платёжной системы. Курс платёжной системы обновляется ежедневно и может отличаться от курса Банка России.
                +accordion-item('Будет ли комиссия при совершении перевода?')
                  +ui-p1('', '--light')
                    p При совершении перевода на экране у вас появится размер комиссии за перевод, взимаемый Азиатско-Тихоокеанским Банком.
                     br
                     | Перевод денег на карты Азиатско-Тихоокеанского Банка совершаются без комиссии с нашей стороны. Комиссия за перевод с карт Азиатско-Тихоокеанского Банка на карту другого банка — 1,3% от суммы перевода +30 руб. За перевод между картами других российских банков взимается фиксированная комиссия 1,3% от суммы перевода +30 руб. При переводе на карту, выпущенную кредитными организациями, расположенными в иностранных государствах (включая страны ближнего зарубежья), - 1,5% от суммы операции +150 рублей.
                     br
                     | Другие банки могут брать комиссию за перевод со своих карт, уточняйте условия и тарифы у банка, выпустившего карту.
                     br
                     | При использовании в переводе кредитных денежных средств размер комиссии за перевод может быть другим. Условия перевода и тарифы по кредитным картам рекомендуем уточнять у банка, выпустившего карту, обычно банки прописывают эту комиссию в тарифном плане кредитной карты.
                +accordion-item('Где и как я могу осуществить перевод с карты на карту?')
                  +ui-p1('', '--light')
                    p Переводы с карты на карту доступны в сервисах Азиатско -Тихоокеанского Банка: в банкоматах, на официальном сайте (
                      a.text-orange(target='_blank' href='/') www.atb.su
                      | ), в Интернет - банке "АТБ-Онлайн" и в Мобильном приложении "АТБ-Мобайл".
                      br
                      | Для совершения перевода вам необходимо указать данные карты отправителя (номер, срок действия и CVC/CVV код, расположенный на оборотной стороне карты), номер карты получателя и сумму перевода.
                      br
                      | При переводе на карту иностранного банка вам необходимо дополнительно указать Имя, Фамилию и адрес места жительства отправителя перевода.
