extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  script(src=fileName + '.js')

block variables
  -const fileName = 'the-most-important-txt'
  -const pageTitle ='Реструктуризация в рамках федерального закона 106-ФЗ'

  -
    const list_1 =[
      { text: '6 млн руб. – Москва,' },
      { text: '4 млн руб. – МО, Санкт-Петербург и ДФО,' },
      { text: '3 млн руб. – остальные российские регионы,' },
    ]

  -
    const list_2 =[
      { text: 'с 1 марта по 30 сентября обратиться к кредитору с заявлением о предоставлении кредитных каникул;' },
      { text: 'уточнить, какие документы нужны для подтверждения плохого финансового положения заемщика;' },
    ]

block content
  main
    +breadcrumbs()
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item('Самое важное сегодня', '#')
      +breadcrumbs-item(pageTitle)
    .page-content
      +section('--mt0')
        .inner
          +most-important-txt('restructuring')
      +section
        .inner
          +accordion
            +accordion-item('Кто может воспользоваться Кредитными каникулами?')
              +ui-p1('Использовать право на кредитные каникулы могут заемщики, которые заключили кредитные договоры до 01.03.2022. Закон распространяется и на тех, кто уже брал отсрочку в 2020 году. Кредитные каникулы предоставляют на 6 месяцев (максимальный срок), формат – отсрочка платежа или его уменьшение.', '--light')
            +accordion-item('Каковы условия получения кредитных каникул?')
              +ui-p1('Если официальный доход заемщика снизился более чем на 30%, то он имеет право на кредитные каникулы. Размер кредита не должен быть выше максимумов, установленных Правительством, и на данный момент у него не должно быть действующей отсрочки по платежам.', '--light')
            +accordion-item('На какие суммы распространяются кредитные каникулы?')
              +ui-p1('', '--light')
                p Должники имеют право на кредитные каникулы, если сумма займа составляет максимум:
                +ui-ul('')
                  li Ипотека
                    +ui-ul(list_1, '--inner')
                  li 700 тысяч руб. – автокредит,
                  li 350 тысяч руб. – потребительский кредит для ИП,
                  li 300 тысяч руб. – кредит наличными для физлиц,
                  li 100 тысяч руб. – кредитные карты.
            +accordion-item('Как получить кредитные каникулы?')
              +ui-p1('', '--light')
                +ui-ul(list_2)
            +accordion-item('Какие документы нужны для кредитных каникул?')
              +ui-p1('', '--light')
                p 2-НДФЛ для работающих, справка о регистрации на Бирже труда Министерства труда и социальной защиты для безработных, больничный или другие бумаги, свидетельствующие о падении зарплаты или выручки.
                p
                  b Банк тщательно проверит все справки, а в случае предоставления подделок (липовых больничных или недостоверных 2-НДФЛ) кредитные каникулы признают незаконными, и плательщик оплатит не только все пропущенные платежи, но еще и пени, начисленные
