extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')

block variables
  -const fileName = 'sel-prop'
  -const pageTitle ='Реализация имущества'

block content
  main
    .page-content
      +section('--mt0, --bg-grey')
        .inner
          +section-head.text-center
            +ui-h2('Реализация имущества', '--section-head')
          +sel-prop-search
      +section
        .inner
          +sel-prop-res
  +seo('Реализация залогового имущества')
    +seo-accordion
      +seo-accordion-item('Реализация залогового имущества')
        p АТБ производит реализацию залогового имущества должников. Для граждан и организаций это возможность на выгодных условиях приобрести недвижимость, транспорт, спецтехнику, оборудование и другое имущество, которое некогда выступало обеспечением по кредиту, выданному банком.
        p Преимущества покупки:
        ul
          li цены, по которым происходит реализация залогового имущества банка, ниже рыночных;
          li качественные и проверенные банком объекты;
          li возможность приобретения объектов в кредит.
      +seo-accordion-item('Продажа недвижимости')
        p Реализация залоговой недвижимости банков – стандартная процедура после изъятия имущества. Продаются объекты, которые выступали обеспечением по ипотечным кредитам, ссудам наличными и по другим продуктам. В Азиатско-Тихоокеанском Банке таким образом можно приобрести квартиры, дома, коттеджи, коммерческие объекты (офисы, склады, торговые помещения и другие).
      +seo-accordion-item('Продажа транспортных средств')
        p Чаще всего ведется после изъятия обеспечения у юридических лиц. Под реализацию чаще всего попадают корпоративный транспорт и спецтехника: трактора, бульдозеры, экскаваторы, эвакуаторы и другие объекты.
      +seo-accordion-item('Реализация оборудования')
        p При выдаче кредита представителям бизнеса АТБ принимает в качестве залога различное оборудование для промышленного, сельского, пищевого и других производств. Кроме того, в перечень для реализации залогового имущества должников могут попасть товары, находящиеся в обороте, офисная техника, торговое оборудование и прочее.
      +seo-accordion-item('Как проходит реализация залогового имущества банка')
        p На странице Вы видите форму поиска, которая поможет отсортировать реализуемые объекты. Через сайт можно обратиться в банк и задать вопросы по интересующей категории или конкретному объекту. За каждым из них закреплен менеджер, который сопровождает процесс продажи и контакты которого есть на соответствующей странице. Позвоните по указанному телефону, и специалист подробно расскажет Вам об объекте и о том, как его приобрести.
