mixin news-inner(mods)
  -
    const baseName = 'news-inner'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  -
    const newsSocialItem =[
      { icon: 'vk' },
      { icon: 'odnoklassniki' },
      { icon: 'tw' },
      { icon: 'whatsapp' },
      { icon: 'telegram' },
    ]

  -
    const newsList =[
      { text: '30.12.2021 (чт) - рабочий день по режиму работы подразделений;' },
      { text: '31.12.2021 (пт) - 03.01.2022 (пн) - нерабочие праздничные дни;' },
      { text: '04.01.2022 (вт) – 06.01.2022 (чт) - рабочие дни подразделений с 10:00 до 15:00;' },
      { text: '01.2022 (пт) - 09.01.2022 (вс) - нерабочие праздничные дни;' },
    ]

  .news-inner(class=allMods)&attributes(attributes)
    +ui-button('Назад к новостям', 'useful-articles, --link-prev').text-orange(href='#')
    .news-inner__container
      .news-inner__article
        .news-inner__head
          h2.ui-h3.ui-h3--xl Азиатско-Тихоокеанский банк открыл Центр развития бизнеса в&nbsp;Новосибирске
          .news-inner__date 23 августа
          .news-inner__cover: img(src='img/news-img.jpg' alt='')
        .news-inner__text.text-inside-link-underline
          p 27 июля состоялось торжественное открытие Центра развития бизнеса Азиатско-Тихоокеанского банка в Новосибирске. Новый офис начал работу по адресу: Каменская улица, дом 7/1.
          p Центр развития бизнеса – это офис инновационного формата, в котором наилучшим образом сочетаются созданная комфортная среда для корпоративных клиентов и линейка банковских продуктов, сервисов и решений для успешной реализации любой задачи бизнеса.
          p С приветственными словами выступили управляющий директор корпоративного блока Ильнур Саляхов и директор банка по Омской и Новосибирской областям Елена Лашина.
          p «Это важное событие, как для Азиатско-Тихоокеанского банка, так и для Новосибирска. Наш открывшийся центр по обслуживанию корпоративных клиентов будет тесно сотрудничать с местным бизнесом, вместе развивать экономику региона. Для этого у нашего банка есть все необходимые сервисы и продукты, ждем вас на Каменской 7», – сказала Елена Лашина на церемонии.
          img(src='img/news-img.jpg' alt='')
          p В рамках круглого стола АТБ подписал соглашение о сотрудничестве с Фондом развития малого и среднего предпринимательства Новосибирской области.
          p «Наша основная цель – предоставление поручительств за предпринимателей по кредитам, банковским гарантиям, договорам займа и договорам лизинга с предельным значением до 100 миллионов на одного заёмщика. Также у нас есть программы для начинающих предпринимателей и самозанятых», – отметил Антон Ромашев, заместитель директора, начальник отдела по работе с малым и средним бизнесом Фонда развития малого и среднего предпринимательства Новосибирской области.
          p АТБ располагает широкой линейкой кредитных продуктов и государственных программ, пакетов расчётно-кассового обслуживания, выгодными условиями торгового эквайринга, лизинга и банковских гарантий, что позволяет быть надежным финансовым партнером для наших клиентов, сохраняя индивидуальный подход. Банк входит в ТОП-20 банков по объему кредитования МСБ в 2022 году (по данным «Эксперт РА»).
          p Азиатско-Тихоокеанский банк – один из крупнейших банков Дальнего Востока и Сибири с мультирегиональной сетью, который работает на российском рынке более 30 лет. Банк обслуживает более 21 000 корпоративных клиентов и предприятий малого и среднего бизнеса, а также более 315 000 физических лиц. Сеть банка на сегодняшний день насчитывает 180 отделений. Адреса и контакты офисов в Новосибирске можно посмотреть по <a href="#">ссылке</a>.
        .news-inner__share
          .news-inner__share-txt.news-inner__share-txt--l Поделиться:
          .news-inner__social
            each item in newsSocialItem
              a.news-inner__soc-item(href='#')
                +icon('icon_'+item.icon)
      .news-inner__aside
        +ui-h3('Последние новости', 'news-inner, --xs')
        +useful-articles('latesNews', 'news-inner, --block')
    block
