mixin fin-answers-inner(mods)
  -
    const baseName = 'fin-answers-inner'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  -
    const newsSocialItem =[
      { icon: 'vk' },
      { icon: 'odnoklassniki' },
      { icon: 'tw' },
      { icon: 'whatsapp' },
      { icon: 'telegram' },
    ]

  -
    const financialLiteracyBanData = {
      img: 'img/financial-literacy-ban.png',
      h4: 'Не нашли ответ на свой вопрос?',
      buttons: [
        { text: 'НАПИШИТЕ НАМ', mods: '--link-next', class: 'text-orange' },
      ]
    }

  -
    const dataAnswersExpert ={
      avatar: 'img/fin_answers_expert_avatar.png',
      h6: 'Отвечает ',
      name: 'Максим Сёмов',
      p2: 'Председатель комитета по повышению уровня финансовой грамотности Ассоциации российских банков, <br>эксперт по финансовой грамотности АТБ.',
    }

  .fin-answers-inner(class=allMods)&attributes(attributes)
    +ui-button('Назад к вопросам', 'useful-articles, --link-prev').text-orange(href='#')
    .fin-answers-inner__container
      .fin-answers-inner__article
        .fin-answers-inner__head
          +ui-h3('Перечислил деньги мошенникам. <br>Как отменить платеж?', 'fin-answers-inner, --xl', 'h1')
          .fin-answers-inner__info
            +ui-p2('26 мая 2023', '--light').text-grey80
            +ui-p2('Александр', '--light').text-grey80
        +fin-answers-expert(dataAnswersExpert, 'fin-answers-inner, --fin-answers-inner')
        +section-box
          +text('fin-answers-inner').text-inside-link-underline
            p 27 июля состоялось торжественное открытие Центра развития бизнеса Азиатско-Тихоокеанского банка в Новосибирске. Новый офис начал работу по адресу: Каменская улица, дом 7/1.
            p Центр развития бизнеса – это офис инновационного формата, в котором наилучшим образом сочетаются созданная комфортная среда для корпоративных клиентов и линейка банковских продуктов, сервисов и решений для успешной реализации любой задачи бизнеса.
            p С приветственными словами выступили управляющий директор корпоративного блока Ильнур Саляхов и директор банка по Омской и Новосибирской областям Елена Лашина.
            p «Это важное событие, как для Азиатско-Тихоокеанского банка, так и для Новосибирска. Наш открывшийся центр по обслуживанию корпоративных клиентов будет тесно сотрудничать с местным бизнесом, вместе развивать экономику региона. Для этого у нашего банка есть все необходимые сервисы и продукты, ждем вас на Каменской 7», – сказала Елена Лашина на церемонии.
            p В рамках круглого стола АТБ подписал соглашение о сотрудничестве с Фондом развития малого и среднего предпринимательства Новосибирской области.
            p «Наша основная цель – предоставление поручительств за предпринимателей по кредитам, банковским гарантиям, договорам займа и договорам лизинга с предельным значением до 100 миллионов на одного заёмщика. Также у нас есть программы для начинающих предпринимателей и самозанятых», – отметил Антон Ромашев, заместитель директора, начальник отдела по работе с малым и средним бизнесом Фонда развития малого и среднего предпринимательства Новосибирской области.
            p АТБ располагает широкой линейкой кредитных продуктов и государственных программ, пакетов расчётно-кассового обслуживания, выгодными условиями торгового эквайринга, лизинга и банковских гарантий, что позволяет быть надежным финансовым партнером для наших клиентов, сохраняя индивидуальный подход. Банк входит в ТОП-20 банков по объему кредитования МСБ в 2022 году (по данным «Эксперт РА»).
            p Азиатско-Тихоокеанский банк – один из крупнейших банков Дальнего Востока и Сибири с мультирегиональной сетью, который работает на российском рынке более 30 лет. Банк обслуживает более 21 000 корпоративных клиентов и предприятий малого и среднего бизнеса, а также более 315 000 физических лиц. Сеть банка на сегодняшний день насчитывает 180 отделений. Адреса и контакты офисов в Новосибирске можно посмотреть по <a href="#">ссылке</a>.
          .fin-answers-inner__share
            +ui-p4('Поделиться:', '--light').text-grey90.text-uppercase
            .fin-answers-inner__social
              each item in newsSocialItem
                a.fin-answers-inner__soc-item(href='#')
                  +icon('icon_'+item.icon)
          +section('--mt-s')
            +financial-literacy-ban(financialLiteracyBanData)
      .fin-answers-inner__aside
        .fin-answers-inner__aside-head
          .fin-answers-inner__aside-title Статьи по теме
          .fin-answers-inner__tags
            .fin-answers-inner__tag Безопасность
            .fin-answers-inner__tag Мошенники
        +useful-articles('fin-answers-aside', 'fin-answers-inner, --grid-cols-1')
    block
