mixin mortgage-partners(mods)
  -
    const baseName = 'mortgage-partners'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .mortgage-partners(class=allMods)&attributes(attributes)
    .mortgage-partners__content
      .mortgage-partners__title Станьте партнером банка по ипотечному кредитованию
      .mortgage-partners__btns
        +ui-button('Стать партнером', 'mortgage-partners')(href='#')
        +ui-button('Личный кабинет партнера', 'mortgage-partners, --empty')(href='#')
    .mortgage-partners__img
      img(src='img/mortgage-partners.png', alt)
    block
