.card-day-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  @include media-tablet {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
.card-day {
  padding: 20px 40px 35px 30px;
  background: #eff7f9;
  border-radius: 8px;
  @include media-tablet {
    padding: 20px 20px 25px;
  }
  &__head {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 8px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e3e3e3;
  }
  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding-top: 4px;
    background: linear-gradient(73deg, #FE5000 15.71%, #FCA92A 89.05%);
    border-radius: 50%;
    font-size: 24px;
    @include media-tablet {
      font-size: 20px;
    }
  }
  &__descr {
    margin-top: 20px;
    padding-right: 10px;
    font-size: 22px;
    line-height: 24px;
    @include media-tablet {
      padding: 0;
      font-size: 18px;
    }
  }
  &__fn {
    max-width: 226px;
    margin-top: 15px;
    font-size: 14px;
    line-height: 18px;
    @include media-tablet {
      margin-top: 10px;
      font-size: 12px;
    }
  }
  &--bg-flesh {
    background: #fff4e1;
  }
}
