mixin most-important-txt(page, mods)
  -
    const baseName = 'most-important-txt'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .most-important-txt(class=allMods)&attributes(attributes)
    case page
      when 'measures-customer-support'
        +ui-h2('Ответы на часто задаваемые вопросы', '--section')
        +ui-p1
          p Азиатско-Тихоокеанский Банк расширил перечень услуг, предоставляемых дистанционно. Клиентам в режиме 24/7 при обращении в Колл-центр Банка доступны следующие услуги и сервисы:
          ul.ui-ul
            li Подключение доступа к дистанционным сервисам Интернет-Банка (первичное предоставление доступа, либо его восстановление);
            li Прием заявлений о реструктуризации кредитных договоров;
            li Прием заявлений на частичное и полное досрочное исполнение обязательств по кредитным договорам.
          p Банк и далее продолжит расширять перечень операций и услуг, которыми клиенты смогут пользоваться дистанционно в целях экономии времени, удобства и повышения их доступности.

      when 'hotline-virus-help'
        .most-important-txt__head
          +ui-h2('Специально для клиентов Азиатско-Тихоокеанского Банка')
          .most-important-txt__subtitle Бесплатная горячая линия по вопросам профилактики вирусных заболеваний, в том числе короновируса COVID-19
        +ui-p1('', 'most-important-txt, --light')
          p Консультации профессиональных врачей круглосуточно по телефону и в виде чата через популярные мессенджеры*
          p Отсканируйте QR-код и задайте вопрос врачу
        .most-important-txt__qr
          img(src='img/qr.png', alt='')
        +ui-p1('', 'most-important-txt, --light')
          p Или заходите на сайт ООО
            =' '
            a.text-orange(href='https://telmed24.ru/hotline/' target='_blank') «ТелеМед»
          p *Консультационные услуги по бесплатной горячей линии осуществляет компания ООО «ТелеМед»

      when 'restructuring'
        +ui-h2('Реструктуризация в рамках федерального закона 106-ФЗ', '--section')
        +ui-p1('', 'most-important-txt, --light')
          p 8 марта 2022 года Президент России выпустил видеообращение, в котором рассказал об отсрочках по платежам для россиян, взявших кредиты. Воспользоваться правом на каникулы, как и в 2020-м, смогут представители малого, среднего бизнеса, физлица.
          p Прежде чем обращаться за кредитными каникулами, взвесьте все плюсы и минусы

      when 'cheaters'
        .most-important-txt__head
          +ui-h2('Вниманию клиентов')
          .most-important-txt__subtitle Предупреждение о возможности мошенничества с использованием имени и репутации
            =' '
            span.text-nowrap Азиатско-Тихоокеанского
            |  Банка
        +attention('most-important-txt, --orange-gradient')
          +ui-h3('Внимание! Новый вид мошенничества', 'attention, --xs')
          +ui-p1('', 'attention, --light')
            p Мошенники звонят и&nbsp;представляются сотрудниками Пенсионного фонда, сообщают о&nbsp;перерасчете вашей пенсии и&nbsp;для ее&nbsp;выплаты просят продиктовать код из&nbsp;СМС сообщения, присланного из&nbsp;банка на&nbsp;ваш номер.
            p Таким образом они пытаются вывести деньги с&nbsp;ваших счетов.
              br
              span.ui-p1.ui-p1--bold.text-orange Будьте бдительны, никому не&nbsp;сообщайте присланный код из&nbsp;СМС!
            p По&nbsp;всем вопросам обращайтесь в
              a.text-orange(href='#') &nbsp;ближайшее отделение банка
              |  или по&nbsp;телефону
              =' '
              a.text-orange.text-nowrap(href='tel:88007758888') 8-800-775-88-88
        +ui-p1('', 'most-important-txt, --light')
          p Будьте внимательны: в последнее время участились случаи неправомерного использования наименования и бренда Азиатско-Тихоокеанского Банка (АТБ). Как правило, мошенники предлагают помощь физическим лицам в получении кредитов, услуги по инвестированию средств. Подобные предложения часто распространяются через социальные сети.
          p Пожалуйста, ознакомьтесь с признаками потенциального мошенничества:
          ul.ui-ul
            li Мошенники часто используют наименования несуществующих юридических лиц, до степени смешения похожие на названия крупных брокерских фирм и банков, в том числе АТБ
            li Возможно частичное использование реквизитов АТБ (ИНН, ОГРН, номера лицензий АТБ)
            li Используются адреса общедоступных сервисов электронной почты (@mail.ru, @yandex.ru).
            li Просят совершить «пробный платеж» или заплатить за оформление справок через общедоступные платежные системы или переводом на карту, при этом
              =' '
              b получателем платежа часто указывается физическое лицо.
          p При возникновении каких-либо сомнений в отношении потенциальных сделок с
            =' '
            b Азиатско-Тихоокеанским Банком
            | , просим незамедлительно обращаться по адресу:
            =' '
            a.text-orange(href='mailto:atb@atb.su') atb@atb.su
          p В случае необходимости, по фактам мошенничества вам также следует обращаться в правоохранительные органы.
          p Азиатско-Тихоокеанский Банк настоятельно рекомендует игнорировать сомнительные бизнес-предложения и не совершать сомнительные операции без консультации с
            =' '
            b Азиатско-Тихоокеанским Банком.
    block
