extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')

block variables
  -const fileName = 'ubs'
  -const pageTitle ='Единая биометрическая система'

  -
    const howGetItems =[
      {
        icon: './img/how_get_step1.svg',
        title: 'Зарегистрируйте биометрию',
        descr: 'в любом <a href="#">отделении АТБ </a>',
        p4: 'Возьмите с собой Паспорт РФ и СНИЛС',
      },
      {
        icon: './img/how_get_step2.svg',
        title: 'Проверьте статус',
        descr: 'в личном кабинете на&nbsp;портале Госуслуг',
        p4: 'Статус можно проверить <a href="#">по&nbsp;ссылке</a>',
      },
      {
        icon: './img/how_get_step3.svg',
        title: 'Готово!',
        descr: 'Теперь вы можете оформлять продукты  <a class="text-nowrap" href="#">в Интернет-банке</a>',
      },
    ]

  -
    const benefitsItems =[
      { icon: 'img/icon_benefits1.svg', descr: '<a class="text-orange" href="#">Кредиты</a>' },
      { icon: 'img/icon_benefits2.svg', descr: '<a class="text-orange" href="#">Вклады и счета</a>' },
      { icon: 'img/icon_benefits3.svg', descr: '<a class="text-orange" href="#">Цифровые карты</a>' },
    ]

  -
    const ubsNeedItems =[
      { img: 'img/ubs_need_img_1.png', h4: 'Подтвержденная запись <a class="text-orange" href="https://www.gosuslugi.ru/" target="_blank">на&nbsp;Госуслугах</a>' },
      { img: 'img/ubs_need_img_2.png', h4: 'Зарегистрированные <a class="text-orange" href="https://lk.gosuslugi.ru/settings/biometrics" target="_blank">биометрические данные</a>' },
      { img: 'img/ubs_need_img_3.png', h4: 'Доступ в интернет, камера и микрофон' },
    ]

  -
    const ubsBannerData ={
      title: 'Уже зарегистрировали биометрию?',
      descr: 'Станьте клиентом АТБ не выходя из дома',
      button: 'Стать клиентом',
      img: 'img/ubs_banner_img_become.png',
    }

block content
  main
    +banner
      +banner-item('--ubs')
        +banner-wrapper('img/banner_ubs.jpg')
          +banner-h1('Единая <br>биометрическая <br>система')
          +banner-descr('Зарегистрируйте биометрию <span class="text-nowrap">для онлайн-доступа</span> к&nbsp;продуктам банка', '--size-xs').text-orange
    .page-content
      +section('--mt0')
        .inner
          +section-head
            +ui-h2('Доступ к продуктам банка без посещения офиса', 'section-head')
          +benefits(benefitsItems, '--title-normal')

      +section
        .inner
          +section-head
            +ui-h2('Что вам понадобится', 'section-head')
          +ubs-need(ubsNeedItems)

      +section('--bg-grey')
        .inner
          +how-get('Как зарегистрировать биометрию', howGetItems)

      +section
        .inner
          +section-head
            +ui-h2('Вопросы и ответы', 'section-head')
          +accordion
            +accordion-item('Какие требуются документы для регистрации биометрии в офисе АТБ?')
              +ui-p1('', '--light')
                p Паспорт РФ и СНИЛС
            +accordion-item('Как оформить продукт банка онлайн?')
              +ui-p1('', '--light')
                p После регистрации биометрии на сайте госуслуг авторизуйтесь через ЕСИА
                  =' '
                  a.text-orange на&nbsp;странице биометрической идентификации банка
                  |. После проверки Ваших данных, Вы сможете получать продукты банка.
            +accordion-item('Где зарегистрировать биометрию?')
              +ui-p1('', '--light')
                p В любом отделении АТБ. Сотрудник поможет все оформить. Не забудьте паспорт и СНИЛС.
            +accordion-item('Какие продукты я получу?')
              +ui-p1('', '--light')
                p Вы сможете оформить кредит, получить цифровую карту, открыть вклад или счёт.
            +accordion-item('Насколько это безопасно?')
              +ui-p1('', '--light')
                p Единая биометрическая система соответствует всем государственным требованиям информационной безопасности. В&nbsp;данной системе используется распределенное хранение данных. Ваш биометрический слепок будет храниться в&nbsp;обезличенной форме отдельно от&nbsp;персональных данных – Ф.И.О., паспортные данные, СНИЛС и др., размещенные в&nbsp;базах ЕСИА (портал Госуслуг).
            +accordion-item('Могут ли мошенники воспользоваться моими данными?')
              +ui-p1('', '--light')
                p Единая биометрическая система имеет точность распознавания&nbsp;107. Это значит, что она пропустит только 1&nbsp;человека на 10&nbsp;млн. Также используется дополнительная связка с&nbsp;логином и&nbsp;паролем от&nbsp;Госуслуг – так что украсть или взломать ваши данные становится практически невозможным. Единая биометрическая система работает не&nbsp;с&nbsp;одним алгоритмом, а&nbsp;с&nbsp;множеством, реализуя мультивендорный подход. Взломать хотя бы один подобный алгоритм – очень дорогой и&nbsp;наукоемкий процесс, мошеннику потребуется изучить десятки алгоритмов, которые постоянно меняются.
            +accordion-item('Как себя обезопасить?')
              +ui-p1('', '--light')
                p Ни в коем случае не передавайте свои авторизационные данные от портала Госуслуг третьим лицам.
            +accordion-item('Что, если я изменю прическу или заболею?')
              +ui-p1('', '--light')
                p Если вы измените прическу, наденете очки с&nbsp;диоптриями или&nbsp;отрастите бороду — это никак не&nbsp;повлияет на&nbsp;результат биометрической идентификации. Однако сильная охриплость в&nbsp;голосе или темные очки могут помешать системе успешно вас идентифицировать. Изменения в&nbsp;виде бороды, очков с&nbsp;диоптриями, косметики не&nbsp;влияют на&nbsp;результаты идентификации.
                p При критических травмах, вызвавших значительные изменения внешности, потребуется пересдать биометрические данных. В&nbsp;целом, пересдача биометрических данных предусмотрена с&nbsp;периодичностью один раз в&nbsp;пять&nbsp;лет.

      +section
        .inner
          +ubs-banner(ubsBannerData, '--become')
