mixin mortgage-info(info, mods)
  -
    const baseName = 'mortgage-info'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .mortgage-info(class=allMods)&attributes(attributes)
    .mortgage-info__wrapper
      .mortgage-info__text !{info}
      .mortgage-info__img
        img(src='img/mortgage_info.png' alt='')
