extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')

block variables
  -const fileName = 'sitemap'
  -const pageTitle ='Карта сайта'

block content
  main
    +breadcrumbs()
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item(pageTitle)
    +banner
      +banner-item('--text-old')
        +banner-wrapper('/img/banner_gradient.jpg')
          +banner-h1('Карта сайта')
    .page-content
      .inner
        +section('--mt0')
          +tabs-head([{text: 'Физическим лицам'}])
          +tabs-main
            +tabs-main__item(true)
              .inner
                +sitemap
