extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  script(src=fileName + '.js')

block variables
  -const fileName = 'online'
  -const pageTitle ='АТБ Онлайн'

  -
    let mobBannersData ={
      title: 'Еще больше возможностей в&nbsp;вашем устройстве!',
      descr: 'Воспользуйтесь безопасным Мобильным банком, который позволит реализовать все функции вашего банковского продукта.',
      apps: [
        { icon: 'icon_app_store_white' },
        { icon: 'icon_google_play_white' },
        { icon: 'icon_rustore_white' },
      ],
      qrSrc: '/img/qr-code.png',
      img: '/img/mob-banner.png'
    }

block content
  main
    +banner('--m-vertically')
      +banner-item('--online')
        +banner-wrapper('img/banner_online.png', true)
          +banner-h1('АТБ Онлайн', '--mob-size-l')
          +banner-text('Управление финансами <br> на компьютере / планшете / смартфоне')
          +banner-foot
            +ui-button('Войти', 'banner, --m-size-l')(href='#')
    .page-content
      +section('--mt0')
        .inner
          +online-about
      +section
        .inner
          +online-tabs
      +section
        .inner
          +mob-banner(mobBannersData)
      +section
        .inner
          +section-head
            +ui-h2('Документы для скачивания', 'section-head').text-center
          +accordion-item('Документы')
            +documents
    +seo('Преимущества онлайн-банка АТБ')
      p Онлайн-Банк АТБ - удобный и безопасный способ удаленного доступа к банковским операциям. Если вы хотите иметь возможность работать с деньги 24/7, то интернет банкинг – это то, что вам нужно.
      p Подключить услугу удаленного банковского обслуживания можно в любом отделении АТБ. Необходимо предоставить сотруднику финансового учреждения свой паспорт, и он выдаст вам данные для входа в ваш аккаунт. Если же вы являетесь новым пользователем, то онлайн-банк может быть подключен прямо при оформлении карты или открытии счета. Обратите внимание – информацию, полученную из секретного SMS сообщать посторонним нельзя!
      p Приложение «АТБ-Онлайн» бесплатно и может быть установлено как на смартфон, так и на ПК. Клиентам предоставляются следующие возможности:
      ul
        li прием и отправка денежных переводов;
        li оплата штрафов, кредитов, коммунальных платежей и т.д.;
        li открытие вкладов;
        li использование собственных шаблонов для часто совершаемых операций;
        li составление графиков расходов;
        li оформление рассылки чеков на e-mail.
      p Онлайн-Банк АТБ имеет простой и понятный интерфейс. Информирование обновляется в автоматическом режиме.
      p Подключение услуги мобильного банкинга доступно всем клиентам АТБ. «АТБ-Онлайн» – это всегда быстро, удобно и невероятно выгодно!
