extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  script(src=fileName + '.js')

block variables
  -const fileName = 'cumulative-insurance'
  -const pageTitle ='Накопительное страхование жизни'

  -
    const howGetItems =[
      { icon: './img/cash.svg', title: 'Определяете размер взноса (от 25&nbsp;000&nbsp;руб.) и срок программы (от&nbsp;5 до&nbsp;40&nbsp;лет)' },
      { icon: './img/calendar.svg', title: 'Вносите средства раз в квартал, полгода, год или единовременно' },
      { icon: './img/money.svg', title: 'В результате у вас есть накопленная сумма плюс инвестиционный доход' },
    ]

  -
    const list_2 =[
      { text: 'Банк является Агентом на основании Агентского договора. Услуга предоставляется Страховой компанией.' },
      { text: 'Договор может носить долгосрочный характер. Срок страхования устанавливается по соглашению Страховой компании и Страхователя и указывается в договоре.' },
      { text: 'Договором, заключённым страхователем – физическим лицом, предусмотрен период, длительностью 14 (Четырнадцать) календарных дней со дня его заключения, во время которого страхователь - физическое лицо может отказаться от договора с возвратом уплаченной страховой премии в полном объеме, при отсутствии в данном периоде событий, имеющих признаки страхового случая («период охлаждения»). Отказ страхователя от договора должен быть осуществлен путем направления Страховой компании письменного заявления с указанием в нём банковских реквизитов для перечисления страховой премии и приложением копии паспорта страхователя – физического лица и оригинала или копии договора. При этом договор будет считаться прекратившим своё действие с даты его заключения.' },
      { text: 'В случае досрочного прекращения договора по обстоятельствам, не связанным с наступлением страхового случая или отказом страхователя от договора в течение «периода охлаждения», страхователю выплачивается выкупная сумма в размере и на условиях, предусмотренных договором. Размер выкупной суммы может быть меньше размера страховой премии (страховых взносов), уплаченной страхователем по договору.' },
      { text: 'Периодичность уплаты страховой премии (страховых взносов), срок, в который страховая премия (страховые взносы) должна быть уплачена страховой компании, а также последствия неуплаты/неполной уплаты страховой премии (страховых взносов) указаны в договоре.' },
      { text: 'Договор не является банковским вкладом и не входит в систему страхования вкладов в соответствии с Федеральным законом от 23.12.2003 № 177-ФЗ «О страховании вкладов физических лиц в банках Российской Федерации».' },
      { text: 'Договор предусматривает участие в доходе страховой компании от инвестиционной деятельности. Величина начисленного инвестиционного дохода не гарантируется страховой компанией, зависит от ситуации на финансовых рынках и определяется ежегодно в зависимости от результатов инвестиционной деятельности. Условия страхования, связанные с начислением инвестиционного дохода по договору, изложены договоре, а также в программе страхования, на условиях которой заключается договор.' },
      { text: 'При оформлении продуктов страхования Банк выступает Агентом. Взаимоотношения Банка и Страховой компании регулируются Агентскими договорами.' },
      { text: 'Банк, как страховой агент раскрывает страхователям, застрахованным лицам, выгодоприобретателям и лицам, намеревающимся заключить договор страхования по их требованиям информацию в соответствии с требованиями законодательства, в том числе, перечень оказываемых услуг и их стоимость.' },
      { text: 'Размер агентского вознаграждения по агентским договорам со страховыми компаниями % от страховой премии, в т.ч. НДС 20% от 9%*' },
    ]

block content
  main
    +banner
      +banner-item('--cumulative-insurance')
        +banner-wrapper('img/banner_cumulative_insurance.jpg')
          +banner-h1('Накопительное страхование жизни')
          +banner-descr('Для финансовой состоятельности и&nbsp;благополучия близких', '--fw400').text-orange.banner-item-dn
          .banner-item-foot
            .banner-item-foot-item
              +ui-button('Список офисов для оформления', 'banner, --ph-s')(href='#')
        +banner-mobile.text-orange
          p Для финансовой состоятельности и&nbsp;благополучия близких
    .page-content
      +section('--mt0')
        .inner
          +section-head('--max-w900, --center').text-center
            +ui-h4('НСЖ — это надежный финансовый инструмент, который дает надежную страховую защиту на случай неблагоприятных событий со здоровьем и жизнью и поможет сформировать накопления к определенному сроку.', '--light')
      +section('--bg-grey')
        .inner
          +section-head.text-center
            +ui-h2('Преимущества накопительного страхования')
          +cumulative-insurance-features
      +section
        .inner
          +how-get('Кaк это работает', howGetItems)
      +section
        .inner
          +section-head.text-center
            +ui-h2('Партнеры и программы')
          +accordion()
            +accordion-item('Копилка')
              +ui-p1('Партнер – ООО СК «Ренессанс Жизнь»')
              +section-box
                +documents

      +section
        .inner
          +attention
            +ui-ul(list_2)
          +section-footnote
            p *С 08.08.2019 оформление договоров страхования накопительного и инвестиционного страхования жизни компании ООО «Капитал Лайф Страхование Жизни» в офисах банка не осуществляется.
            p Информация о деятельности страховой организации, раскрываемая
              =' '
              a.text-orange(href='#' target='_blank') страховым агентом
      +section
        .inner
          +section-head.text-center
            +ui-h2('Документы для скачивания')
          +accordion()
            +accordion-item('Документы')
              +documents

      +section
        .inner
          +section-head.text-center
            +ui-h2('Также Вас может заинтересовать:')
          +may-interest
