extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  script(src=fileName + '.js')

block variables
  -
    const fileName = 'useful-articles'
    const pageTitle ='Кредитный лимит'

block content
  main
    +banner
      +banner-item('--useful-articles')
        +banner-wrapper('img/banner_useful-articles-inner.jpg')
          +banner-h1('Кредитный <br> лимит')
          +banner-descr('от чего зависит <br> и как увеличить', '--fw400').text-orange
    .page-content
      +section('--mt0')
        .inner
          +useful-articles-inner
      +section
        .inner
          +section-head
            +ui-h2('Другие статьи', 'section-head')
          +useful-articles('articlesOthers')
