@import '../../styles/utils/variables';
@import '../../styles/utils/media';
@import '../../layouts/layout';
@import '../../blocks/header/header-amp';
@import '../../blocks/footer/footer';
@import '../..//blocks/_ui/ui-button/ui-button';
@import '../..//blocks/_ui/ui-h/ui-h';
@import '../..//blocks/_ui/ui-ol/ui-ol';
@import '../..//blocks/_ui/ui-ul/ui-ul';
@import '../../blocks/banner/banner-amp';
@import '../../blocks/section/section';
@import '../../blocks/svg-icon/svg-icon';
@import '../../blocks/useful-articles/useful-articles';
@import '../../blocks/useful-articles/useful-articles-inner/useful-articles-inner';

.useful-articles-inner__content {
  .ui-list {
    list-style-type: none;
    line-height: 1.4;
    @include media-tablet {
      font-size: 16px;
    }
    li {
      position: relative;
      padding-left: 20px;
      &:not(:last-child) {
        margin-bottom: 15px;
        @include media-tablet {
          margin-bottom: 10px;
        }
      }
      &::before {
        content: '';
        position: absolute;
        counter-increment: none;
        top: calc((1.4em - 8px) / 2);
        left: 0;
        width: 6px;
        height: 6px;
        background: $orange;
        border-radius: 50%;
      }
    }
  }
}
