.seo {
  padding: 20px 0;
  border-top: 1px solid $grey40;
  &__title {
    position: relative;
    display: inline-block;
    padding-right: 20px;
    font: 400 16px/1.1 $font;
    cursor: pointer;
    &::after {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-85%) rotate(-45deg);
      width: 7px;
      height: 7px;
      border: 1px solid;
      border-top-width: 0;
      border-right-width: 0;
      transition: transform 0.3s;
      content: '';
    }
    &--active {
      &::after {
        transform: translateY(-50%) rotate(135deg);
      }
    }
  }
  &__inner {
    display: none;
    padding: 30px 0 10px;
    font: 14px/1.4 $font;
    color: $grey80;
    ol {
      padding-left: 25px;
    }
    ul {
      padding-left: 10px;
      li {
        position: relative;
        padding-left: 15px;
        &::before {
          content: '';
          position: absolute;
          counter-increment: none;
          top: calc((1.4em - 5px) / 2);
          left: 0;
          width: 4px;
          height: 4px;
          background: $grey80;
          border-radius: 50%;
        }
      }
    }
    table {
      border-collapse: collapse;
      td {
        padding: 2px;
      }
    }
    p,
    ul,
    ol {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
  &-accordion {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    &-item {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
      &__title {
        font: inherit;
        color: $green;
        cursor: pointer;
      }
      &__inner {
        display: none;
        padding-top: 10px;
      }
    }
  }
  &-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px 40px;
    justify-items: start;
    background: $grey20;
    border-radius: 8px;
    @include media-laptop {
      grid-template-columns: repeat(2, 1fr);
    }
    @include media-tablet {
      padding: 20px;
      grid-template-columns: 1fr;
      gap: 10px;
    }
    a {
      font: 700 18px/1.3 $font;
      @include media-tablet {
        font-size: 14px;
      }
    }
  }
  &__seo-menu {
    padding: 0;
    background: none;
    border-radius: 0;
    gap: 10px 20px;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    a {
      font: 400 14px/1.3 $font;
      color: $green;
    }
  }
  a {
    color: $green;
  }
  .new_block_simple {
    padding: 20px 0;
    .title {
      position: relative;
      display: inline-block;
      padding-right: 20px;
      font: 400 16px/1.1 $font;
      cursor: pointer;
      &::after {
        position: absolute;
        top: 45%;
        right: 0;
        transform: translateY(-50%);
        width: 11px;
        height: 6px;
        background: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6 6L11 1' stroke='%236E6E6E'/%3E%3C/svg%3E%0A") no-repeat;
        background-size: contain;
        transition: transform 0.3s;
        content: '';
      }
      &.active {
        &::after {
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }
    .in_simple {
      display: none;
      padding: 30px 0 10px;
      font: 400 14px/1.4 $font;
      color: $grey80;
      .item {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
        h2 {
          display: inline-block;
          font: 400 14px/1.4 $font;
          color: $blue;
          cursor: pointer;
          + .item_in {
            display: none;
            padding-top: 10px;
          }
        }
        p {
          margin-bottom: 10px;
          &:last-child {
            margin-bottom: 0;
          }
        }
        a {
          display: inline;
          color: $blue;
        }
        ul {
          padding-left: 10px;
          &:not(:last-child) {
            margin-bottom: 10px;
          }
          li {
            position: relative;
            padding-left: 15px;
            &::before {
              content: '';
              position: absolute;
              counter-increment: none;
              top: calc((1.4em - 5px) / 2);
              left: 0;
              width: 4px;
              height: 4px;
              background: $grey80;
              border-radius: 50%;
            }
          }
        }
        table {
          border-collapse: collapse;
          td {
            padding: 2px;
          }
        }
      }
    }
    .seo_menu {
      margin-top: 10px;
      a {
        color: $blue;
      }
    }
    .simple_menu {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 15px 0;
      background: 0 0;
      border: none;
      border-radius: 0;
      @include media-laptop {
        padding: 5px 0 10px;
      }
      a {
        display: block;
        width: 385px;
        margin-top: 10px;
        font: 14px/1.4 $font;
        color: $blue;
      }
    }
    .left_column,
    .middle_column,
    .right_column {
      display: inline-block;
      width: 33%;
      vertical-align: top;
      @include media-laptop {
        display: block;
        width: 100%;
      }
    }
  }
}
