extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  script(src=fileName + '.js')

block variables
  -const fileName = 'savings-accounts'
  -const pageTitle ='Суперкопилка'

  -
    const termsTable =[
      { name: 'Валюта', descr: 'рубли Российской Федерации' },
      { name: 'Срок размещения', descr: 'Не ограничен' },
      { name: 'Минимальный первоначальный взнос', descr: 'Не ограничен' },
      { name: 'Пополнение счета', descr: 'Без ограничений' },
      { name: 'Расходные операции по счету', descr: 'Без ограничений' },
      { name: 'Сумма неснижаемого остатка', descr: 'Без ограничений' },
      { name: 'Максимальная сумма счета', descr: 'Без ограничений' },
      { name: 'Периодичность выплаты процентов', descr: 'Ежемесячно, исходя из процентной ставки, установленной по счету и суммы Минимального остатка денежных средств¹, находящихся на счете в течение Периода²' },
      { name: 'Способ выплаты процентов', descr: 'проценты по Счету причисляются к остатку денежных средств на счете ежемесячно' },
      { name: 'Открытие и управлением счетом',
        descr:  `В отделениях Банка и через дистанционные  каналы банковского обслуживания
                <a href="https://my.atb.su/signin" target="_blank" class="text-orange">
                <span class="text-nowrap">Интернет-банк</span> <span class="text-nowrap">«АТБ-Онлайн»</span></a>/ Мобильный банк «АТБ-Мобайл»`},
    ]

  -
    const tableItems ={
      tbody: [
        {
          title: true,
          td: [
            { text: 'Минимальный остаток по счету¹' },
            { text: 'Процентная ставка, %&nbsp;годовых' },
          ]
        },
        {
          td: [
            { text: 'До 1&nbsp;500&nbsp;000 рублей включительно' },
            { text: '21%' },
          ]
        },
        {
          td: [
            { text: 'Свыше 1&nbsp;500&nbsp;000 рублей до 5&nbsp;000&nbsp;000 включительно' },
            { text: '21%' },
          ]
        },
        {
          td: [
            { text: 'Свыше 5&nbsp;000&nbsp;000 рублей' },
            { text: '21%' },
          ]
        },
      ]
    }

  -
    const featuresItems =[
      { icon: 'img/feature_percent.svg', title: 'Ставка 21% годовых в рублях' },
      { icon: 'img/feature_phone.svg', title: 'Открытие и управление счетом в Отделении и&nbsp;Онлайн' },
      { icon: 'img/feature_star.svg', title: 'Используй как счет-копилку и накопи на любые цели' },
      { icon: 'img/feature_coins.svg', title: 'Открыть счет можно с любой суммой' },
      { icon: 'img/feature_time.svg', title: 'Срок действия счета не ограничен' },
    ]

block content
  main
    +breadcrumbs()
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item('Приумножить деньги', '#')
      +breadcrumbs-item('Вклады')
    +banner('--m-vertically')
      +banner-item('--savings-accounts')
        +banner-wrapper('img/banner_savings_accounts.png', true)
          +banner-h1('Накопительный счет <br class="banner__br-no-mob">«АТБ. Счёт»', '--mob-size-l')
          +banner-descr('Ставка ', '--fw400, --mob-mb-l, --mob-size-l').text-orange
            span.banner-descr__num  7,0%
            |  годовых
          .banner-item-foot.banner-item-foot--laptop-flex1
            .banner-item-foot-item
              +ui-button('оставить заявку', 'banner')(href='#')
            .banner-item-foot-item
              +banner-descr('Свободно снимайте <br>или&nbsp;копите без&nbsp;ограничений', '--size-xxs')

    .page-content
      +section('--mt0')
        .inner
          +features(featuresItems, '--5items')
      +section
        .inner
          +switch('', 'Условия', 'Тарифы и документы', 'switch-info', '--mb40, --mob-vertical')
          +switch-group('switch-info')
            +switch-content(true)
              +section('--mt0')
                +terms(termsTable)
                +section-footnote()
                  p
                    sup 1
                    | Минимальный остаток по Счету – рассчитывается исходя из ежедневных остатков денежных средств на Счете Клиента в течение Периода2. Проценты за весь Период начисляются на сумму минимального остатка денежных средств на Счете, который образуется на начало любого из дней в течение Периода, за который осуществляется выплата процентов Банком Клиенту, при этом выплата процентов за Период производится на Счет в последний день Периода.
                    br
                    sup 2
                    | Период – временной период, за который Клиенту Банком на Минимальный остаток средств на Счете начисляются проценты. Первый Период исчисляется со дня, следующего за днем внесения денежных средств на Счет до календарного дня в следующем месяце, соответствующего дню открытия Счета включительно. Последующие Периоды исчисляются ежемесячно со дня, следующего после дня окончания предыдущего Периода до календарного дня в следующем месяце, соответствующего дню открытия Счета включительно.
              +section
                +ui-table(tableItems)
                +section-footnote()
                  p
                    sup 1
                    | Условия применяются для счетов, открытых
                    span.text-nowrap  с 25.03.2022 г.
                  p Размеры процентных ставок определяются Тарифами Банка. В случае внесения изменений в Тарифы Банка Банк информирует Клиента путем размещения информации об изменениях на Официальном сайте Банка и (или) в подразделениях Банка, и (или) через каналы дистанционного банковского обслуживания Интернет-банк «АТБ-Онлайн»/ Мобильный банк «АТБ-Мобайл» не менее чем за 3 рабочих дня до даты вступления изменений в силу.
            +switch-content()
              +documents
              +accordion
                +accordion-item('Архив')
                  +accordion('--inner')
                    +accordion-item('Архив тарифов')
                      +documents
                    +accordion-item('Архив УДБО')
                      +documents

      +section
        .inner
          +section-head.text-center
            +ui-h2('Вопросы и ответы', 'section-head')
          +accordion
            +accordion-item('Застрахованы ли вклады и накопительные счета в Банке?')
              +ui-p1('', '--light')
                p Да, застрахованы на основании ФЗ от 23 декабря 2003 года № 177-ФЗ «О страховании вкладов в банках Российской Федерации», более подробная информация о страховании вкладов доступна на сайте
                  =' '
                  a.text-orange(href='https://www.asv.org.ru/' target='_blank') asv.org.ru
            +accordion-item('Возможно управлять вкладом или накопительным счетом без посещения офиса Банка?')
              +ui-p1('', '--light')
                p Да, открывать и&nbsp;управлять вкладами и&nbsp;накопительными счетами можно удалённо&nbsp;&mdash; через интернет-банк и&nbsp;мобильное приложение АТБ.
            +accordion-item('Может ли банк менять ставку по вкладу и накопительному счету в одностороннем порядке?')
              +ui-p1('', '--light')
                p В&nbsp;течение срока действия договора банк не&nbsp;может менять процентную ставку по&nbsp;вкладу. Переоформление вклада на&nbsp;новый срок (пролонгация) осуществляется по&nbsp;ставке в&nbsp;соответствии с&nbsp;условиями договора вклада. По накопительному счету банк может менять процентную ставку в&nbsp;соответствии с&nbsp;условиями договора.
            +accordion-item('Как оплатить налог с процентов по вкладу?')
              +ui-p1('', '--light')
                p Государственная дума Российской Федерации отменила НДФЛ с&nbsp;полученных в&nbsp;2021&ndash;2022 годах процентов по&nbsp;вкладам. Закон освобождает граждан от&nbsp;уплаты НДФЛ с&nbsp;процентных доходов по&nbsp;вкладам в&nbsp;банках за&nbsp;2021&ndash;2022&nbsp;годы, которые подлежали&nbsp;бы уплате в&nbsp;2022&ndash;2023&nbsp;годах. При этом вносятся изменения в&nbsp;правила налогообложения процентных доходов по&nbsp;вкладам, которые распространятся на&nbsp;будущие налоговые периоды после 2022&nbsp;года. Необлагаемый доход будет определяться как произведение 1&nbsp;млн рублей и&nbsp;максимального значения ключевой ставки Банка России в&nbsp;данном году. Таким образом, если ключевая ставка&nbsp;ЦБ в&nbsp;течение года повышалась, а&nbsp;вслед за&nbsp;ней росли и&nbsp;ставки по&nbsp;вкладам, то&nbsp;увеличится и&nbsp;необлагаемый доход.

      +section
        .inner
          +section-head
            +ui-h2('Оформите заявку на консультацию', 'section-head').text-center
