extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  script(src=fileName + '.js')

block variables
  -
    const fileName = 'mortgage-refinancing'
    const pageTitle = 'Рефинансирование ипотеки'

    const termsBannerData = {
      h3: 'Кредит на&nbsp;полное досрочное погашение действующей ипотеки и&nbsp;дополнительные деньги:',
      list: [
        { text: 'на&nbsp;потребительские', nowrap: 'цели', tooltip: 'не&nbsp;связанные с&nbsp;предпринимательской деятельностью' },
        { text: 'на&nbsp;улучшение жилищных условий' },
        { text: 'на&nbsp;погашение потребительских кредитов' },
      ],
      fn: 'Кредитные средства не&nbsp;могут использоваться для&nbsp;погашения задолженности по&nbsp;Тарифному плану &laquo;Микро-лайт&raquo;.',
      img: 'img/terms-banner.png'
    }

    const tabsHead = [
      { text: 'Условия'},
      { text: 'Требования к заемщикам '},
      { text: 'Документы'}
    ]

    const termsTable_1 =[
      { name: 'Ставка', descr: 'от&nbsp;11&nbsp;% годовых' },
      { name: 'Срок кредита', descr: 'от&nbsp;3&nbsp;до&nbsp;30&nbsp;лет' },
      { name: 'Сумма кредита', descr: `
        <p>от&nbsp;500&nbsp;тыс.&nbsp;до&nbsp;30&nbsp;млн рублей для&nbsp;г. Москвы и&nbsp;Московской области</p>
        <p>от&nbsp;500&nbsp;тыс.&nbsp;до&nbsp;15&nbsp;млн рублей для&nbsp;иных субъектов Российской Федерации</p>
      ` },
      { name: 'Цель кредита', descr: `
        <ul class="ui-ul ui-ul--li-mb10">
          <li>Приобретение квартиры/апартаментов в&nbsp;многоквартирном доме (далее&nbsp;&mdash; Объект недвижимости).</li>
          <li>Приобретение квартиры/апартаментов, капитальный ремонт и&nbsp;иные неотделимые улучшения Объекта недвижимости.</li>
          <li>Приобретение квартиры/апартаментов (Имущественных прав) в&nbsp;многоквартирном доме на&nbsp;этапе строительства в&nbsp;соответствии с&nbsp;Федеральным законом от&nbsp;30.12.2004 года &#8470;&nbsp;214-ФЗ &laquo;Об&nbsp;участии в&nbsp;долевом строительстве многоквартирных домов и&nbsp;иных объектов недвижимости и&nbsp;о&nbsp;внесении изменений в&nbsp;некоторые законодательные акты Российской Федерации&raquo;.</li>
          <li>Рефинансирование ипотечного кредита или&nbsp;рефинансирование ипотечного кредита и&nbsp;капитальный ремонт или&nbsp;иные неотъемлемые улучшения квартиры/апартаментов.</li>
        </ul>
        <p>Количество рефинансирований не&nbsp;ограничено.</p>
        <p>Первый из&nbsp;ранее рефинансированных ипотечных кредитов должен быть изначально предоставлен на&nbsp;цели, указанные в&nbsp;пунктах 1&ndash;3 Требований к&nbsp;изначальной цели Рефинансируемого ипотечного кредита.</p>
        <p>Промежуточные кредиты должны быть предоставлены на&nbsp;цели рефинансирования (рефинансирования и&nbsp;капитального ремонта или иных неотделимых улучшений Объекта недвижимости, указанного в&nbsp;п.&nbsp;4).</p>
        <p>Рефинансируемый ипотечный кредит должен быть предоставлен Банком, иным банком/некредитной организацией.</p>
      ` },
      { name: 'Страхование ', descr: `
        <ul class="ui-ul ui-ul--li-mb10">
          <li>В&nbsp;обязательном порядке страхуются риски, связанные с&nbsp;утратой или повреждением недвижимости. </li>
          <li>Также рекомендуется оформить страхование от&nbsp;утраты права собственности на&nbsp;недвижимость (осуществляется в&nbsp;течение 3&nbsp;лет с&nbsp;момента оформления права собственности на&nbsp;Объект недвижимости) и&nbsp;личное страхование.</li>
        </ul>
        <p>Предусмотрена надбавка в&nbsp;размере 1,5% в&nbsp;случае отказа Заемщика при&nbsp;заключении кредитного договора от&nbsp;дополнительных видов страхования, а&nbsp;также отсутствие продления договора страхования в&nbsp;течение срока действия кредитного договора, а&nbsp;также отсутствие продления/заключения нового договора страхования в&nbsp;течение 2-х календарных месяцев, со&nbsp;дня истечения срока действия полиса страхования:</p>
        <ul class="ui-ul ui-ul--li-mb10">
          <li><b class="text-black">Личное страхование</b> (страхование рисков, связанных с&nbsp;причинением вреда жизни и&nbsp;здоровью в&nbsp;результате несчастного случая или&nbsp;болезни)</li>
          <li><b class="text-black">Титульное страхование</b> права собственности на&nbsp;Объект недвижимости (в&nbsp;течение 3&nbsp;лет с&nbsp;момента оформления права собственности на&nbsp;Объект недвижимости).</li>
        </ul>
        <p><b class="text-black">Предусмотрена надбавка в&nbsp;размере 1,0%</b> в&nbsp;случае отсутствия продления договора <b class="text-black">имущественного страхования</b> в&nbsp;течение срока действия кредитного договора, а&nbsp;также отсутствия продления/заключения нового договора имущественного страхования в&nbsp;течение 2-х календарных месяцев, со&nbsp;дня истечения срока действия полиса страхования (на&nbsp;дату сделки условия имущественного страхования является обязательным, иначе сделка не&nbsp;допустима)</p>
      ` },
      { name: 'Обеспечение по&nbsp;кредиту', descr: 'Залог объекта недвижимости, на&nbsp;приобретение которого был предоставлен рефинансируемый кредит или&nbsp;первый из&nbsp;ранее рефинансируемых ипотечных кредитов.' },
    ]

    const termsTable_2 =[
      { name: 'Гражданство', descr: 'РФ' },
      { name: 'Регистрация', descr: 'не обязательно' },
      { name: 'Возраст ', descr: `
        <p>от&nbsp;21&nbsp;года до&nbsp;75&nbsp;лет (включительно) <br> на&nbsp;момент полного погашения ипотечного кредита с&nbsp;учетом того, что на&nbsp;момент оформления заявки максимальный возраст составляет не&nbsp;более 65&nbsp;лет, а&nbsp;также &nbsp;наличии Созаемщика, возраст которого на&nbsp;момент окончания Кредита составляет не&nbsp;более 65&nbsp;лет.</p>
        <p>Допустимо привлечение Созаемщика в&nbsp;возрасте от&nbsp;18&nbsp;лет, если данный Созаемщик является Залогодателем либо супругом(-ой) Заемщика без&nbsp;подтверждённого дохода.</p>
      ` },
      { name: 'Трудоустройство', descr: `
        <ul class="ui-ul ui-ul--li-mb10">
          <li>наемные работники</li>
          <li>индивидуальные предприниматели</li>
          <li>физические лица, занимающиеся частной практикой</li>
          <li>физическое лицо&nbsp;&mdash; единоличный учредитель и&nbsp;исполнительный орган организации, </li>
          <li>ее&nbsp;единственный участник, собственник ее&nbsp;имущества</li>
          <li>самозанятые граждане</li>
          <li>пенсионеры &mdash; лица, вышедшие в&nbsp;отставку либо на&nbsp;пенсию.</li>
        </ul>
      ` },
      { name: 'Требования к&nbsp;доходу', descr: `Заемщик имеет подтвержденный доход, соответствует требованиям Кредитора к&nbsp;кредитоспособности и&nbsp;платежеспособности.` },
      { name: 'Требования к&nbsp;трудовому стажу ', descr: `
        <p><b class="text-black">К&nbsp;работникам по&nbsp;найму</b> <br> Не&nbsp;менее 3-х полных календарных месяцев на&nbsp;последнем месте работы, при&nbsp;условии, что испытательный срок пройден или отсутствует. Общий трудовой стаж Заемщика должен быть не&nbsp;менее&nbsp;12 (двенадцати) месяцев на&nbsp;дату подачи Заявления/Согласий и&nbsp;заверений Заемщика в&nbsp;Банк (прохождение военной службы, получение пособия по&nbsp;временной нетрудоспособности, уход за&nbsp;ребенком до&nbsp;1,5&nbsp;лет, получение пособия по&nbsp;безработице, время переезда для&nbsp;дальнейшего трудоустройства не&nbsp;учитываются в&nbsp;общем трудовом стаже)</p>
        <p><b class="text-black">К&nbsp;индивидуальным предпринимателям</b> <br> Безубыточная предпринимательская деятельность не&nbsp;менее 12-ти календарных месяцев для&nbsp;сезонного вида деятельности и&nbsp;не&nbsp;менее 3-х месяцев по&nbsp;видам деятельности, которые не&nbsp;признаются &laquo;сезонными&raquo;.</p>
        <p><b class="text-black">К&nbsp;самозанятым</b> <br> Общий трудовой стаж должен быть не&nbsp;менее&nbsp;12 (двенадцати) месяцев на&nbsp;дату подачи Заявления/Согласий и&nbsp;заверений Заемщика в&nbsp;Банк и&nbsp;не&nbsp;менее&nbsp;6 (Шести) полных календарных месяцев, считая с&nbsp;даты постановки на&nbsp;учет в&nbsp;качестве самозанятого.</p>
      ` },
      { name: 'Состав Заемщиков:', descr: `
        <p>Число Заемщиков по&nbsp;одному ипотечному кредиту&nbsp;&mdash; не&nbsp;более 4&nbsp;человек.</p>
        <p>Состав заемщиков может отличаться от&nbsp;состава заемщиков по&nbsp;рефинансируемому кредиту. </p>
        <p>Супруг(-а) Заемщика/ Созаемщика, не&nbsp;являющийся(-аяся) сособственником Объекта недвижимости, передаваемого в&nbsp;залог, а&nbsp;также иные лица (по&nbsp;требованию Банка), без&nbsp;перехода к&nbsp;ним прав по&nbsp;обеспечительным сделкам при&nbsp;частичном исполнении основного обязательства за&nbsp;Заемщика.</p>
      ` },
      { name: 'Требования к&nbsp;Кредитной истории ', descr: `
        <ul class="ui-ul ui-ul--li-mb10">
          <li>Заемщик погасил не&nbsp;менее&nbsp;6 (шести) ежемесячных платежей по&nbsp;Рефинансируемого ипотечному кредиту с&nbsp;даты оформления.</li>
          <li>Отсутствуют факты просроченной задолженности:
            <ul class="ui-ul ui-ul--li-mb10 ui-ul--child ui-ul--dash-curr-color">
              <li>более чем три просроченных платежа в&nbsp;течение 6&nbsp;последних месяцев от&nbsp;5&nbsp;до&nbsp;30&nbsp;календарных дней каждый, но&nbsp;совокупно не&nbsp;более 30&nbsp;календарных дней просрочки;</li>
              <li>более чем на&nbsp;30 (тридцать) календарных дней за&nbsp;3&nbsp;последних года обслуживания рефинансируемого кредита.</li>
            </ul>
          </li>
        </ul>
      ` },
    ]

block content
  main
    +banner('--m-vertically')
      +banner-item('--mortgage-refinancing')
        +banner-wrapper('img/banner_mortgage-refinancing.png', true)
          +banner-h1('Рефинансирование ипотеки', '--mob-size-l')
          +banner-subtitle('Ставка от  ')
            span.banner-subtitle__accent 11%
            |  годовых
          +banner-foot
            +ui-button('оставить заявку', 'banner, --m-size-l')(href='#section-form')
            +banner-slogan('Сокращайте срок и/или сумму платежа', '--size-xxs')

    .page-content
      +section('--mt0')
        .inner
          +terms-banner(termsBannerData)

      +section
        .inner
          +section-head
            +ui-h2('Рассчитайте кредит')
          +calc-mortgage('refinancing')

      +section
        .inner
          +info-partners

      +section
        +tabs-head(tabsHead, false, '--inner-line, --no-item-border')
        +tabs-main
          +tabs-main__item(true)
            +section('--mt0')
              .inner
                +terms(termsTable_1, '--mob-block, --text-mb10')
            +section
              .inner
                +mortgage-claims
          +tabs-main__item
            +section('--mt0')
              .inner
                +terms(termsTable_2, '--mob-block, --text-mb10')
                +section-footnote('Окончательное решение о&nbsp;соответствии Заемщика требованиям Кредитора принимается в&nbsp;отношении каждого Заемщика индивидуально на&nbsp;основании анализа представленных документов.', '--max-w870, --fw-normal, --grey60')
          +tabs-main__item
            +section('--mt0')
              .inner
                +documents

      +section
        .inner.text-center
          +ui-button('оставить заявку')(href='#')
