extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')

block variables
  -
    const fileName = 'mortgage-partners'
    const pageTitle = 'Ипотека: информация для партнеров'
    const featuresItems =[
      { icon: 'img/features-1.svg', title: 'Предоставление скидки клиентам партнеров по&nbsp;ставке до&nbsp;0,4%' },
      { icon: 'img/features-2.svg', title: 'Приоритетное рассмотрение заявок и&nbsp;оперативная обратная связь' },
      { icon: 'img/features-3.svg', title: 'Куратор от&nbsp;центра ипотечного кредитования' },
    ]

block content
  main
    +banner('--m-vertically')
      +banner-item('--mortgage-partners')
        +banner-wrapper('img/banner_mortgage-partners.png', true)
          +banner-h1('Ипотека', '--mob-size-l')
          +banner-text('Информация для&nbsp;партнеров')
          +banner-foot
            +ui-button('Стать партнером', 'banner, --m-size-l')(href='#section-form')

    .page-content
      +section('--mt0')
        .inner
          +section-head.text-center.text-center--mob-left
            +ui-h2('Преимущества взаимодействия')
          +features(featuresItems, '--3items')

      +section('--bg-grey')#section-form
        .inner
          +section-head.text-center.text-center--mob-left
            +ui-h2('Стать партнером банка')

      +section
        .inner
          +section-head
            +ui-h2('Документы')
          +accordion
            +accordion-item('Документы')
              +documents
