extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  script(src=fileName + '.js')

block variables
  -
    const fileName = 'sbp'
    const pageTitle ='Система быстрых платежей'

    const featuresItems =[
      { icon: 'img/ic_null.svg', title: 'Бесплатно <br>до 100&nbsp;000 ₽/мес ' },
      { icon: 'img/ic_calendar.svg', title: 'Переводы 365 дней в&nbsp;году в&nbsp;режиме 24/7' },
      { icon: 'img/ic_watch.svg', title: 'Мгновенное зачисление перевода на&nbsp;счет' },
      { icon: 'img/ic_phone.svg', title: 'Нужно знать только номер телефона и&nbsp;банк получателя' },
    ]

    const list_1 =[
      { text: 'В Мобильном банке «АТБ- Мобайл New» укажите счет для&nbsp;зачисления переводов СБП и&nbsp;АТБ как&nbsp;банк получателя по&nbsp;умолчанию' },
      { text: 'В приложении банка-отправителя выберите перевод по&nbsp;номеру телефона, при&nbsp;отправке перевода укажите свой номер телефона и&nbsp;выберите <span class="text-nowrap">Азиатско-Тихоокеанский</span> Банк (АО) для&nbsp;зачисления средств на&nbsp;счет' },
      { text: 'О зачислении денежных средств на&nbsp;счет в&nbsp;АТБ вам придет сообщение на&nbsp;телефон' },
    ]

    const sbpInstruction =[
      {
        title: 'Как подключиться к&nbsp;СБП',
        img: [
          { src: 'sl1_1' },
          { src: 'sl1_2' },
          { src: 'sl1_3' },
          { src: 'sl1_4' },
        ],
        steps: [
          { title: 'В приложении <span class="text-nowrap">«АТБ-Мобайл</span> New» зайдите в&nbsp;раздел «Настройки» и&nbsp;выберите «Система быстрых платежей».' },
          { title: 'Подтвердите согласие на&nbsp;отправку и&nbsp;получение перевода&nbsp;СБП.', descr: 'Для&nbsp;этого выберите счет для&nbsp;зачисления переводов и&nbsp;установите <span class="text-nowrap">Азиатско-Тихоокеанский</span> Банк (АО), как&nbsp;банк по&nbsp;умолчанию для&nbsp;получения переводов по&nbsp;Системе быстрых платежей.' },
          { title: 'Подтвердите свое согласие с&nbsp;тарифами банка, установкой банка по&nbsp;умолчанию и&nbsp;номера счета для&nbsp;зачисления средств по&nbsp;переводам&nbsp;СБП, введя полученный&nbsp;код.' },
          { title: 'На экране появится результат по&nbsp;установке банка по&nbsp;умолчанию.' },
        ]
      },
      {
        mods: 'tel-instruction__section--left',
        title: 'Как совершать переводы',
        img: [
          { src: 'sl2_1' },
          { src: 'sl2_2' },
          { src: 'sl2_3' },
          { src: 'sl2_4' },
          { src: 'sl2_5' },
          { src: 'sl2_6' },
          { src: 'sl2_7' },
        ],
        steps: [
          { title: 'В разделе «Переводы» выберете «Система быстрых Платежей»' },
          { title: 'Далее нажмите на&nbsp;«Перевести по&nbsp;номеру телефона»' },
          { title: 'Выберите номер счета списания, укажите номер телефона получателя и&nbsp;сумму перевода, нажмите кнопку «Далее»' },
          { title: 'Выберите банк получателя и&nbsp;укажите сообщение получателю, нажмите кнопку «Далее».' },
          { title: 'Внимательно проверьте данные получателя перевода (номер телефона получателя, Имя, Отчество и&nbsp;первую букву Фамилии получателя, <span class="text-nowrap">Банк-получателя).</span> Убедившись, что&nbsp;реквизиты перевода и&nbsp;получателя введены верные, нажмите кнопку «Перевести»' },
          { title: 'Подтвердите отправку перевода, введя полученный код.' },
          { title: 'На экране появится финальный статус и&nbsp;параметры отправленного перевода' },
        ]
      },
      {
        title: 'Как пополнить счет со&nbsp;счета <br> в другом банке',
        img: [
          { src: 'sl2_1' },
          { src: 'sl2_2' },
          { src: 'sl3_3' },
        ],
        steps: [
          { title: 'В разделе «Переводы» выберете «Система быстрых платежей»' },
          { title: 'Далее выберите «Пополнить из&nbsp;другого банка»' },
          { title: 'Укажите из&nbsp;какого банка хотели бы&nbsp;перевести средства, сумму перевода и&nbsp;назначение платежа, нажмите кнопку «Продолжить»' },
        ]
      },
    ]

block content
  main
    +banner('--m-vertically')
      +banner-item('--sbp')
        +banner-wrapper('img/banner_sbp.png', true)
          +banner-h1('Система быстрых платежей', '--mob-size-l')
          +banner-descr('Мгновенно получайте и&nbsp;отправляйте платежи своим близким и&nbsp;знакомым по&nbsp;номеру телефона', '--size-xs, --mob-size-l, --mob-mb-l').text-orange
          .banner-item-foot.banner-item-foot--mob-row
            a.banner-item-app(href='#')
              img.bvi-no-styles(src='img/App_Store_Badge.svg', alt='')
            a.banner-item-app(href='#')
              img.bvi-no-styles(src='img/google-play-badge.svg', alt='')
            .banner-item-qr.banner-item-dn
              img.bvi-no-styles(src='img/qr-code.svg', alt='')
    .page-content
      +section('--mt0')
        .inner
          +sbp-about
            p Система быстрых платежей (СБП)- это сервис переводов, созданный Центральным банком РФ (Банком России), который позволяет в&nbsp;любое время суток переводить деньги получателю в&nbsp;другой банк по&nbsp;номеру мобильного телефона.
              p Сервис доступен в&nbsp;новом
                =' '
                a.text-orange(href='https://www.atb.su/getapp/' target='_blank') Мобильном Банке АТБ

      +section
        .inner
          +features(featuresItems)

      +section
        .inner
          +tel-instruction(sbpInstruction)

      +section
        .inner
          +sbp-links

      +section
        .inner
          +section-head
            +ui-h3('Вопросы и ответы', 'section-head')
          +accordion()
            +accordion-item('Что такое Система быстрых платежей?')
              +ui-p1('', '--light')
                p Система быстрых платежей — это сервис Банка России, позволяющий физическим лицам совершать мгновенные переводы по&nbsp;номеру мобильного телефона в&nbsp;любой банк — участник СБП.
                p Подробнее узнать о&nbsp;Системе быстрых платежей можно на&nbsp;сайте
                  =' '
                  a.text-orange(href='https://sbp.nspk.ru/' target='_blank') https://sbp.nspk.ru/
            +accordion-item('Безопасно ли проводить деньги через СБП?')
              +ui-p1('', '--light')
                p Безопасность переводов в&nbsp;СБП обеспечивается на&nbsp;всех уровнях — банков, Банка России и&nbsp;НСПК — с&nbsp;использованием современных систем защиты. СБП соответствует всем стандартам информационной безопасности.
            +accordion-item('Можно ли переводить доллары США или&nbsp;другую валюту ?')
              +ui-p1('', '--light')
                p Нет, через систему быстрых платежей можно перевести деньги только в&nbsp;рублях.
            +accordion-item('Что будет, если я&nbsp;введу номер телефона получателя, который не&nbsp;подключен к&nbsp;Системе быстрых платежей?')
              +ui-p1('', '--light')
                p Приложение подскажет, что&nbsp;перевести деньги не&nbsp;получится.
            +accordion-item('Как пополнить свой счет в&nbsp;АТБ со&nbsp;счета другого банка по&nbsp;номеру телефона?')
              +ui-p1('', '--light')
                p Для этого:
                +ui-ol(list_1)
            +accordion-item('Можно ли переводить деньги с&nbsp;кредитной карты?')
              +ui-p1('', '--light')
                p Можно, при переводе кредитных средств будет взиматься комиссия согласно тарифам по&nbsp;вашей карте.
            +accordion-item('Можно ли отменить перевод?')
              +ui-p1('', '--light')
                p После вашего подтверждения, перевод уйдет получателю и&nbsp;мгновенно зачислится ему на&nbsp;счет, отменить его не&nbsp;получится. Внимательно проверяйте все реквизиты перевода: номер телефона, имя и&nbsp;отчество получателя, банк получателя при&nbsp;подтверждении перевода.
                p До вашего подтверждения перевода, его можно отменить самостоятельно нажав кнопку.
            +accordion-item('Как я узнаю, что&nbsp;получателю пришли деньги?')
              +ui-p1('', '--light')
                p Cвяжитесь с получателем, чтобы уточнить получен ли&nbsp;им&nbsp;перевод.
            +accordion-item('Что делать, если деньги не&nbsp;дошли до&nbsp;получателя? ')
              +ui-p1('', '--light')
                p Если деньги были отправлены и&nbsp;не&nbsp;получены получателем, позвоните в&nbsp;контактный центр АТБ по&nbsp;номеру
                  =' '
                  span.text-nowrap 8-800-775-88-88.
