mixin answers(mods)
  -
    const baseName = 'answers'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .answers(class=allMods)&attributes(attributes)
    -for(let i=0; i<3; i++)
      .answers__item
        .answers__question
          +ui-h4('Перечислил деньги мошенникам. Как отменить платеж?', 'answers, --bold')
          +ui-p1('', 'answers')
            span.answers__info 08 июня 2023
            span.answers__info Александр, г. Благовещенск
        .answers__reply
          .answers__date
            +ui-p1('', 'answers')
              span.answers__info Ответ
              span.answers__info 08 июня 2023
          .answers__text
            .answers__expand
              +ui-p1('', '--light')
                p Срочно позвоните в банк по телефону
                  a(href='#')  8-800-775-88-88
                  |  и заблокируйте карту. Далее необходимо подойти в любое отделение банка
                  |  и заполнить бланк претензии. По факту несанкционированного списания будет проведено расследование международной платежной.
                  |  Срочно позвоните в банк по телефону и заблокируйте карту. Далее необходимо подойти в любое отделение банка
                  |  и заполнить бланк претензии. По факту несанкционированного списания будет проведено расследование международной платежной.
                  |  Срочно позвоните в банк по телефону и заблокируйте карту. Далее необходимо подойти в любое отделение банка
                +ui-ul('')
                  li уточнить, откуда звонок
                  li уточнить, кто звонит (ФИО, должность)
                  li уточнить причину звонка
                +blockquote('answers')
                p Срочно позвоните в банк по телефону
                  a(href='#')  8-800-775-88-88
                  |  и заблокируйте карту. Далее необходимо подойти в любое отделение банка
                  |  и заполнить бланк претензии. По факту несанкционированного списания будет проведено расследование международной платежной.
                  |  Срочно позвоните в банк по телефону и заблокируйте карту. Далее необходимо подойти в любое отделение банка
                  |  и заполнить бланк претензии. По факту несанкционированного списания будет проведено расследование международной платежной.
                  |  Срочно позвоните в банк по телефону и заблокируйте карту. Далее необходимо подойти в любое отделение банка
            +ui-button('Читать полностью', 'answers, --expand').text-orange(data-start-text='Читать полностью' data-end-text='свернуть')
    block
