mixin grace-period(mods, type)
  -
    const baseName = 'grace-period'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  if type === 'big'
    .grace-period.grace-period--big(class=allMods)&attributes(attributes)
      .grace-period__container
        .grace-period__line-orange
        .grace-period__braces
        .grace-period__title
          span 38&nbsp;000&nbsp;₽
          |  сумма совершенных операций в&nbsp;беспроцентном периоде
        .grace-period__operation.operation1
          span Покупка/снятие
            =' '
            br
            | 5 000 ₽
        .grace-period__operation.operation2
          span Покупка/снятие
            =' '
            br
            | 10 000 ₽
        .grace-period__operation.operation3
          span Покупка/снятие
            =' '
            br
            | 8 000 ₽
        .grace-period__operation.operation4
          span Покупка/снятие
            =' '
            br
            | 5 000 ₽
        .grace-period__operation.operation5
          span Покупка/снятие
            =' '
            br
            | 5 000 ₽
        .grace-period__operation.operation6
          span Покупка/снятие
            br
            | 5 000 ₽
        .grace-period__month.grace-period__month--orange.month1 Апрель
        .grace-period__month.grace-period__month--orange.month2 Май
        .grace-period__month.grace-period__month--orange.month3 Июнь
        .grace-period__month.grace-period__month--orange.month4 Июль
        .grace-period__month.grace-period__month--orange.month5 Август
        .grace-period__month.grace-period__month--orange.month6 Сентябрь
        .grace-period__month.grace-period__month--orange.month7
        .grace-period__pay.pay1
          .grace-period__date 05.04
          | Оформлена карта
        .grace-period__pay.pay2
          .grace-period__date до 25.05
          | платеж* <br> -150 ₽
        .grace-period__pay.pay3
          .grace-period__date до 25.06
          | платеж <br> -445,5 ₽
        .grace-period__pay.pay4
          .grace-period__date до 25.07
          | платеж <br> -672,14 ₽
        .grace-period__pay.pay5
          .grace-period__date до 25.08
          | платеж <br> -801,97 ₽
        .grace-period__pay.pay6
          .grace-period__date до 25.09
          | платеж <br> -927,91 ₽
        .grace-period__pay.pay7
          .grace-period__date до 30.09
          | платеж <br> 35 002,48 ₽
      .grace-period__text
        +ui-h6('Раз в&nbsp;месяц оплачиваете <br> минимальный платеж', '--bold')
        +ui-p2('Сумма минимального платежа —&nbsp;3% <br> от&nbsp;суммы задолженности')
        +ui-p2('До&nbsp;окончания 6-го месяца')
          +ui-tooltip('С&nbsp;1-го числа месяца, в&nbsp;котором совершена первая операция, с&nbsp;которой возникла задолженность, до&nbsp;последнего дня 6-го месяца.')
          |  нужно погасить всю&nbsp;задолженность
        .grace-period__text-fn
          +ui-p2('')
            a.text-orange.text-underline.js-open-tab(href='#examples-of-using' onclick='setTimeout(() => {window.openAccordionById("examples-of-using-table")}, 500); return false;') Посмотреть примеры использования карты
  else
    .grace-period(class=allMods)&attributes(attributes)
      .grace-period__line-orange
      .grace-period__line-mob.line1
      .grace-period__line-mob.line2
      .grace-period__line-mob.line3
      .grace-period__line-mob.line4
      .grace-period__line-mob.line5
      .grace-period__braces
      .grace-period__title до
        span  120 дней
        |  без процентов на покупки и снятия наличных
      .grace-period__operation.operation1
        span Покупка/снятие
          br
          | 5 000 ₽
      .grace-period__operation.operation2
        span Покупка/снятие
          br
          | 10 000 ₽
      .grace-period__operation.operation3
        span Покупка/снятие
          br
          | 8 000 ₽
      .grace-period__operation.operation4
        span Покупка/снятие
          br
          | 5 000 ₽
      .grace-period__month.grace-period__month--green.month1 август
      .grace-period__month.grace-period__month--green.grace-period__month--orange.month2 сентябрь
      .grace-period__month.grace-period__month--orange.month3 октябрь
      .grace-period__month.grace-period__month--orange.month4 ноябрь
      .grace-period__pay.pay2
        .grace-period__date до 25.09
        | платеж – 150 ₽
        +ui-tooltip('это 3% обязательный платеж от 5000 руб, который необходимо оплатить до 25.09.2021')
      .grace-period__pay.pay3
        .grace-period__date до 25.10
        | платеж – 445,5 ₽
        +ui-tooltip('август 5000 – 150= 4850 +10 000 (в сентябре) = 14850*3% = 445,5 руб')
      .grace-period__pay.pay4
        .grace-period__date до 25.11
        | платеж – 672,14 ₽
      .grace-period__pay.pay_result
        .grace-period__date до 31.11
        | Полное погашение
        br
        | задолженности – 26 732,36 ₽
      .grace-period__result-title Условия беспроцентного
        br
        | периода выполнены
    block
