extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  script(src=fileName + '.js')

block variables
  -const fileName = 'pension-plans'
  -const pageTitle ='Индивидуальные пенсионные планы'

  -
    const termsTable =[
      { name: 'Минимальный первоначальный взнос', descr: 'не менее 50 000 руб.' },
      { name: 'Валюта', descr: 'Рубль РФ' },
      { name: 'Срок', descr: 'До момента расторжения по инициативе Вкладчика или иным основаниям, предусмотренным договором' },
    ]

  -
    const featuresItems =[
      { icon: 'img/exelence1.svg', title: 'Обеспечить финансовую безопасность для себя и своих близких на любом этапе жизни' },
      { icon: 'img/exelence2.svg', title: 'Сберечь личные накопления от&nbsp;неизбежной инфляции' },
      { icon: 'img/exelence3.svg', title: 'Защитить сформированный капитал от претензий третьих лиц, в том числе судебных' },
      { icon: 'img/exelence4.svg', title: 'Распределить вложения между разными, не связанными между собой активами с целью снижения риска' },
    ]

  -
    const tabsHeadItems =[
      { text: 'Преимущества' },
      { text: 'Базовые параметры' },
      { text: 'Как оформить, отслеживать и пополнять' },
    ]

  -
    const benefitsItems1 =[
      { icon: 'img/benefits_1_1.svg', title: 'Как оформить', descr: 'В любом офисе банка' },
      { icon: 'img/benefits_1_2.svg', title: 'Как отслеживать', descr: 'В Личном кабинете на сайте фонда, мобильном приложении фонда.' },
      { icon: 'img/benefits_1_3.svg', title: 'Как пополнять', descr: 'Денежным переводом, через кассу банка, через официальный сайт или мобильное приложение фонда онлайн без комиссии.' },
    ]

  -
    const benefitsItems2 =[
      { icon: 'img/benefits_2_1.svg', title: 'Сохранность вложенных средств установлена законодательством<sup>1</sup>', descr: 'Вложенные средства при необходимости вы можете забрать, расторгнув договор. Размер выкупной суммы зависит от года действия договора, в котором он расторгается.' },
      { icon: 'img/benefits_2_2.svg', title: 'Доходность, начисленная на счета клиентов<sup>2</sup>', descr: 'Среднегодовая доходность счетов за период с 2015 г. по 2019 г. составила <span class="text-orange">9,97%</span>, что выше среднегодовой доходности <span class="text-orange">7,70% </span> по рублевым депозитам крупнейших банков<sup>3</sup> за аналогичный период' },
      { icon: 'img/benefits_2_3.svg', title: 'Государственная поддержка –', descr: 'Налоговый вычет в размере <span class="text-orange">13% </span>от внесенных за год средств<sup>4</sup>' },
      { icon: 'img/benefits_2_4.svg', title: 'Универсальность продукта<sup>*</sup>', descr: 'Отсутствие обязательных платежей, наследование, защита от действий третьих лиц (накопления не делятся при разводе и не конфискуются <sup>5</sup>)' },
      { icon: 'img/benefits_2_5.svg', title: 'Сохранение пенсионного возраста –', descr: 'Начало выплат по вашему договору начнется раньше выплаты государственной пенсии, то есть по старым пенсионным основаниям: для женщин — по достижении <span class="text-orange">55</span> лет, для мужчин — с <span class="text-orange">60</span> лет<sup>6</sup>' },
    ]

  -
    const infoList_1 =[
      { text: 'Паспорт;' },
      { text: 'СНИЛС (страховое свидетельство обязательного (государственного) пенсионного страхования).' },
    ]

  -
    const infoList_2 =[
      { text: 'Ваш паспорт и СНИЛС (страховое свидетельство обязательного (государственного) пенсионного страхования);' },
      { text: 'Паспорт/свидетельство о рождении для несовершеннолетнего лица, в пользукоторого заключается договор.' },
    ]

  -
    const infoList_3 =[
      { text: 'Достижение возраста 60 лет для мужчин и 55 лет для женщин;' },
      { text: 'Досрочное назначение страховой пенсии по старости;' },
      { text: 'Назначение страховой пенсии по инвалидности;' },
      { text: 'Назначение страховой пенсии по случаю потери кормильца;' },
      { text: 'Назначение пенсии по государственному пенсионному обеспечению в соответствии с законодательством Российской Федерации;' },
      { text: 'Иные пенсионные основания, установленные действующим законодательством.' },
    ]

  -
    const infoList_4 =[
      { text: 'Через работодателя. Данный метод предполагает подачу заявления в бухгалтерию по месту работы об удержании пенсионных взносов по договору НПО из средств заработной платы;' },
      { text: 'Онлайн через Личный кабинет фонда в разделе «Персональные предложения»;' },
      { text: 'Онлайн через Личный кабинет на сайте ФНС (подробнее на www.nalog.ru);' },
      { text: 'Через налоговый орган по месту жительства. В данном случае необходимо подать следующий пакет документов:' },
    ]

  -
    const infoList_5 =[
      { text: 'Копия договора с НПФ;' },
      { text: 'Копии паспорта и ИНН налогоплательщика;' },
      { text: 'Заявление на получение социального налогового вычета в свободной форме;' },
      { text: 'Копии платежных документов, подтверждающих уплату взносов. Если взносы удерживались из заработной платы – справка о перечислении взносов из бухгалтерии;' },
      { text: 'Налоговая декларация по форме 3-НДФЛ;' },
      { text: 'Справка из бухгалтерии по месту работы о суммах начисленных и удержанных налогов за соответствующий год по форме 2-НДФЛ.' },
    ]

block content
  main
    +banner()
      +banner-item('--pension-plans')
        +banner-wrapper('img/banner_pension_plans.jpg')
          +banner-h1('Индивидуальные пенсионные планы')
          +banner-descr('Ваш инструмент для формирования дополнительной пенсии.', '--size-xs').banner-item-dn
          .banner-item-foot
            .banner-item-foot-item
              +ui-button('узнать больше', 'banner')(href='#')
            .banner-item-foot-item
              .banner-item-logo
                img(src='img/АСВ_logo.png', alt='')
                img(src='img/Gazfond_PN_logo_ru.png', alt='')
        +banner-mobile()
          p Ваш инструмент для формирования дополнительной пенсии.
    .page-content
      +section('--mt0')
        .inner
          +section-head
            +ui-h2('Индивидуальные пенсионные планы – что это?')
          +pension-plans-sub-ban
      +section
        .inner
          +section-head
            +ui-h2('Пенсионный план поможет вам:').text-laptop-center
          +features(featuresItems, '--fz-18')
      +section
        +tabs-head(tabsHeadItems, '', '--grey')
        +tabs-main
          +tabs-main__item(true)
            +section('--mt0')
              .inner
                +section-head
                  +ui-h2('Преимущества инструмента', 'section-head')
                +benefits(benefitsItems2, '--items2, --ai-start')
          +tabs-main__item
            +section('--mt0')
              .inner
                +section-head
                  +ui-h2('Базовые параметры', 'section-head')
                +terms(termsTable)
          +tabs-main__item
            +section('--mt0')
              .inner
                +benefits(benefitsItems1, '--ai-start')
                +section-box
                  .section-box__inner
                    +ui-p1
                      p Мы также рекомендуем подключить автоплатеж (обратитесь к сотруднику банка или активируйте самостоятельно функцию в Личном кабинете или мобильном приложении фонда).
      +section
        .inner
          +pension-plans-calculate
      +section
        .inner
          +order-call('По любым вопросам с&nbsp;радостью вас проконсультируем по&nbsp;телефону:', true)
      +section
        .inner
          +section-head
            +ui-h2('Вопросы и ответы')
          +accordion
            +accordion-item('Кто может оформить пенсионный план?')
              +ui-p1
                p Абсолютно любой гражданин РФ, возрастом не менее 18 полных лет. Если хотите заключить договор в пользу своего родственника – здесь нет ограничений.
                p Оформить договор довольно просто. Для этого потребуется:
                +ui-ul(infoList_1)
                p Для заключения договора в пользу 3-го лица:
                +ui-ul(infoList_2)
            +accordion-item('Что происходит с моими деньгами и куда фонд их вкладывает?')
              +ui-p1
                p Фонд инвестирует привлеченные средства в установленном законом порядке, соблюдая Правила размещения средств пенсионных резервов негосударственных пенсионных фондов и контроля за их размещением, утвержденные Указанием Банка России от 05.12.2019 г. № 5343.
            +accordion-item('Когда я смогу начать получать дополнительную пенсию?')
              +ui-p1
                p Основанием для назначения дополнительной пенсии может служить наступление у клиента (участника по договору) одного из нижеперечисленного случая:
                +ui-ul(infoList_3)
            +accordion-item('Предусмотрено ли наследование средств?')
              +ui-p1
                p Индивидуальный пенсионный план предусматривает правопреемство по договору, т.е. наследование пенсионных средств. Если вкладчик и участник - разные лица, то они являются правопреемниками по отношению друг к другу перекрестно. В случае смерти участника вкладчик может стать участником, назначить нового участника, либо получить выкупную сумму в течение 60 дней с даты поступления в фонд корректно оформленного заявления и пакета документов. Однако, если по договору уже выплачивается пожизненная пенсия участнику – правопреемство отсутствует.
            +accordion-item('Могу ли я вернуть свои вложенные средства?')
              +ui-p1
                p Да, безусловно. Если вы передумали формировать негосударственную пенсию, фонд выплачивает сформированные средства в течение 60-ти календарных дней с даты получения письменного заявления. Данный срок обусловлен выводом средств из доверительного управления (продажа ценных бумаг, возврат по депозитам и пр.), так как на своих счетах фонд держит только средства для осуществления текущих пенсионных выплат.
            +accordion-item('Когда начисляется инвестиционный доход на мой счет?')
              +ui-p1
                p Ежегодно, не позднее 31 марта каждого года.
            +accordion-item('Как мне получить социальный налоговый вычет?')
              +ui-p1
                +ui-ul(infoList_4)
                +ui-ol(infoList_5)
            +accordion-item('Почему на накопленные мной средства не может быть обращено взыскание?')
              +ui-p1
                p В соответствии с п.5 ст.18 Федерального Закона № 75 «О негосударственных пенсионных фондах» на средства пенсионных резервов и на активы, в которые размещены средства пенсионных резервов, не может быть обращено взыскание по долгам вкладчиков и участников, к ним также не могут применяться меры по обеспечению заявленных требований, в том числе арест имущества. Пенсионные взносы и начисленный инвестиционный доход входят в состав пенсионных резервов фонда и являются частью его имущества.
      +section
        .inner
          +pension-plans-gazfond
      +section
        .inner
          +section-footnote
            +section-box
              p
                sup 1
                | Сохранность вложенных средств установлена законодательством РФ (ст. 24,25 No 75-ФЗ «О негосударственных пенсионных фондах» от 07.05.1998г.). Выплата в течение 60 календарных дней с момента подачи заявления о расторжении договора.
              p
                sup 2
                | 2015 г. – 17,01%, 2016 г. – 10,47%, 2017 г. – 7,16%, 2018 г. – 5,57% и 2019 г. – 9,99%. Начисленный инвестиционный доход при пенсионных выплатах не облагается НДФЛ. Данные о доходности за 2017-2019 гг. приведены по инвестиционной стратегии «Консервативная», предусматривающей отдельный аналитический учет результатов размещения средств пенсионных резервов.
              p
                sup 3
                | Использованы средние процентные ставки по депозитам 30 крупнейших банков РФ со сроком привлечения до 1 года за январь 2015-2019 гг. По данным ЦБ РФ (www.cbr.ru).
              p
                sup 4
                | Размер социального налогового вычета равен 13% от суммы ежегодных пенсионных взносов, но не более 120 000 руб. в год. Максимально можно вернуть до 15 600 руб. Ежегодно получаемый социальный налоговый вычет можно также направлять на пенсионный счет, тем самым увеличивая его на фиксированную сумму за счет государства.
              p
                sup 5
                | Федеральный закон «О негосударственных пенсионных фондах» от 07.05.1998 N 75-ФЗ.
              p
                sup 6
                | Федеральный закон от 18.03.2020 N 61-ФЗ «О внесении изменений в статью 10 Федерального закона «О негосударственных пенсионных фондах» по вопросам назначения негосударственных пенсий».
              p * в сравнении с иными продуктами АО «НПФ ГАЗФОНД пенсионные накопления».
            +section-box('--hr')
              p Вся изложенная в настоящем документе информация предоставлена АО «НПФ ГАЗФОНД пенсионные накопления».
              p Лицо, оказывающее услуги по негосударственному пенсионному обеспечению: АО «НПФ ГАЗФОНД пенсионные накопления».
              p Азиатско-Тихоокеанский Банк» (АО) (универсальная лицензия ЦБ РФ N 1810, ОГРН 1022800000079, ИНН2801023444) выступает Агентом в правоотношениях между
                | АО «НПФ ГАЗФОНД пенсионные накопления» (далее - Фонд) и вкладчиком при оформлении договора негосударственного пенсионного обеспечения, не является
                | разработчиком Пенсионных правил Фонда и предлагаемых Фондом условий договора негосударственного пенсионного обеспечения,
                | не является стороной такого договора и не оказывает финансовую услугу по такому договору, а действует только
                | в рамках агентского договора по привлечению клиентов, заключенного между
                span.text-nowrap «Азиатско-Тихоокеанский Банк» (АО)
                | и Фондом. Оказываемая Фондом услуга не является банковским вкладом.
