extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  //- script(src=fileName + '.js')

block variables
  -
    const fileName = 'confirm-income'
    const pageTitle ='Способы подтверждения доходов'

  -
    const confirmIncomeItems =[
      {
        h4: 'Есть подтвержденная учетная запись на&nbsp;Госуслугах',
        p2: [
          `При оформлении заявки на&nbsp;кредит дайте согласие
          на&nbsp;формирование сведений
          о&nbsp;состоянии индивидуального лицевого счета
          застрахованного лица.`,
          `Банк самостоятельно сформирует необходимую информацию.`,
        ],
        imgs: [
          'img/confirm_income_esia.svg',
        ]
      },
      {
        h4: 'Получаете зарплату <br>на&nbsp;счет в&nbsp;АТБ',
        p2: [
          `последние 12&nbsp;месяцев или за&nbsp;фактически
          отработанный период времени по&nbsp;текущему месту работы,
          но&nbsp;не&nbsp;менее 3&nbsp;месяцев.`,
        ],
        imgs: [
          'img/confirm_income_atb.svg',
        ]
      },
      {
        h4: 'Получаете пенсию <br>на&nbsp;счет в&nbsp;АТБ',
        imgs: [
          'img/confirm_income_pension.png',
          'img/confirm_income_atb.svg',
        ]
      }
    ]

  -
    const tabsAccordionHeadItems =[
      { text: 'Работаю', mods: 'active' },
      { text: 'Пенсионер' },
      { text: 'Самозанятый' },
      { text: 'ИП, нотариус, адвокат, частная практика' },
      { text: 'Арендодатель' },
      { text: 'Другой источник дохода' },
    ]

block content
  main
    +banner('--m-vertically')
      +banner-item('--confirm-income')
        +banner-wrapper('img/banner_confirm_income.png', true)
          +banner-h1('Способы подтверждения доходов', '--mob-size-l')
          +banner-text('Увеличьте вероятность одобрения кредита')

    .page-content
      +section('--mt0')
        .inner
          +section-head
            +ui-h2('Документы о&nbsp;доходе не&nbsp;требуются', 'section-head')
            +ui-h4('если выполнено хотя&nbsp;бы одно из&nbsp;следующих условий:', '--light')
          +confirm-income(confirmIncomeItems)
      +section()
        .inner
          +section-head
            +ui-h2('Для остальных случаев требуется подтверждение дохода', 'section-head')

          +tabs-accordion('--l-grid')
            +tabs-accordion-head(tabsAccordionHeadItems, '--aside')
            +tabs-accordion-main.text-inside-d-link
              +tabs-accordion-main__item('Работаю').active
                +section-box('--mt30, --hr')
                  +ui-h4('Любой из документов:', '--mb-xs, --bold')
                  +ui-p1('')
                    +ui-ul('', '--li-mb10')
                      li Выписка с&nbsp;зарплатного счета Заемщика
                      li
                        a(href='#') Справка о&nbsp;заработной плате по&nbsp;форме Банка
                        |  либо по&nbsp;форме работодателя
                      li Справка о&nbsp;доходах и&nbsp;суммах налога физических лиц (ранее&nbsp;&mdash; форма 2-НДФЛ)
                      li Документы, содержащие сведения о&nbsp;доходах Заемщика, выданные государственными (муниципальными) органами, учреждениями, организациями или предприятиями (включая документы, выданные должностными лицами Вооруженных Сил Российской Федерации и&nbsp;воинских формирований).*
                    +ui-p3('', '--light').text-grey60
                      | *Справка по&nbsp;образцу государственного учреждения, внутренними распорядительными документами которого установлены ограничения на&nbsp;предоставление своим работникам справок о&nbsp;доходах и&nbsp;суммах налога физического лица, составляется на&nbsp;бланке учреждения либо в&nbsp;виде документа с&nbsp;угловым штампом
                +section-box('--mt30, --hr')
                  +ui-h4('Требования к&nbsp;документам', '--mb-xs, --bold')
                  +ui-p1('')
                    p Документ должен быть заверен печатью подразделения и&nbsp;подписью работника кредитной организации, выдавшего выписку (может быть сформирована из&nbsp;мобильного/интернет банка).
                    p В&nbsp;выписке должно быть указано назначение платежа, позволяющее однозначно идентифицировать, что поступления являются заработной платой Заемщика, зачисления производятся через равные промежутки времени.
                    p Документ должен содержать следующие обязательные реквизиты:
                  br
                  +ui-p1('')
                    +ui-ul('')
                      li
                        p
                          b Данные работодателя:
                        +ui-p1('')
                          +ui-ul('', '--li-mb10')
                            li полное наименование,
                            li ИНН,
                            li местонахождение работодателя**,
                            li телефон**
                          +ui-p3('', '--light').text-grey60
                            | **Допускается не&nbsp;указывать для&nbsp;войсковых частей.

                      li
                        p
                          b Идентификационные данные клиента
                        +ui-p1('')
                          +ui-ul('', '--li-mb10')
                            li ФИО,
                            li дата рождения,
                            li паспортные данные;
                      li
                        b Сумма заработной платы помесячно
                        br
                        |  за&nbsp;минусом налогов и иных удержаний;
                      li
                        b Подпись
                        br
                        |  ИП (если Клиент трудоустроен у&nbsp;ИП)&nbsp;/ директора&nbsp;/ заместителя директора&nbsp;/ главного бухгалтера&nbsp;/ бухгалтера&nbsp;/ сотрудника отдела кадров или иного лица, ответственного за&nbsp;оформление кадровых документов работодателя&nbsp;/ для&nbsp;справки о&nbsp;доходах и&nbsp;суммах налога физических лиц допускается ЭЦП (электронная цифровая подпись) органа, предоставившего документ.

                      li
                        p
                          b Печать организации

                      li
                        p
                          b Дата выдачи справки

                br
                +ui-p1('')
                  p Документ должен содержать информацию о&nbsp;доходе за&nbsp;последние&nbsp;12 (двенадцать) месяцев.
                  p В&nbsp;случае, если стаж на&nbsp;текущем месте работы менее 12&nbsp;месяцев, то&nbsp;сведения о&nbsp;доходе Клиента предоставляются за&nbsp;периоды фактически начисленной заработной платы, но&nbsp;не&nbsp;менее  чем
                    span.text-nowrap  за
                      b  3 (три) последних месяца.
                  p Срок действия
                    b  30&nbsp;(тридцать) календарных дней
                    |  с&nbsp;даты выдачи документа.

              +tabs-accordion-main__item('Пенсионер')
                +section-box('--mt30, --hr')
                  +ui-h4('Любой из&nbsp;документов:', '--mb-xs, --bold')
                  +ui-p1('')
                    +ui-ul('', '--li-mb10')
                      li
                        p
                          b Выписка со&nbsp;счета заемщика
                        p Документ должен быть заверен печатью подразделения и&nbsp;подписью работника кредитной организации,
                          |  выдавшего выписку (может быть сформирована из&nbsp;мобильного/интернет банка**).
                        p
                          b В&nbsp;выписке должно быть указано назначение платежа, позволяющее однозначно идентифицировать,
                            | что поступления являются пенсией заемщика.
                      li
                        p
                          b Справка из&nbsp;Пенсионного фонда&nbsp;РФ
                          |  или&nbsp;другого государственного органа, выплачивающего пенсию
                        +ui-ul('', '--li-mb10')
                          li о размере пенсии,
                          li ежемесячного пожизненного содержания судьям,
                          li ежемесячной надбавки к денежному содержанию судьям,
                          li о назначении пенсии
                      li
                        b Иной документ, подтверждающий право на&nbsp;получение пенсии

                +section-box('--mt30, --hr')
                  +ui-h4('Документ должен содержать:', '--mb-xs, --bold')
                  +ui-p1('')
                    +ui-ul('', '--li-mb10')
                      li
                        p Идентификационные данные Клиента
                        +ui-ul('', '--li-mb10')
                          li ФИО,
                          li дата рождения;
                      li
                        p Информация о&nbsp;размере выплаченной(ого)/назначенной(ого) за&nbsp;последний месяц
                        +ui-ul('', '--li-mb10')
                          li пенсии,
                          li ежемесячного пожизненного содержания судьям
                          li о размере ежемесячной надбавки судьям;
                      li Вид получаемых доходов;
                      li Наименование органа, выплачивающего данный вид дохода;
                      li Почтовый адрес и&nbsp;телефон органа, выплачивающего данный вид дохода
                        |  (для&nbsp;ежемесячного пожизненного содержания судьям);
                    p
                      b Документ должен быть заверен подписью с&nbsp;расшифровкой непосредственно руководителя отдела
                        |  ПФР, специалиста ПФР изготовившего справку.
                    p Документ может быть заверен как гербовой печатью (в&nbsp;обязательном порядке должна содержать ОГРН), так и&nbsp;иной
                      |  печатью (к&nbsp;примеру, &laquo;для справок&raquo;, &laquo;для&nbsp;документов&raquo; и&nbsp;др.).
                    p Для учета дохода в&nbsp;виде пенсии допускается принимать документ, содержащий сведения о&nbsp;пенсии за&nbsp;1&nbsp;(один) календарный месяц

              +tabs-accordion-main__item('Самозанятый')
                +section-box('--mt30, --hr')
                  +ui-p1('')
                    +ui-ul('', '--li-mb10')
                      li Справка о&nbsp;постановке на&nbsp;учёт (снятии с&nbsp;учёта) ФЛ&nbsp;в&nbsp;качестве
                        |  плательщика налога на&nbsp;профессиональный доход (КНД&nbsp;1122035)
                      li Справка о&nbsp;состоянии расчётов (дохода) по&nbsp;налогу на&nbsp;профессиональный доход (КНД&nbsp;1122035)
                    p Период подтверждения дохода 12&nbsp;мес. или за&nbsp;фактически отработанный
                      |  срок. Минимальный стаж работы в&nbsp;качестве самозанятого не&nbsp;менее 6&nbsp;мес.
              +tabs-accordion-main__item('ИП, нотариус, адвокат, частная практика')
                +section-box('--mt30, --hr')
                  +ui-h4('Предоставьте следующие документы:', '--mb-xs, --bold')
                  +ui-p1('')
                    +ui-ul('', '--li-mb10')
                      li Налоговые декларации (в&nbsp;зависимости от&nbsp;системы налогообложения)
                      li Копии квитанций (платежных поручений) об&nbsp;уплате налогов за&nbsp;налоговые периоды, соответствующие периоду расчета среднемесячного дохода
                      li Выписка из ЕГРИП;
                      li Книга учета доходов и&nbsp;расходов и&nbsp;хозяйственных операций&nbsp;ИП либо выписка по&nbsp;расчетному счету Заемщика,
                        |  заверенные организацией, в&nbsp;которой открыты данные счета (с&nbsp;отражением информации о&nbsp;доходе за&nbsp;последние
                        b  12&nbsp;(двенадцать) месяцев).
              +tabs-accordion-main__item('Арендодатель')
                +section-box('--mt30, --hr')
                  +ui-h4('Предоставьте следующие документы:', '--mb-xs, --bold')
                  +ui-p1('')
                    +ui-ul('', '--li-mb10')
                      li
                        p Договор
                        +ui-ul('', '--li-mb10')
                          li найма/аренды жилого помещения
                          li аренды нежилого помещения
                      li Документ подтверждающий право собственности (владения) имуществом
                      li Налоговая декларация по&nbsp;налогу на&nbsp;доходы физических лиц (форма 3-НДФЛ)
                      li Копии платежных документов, подтверждающих уплату налогов и&nbsp;сборов по&nbsp;договорам аренды/найма за&nbsp;последний налоговый период,
                      li Выписки о&nbsp;поступлении по&nbsp;счетам, заверенные кредитной организацией
              +tabs-accordion-main__item('Другой источник дохода')
                +section-box('--mt30, --hr')
                  +ui-h4('Предоставьте следующие документы:', '--mb-xs, --bold')
                  +ui-p1('')
                    +ui-ul('', '--li-mb10')
                      li
                        b Выписка со счета
                        br
                        | выданная кредитными организациями, на&nbsp;который осуществляются социальные выплаты, а&nbsp;также иные
                        |  регулярные выплаты клиенту, в&nbsp;т.ч. сформированная из&nbsp;мобильного/интернет банка;
                      li
                        p
                          b Справка выданная государственным органом заемщику
                        +ui-ul('', '--li-mb10')
                          li о сумме ежемесячной денежной выплаты,
                          li ежемесячной денежной компенсации,
                          li ежемесячного дополнительного материального обеспечения
