extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')

block variables
  -const fileName = 'health-insurance'
  -const pageTitle ='Страхование жизни и здоровья'

  -
    const featuresItems =[
      {
        icon: 'img/feature_1.png',
        title: 'Временная нетрудоспособность',
      },
      {
        icon: 'img/feature_2.png',
        title: 'Установление инвалидности',
      },
      {
        icon: 'img/feature_3.png',
        title: 'Укусы животных',
      },
      {
        icon: 'img/feature_4.png',
        title: 'Госпитализация',
      },
    ]

  -
    const complexInsuranceTab = {
      text: [
        'Полис страхования жизни и здоровья – это уверенность в будущем для вас и ваших близких.',
        'При возникновении страхового случая вы сможете сберечь нервы и силы, получив денежную компенсацию.',
        'Клиенты Банка могут страховать риски в любой страховой организации, отвечающей требованиям кредитной организации к страховым организациям и условиям предоставления страховой услуги.',
        'Банк принимает полисы страховых компаний, соответствующих общим требованиям Банка к форме и содержанию Договора страхования, требованиям к финансовой устойчивости и предоставляемому страховому покрытию.',
      ],
      listItems: [
        { text: 'Смерть в результате несчастного случая и болезни' },
        { text: 'Инвалидность в результате несчастного случая и болезни' },
        { text: 'Временная нетрудоспособность в результате несчастного случая и болезни' },
      ],
      companies: [
        {
          img: 'img/max.png'
        },
        {
          img: 'img/renlife.png'
        },
        {
          img: 'img/alpha.png'
        },
        {
          img: 'img/vsk.svg'
        },
      ]
    }

block content
  main
    +breadcrumbs
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item('Услуги', '#')
      +breadcrumbs-item(pageTitle)
    +banner('--m-vertically')
      +banner-item('--health-insurance')
        +banner-wrapper('img/banner_health_insurance.png', true)
          +banner-h1('Страхование жизни и&nbsp;здоровья', '--mob-size-l')
          +banner-text('Здоровье – самая главная ценность человека. Мы&nbsp;понимаем это и&nbsp;предлагаем нашим клиентам максимально выгодные решения в&nbsp;рамках страхования от&nbsp;несчастных случаев и&nbsp;болезней.')

    .page-content
      +section('--mt0')
        .inner
          +section-head.text-center
            +ui-h2('От чего можно застраховаться?', 'section-head')
          +features(featuresItems)
      +section
        .inner
          +ui-h2('Выберите самый удобный и выгодный для вас продукт', '--section').text-center
        +tabs-head([{ text: 'Комплексное страхование жизни и здоровья заемщиков Банка' }])
        +tabs-main
          +tabs-main__item(true)
            +section('--mt0')
              .inner
                +health-insurance-info(complexInsuranceTab)
      +section
        .inner
           +section-footnote
            p - Размер агентского вознаграждения по агентским договорам со страховыми компаниями.
            p.text-center % от страховой премии, в т.ч. НДС 20%
            p.text-center От 60%
      +section
        .inner
          +section-head
            +ui-h2('Документы для скачивания', 'section-head').text-center
          +accordion
            +accordion-item('Документы')
              +documents
    +seo('Страхование жизни и здоровья в банке АТБ')
      p Азиатско-Тихоокеанский Банк предлагает оформить страховые индивидуальные и семейные полисы. При разработке программ учтены все основные риски, связанные с утратой жизни и здоровья.
      p Мы помогаем нашим клиентам решать такие проблемы, как потеря трудоспособности вследствие несчастных случаев (НС), наступление инвалидности или иных причин, компенсируем стоимость госпитализации, гарантируем поддержку семьям в случае смерти основного кормильца.
      p При оформлении продуктов страхования Банк выступает Агентом. Взаимоотношения Банка и Страховой компании регулируются Агентскими договорами.
      p Банк, как страховой агент раскрывает страхователям, застрахованным лицам, выгодоприобретателям и лицам, намеревающимся заключить договор страхования по их требованиям информацию в соответствии с требованиями законодательства, в том числе, перечень оказываемых услуг и их стоимость.
      p Размер агентского вознаграждения по агентским договорам со страховыми компаниями
      p.text-center % от страховой премии, в т.ч. НДС 20%
      p.text-center От 20%*
      p *зависит от программы страхования, объекта и срока страхования
      +seo-accordion
        +seo-accordion-item('Разновидности страховых программ')
          ul
            li Полная страховка. Такие программы предусматривают финансовую или иную поддержку при любых НС, независимо от степени тяжести.
            li Страховка жизни и здоровья при попадании субъекта в критические ситуации: серьезные транспортные аварии, стихийные бедствия и тому подобные.
            li Страховка в пользу семьи. Оформление данного полиса предполагает в случае смерти мужа выдачу денежной компенсации вдове.
            li Страховая программа в пользу детей. Предусматривает финансовую защиту детей в случае смерти обоих родителей.
        +seo-accordion-item('Основные цели страхования')
          ul
            li Обеспечение финансовой защиты семьи в случае смерти кормильца.
            li Оплата ритуальных услуг в случае смерти застрахованного лица.
            li Предоставление денежной помощи на период утраты трудоспособности.
            li Защита финансовых интересов бизнес-партнеров на случай смерти застрахованного лица.
            li Обеспечение материального благополучия и пенсионных начислений по старости.
            li Накопление денежных средств с дальнейшим получением процентов от их инвестирования.
            li Компенсация затрат на лечение в случае болезни, полученной на производстве (профессиональной) травмы, НС, укусов животных и т.п.
            li Расширение потенциальных возможностей для долгосрочного инвестирования в различные сектора экономики.
            li Обеспечение защиты частного капитала, а также имущества, передаваемого по наследству.
            li Уменьшение НДФЛ и гарантия получения кредита.
            li Перераспределение финансовых ресурсов.
        +seo-accordion-item('Как работает страхование?')
          p Взаимные обязательства в рамках договора подразумевают регулярные денежные взносы застрахованным лицом и выплаты страховой суммы или процентов банком по страховым случаям. К числу последних могут относиться временная или постоянная утрата трудоспособности, в том числе в результате инвалидности, причинение вреда здоровью в результате несчастных случаев и болезней и другие подобные ситуации. Потенциально список рисков в программе может быть расширен, если дополнительные условия взаимовыгодны и не входят в противоречие с действующим законодательством.
        +seo-accordion-item('Программы страхования жизни и здоровья в АТБ')
          p Комплексная страховка от АТБ гарантирует, что в любой тяжелой ситуации Вы и Ваша семья не останетесь без финансовой поддержки. Наши специальные программы значительно повышают эффективность страховки по отдельным направлениям.
        +seo-accordion-item('Перечень контрагентов, с которыми у Банка заключено Агентское соглашение')
          table.table(width='100%', cellpadding='5', border='1')
            tbody
              tr
                td Наименование компании
                td Адрес компании
              tr
                td Общество с ограниченной ответственностью "МАКС-Жизнь"
                td 115184, г. Москва, ул. Малая Ордынка, д. 50
              tr
                td Общество с ограниченной ответственностью «АльфаСтрахование-Жизнь»
                td 115162, г. Москва, ул. Шаболовка 31, стр. Б, подъезд 1.
              tr
                td Открытое акционерное общество «АльфаСтрахование»
                td 630099 г. Новосибирск, ул. Орджоникидзе, д. 38, оф. 601
              tr
                td Страховое акционерное общество «ВСК»
                td 121552, Российская Федерация, г. Москва, ул. Островная, д. 4
              tr
                td Акционерное общество «Московская акционерная страховая компания»
                td 115184 Москва, ул. М.Ордынка, д. 50, каб. 216
              tr
                td Акционерное общество «Страховое общество газовой промышленности» (АО «Согаз»)
                td 107078, г.Москва, пр-кт Академика Сахарова, д.10
              tr
                td Акционерное общество «Страховая компания МетЛайф»
                td 127015, Москва, ул. Бутырская, д.76 стр.1
              tr
                td Общество с ограниченной ответственностью «Национальная юридическая служба»
                td 115184, Москва, ул. Большой Строчановский переулок, д. 22/25 офис 300
              tr
                td Общество с ограниченной ответственностью «Юнисейф»
                td 121601, г. Москва, Филевский бульвар, д. 6
              tr
                td Общество с ограниченной ответственностью «Понимаю»
                td 105005, г. Москва, ул. Бауманская, д. 68/8, стр. 1, эт. 2, пом. 1, ком. 1-8, 8А, 9-12
              tr
                td Общество с ограниченной ответственностью "Медилог"
                td 119180, г. Москва, Ул. Полянка Б., д. 7/10 стр.3 этаж 1 пом.2 - комн.17 (РМБ 2)
      +seo-menu('seo')
        a(href='#') Страхование заемщиков банка
