extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  script(src=fileName + '.js')

block variables
  -const fileName = 'investment-insurance'
  -const pageTitle ='Инвестиционное страхование жизни'

  -
    const tabsHeadItems =[
      { text: 'Возможности внесения изменений в договор страхования' },
    ]

  -
    const list_1 =[
      { text: 'Банк является Агентом на основании Агентского договора. Услуга предоставляется Страховой компанией.' },
      { text: 'Договор может носить долгосрочный характер. Срок страхования устанавливается по соглашению Страховой компании и Страхователя и указывается в договоре.' },
      { text: 'Договором, заключённым страхователем – физическим лицом, предусмотрен период, длительностью 14 (Четырнадцать) календарных дней со дня его заключения, во время которого страхователь - физическое лицо может отказаться от договора страхования с возвратом уплаченной страховой премии в полном объеме, при отсутствии в данном периоде событий, имеющих признаки страхового случая («период охлаждения»). Отказ страхователя от договора должен быть осуществлен путем направления Страховой компании письменного заявления с указанием в нём банковских реквизитов для перечисления страховой премии и приложением копии паспорта страхователя – физического лица и оригинала или копии договора (Полиса). При этом договор будет считаться прекратившим своё действие с даты его заключения.' },
      { text: 'В случае досрочного прекращения договора по обстоятельствам, не связанным с наступлением страхового случая или отказом страхователя от договора в течение «периода охлаждения», страхователю выплачивается выкупная сумма в размере и на условиях, предусмотренных договором. Размер выкупной суммы может быть меньше размера страховой премии (страховых взносов), уплаченной страхователем по договору страхования.' },
      { text: 'Периодичность уплаты страховой премии (страховых взносов), срок, в который страховая премия (страховые взносы) должна быть уплачена страховщику, а также последствия неуплаты/неполной уплаты страховой премии (страховых взносов) указаны в договоре.' },
      { text: 'Договор не является банковским вкладом и не входит в систему страхования вкладов в соответствии с Федеральным законом от 23.12.2003 № 177-ФЗ «О страховании вкладов физических лиц в банках Российской Федерации».' },
      { text: 'Размер инвестиционного дохода, подлежащего выплате по условиям договора, не является фиксированным, зависит от ситуации на финансовых рынках и не может быть рассчитан и гарантирован при заключении договора. Условия страхования, связанные с инвестированием страховой премии, уплаченной по договору, включая формулу расчета инвестиционного дохода, а также раскрывающие состав инвестиционного актива, указаны договоре, а также в программе страхования, на условиях которой заключается договор.' },
      { text: 'При оформлении продуктов страхования Банк выступает Агентом. Взаимоотношения Банка и Страховой компании регулируются Агентскими договорами.' },
      { text: 'Банк, как страховой агент раскрывает страхователям, застрахованным лицам, выгодоприобретателям и лицам, намеревающимся заключить договор страхования по их требованиям информацию в соответствии с требованиями законодательства, в том числе, перечень оказываемых услуг и их стоимость.' },
      { text: 'Размер агентского вознаграждения по агентским договорам со страховыми компаниями. % от страховой премии, в т.ч. НДС 20% от 10%*' },
    ]

  -
    const mainAttentionData ={
      title: '<span class="text-orange">Ожидается обновление программ ИСЖ</span>',
    }

block content
  main
    +banner
      +banner-item('--investment-insurance')
        +banner-wrapper('img/banner_investment_insurance.jpg')
          +banner-h1('Инвестиционное страхование жизни')
          +banner-descr('Управляй своими средствами', '--fw400').text-orange.banner-item-dn
          .banner-item-foot
            .banner-item-foot-item
              +ui-button('Список офисов для оформления', 'banner, --ph-s')(href='#')
        +banner-mobile.text-orange
          p Управляй своими средствами
    .page-content
      +section('--mt0')
        .inner
          +section-head.text-center
            +ui-h2('Инвестиционное страхование жизни включает в себя 3&nbsp;составляющих:')
          +investment-insurance-features
      +section('--bg-grey')
        .inner
          +section-head.text-center
            +ui-h2('Как это работает')
          +investment-insurance-diagramm
      +section()
        .inner
          +main-attention(mainAttentionData)
      +section
        .inner
          +investment-insurance-programs
      +section
        .inner
          +attention
            +ui-ul(list_1)
          +section-footnote
            p *С 08.08.2019 оформление договоров страхования накопительного и инвестиционного страхования жизни компании ООО «Капитал Лайф Страхование Жизни» в офисах банка не осуществляется.
              br
              |  Информация о деятельности страховой организации, раскрываемая
              =' '
              a.text-orange(href='#' target='_blank') страховым агентом
              | .
      +section
        .inner
          +section-head.text-center
            +ui-h2('Документы для скачивания')
          +accordion()
            +accordion-item('Документы')
              +documents

      +section
        .inner
          +section-head.text-center
            +ui-h2('Также Вас может заинтересовать:')
          +may-interest
