mixin deposits-ssv(mods)
  -
    const baseName = 'deposits-ssv'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .deposits-ssv(class=allMods)&attributes(attributes)
    h2.deposits-ssv__title Вклад в надежном банке: размещение денег физических лиц
    .deposits-ssv__wrapper
      .deposits-ssv__text
        p Азиатско-Тихоокеанский  Банк предлагает вклады и накопительные счета для физических лиц. Открыть  депозит в АТБ можно с различными целями и на разные сроки: выгодный вклад  на три месяца (92 дня), на полгода (182 дня), на год и т.д. в зависимости от  пожеланий клиента. При этом минимальный срок депозита – 92  дня, максимальный – 3 года. Существуют как срочные, так и бессрочные программы  (до востребования).
        p Есть варианты с неограниченным  пополнением суммы, ежемесячной выплатой процентов, капитализацией,  автоматической пролонгацией.
        p Продукты  различаются процентными ставками по вкладам, сейчас предложение Банка более  выгодно на короткие сроки. В стабильное время, как правило, чем  длительнее срок размещения депозита, тем ставка выше.  Поскольку мы принимаем рублевые и валютные вклады – в долларах США и юанях, –  ставка корректируется также в зависимости от валюты, в которой клиент решил разместить  денежные средства. Сравнить условия в предложениях, рассчитать параметры и выбрать  наиболее выгодный вклад или накопительный счет Вы можете с помощью онлайн-калькулятора.
        p Подать заявку на открытие  депозита или счета и внести деньги можно как в отделении АТБ, так и в мобильном  или интернет-банке с повышенной ставкой.
        p Воспользуйтесь услугами  менеджеров Азиатско-Тихоокеанского банка, чтобы оформить депозит на максимально  выгодных условиях.
      .deposits-ssv__icon
        img(src='img/icon_ssv.png', alt='')
    block
