extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  script(src=fileName + '.js')

block variables
  -

block content
  main
    +banner('--m-vertically')
      +banner-item('')
        +banner-wrapper('img/banner-image.png', true)
          +banner-h1('Аресты и взыскания', '--mob-w-100, --mob-size-m, --mob-mb-s')
          +banner-descr('Разъяснения и помощь', '--fw400, --size-xs, --mob-w-100, --mob-size-m').text-orange
          .banner-item-foot.banner-item-foot--mob-stretch-w100
            .banner-item-foot-item
              +ui-button('Оставить заявку', 'banner')(href='#')