extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  script(src=fileName + '.js')

block variables
  -
    const fileName = 'arrests'
    const cardArrestsData = [
      {
        title: { h4: 'Арест счёта' },
        descr: '<p>Это блокировка определенной суммы по требованию государственного органа или по решению суда.</p><p>Доступ к средствам сверх арестованной суммы не ограничивается. Например:</p><ol class="ui-ol ui-ol--li-mb8" arrests__ui-ol"><li>На счету 1 000 ₽</li><li>Пришло постановление на арест 800 ₽</li><li>800 ₽ будут заблокированы, 200 ₽ будут доступны</li></ol>',
        img: 'img/arrests-image.png'
      },
      {
        title: { h4: 'Взыскание' },
        descr: '<p>Это принудительное списание суммы в счет долга:</p><ul class="ui-ul arrests__ui-ul ui-ul--li-mb8"><li>по решению суда;</li><li>постановлению судебного пристава или иного государственного органа.</li></ul><p>Списание может происходить с одного, нескольких или всех ваших счетов, включая валютные.</p><p>Также взыскание могут наложить на ценные бумаги.</p>',
        img: 'img/collection-image.png'
      }
    ]
    const smallBannersData = {
      title: 'Банк НЕ принимает решение об аресте или взыскании',
      descr: 'По 229-ФЗ «Об исполнительном производстве» банк обязан выполнять требования исполнительных документов:<ul class="ui-ul ui-ul--li-mb8 ui-ul--mt10 ui-ul--mb10"><li>о списании денежных средств со счетов и вкладов;</li><li>об удержании сумм ценных бумаг и драгоценных металлов, находящихся в банке.</li></ul>После списание со счета суммы сразу направляются судебному приставу или взыскателю, поэтому банк не может вернуть вам деньги.',
      img: 'img/mob-banner-image.png'
    }
    const accordionData = {
      sectionHead : { text: 'Часто задаваемые вопросы' },
      content: {
        items: [
          { title: 'Можно ли вернуть сумму взыскания, перечисленную банком?', text: 'Если сумма была излишне уплачена, обратитесь к судебным приставам по контактным данным указанным на сайте ФССП или по телефону горячей линии ФССП 8 800 350 34 86 для уточнения возможности возврата суммы.' },
          { title: 'Что делать, если приставы ошибочно наложили ограничение?', text: 'Какой то текст' },
          { title: 'Как отменить арест?', text: 'Какой то текст' },
          { title: 'Как отменить взыскание?', text: 'Какой то текст' },
          { title: 'Как определить, с каких выплат и сколько могут списать?', text: 'Какой то текст' },
          { title: 'Сумму, поступившую с КВД 3 или 5, взыскивать', text: 'Какой то текст' },
          { title: 'Могут ли ограничения быть наложены на кредиты и кредитные карты?', text: 'Какой то текст' },
          { title: 'По каким причинам может быть наложен арест или проведено взыскание?', text: 'Какой то текст' },
          { title: 'Где посмотреть информацию о наложении ареста и взыскания', text: 'Какой то текст' }
        ]
      }
    }

block content
  main
    +banner('--m-vertically')
      +banner-item()
        +banner-wrapper('img/banner-image.png', true)
          +banner-h1('Аресты и взыскания', '--mob-w-100, --mob-size-m, --mob-mb-s')
          +banner-text('Разъяснения и помощь')
          +banner-foot
            +ui-button('Оставить заявку', 'banner, --m-size-l, --m-w100')(href='#')
    .page-content
      .inner
        +section('--mt0')
          +card-arrests-wrapper()
            each item in cardArrestsData
              +card-arrests(item)
        +section('--mt-xs')
          +small-banner(smallBannersData, '--arrests')
        +section()
          +section-head()
            +ui-h2(accordionData.sectionHead.text, 'section-head')
          +accordion
            each accordionItem in accordionData.content.items
              +accordion-item(accordionItem.title)
                +ui-p1(accordionItem.text, '--light')
