.information {
  position: relative;
  min-height: 135px;
  padding: 30px 80px 30px 185px;
  border: 1px solid $grey40;
  font: 300 18px/1.44 $font;
  border-radius: 8px;
  @include media-laptop {
    padding: 30px 30px 30px 125px;
  }
  @include media-tablet {
    min-height: 85px;
    padding: 80px 30px 20px;
    font-size: 16px;
    line-height: 1.37;
  }
  &::before {
    content: '';
    position: absolute;
    top: 30px;
    left: 80px;
    width: 65px;
    height: 65px;
    background-image: url("data:image/svg+xml,%3Csvg width='65' height='65' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M33.15 18.742c2.6 0 4.767-2.167 4.767-4.767 0-2.6-2.167-4.767-4.767-4.767-2.6 0-4.767 2.167-4.767 4.767 0 2.6 2.167 4.767 4.767 4.767zm0-7.692c1.625 0 2.925 1.3 2.925 2.925 0 1.625-1.3 2.925-2.925 2.925a2.913 2.913 0 01-2.925-2.925c.108-1.625 1.408-2.925 2.925-2.925z' fill='url(%23paint0_linear)'/%3E%3Cpath d='M15.058 55.142A29.705 29.705 0 016.283 44.85c-2.166-4.225-3.25-8.883-3.25-13.65.109-7.8 3.142-15.167 8.667-20.692 5.633-5.525 13-8.558 20.8-8.558 4.658 0 9.1 1.083 13.217 3.142l3.9 2.383c7.8 5.633 12.458 14.625 12.458 24.05 0 6.825-2.383 13.433-6.825 18.633a10.141 10.141 0 00-2.275 4.875c-.325 1.3-.65 3.467.108 5.525.217.65 0 1.409-.433 1.95-.542.542-1.192.65-1.842.542-1.95-.542-3.9-1.408-5.741-2.492-1.517-.866-3.25-1.083-4.984-.65-2.491.65-5.091.975-7.8.975-4.658 0-9.208-1.191-13.325-3.358l-3.9-2.383zm2.925 4.008c4.442 2.275 9.209 3.575 14.192 3.575 2.817 0 5.525-.325 8.233-.975 1.192-.325 2.492-.108 3.575.433 1.95 1.084 4.117 2.059 6.175 2.709.325.108.759.108 1.084.108.975 0 1.95-.433 2.708-1.192.975-.975 1.3-2.491.867-3.9-.434-1.3-.434-2.708-.109-4.658.217-1.408.975-2.817 1.842-4.008 4.658-5.525 7.15-12.675 7.258-19.934 0-10.075-4.875-19.716-13.216-25.566l-4.009-2.384C42.142 1.083 37.375 0 32.5 0c-8.342 0-16.142 3.25-22.1 9.1-5.958 5.85-9.208 13.758-9.317 21.992 0 4.983 1.192 10.075 3.467 14.516 2.167 4.334 5.417 8.125 9.425 11.05l4.008 2.492z' fill='url(%23paint1_linear)'/%3E%3Cpath d='M23.292 45.934v.974c0 1.842 1.516 3.25 3.25 3.25H39.65c1.842 0 3.25-1.516 3.25-3.25v-.974c0-1.842-1.517-3.25-3.25-3.25h-1.733V24.375c0-1.083-.542-2.058-1.409-2.708-.866-.65-2.058-.759-3.033-.325-1.625.65-3.25 1.083-4.983 1.192l-3.034.108c-1.191.108-2.166 1.083-2.166 2.275v1.841c0 1.3.975 2.276 2.275 2.276h2.6c.108 0 .108.108.108.108v13.433h-1.733c-1.734 0-3.25 1.517-3.25 3.358zm6.066-1.409a.971.971 0 00.976-.975v-14.3a2.057 2.057 0 00-2.059-2.058h-2.6c-.216 0-.325-.217-.325-.325v-1.95c0-.217.108-.325.325-.325l3.034-.108c1.95-.109 3.791-.542 5.633-1.3.433-.217.867-.109 1.3.108.433.216.65.65.65 1.083v19.283c0 .542.433.975.975.975h2.708c.758 0 1.408.65 1.408 1.409v.975c0 .758-.65 1.408-1.408 1.408H26.65c-.758 0-1.408-.65-1.408-1.408v-.975c0-.759.65-1.409 1.408-1.409h2.709v-.108z' fill='url(%23paint2_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='29.24' y1='15.131' x2='37.655' y2='12.498' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FE5000'/%3E%3Cstop offset='1' stop-color='%23FCA92A'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear' x1='6.617' y1='24.821' x2='56.612' y2='37.471' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FE5000'/%3E%3Cstop offset='1' stop-color='%23FCA92A'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear' x1='24.831' y1='38.077' x2='42.97' y2='34.236' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FE5000'/%3E%3Cstop offset='1' stop-color='%23FCA92A'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    @include media-laptop {
      left: 30px;
    }
    @include media-tablet {
      top: 20px;
      width: 44px;
      height: 44px;
    }
  }
  &__ui-h6 {
    &:not(:last-child) {
      margin-bottom: 20px;
      @include media-tablet {
        margin-bottom: 15px;
      }
    }
  }
}
