.smart-medicine-service {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  @include media-laptop {
    flex-direction: column;
  }
  &__item {
    position: relative;
    width: calc((100% - 40px) / 2);
    min-height: 330px;
    padding: 40px 190px 80px 40px;
    background: $grey20;
    border-radius: 8px;
    @include media-laptop {
      width: 100%;
      margin-top: 15px;
      padding: 30px 200px 50px 30px;
    }
    @include media-tablet {
      padding: 25px 35px 110px 25px;
    }
    &:first-child {
      @include media-laptop {
        margin-top: 0;
      }
    }
    &--long {
      @include media-tablet {
        padding: 25px 35px 125px 25px;
      }
    }
    &--yellow {
      background: linear-gradient(90deg, #fff8f2 0%, #ffeedb 100%);
    }
    &--blue {
      background: linear-gradient(90deg, $grey20 0%, #ebf8ff 100%);
    }
  }
  &__title {
    margin-bottom: 20px;
    font: 700 22px/1.2 $font;
    @include media-laptop {
      font-size: 20px;
    }
    @include media-tablet {
      margin-bottom: 15px;
      font-size: 18px;
    }
    &--xs {
      margin-bottom: 25px;
      font-size: 20px;
    }
  }
  &__txt {
    position: relative;
    z-index: 1;
    font: 400 16px/1.5 $font;
    @include media-tablet {
      font-size: 14px;
    }
  }
  &__img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 250px;
    height: 330px;
    overflow: hidden;
    @include media-laptop {
      width: 205px;
      height: 270px;
    }
    @include media-tablet {
      width: 160px;
      height: 180px;
    }
  }
  &__ui-ul {
    margin: 0;
    font-size: 16px;
  }
}
