.p-atms {
  width: 100%;
  max-width: 500px;
  &__title {
    margin-bottom: 20px;
    font: 700 16px/1.1 $font;
    text-transform: uppercase;
    color: $font;
  }
  &__text {
    font: 14px/1.3 $font;
    &:not(:last-child) {
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #c3c3c3;
    }
    &-box {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
    p:not(:last-child) {
      margin-bottom: 0;
    }
  }
  &__services {
    &-head {
      display: flex;
      margin-bottom: 15px;
      font: 700 14px/1.1 $font;
      color: #545454;
    }
    &-name {
      margin-right: 20px;
    }
    &-error {
      margin-left: auto;
      font-weight: 400;
      text-decoration: underline;
    }
    &-list {
      column-count: 2;
      column-gap: 30px;
      color: #838383;
      font: 13px/1.2 $font;
      @include media-laptop {
        column-count: unset;
      }
      li {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  &__biometrika {
    margin-top: 15px;
    padding: 30px 20px;
    font: 300 16px/1.2 $font;
    color: #333;
    border: 1px solid $orange;
    border-radius: 10px;
    &-btn {
      margin-top: 20px;
    }
  }
}
