extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  script(src=fileName + '.js')

block variables
  -const fileName = 'repayment-methods'
  -const pageTitle ='Способы погашения кредита'

  -
    const infoList_1 =[
      { text: 'Частичное гашении с уменьшением суммы ежемесячного платежа, комиссия за данный вид реструктуризации составляет 500 р.' },
      { text: 'Частичное гашение задолженности с уменьшением срока возврата без взимания комиссии.' },
      { text: 'Полного досрочное гашение кредита осуществляется абсолютно бесплатно.' },
    ]

  -
    const tableItems ={
      tbody: [
        {
          td: [
            { text: 'Банк получателя' },
            { text: 'Филиал «Азиатско-Тихоокеанский Банк» (АО) в&nbsp;г.&nbsp;Москва' },
          ]
        },
        {
          td: [
            { text: 'БИК банка получателя' },
            { text: '044525754' },
          ]
        },
        {
          td: [
            { text: 'Корреспондентский счет банка получателя' },
            { text: '30101810145250000754 в&nbsp;ГУ&nbsp;Банка России по&nbsp;ЦФО' },
          ]
        },
        {
          td: [
            { text: 'ИНН банка получателя / КПП' },
            { text: '2801023444 / 770343001' },
          ]
        },
        {
          td: [
            { text: 'Юридический адрес' },
            { text: '125009, Россия, г.&nbsp;Москва, пер.&nbsp;Вознесенский, д.&nbsp;11, стр.&nbsp;1' },
          ]
        },
      ]
    }

  -
    const usefulGoods =[
      {
        mod: 'grey30',
        title: 'Подберите вариант ипотеки',
        btn: 'Подробнее',
        img: 'useful_goods_img_mortgage.png',
        list: [
          { title: 'От 1,5%', descr: 'ставка' },
          { title: 'До 30 лет', descr: 'срок кредитования' },
          { title: 'До 30 млн рублей', descr: 'сумма кредита' },
        ]
      },
      {
        mod: 'orange30',
        title: 'Кредит наличными',
        btn: 'Подробнее',
        img: 'useful_goods_img_cash_loan.png',
        list: [
          { title: 'Ставка от 5,5%', descr: 'годовых' },
          { title: 'До 5 лет', descr: 'срок кредита' },
          { title: 'До 3 млн рублей', descr: 'сумма кредита' },
        ]
      },
      {
        mod: 'green20',
        title: 'Кредит под залог недвижимости',
        btn: 'Подробнее',
        img: 'useful_goods_img_secured_loan.png',
        list: [
          { title: 'Ставка от 11,2%', descr: 'годовых' },
          { title: 'До 20 лет', descr: 'срок кредитования' },
          { title: 'До 15 млн рублей', descr: 'сумма кредита' },
        ]
      },
    ]

block content
  main
    +breadcrumbs
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item('Кредиты')
    +banner('--m-vertically')
      +banner-item('--repayment-methods')
        +banner-wrapper('img/banner_repayment-methods.png', true)
          +banner-h1('Способы <br class="banner__br-no-mob">оплаты кредита', '--mob-size-l')
          +banner-text('Все кредиты в&nbsp;АТБ погашаются ежемесячными равными платежами')
    .page-content
      +section('--mt0')
        .inner
          +tabs-head([{ text: 'Бесплатно' }, { text: 'Платно' }], true, '--no-item-border')
          +tabs-main
            +tabs-main__item(true)
              +ways('free')
            +tabs-main__item
              +ways('pay')
      +section
        .inner
          +accordion
              +accordion-item('Особенности погашения кредита')
                +ui-p1('')
                  p Удобнее всего вносить средства через терминалы или кассы нашего банка. При выборе услуг посредников уточняйте точные сроки перевода и&nbsp;размер комиссии.
                  p Вы можете оплатить кредит онлайн, используя интернет-сервис любого банка. Для этого понадобятся полные реквизиты Вашего кредитного счета, их найдете в&nbsp;личном кабинете АТБ.
              +accordion-item('Досрочное погашение кредита банка АТБ')
                +ui-p1('')
                  p В любой момент после оформления можно совершить досрочное гашение ссуды. Вам доступно:
                  +ui-ul(infoList_1)
                  p Для проведения операции необходимо заранее информировать банк о&nbsp;намерении осуществить досрочное гашение. Сделать это можно как лично обратившись в&nbsp;офис Банка, так и&nbsp;оставив заявку по&nbsp;телефону справочной службы Банка.
                  p При частичном вы получаете обновленный график платежей: происходит либо уменьшение срока с&nbsp;сохранением размера ежемесячного платежа, либо сохранение срока и&nbsp;уменьшение размера платежа.
              +accordion-item('Внесение ежемесячного платежа по программе Автокредитования')
                +ui-p1('')
                  p Реквизиты для перечисления денежных средств из&nbsp;других Банков для&nbsp;пополнения текущего счета Заемщиков, оформивших потребительский кредит в&nbsp;рамках программ Автокредитования после
                    =' '
                    span.text-nowrap 28.04.2022 г.
                  br
                  +ui-table(tableItems, '--all-border, --mob-overflow-auto')
                  br
                +ui-p1('')
                  p Номер Вашего текущего счета, на&nbsp;который был выдан кредит и&nbsp;с&nbsp;которого будет осуществляться погашение кредита, вы можете посмотреть в&nbsp;Графике платежей в&nbsp;разделе «Реквизиты для платежей по&nbsp;кредиту» — «Счет получателя» или&nbsp;в&nbsp;Памятке Заемщика.
                    | Если вам нужна более подробная информация по&nbsp;погашению, обратитесь в&nbsp;Круглосуточный информационный центр Банка по&nbsp;телефону
                    =' '
                    a.text-nowrap.text-orange(href='tel:88007758888') 8-800-775-88-88
                    |  (звонок по&nbsp;РФ&nbsp;бесплатный) или
                    =' '
                    a.text-orange(href='#') в&nbsp;офис Банка
                    | .
              .accordion-item
                .accordion-item__head.accordion-item__head--link
                  a.text-underline(href='#') Погашение в интернет банке по ссудам, проданным СЕВЕРГАЗБАНКУ

      +section('--ov-hidden')
        .inner
          +section-head
            +ui-h2('Вас также могут заинтересовать', 'section-head').text-center.text-center--mob-left
          +useful-goods(usefulGoods)
