.ui-pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 60px;
  @include media-tablet {
    margin-top: 45px;
  }
  &__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
    min-height: 30px;
    padding: 5px;
    font: 14px/1.1 $font;
    text-align: center;
    color: $black;
    border: 1px solid transparent;
    transition: 0.3s;
    &:hover {
      color: $orange;
      text-decoration: none;
    }
    &--prev,
    &--next {
      min-width: auto;
      min-height: auto;
      padding: 0;
      svg {
        width: 18px;
        height: 18px;
      }
    }
    &--prev {
      margin-right: 10px;
      svg {
        transform: rotate(180deg);
      }
    }
    &--next {
      margin-left: 10px;
    }
    &--disabled {
      display: none;
    }
  }
  &__list {
    display: flex;
  }
  &__item {
    margin-right: 5px;
    &:last-child {
      margin-right: 0;
    }
    &--active {
      .ui-pagination__link {
        color: $orange;
        border-color: $orange;
        cursor: default;
      }
    }
  }
  &--mt-xs {
    margin-top: 40px;
    @include media-tablet {
      margin-top: 30px;
    }
  }
}
