mixin useful-articles-inner(mods, type)
  -
    const baseName = 'useful-articles-inner'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

    const usefulAnchorItems =[
      { text: 'Заголовок 1', href: '#useful-section1' },
      { text: 'Заголовок 2', href: '#useful-section2' },
      { text: 'Заголовок 3', href: '#useful-section3' },
    ]

    const tagsItems = [
      { text: 'Автострахование' },
      { text: 'Акции' },
      { text: 'Банки' },
      { text: 'Банковская карта' },
      { text: 'Безналичные платежи' },
      { text: 'Банковские услуги' },
      { text: 'Валюта' },
      { text: 'Займы' },
      { text: 'Вклады и счета' },
      { text: 'Кредиты' },
      { text: 'Ипотека' },
      { text: 'Кредитная история' },
      { text: 'Наличные' },
      { text: 'Инвестиции' },
      { text: 'Защитить права' },
      { text: 'Инфляция' },
      { text: 'Платежи и переводы' },
      { text: 'Страхование' },
      { text: 'Налоговый вычет' },
      { text: 'Налоговый вычет' },
      { text: 'Льготы для бизнеса' },
      { text: 'Начать бизнес' },
      { text: 'Кредит на бизнес' },
    ]

  -
    const financialLiteracyBanData = {
      img: 'img/financial-literacy-ban.png',
      h4: 'Отвечаем на&nbsp;ваши вопросы по&nbsp;финансовой грамотности',
      buttons: [
        { text: 'Подробнее', mods: '--empty'},
        { text: 'задать вопрос', mods: '--link-next', class: 'text-orange js-popup-open', href: '#popup-ask-question' },
      ]
    }

  .useful-articles-inner(class=`${type === 'extended' ? 'useful-articles-inner--mob-aside-divide' : ''} ${allMods}`)&attributes(attributes)
    .useful-articles-inner__aside
      //-  на странице useful-articles-inner  .useful-articles-inner__box и .useful-articles-inner__h6 нет на бэкенде
      .useful-articles-inner__box.useful-articles-inner__box--nav
        +ui-h6('Оглавление', '--bold', false).useful-articles-inner__h6
        ul.useful-articles-inner__nav
          each item in usefulAnchorItems
            li.useful-articles-inner__anchor
              a(href=item.href)=item.text
      if type === 'extended'
        .useful-articles-inner__box
          +ui-h6('Теги', '--bold', false)
          +tags(tagsItems)(data-mob-short)

    if type === 'extended'
      .useful-articles-inner__content.useful-articles-inner__content--simple
        p Кредитная карта — удобный инструмент, позволяющий получить у банка денежные средства для совершения покупок и оплаты услуг. Продукт обладает рядом преимуществ в сравнении с дебетовой картой или нецелевым потребительским кредитом, однако эмитент налагает ряд условий на его использование. Прежде чем заказать кредитку, рекомендуем изучить плюсы и минусы платежного средства. В статье мы приведем основные достоинства и недостатки использования кредитных карт и расскажем, с каким продуктом пользователь сможет получать выгоду.
        h2#useful-section1 Плюсы кредитных карт
        p Кредитные карты популярны у населения благодаря доступности, разнообразию предложений и большому набору полезных опций. Являясь своего рода финансовыми подушками безопасности, они обладают рядом других преимуществ.
        h3 Кредитный лимит
        p Один из основных плюсов кредиток — сумма денежных средств, которую банк предоставляет клиенту в пользование. Кредитный лимит рассчитывается индивидуально и зависит от величины дохода и кредитной истории (КИ) конкретного человека. Расходовать заемные деньги можно для безналичной оплаты услуг и совершения покупок, в том числе и в Интернете.
        h3 Грейс-период
        p Срок, в который использование заемных денег бесплатно, если вы их вовремя вернули на банковскую карту. У большинства кредитных карт он составляет в среднем 50–60 дней. Отдельные банки предлагают более выгодные условия, например, у АТБ срок льготного периода — до 120 дней.
        h3 Оперативное и удобное оформление
        p Большинство банков позволяет подать заявление на оформление кредитной карты онлайн на сайте или в мобильном приложении. Как правило, заполнение анкеты занимает несколько минут, а предварительное одобрение приходит в тот же день по СМС или на указанный адрес электронной почты.
        h3 Получение без подтверждения дохода и поручителей
        p Для получения кредитной карты не нужно подтверждать доходы и искать поручителя. В отличие от потребительского займа, оформление происходит по паспорту, без необходимости предоставлять какие-либо дополнительные справки.
        h3 Система кэшбэка
        p Владельцам кредитных карт предлагают бонусы, акции и другие программы лояльности. Наиболее популярная — кэшбэк, позволяющая возвращать часть израсходованных средств в виде баллов или денег.
        p К плюсам кредитки можно также отнести такие преимущества, как высокая скорость расчета и отсутствие необходимости носить с собой наличные деньги. В то же время, если наличка потребовалась, ряд банков позволяют снять необходимую сумму кэша без комиссии и активации кредита. Для продукта нередко устанавливается ежемесячный лимит.
        h2#useful-section2 Минусы кредитных карт
        p У использования кредитной карты имеются и недостатки. Рассмотрим основные минусы, о которых нужно знать владельцу.
        h3 Высокие процентные ставки
        p Процентные ставки по кредиткам выше, чем по потребкредитам. Разница может составлять до 20% и более в зависимости от банка-эмитента. Процент начисляется на сумму задолженности.
        h3 Штрафы
        p За нарушение правил использования и сроков погашения установлены высокие процентные ставки и штрафы. Так, если не погасить весомый долг до окончания грейс-периода, возможно столкнуться с большой переплатой по процентам.
        h2#useful-section3 Преимущества кредитной карты АТБ
        p За нарушение правил использования и сроков погашения установлены высокие процентные ставки и штрафы. Так, если не погасить весомый долг до окончания грейс-периода, возможно столкнуться с большой переплатой по процентам.
        +useful-articles-inner__share
        +ui-button('оформить карту', 'useful-articles-inner')
        +financial-literacy-ban(financialLiteracyBanData, 'useful-articles-inner')
    else
      .useful-articles-inner__content
        .useful-articles-inner__text
          p Каждый пятый россиянин использует кредитную карту ежедневно. С&nbsp;наступлением 2022 года число новых обладателей платежных инструментов резко возросло. Основной приток составили молодые люди до&nbsp;24&nbsp;лет. Если вы&nbsp;задумываетесь о&nbsp;приобретении кредитки, полезно будет задаться вопросами: что значит понятие &laquo;кредитный лимит&raquo; по&nbsp;карте? Можно&nbsp;ли увеличить или уменьшить предоставляемую клиенту в&nbsp;долг сумму денежных средств на&nbsp;карте. Как узнать свой лимит и&nbsp;правильно им&nbsp;пользоваться? Ответы на&nbsp;эти и&nbsp;другие вопросы раскрываем в&nbsp;статье.
        .useful-articles-inner__section
          +ui-h2('Заголовок 1 h2', 'useful-articles-inner')#useful-section1
          .useful-articles-inner__text
            p Кредитный лимит&nbsp;&mdash; это сумма денежных средств, которую банк готов предоставить клиенту. Для каждого клиента он&nbsp;рассчитывается индивидуально. Показатель зависит от&nbsp;дохода и&nbsp;кредитной истории (КИ).
            p Банк предоставляет беспроцентный период (грейс-период), время беспроцентного погашения долга. Например,
              =' '
              a.text-orange(href='#') по кредитной карте «Универсальная» АТБ
              |  он составляет до 120 дней.
              br
              | Пользователю не&nbsp;придется платить проценты за&nbsp;использование заемных средств, если деньги вернули на&nbsp;кредитку в&nbsp;течение грейс-периода.
        #useful-section2.useful-articles-inner__section
          +ui-h2('Заголовок 2 h2', 'useful-articles-inner')
          .useful-articles-inner__text
            p Посмотреть установленный лимит можно в&nbsp;договоре с&nbsp;банком, личном кабинете интернет-банка или в&nbsp;онлайн-приложении. В&nbsp;сервисах банка информация появится при выборе карты. Вы&nbsp;увидите доступную сумму, дату и&nbsp;величину очередного обязательного платежа, долга на&nbsp;сегодняшний день и&nbsp;срок окончания грейс-периода.
          h3.useful-articles-inner__h3 Заголовок h3
          .useful-articles-inner__text
            p Большая часть продуктов, предлагаемых банками, представляют собой платежные инструменты с&nbsp;возобновляемым кредитным лимитом. Возобновляемость использования лимита возникает по&nbsp;мере погашения, чем больше сумма лимита восстановлена, тем больше может снова снимать. Как только задолженность погашена, владелец карты снова может пользоваться полной суммой выделенных денежных средств.
          .useful-articles-inner__img
            if isAMP === true
              amp-img(src='img/useful-articles-inner.png' alt='' layout='responsive' width='805' height='445')
            else
              img(src='img/useful-articles-inner.png', alt='')
        #useful-section3.useful-articles-inner__section
          +ui-h2('Заголовок 3 h2', 'useful-articles-inner')#useful-section3
          .useful-articles-inner__text
            p Случается, что пользователи интересуются, можно&nbsp;ли увеличить лимит по&nbsp;кредитной карте, и&nbsp;как это сделать. Для начала нужно понять, что указанная процедура&nbsp;&mdash; прерогатива банка. Как правило, увеличение лимита происходит автоматически при использовании специальной программы и&nbsp;без участия сотрудников. Анализ финансового состояния клиента проводится в&nbsp;среднем раз в&nbsp;полгода, после чего ему предлагается скорректировать доступную сумму в&nbsp;большую или меньшую сторону.
          h3.useful-articles-inner__h3 Заголовок h3
          .useful-articles-inner__text
            p Для повышения вероятности увеличения кредитного лимита эксперты рекомендуют соблюдать  следующие условия:
            ul.ui-ul
              li не допускайте просрочек по платежам
              li чаще пользуйтесь кредитной картой, оплачивая повседневные покупки
              li старайтесь погашать долг за&nbsp;2&ndash;3 суток до&nbsp;даты обязательного платежа, чтобы деньги успели поступить на&nbsp;счет
              li сохраняйте и увеличивайте доход, сообщите банку, если зарплата выросла
              li пользуйтесь другими услугами банка для повышения доверия
              li проверьте собственную кредитную историю
              li погасите просрочки в других банках
              li следите за тем, чтобы у менеджеров финансового учреждения были ваши актуальные контактные данные
            p На&nbsp;сколько увеличится лимит по&nbsp;кредитке, будет зависеть от&nbsp;таких показателей, как своевременное погашение долга, отсутствие просрочек, наличие других кредитов. Подтвержденный доход станет дополнительным пунктом в&nbsp;пользу увеличения лимита. Как правило, клиенту сообщают о&nbsp;принятом решении с&nbsp;помощью СМС-уведомления.
            ol.ui-ol
              li не допускайте просрочек по платежам
              li чаще пользуйтесь кредитной картой, оплачивая повседневные покупки
              li старайтесь погашать долг за&nbsp;2&ndash;3 суток до&nbsp;даты обязательного платежа, чтобы деньги успели поступить на&nbsp;счет
              li сохраняйте и увеличивайте доход, сообщите банку, если зарплата выросла
              li пользуйтесь другими услугами банка для повышения доверия
          .useful-articles-inner__img
            if isAMP === true
              amp-img(src='img/useful-articles-inner.png' alt='' layout='responsive' width='805' height='445')
            else
              img(src='img/useful-articles-inner.png', alt='')
        +useful-articles-inner__share
        +ui-button('оформить карту', 'useful-articles-inner')
    block

mixin useful-articles-inner__share
  -
    const newsSocialItem =[
      { icon: 'vk' },
      { icon: 'odnoklassniki' },
      { icon: 'tw' },
      { icon: 'whatsapp' },
      { icon: 'telegram' },
    ]

  .useful-articles-inner__share
    .useful-articles-inner__share-txt Поделиться:
    .useful-articles-inner__socials
      each item in newsSocialItem
        a.useful-articles-inner__soc-item(href='#')
          +icon('icon_'+item.icon)
