.installment-purchases {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  @include media-laptop {
    grid-template-columns: 1fr;
  }
  @include media-tablet {
    gap: 15px;
  }
  &__top {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    background: linear-gradient(90deg, #f8f8f8 0%, #edf3f7 100%);
    border-radius: 8px 8px 0 0;
    @include media-tablet {
      padding: 15px 60px 15px 20px;
    }
    &::before {
      position: absolute;
      top: 50%;
      right: 15px;
      width: 18px;
      height: 11px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='11' viewBox='0 0 18 11' fill='none'%3E%3Cpath d='M1.5 1.66666L9 8.33332L16.5 1.66666' stroke='%23373A36' stroke-width='3'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: contain;
      transform: translateY(-50%);
      transition: 0.3s ease-in-out;
      @include media-tablet {
        content: '';
      }
    }
    &--active {
      border-radius: 8px;
      &::before {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }
  &__icon {
    width: 58px;
    height: 58px;
    margin-right: 10px;
    flex-shrink: 0;
    @include media-tablet {
      width: 48px;
      height: 48px;
    }
  }
  &__about {
    margin-right: 10px;
  }
  &__number {
    font: 400 14px/1.45 $font;
    color: $grey80;
    @include media-tablet {
      font-size: 12px;
    }
  }
  &__txt {
    font: 400 16px/1.4 $font;
    @include media-tablet {
      font-size: 14px;
    }
  }
  &__total {
    margin-left: auto;
    font: 700 24px/1.25 $font;
    @include media-tablet {
      font-size: 20px;
    }
  }
  &__main {
    padding: 20px 30px 30px;
    background-color: #fff;
    box-shadow: 0 3px 30px rgb(135 151 155 / 0.15);
    border-radius: 0 0 8px 8px;
    @include media-tablet {
      display: none;
      padding: 20px;
    }
  }
  &__footnote {
    font: 400 14px/1.4 $font;
    color: $grey80;
    @include media-tablet {
      font-size: 12px;
    }
  }
  &__timeline {
    margin-top: 30px;
    @include media-tablet {
      margin-top: 20px;
    }
  }
  &__payment {
    position: relative;
    display: flex;
    align-items: baseline;
    padding-left: 25px;
    &::before {
      content: '';
      position: absolute;
      top: 1px;
      left: 0;
      width: 16px;
      height: 16px;
      border: 3px solid $grey40;
      border-radius: 50%;
    }
    &:not(:last-child) {
      padding-bottom: 40px;
      @include media-tablet {
        padding-bottom: 30px;
      }
      &::after {
        content: '';
        position: absolute;
        top: 21px;
        bottom: 4px;
        left: 8px;
        width: 1px;
        background-color: $grey40;
      }
    }
    .installment-purchases__txt {
      margin-right: 10px;
    }
  }
  &__sum {
    margin-left: auto;
    white-space: nowrap;
    font: 700 16px/1.4 $font;
    @include media-tablet {
      font-size: 14px;
    }
  }
  &__conclusion {
    position: relative;
    margin-top: 25px;
    padding: 15px 20px 15px 60px;
    background: #fff3ee;
    border-radius: 8px;
    @include media-tablet {
      margin-top: 20px;
      padding: 15px 15px 15px 60px;
    }
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 18px;
      width: 30px;
      height: 30px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill='none'%3E%3Cpath d='M15 27.135C7.83085 27.135 2 21.275 2 14.07C2 6.865 7.83085 1 15 1C22.1692 1 28 6.86 28 14.065C28 21.27 22.1692 27.135 15 27.135ZM15 1.935C8.34328 1.935 2.92537 7.38 2.92537 14.07C2.92537 20.76 8.34328 26.205 15 26.205C21.6567 26.205 27.0746 20.76 27.0746 14.07C27.0746 7.375 21.6567 1.935 15 1.935ZM15 24.8C9.10945 24.8 4.31841 19.985 4.31841 14.065C4.31841 8.145 9.10945 3.335 15 3.335C20.8905 3.335 25.6816 8.15 25.6816 14.07C25.6816 19.99 20.8905 24.8 15 24.8ZM15 4.265C9.62189 4.265 5.24876 8.66 5.24876 14.065C5.24876 19.47 9.62189 23.865 15 23.865C20.3781 23.865 24.7512 19.47 24.7512 14.065C24.7512 8.66 20.3781 4.265 15 4.265ZM15 29C7.83085 29 2 23.14 2 15.935C2 15.64 2.01493 15.335 2.0398 14.97C2.0597 14.725 2.25871 14.535 2.50249 14.535C2.74627 14.535 2.95025 14.725 2.96517 14.97C3.42289 21.265 8.71144 26.2 15 26.2C21.2886 26.2 26.5771 21.265 27.0348 14.965C27.0547 14.72 27.2537 14.53 27.4975 14.53C27.7413 14.53 27.9453 14.72 27.9602 14.965C27.9851 15.33 28 15.64 28 15.93C28 23.14 22.1692 29 15 29ZM4.13433 21.215C6.08955 25.265 10.2289 28.065 15 28.065C19.7711 28.065 23.9104 25.265 25.8657 21.215C23.5274 24.785 19.5025 27.13 15 27.13C10.4975 27.13 6.47264 24.785 4.13433 21.215ZM16.5075 15.295H14.4975V16.31H17.592V17.165H14.4975V18.66H13.3483V17.165H12.2886V16.31H13.3483V15.295H12.2886V14.24H13.3483V9.875H16.5075C17.2637 9.875 17.9104 10.145 18.4428 10.68C18.9751 11.205 19.2438 11.845 19.2438 12.6C19.2438 13.355 18.9751 13.99 18.4428 14.52C17.9055 15.035 17.2637 15.295 16.5075 15.295ZM16.5075 10.97H14.4975V14.245H16.5075C16.9303 14.245 17.3035 14.085 17.6169 13.77C17.9303 13.435 18.0896 13.045 18.0896 12.605C18.0896 12.145 17.9353 11.76 17.6269 11.45C17.3134 11.125 16.9403 10.97 16.5075 10.97Z' fill='url(%23paint0_linear_3336_1758)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_3336_1758' x1='7.3625' y1='29' x2='30.4498' y2='22.2906' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FE5000'/%3E%3Cstop offset='1' stop-color='%23FCA92A'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: cover;
      transform: translateY(-50%);
    }
  }
}
.bvi-body {
  .installment-purchases {
    grid-template-columns: 1fr;
  }
}
