.documents {
  &:not(:last-child) {
    margin-bottom: 40px;
    @include media-tablet {
      margin-bottom: 25px;
    }
  }
  &-item {
    position: relative;
    display: flex;
    font: 400 18px/1.3 $font;
    @include media-tablet {
      font-size: 14px;
    }
    &:not(:last-child) {
      margin-bottom: 30px;
      @include media-tablet {
        margin-bottom: 25px;
      }
    }
    &:hover {
      color: $blue;
      text-decoration: none;
      .documents-item__name {
        text-decoration: underline;
      }
    }
    &__icon {
      flex-shrink: 0;
      width: 44px;
      height: 44px;
      margin-right: 20px;
      color: $green;
      @include media-tablet {
        width: 30px;
        height: 30px;
        margin-right: 15px;
      }
    }
    &__content {
      align-self: center;
    }
    &__name {
      display: inline;
      margin-right: 10px;
      @include media-tablet {
        margin-right: 5px;
      }
    }
    &__info {
      display: inline;
      font-size: 15px;
      color: $grey50;
      text-decoration: none;
      @include media-tablet {
        font-size: 12px;
      }
    }
    &--no-link {
      &:hover {
        color: initial;
        .documents-item__name {
          text-decoration: none;
        }
      }
    }
    &--mb-xxs {
      &:not(:last-child) {
        margin-bottom: 12px;
        @include media-tablet {
          margin-bottom: 10px;
        }
      }
    }
    &--simple {
      font-size: 16px;
      line-height: 1.37;
      @include media-tablet {
        font-size: 14px;
        line-height: 1.5;
      }
      &:hover {
        color: $orange;
        .documents-item__name {
          text-decoration: none;
        }
      }
      .documents-item {
        &__info {
          font-weight: 300;
          font-size: 14px;
          color: $grey90;
          @include media-tablet {
            font-size: 12px;
          }
        }
      }
    }
    &--simple-archive {
      font-weight: 300;
      font-size: 14px;
      line-height: 1.4;
      color: $grey90;
      @include media-tablet {
        font-size: 12px;
      }
      &:hover {
        color: $orange;
        .documents-item__name {
          text-decoration: none;
        }
      }
      .documents-item {
        &__info {
          font-weight: 300;
          font-size: 14px;
          color: $grey90;
          @include media-tablet {
            font-size: 12px;
          }
        }
      }
    }
  }
  &--mb-xs {
    &:not(:last-child) {
      margin-bottom: 25px;
      @include media-tablet {
        margin-bottom: 20px;
      }
    }
  }
  &--mb-xxs {
    &:not(:last-child) {
      margin-bottom: 20px;
      @include media-tablet {
        margin-bottom: 15px;
      }
    }
  }
}
