extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  script(src=fileName + '.js')

block variables
  -const fileName = 'the-most-important-txt'
  -const pageTitle ='Информация для&nbsp;клиентов Квантмобайл банка'

  -
    let mobBannersData ={
      title: 'Встречайте новый <span class="text-orange">Мобильный&nbsp;банк</span> – удобный и&nbsp;безопасный доступ к&nbsp;вашим финансам',
      apps: [
        { icon: 'icon_app_store_white' },
        { icon: 'icon_google_play_white' },
        //- { icon: 'icon_rustore_white' },
      ],
      qrSrc: '/img/qr-code.png',
      img: '/img/mob-banner.png'
    }

block content
  main
    +breadcrumbs()
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item('Самое важное сегодня', '#')
      +breadcrumbs-item(pageTitle)
    .page-content
      +section('--mt0')
        .inner
          +section-head
            +ui-h2('Информация для&nbsp;клиентов Квантмобайл банка')
          +accordion
            +accordion-item('Как оплатить кредит')
              +section-box('--mt30, --hr')
                +section-head('--mb-size-s')
                  +ui-h4('Способы оплаты после перехода вашего кредита в&nbsp;Азиатско-Тихоокеанский банк:', '--bold')
                +section-head('--mb-size-xxs')
                  +ui-h6('Для&nbsp;клиентов, которые получили новые реквизиты для&nbsp;оплаты:', '--bold').text-orange
                +ui-p1('')
                  +ui-ol('', '--li-mb25')
                    li В
                      =' '
                      a.text-orange(href='/atms/', target='_blank') офисах Азиатско-Тихоокеанского банка
                      |  внесением:
                      +ui-ul('', '--child, --li-mb10').text-light
                        li средств на&nbsp;счет через терминалы самообслуживания или банкоматы с&nbsp;CASH-IN (без&nbsp;комиссии)
                        li наличных на&nbsp;счет через кассу (без&nbsp;комиссии -при сумме внесения от&nbsp;30&nbsp;тыс. руб., при сумме до&nbsp;30&nbsp;тыс. руб. &mdash;&nbsp;комиссия 150&nbsp;руб.)
                      +section-footnote('', '--mt-xxs')
                        +ui-p3('Срок зачисления: один операционный день.').text-grey80
                    li В приложении
                      =' '
                      a.text-orange.text-nowrap(href='/getapp/', target='_blank') АТБ Мобайл NEW
                      |  (
                      a(href='/reg/', target='_blank') Видео-инструкция по&nbsp;регистрации
                      | )
                      +ui-ul('', '--child, --li-mb10').text-light
                        li через СБП
                          +section-footnote('', '--mt-xxs')
                            +ui-p3('Срок зачисления СБП&nbsp;&mdash; моментально.').text-grey80
                        li через операцию пополнения карты Азиатско-Тихоокеанского банка с&nbsp;карты другого банка без&nbsp;комиссии (распространяется только на&nbsp;тех, у&nbsp;кого уже оформлена карта АТБ)
                          +section-footnote('', '--mt-xxs')
                            +ui-p3('Срок зачисления между своими счетами&nbsp;&mdash; один операционный день.').text-grey80
                    li Межбанковский перевод
                      +section-footnote('', '--mt-xxs')
                        +ui-p3('Срок зачисления&nbsp;&mdash; до&nbsp;5-ти рабочих дней, комиссия на&nbsp;стороне банка, из&nbsp;которого направляется перевод.').text-grey80
                    li Через партнерскую сеть: Золотая корона, сотовые операторы
                      +section-footnote('', '--mt-xxs')
                        +ui-p3('Срок зачисления&nbsp;&mdash; от&nbsp;1&nbsp;до&nbsp;3&nbsp;рабочих дней, комиссия на&nbsp;стороне посредника.').text-grey80
                    li Через отделение Почты России
                      +section-footnote('', '--mt-xxs')
                        +ui-p3('Срок зачисления&nbsp;&mdash; до&nbsp;10&nbsp;рабочих дней, комиссия на&nbsp;стороне посредника.').text-grey80
              +section-box('--mt30, --hr')
                +section-head('--mb-size-xxs')
                  +ui-h6('Для&nbsp;клиентов, которые еще не&nbsp;получили новые реквизиты для&nbsp;оплаты кредитов:', '--bold').text-orange
                +ui-p1('')
                  +ui-ol('', '--li-mb25')
                    li Межбанковский перевод
                      +section-footnote('', '--mt-xxs')
                        +ui-p3('Срок зачисления&nbsp;&mdash; до&nbsp;5-ти рабочих дней, комиссия на&nbsp;стороне банка, из&nbsp;которого направляется перевод.').text-grey80
                    li Через партнерскую сеть: Золотая корона, сотовые операторы
                      +section-footnote('', '--mt-xxs')
                        +ui-p3('Срок зачисления&nbsp;&mdash; от&nbsp;1&nbsp;до&nbsp;3&nbsp;рабочих дней, комиссия на&nbsp;стороне посредника.').text-grey80
                      .attention__fn
                  +section-footnote('', '--mt-xxs')
                    +ui-p3('ВНИМАНИЕ! Платежи в&nbsp;счет погашения кредитов, исполненные по&nbsp;&laquo;старым&raquo; реквизитам, будут автоматически перенаправлены в&nbsp;Азиатско-Тихоокеанский банк в&nbsp;срок до&nbsp;14.09.2022. После указанной даты платежи будут возвращаться отправителю.').text-orange
            +accordion-item('Как узнать реквизиты')
              +section-box('--mt30, --hr')
                +section-head('--mb-size-xxs')
                  +ui-h6('Для&nbsp;клиентов со&nbsp;&laquo;старыми&raquo; реквизитами:', '--bold').text-orange
                +ui-p1('Платежи в&nbsp;счет погашения кредитов, исполненные по&nbsp;&laquo;старым&raquo; реквизитам, будут автоматически перенаправлены в&nbsp;Азиатско-Тихоокеанский банк в&nbsp;срок до&nbsp;14.09.2022. После указанной даты платежи будут возвращаться отправителю.')
              +section-box('--mt30, --hr')
                +section-head('--mb-size-xxs')
                  +ui-h6('Как получить новые реквизиты:', '--bold').text-orange
                +ui-p1('')
                  p Новые реквизиты, а&nbsp;также информацию по&nbsp;договорам, заключенным с&nbsp;Квантмобайл банком, начиная с&nbsp;14.06.2022&nbsp;вы можете получить:
                  +ui-ol('', '--li-mb25')
                    li В
                      =' '
                      a.text-orange(href='/atms/', target='_blank') офисах Азиатско-Тихоокеанского банка
                    li По телефону
                      =' '
                      a.text-orange.text-nowrap(href='tel:88007758888') 8-800-775-88-88
                    li В
                      =' '
                      a.text-orange(href='https://ib.atb.su/auth/login/', target='_blank') Интернет-банке
                    li В
                      =' '
                      a.text-orange(href='/getapp/', target='_blank') Мобильном приложении
                      |  (
                      a(href='https://www.atb.su/reg/', target='_blank') Видео-инструкция по&nbsp;регистрации
                      | )
                +section-footnote
                  +ui-p3('Условия заключенных договоров не&nbsp;изменятся.').text-grey80
            +accordion-item('Как частично или полностью закрыть кредит')
              +ui-p1('Действующий кредитный договор можно погасить досрочно, частично либо полностью и&nbsp;без&nbsp;комиссии. <br> Подробнее в&nbsp;разделе')
                =' '
                a.text-orange(href='/kredit/sposoby-oplaty/') Досрочное погашение потребительского кредита
                | .
      +section
        .inner
          +ui-p1('', '--light')
            a(href='https://www.atb.su/general-information/klientam-pao-kvant-mobayl-bank/') В&nbsp;соответствии со&nbsp;статьями 58, 382 Гражданского кодекса Российской Федерации, частью 16&nbsp;статьи 5&nbsp;Федерального закона от&nbsp;21.12.2013 &#8470;&nbsp;353-ФЗ &laquo;О&nbsp;потребительском кредите (займе)&raquo; с&nbsp;10&nbsp;октября 2022&nbsp;г. Общие условия предоставления ПАО &laquo;КВАНТ МОБАЙЛ БАНК&raquo; потребительского кредита под залог транспортного средства, изменены и&nbsp;изложены в&nbsp;редакции Универсального договора банковского обслуживания физических лиц &laquo;Азиатско-Тихоокеанский Банк&raquo; (АО).
      +section
        .inner
          +section-head
            +ui-h2('Вопросы&nbsp;&mdash; Ответы')
          +accordion
            +accordion-item('На&nbsp;каких условиях можно открыть счет корпоративному клиенту Квантмобайл Банка при переходе в&nbsp;АТБ?')
              +ui-p1('', '--light')
                p При переходе на&nbsp;обслуживание в&nbsp;АТБ корпоративным клиентам Квантмобайл Банка бесплатно предоставляется весь пакет услуг, необходимый для&nbsp;открытия счета: оформление карточки образцов подписей и&nbsp;оттиска печати (КОПОП), заверение копий документов, открытие счета и&nbsp;подключение дистанционного банковского обслуживания (ДБО).
                p Дополнительно до&nbsp;30&nbsp;июня 2022&nbsp;г. клиентам КМБ предоставляется&nbsp;50% скидка на&nbsp;расчетно-кассовое обслуживание в&nbsp;рамках пакетов услуг: &laquo;Сочный ноль&raquo;, &laquo;Тонизирующий&raquo;, &laquo;Бодрящий&raquo;, &laquo;Полезный&raquo;. Клиент также может выбрать бесплатное ведение расчетного счета и&nbsp;ДБО за&nbsp;первый месяц, а&nbsp;со&nbsp;второго месяца будет действовать скидка&nbsp;50%.
            +accordion-item('Какие документы требуются для&nbsp;получения льготных условий по&nbsp;открытию счета и&nbsp;его обслуживанию?')
              +ui-p1('', '--light')
                p Чтобы воспользоваться льготами в&nbsp;АТБ, клиент Квантмобайл Банка может предоставить любой документ, подтверждающий наличие действующего счета в&nbsp;Квантмобайл Банке (например, выписка по&nbsp;счету, полученная в&nbsp;банке или из&nbsp;системы ДБО, копия договора на&nbsp;РКО, расчетный документ по&nbsp;счету и&nbsp;др.).
            +accordion-item('По&nbsp;какому тарифу будут осуществляться переводы между АТБ и&nbsp;Квантмобайл Банком?')
              +ui-p1('', '--light')
                p Перечисления между АТБ и&nbsp;КМБ тарифицируются как внутрибанковские платежи. Например, платежные поручения по&nbsp;системе &laquo;Интернет-Банк&raquo; в&nbsp;пользу юридического лица или индивидуального предпринимателя из&nbsp;АТБ в&nbsp;Квантмобайл Банк бесплатны.
            +accordion-item('Какие документы требуется предоставить в&nbsp;АТБ для&nbsp;открытия счета?')
              +ui-p1('', '--light')
                p Для&nbsp;открытия счета в&nbsp;АТБ от&nbsp;клиента Квантмобайл Банка потребуется только документ, удостоверяющий личность руководителя юридического лица или индивидуального предпринимателя. Дополнительно для&nbsp;получения льготных условий обслуживания в&nbsp;АТБ нужно предоставить любой документ, подтверждающий наличие действующего счета в&nbsp;Квантмобайл Банке (например, выписка по&nbsp;счету, полученная в&nbsp;банке или из&nbsp;системы ДБО, копия договора на&nbsp;РКО, расчетный документ по&nbsp;счету и&nbsp;др.).
            +accordion-item('Какие услуги предлагает АТБ для&nbsp;клиентов, ведущих внешнеэкономическую деятельность?')
              +ui-p1('', '--light')
                p АТБ имеет уникальный опыт работы с&nbsp;Китаем и&nbsp;другими странами Азии и&nbsp;предлагает своим клиентам весь спектр услуг для&nbsp;обслуживания внешнеэкономической деятельности.
                p Дополнительно для&nbsp;клиентов Квантмобайл Банка установлен индивидуальный тариф за&nbsp;осуществление функций агента валютного контроля по&nbsp;валютным операциям резидента, контрагентом по&nbsp;которым являются резиденты Республики Казахстан.
            +accordion-item('В&nbsp;АТБ есть специальный кредит на&nbsp;покупку автомобиля?')
              +ui-p1('', '--light')
                p Да, вы&nbsp;можете выбрать один из&nbsp;видов автокредитования&nbsp;&mdash; &laquo;Легкий старт&raquo; или &laquo;АвтоПривилегия&raquo;, если планируете приобретать автомобиль как физическое лицо. Сумма кредитования до&nbsp;4,5 млн рублей.
                p Если автомобиль необходим вам как для&nbsp;юридического лица, то&nbsp;можно оформить кредит на&nbsp;развитие бизнеса. Также АТБ осуществляет кредитование собственников бизнеса в&nbsp;рамках тарифного плана &laquo;Микролайт&raquo;. Кредит выдается наличными на&nbsp;любые цели, вы&nbsp;сможете распорядиться средствами на&nbsp;свое усмотрение, в&nbsp;том числе приобрести машину.
            +accordion-item('Какие продукты есть в&nbsp;АТБ, которых не&nbsp;было в&nbsp;Квантмобайл Банке?')
              +ui-p1('', '--light')
                p АТБ предлагает &laquo;Бизнес ипотеку&raquo; на&nbsp;приобретение недвижимости. Сумма кредитования до&nbsp;20&nbsp;млн руб.
                p У&nbsp;АТБ есть собственная лизинговая компания. Можно оформить в&nbsp;долгосрочную аренду с&nbsp;правом выкупа любой автотранспорт, включая бывший в&nbsp;употреблении, оборудование, недвижимость, железнодорожный подвижной состав, вертолеты, морские и&nbsp;речные суда, без&nbsp;ограничения по&nbsp;сумме при выполнении требований к&nbsp;финансовым показателям.
            +accordion-item('Предлагает&nbsp;ли АТБ льготы или бонусы корпоративным клиентам, которые решили перейти из&nbsp;Квантмобайл Банка?')
              +ui-p1('', '--light')
                p Да, при оформлении пакетов РКО &laquo;Сочный ноль&raquo;, &laquo;Полезный&raquo;, &laquo;Освежающий&raquo;, &laquo;Бодрящий&raquo;, первый месяц обслуживания&nbsp;&mdash; бесплатно. Со&nbsp;второго месяца обслуживания предоставляется скидка&nbsp;50% на&nbsp;ежемесячные услуги&nbsp;&mdash; ведение счета и&nbsp;абонентская плата за&nbsp;Интернет-банк.
                p Либо предоставляется&nbsp;50% скидка на&nbsp;подключение любого пакета РКО.
                p При оформлении корпоративных карт АТБ предлагает бесплатное годовое обслуживание Visa Business Gold, Visa Business Momentum в&nbsp;рамках пакета РКО.
      +section
        .inner
          +mob-banner(mobBannersData)
