extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')

block scripts
  script(src='../../js/index.js')

block variables
  -const pageTitle ='Банковские услуги для физических лиц'

  -
    const infoList_1 =[
      { text: 'Выдача и поддержка пластиковых карт. Вы можете открыть через интернет дебетовую, социальную или кредитную карты.' },
      { text: 'Страхование. Предоставляется по нескольким направления клиентам АТБ и резидентам других банков.' },
      { text: 'Вклады для физических лиц. Получить прибыль можно с депозитов, векселей, ценных бумаг и металлов.' },
      { text: 'Кредиты. АТБ активно кредитует клиентов в сфере ипотечных программ.' },
      { text: 'Оплата квитанций. Расчет по коммунальным платежам через онлайн-сервис круглосуточно и с минимальной комиссией, а также другие банковские услуги через интернет.' },
      { text: 'Программа «Вернуть просто». Хранить, отслеживать и возвращать свои ценности при утере с нами намного проще.' },
      { text: 'Консультации.Услуги банка для физических лиц включают консультации на юридическом поле.' },
      { text: 'Обмен валют. Покупайте и продавайте разную валюту. При обороте более 5 000 $ предоставляются индивидуальные условия.' },
      { text: 'Денежные переводы. Возможность пересылать через интернет денежные средства при помощи различных ПС или с карты на карту.' },
      { text: 'Консультация брокера. Мы обладаем богатым опытом торговли на фондовом рынке и охотно делимся им, помогая Вам грамотно приумножать капитал.' },
    ]

block content
  main
    +breadcrumbs
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item('Услуги')
    +banner
      +banner-item('--text-old')
        +banner-wrapper('/img/banner_gradient.jpg')
          +banner-h1('Банковские услуги для физических лиц')
    .page-content
      +section('--mt0')
        .inner
          +info-block
            +info-block__line
              p Банковские услуги для физических лиц — один из основных профилей деятельности Азиатско-Тихоокеанского Банка. Наши клиенты пользуются быстрым и качественным обслуживанием, в том числе через мобильный и интернет-банк.
              p Перечень оказываемых услуг банком постоянно расширяется в соответствии с потребностями клиентов. Сегодня в него входят:
              +ui-ul(infoList_1)
            +info-block__line
              p Все банковские услуги, оказываемые физическим лицам в АТБ, можно получить онлайн. Круглосуточный доступ к каждому продукту АТБ позволяет управлять финансами из любой точки планеты в любое удобное для клиента время. Чтобы получить консультацию по услугам банка, обращайтесь к нашим менеджерам в отделениях, по телефону или через форму обратной связи.
      +section
        .inner
          +seo-menu
            a(href='#') Аренда сейфовой ячейки
            a(href='#') Денежные переводы
            a(href='#') Коммунальные платежи
            a(href='#') Перевод с карты на карту
            a(href='#') Способы пополнить карту
