extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')

block scripts
  script(src='../../js/index.js')

block variables
  -const pageTitle ='Регистрация клиентов в единой биометрической системе'

  -
    const infoList_1 =[
      { text: 'При личном присутствии предоставить в Банк паспорт гражданина РФ и СНИЛС' },
      { text: 'Иметь учетную запись в Госуслугах' },
      { text: 'Стать клиентом Банка' },
      { text: 'В офисе Банка сфотографироваться и записать образец голоса' },
      { text: 'Подписать форму согласия на обработку персональных данных*' },
    ]

block content
  main
    +breadcrumbs
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item('Услуги', '#')
      +breadcrumbs-item(pageTitle)
    +banner
      +banner-item('--text-old')
        +banner-wrapper('/img/banner_gradient.jpg')
          +banner-h1('Регистрация клиентов в единой биометрической системе')
    .page-content
      +section('--mt0')
        .inner
          +info-block
            +info-block__line
              p Уважаемые клиенты!
              p Информируем вас, что в соответствии с пунктом 5.6 статьи 7 Федерального закона от 07.08.2001 №115 Ф-3 «О противодействии легализации (отмыванию) доходов, полученных преступным путем, и финансированию терроризма» Банк осуществляет сбор биометрических данных граждан РФ для их регистрации в Единой биометрической системе (ЕБС).
            +info-block__line
              +info-block__title('Для прохождения регистрации вам необходимо:')
              +ui-ul(infoList_1)
            +info-block__line
              +ui-button('Найти отделение', '--empty')
            +info-block__footnote('*неободимых для регистрации гражданина РФ в единой системе идентификации и аутентификации, и иных сведений, если такие сведения предусмотрены федеральными законами в указанной системе, и биометрических персональных данных гражданина Российской Федерации в единой информационной системе персональных данных, обеспечивающей обработку, включая сбор, хранение биометричеких персональных данных, их проверку и передачу информации о степени их соответствия предоставленным биометрическим персональным данным гражданина Российской Федерации (Распоряжение Правительства РФ от 30.06.2018 № 1322-р).')
