extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')

block scripts
  script(src='../../js/index.js')

block variables
  -const pageTitle ='Перевод денег на карту через интернет'

  -
    const infoList_1 =[
      { text: 'Номер. Введите номер карты, отпечатанный на ее лицевой поверхности.' },
      { text: 'Срок действия. Месяц и год, до истечения которого активен платежный инструмент, указан там же.' },
      { text: 'Владелец. На именных картах указан заглавными латинскими буквами – именно так его и вносят в поле при оформлении платежа. В случае использования неименной карты фамилию и имя необходимо уточнить.' },
      { text: 'Сумма. Указывается в рублях без копеек.' },
    ]

  -
    const infoList_2 =[
      { text: 'Доступность и удобство для широкого круга клиентов: студентов, пенсионеров, людей, находящихся в командировке или путешествии, представителей профессий, связанных с частыми разъездами, и просто активных пользователей банковских карт, ценящих свое время.' },
      { text: 'Скорость совершения операции. Посещение офиса или банкомата обычно требует определенного времени и усилий. На сайте Азиатско-Тихоокеанского Банка ту же операцию можно совершить за 2–3 минуты с минимальной комиссией – всего 43 рубля с 1000 рублей перевода (по приведенной выше формуле расчета 1,3% +30 рублей), 56 рублей с 2 000 и т.д.' },
    ]

block content
  main
    +breadcrumbs
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item('Услуги', '#')
      +breadcrumbs-item(pageTitle)
    +banner
      +banner-item('--text-old')
        +banner-wrapper('/img/banner_gradient.jpg')
          +banner-h1('Перевод денег с карты на карту через интернет')
    .page-content
      +section('--mt0')
        .inner
          +info-block
            +info-block__line
              p На сайте Азиатско-Тихоокеанского Банка Вы можете осуществить перевод денежных средств с одной карты на другую. Отправить деньги теперь очень просто – не нужно идти в офис банка, искать ближайший терминал или банкомат. Провести операцию можно не выходя из дома всего за пару минут. Всё, что для этого потребуется, – номера карт отправителя и получателя.
              p Сервис позволят выполнить до 4 переводов в сутки по одному счету – какому банку он принадлежит, не имеет значения, но это должен быть резидент РФ. Общая сумма переведенных по нему за день средств не должна превышать 150 000 руб. Ежемесячный лимит определен в 300 000 рублей по одной карте.
              p Существуют ограничения на размер отправляемых сумм – не менее 100 рублей и не более 50 000 рублей одним платежом. За совершённую операцию взимается комиссия – 1,3% от переведенной суммы + 30 рублей.
            +info-block__line
              +info-block__title('Как отправить деньги онлайн с сайта АТБ?')
              p Чтобы перевести средства, воспользуйтесь размещенным на странице сервисом. Вам потребуется заполнить:
              p Данные отправителя
              +ui-ul(infoList_1)
              p Данные получателя
              p Для оформления перевода через интернет нужен только номер карты получателя.
              p Скорость проведения операции зависит от условий банков – эмитентов карт. Отправка денег со счета на счет внутри АТБ занимает минимум времени – от нескольких минут до нескольких часов. Зачисление средств клиенту другого банка может занять пару дней.
              p Преимущества обращения к услуге
              +ui-ul(infoList_2)
              p Обращайтесь к сервису онлайн-перевода денег с карты на карту и другими программами на сайте АТБ, чтобы с комфортом использовать банковские продукты и расширить свои возможности!
