extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')

block scripts
  script(src='../../js/index.js')

block variables
  -const pageTitle ='Аренда сейфовой ячейки в банке'

  -
    const infoList_1 =[
      { text: 'вещи, запрещенные законом, такие как оружие или наркотики;' },
      { text: 'предметы, непригодные к хранению;' },
      { text: 'вещества и объекты, которые представляют потенциальную опасность (легковоспламеняющиеся, взрывоопасные и радиоактивные предметы).' },
    ]

block content
  main
    +breadcrumbs
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item('Услуги', '#')
      +breadcrumbs-item(pageTitle)
    +banner
      +banner-item('--text-old')
        +banner-wrapper('/img/banner_gradient.jpg')
          +banner-h1('Аренда ячейки в банке')
    .page-content
      +section('--mt0')
        .inner
          +info-block
            +info-block__line
              p В перечень банковских услуг АТБ входит аренда индивидуальной сейфовой ячейки. Это надежный способ хранения ценных вещей и сбережений. Домашний сейф не всегда является гарантией безопасности, и в ряде случаев действительно стоит отдать предпочтение сейфовой ячейке. В нашем банке услуга предоставляется по выгодной цене.
            +info-block__line
              +info-block__title('Условия')
              p Арендовать бокс можно на постоянной основе или временно, например на период Вашего отсутствия в городе. Договор предполагает возможность контролировать круг лиц, которые имеют доступ к имуществу, помещенному на хранение.
              p При работе с ячейкой мы гарантируем полную конфиденциальность и защищенность информации о ее содержимом. Во время Вашего присутствия в хранилище посторонние лица сюда не допускаются. В случае необходимости к ячейке Вас сопроводит представитель службы безопасности. Бокс можно арендовать в любом отделении АТБ.
            +info-block__line
              +info-block__title('Тарифы')
              p Цена услуги является конкурентной и полностью оправдывает то спокойствие и безопасность, которые будут обеспечены Вашим ценностям. Стоимость аренды ячейки зависит от размеров бокса и срока, на который заключается договор.
              p Сколько будет стоить аренда ячейки в банке в конкретном случае, можно уточнить у наших менеджеров по телефону.
            +info-block__line
              +info-block__title('Что можно хранить?')
              p В банке имеется ряд правил и ограничений при аренде ячеек в банке. На хранение принимаются драгоценности, деньги, документы, антиквариат и многое другое.
              p В индивидуальную сейфовую ячейку не принимаются на хранение:
              +ui-ul(infoList_1)
            +info-block__line
              p За подробной информацией об условиях оформления договора, процессе описи ценностей на хранение и стоимости аренды ячейки обращайтесь к сотрудникам банка.
              p
                a.text-orange(href='#') Как использовать банковскую ячейку.
      +section
        .inner
          +ui-h2('Документы для скачивания', '--section').text-center
          +accordion
            +accordion-item('Полезная информация')
              +documents
