extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')

block variables
  -const fileName = 'service-pages'
  -const pageTitle ='Согласие на обработку персональных данных для посетителей сайта'

block content
  main
    +banner
      +banner-item('--text-old, --mb-small-fz')
        +banner-wrapper('/img/banner_gradient.jpg')
          +banner-h1('Согласие на обработку персональных данных для посетителей сайта')
    .page-content
      +section('--mt0')
        .inner
          +info-block
            +info-block__line
              p Настоящее Пользовательское соглашение (актуальная редакция которого опубликована в сети Интернет по ссылке
                =' '
                a.text-orange(href='https://www.atb.su/cookie-policy/') https://www.atb.su/cookie-policy/
                |  (далее – Пользовательское соглашение) является публичной офертой и определяет условия использования Официального сайта «Азиатско-Тихоокеанский Банк» (АО), доступного по ссылке
                =' '
                a.text-orange(href='https://www.atb.su/') https://www.atb.su/
                |  (далее – Сайт), любыми пользователями информационно-телекоммуникационной сети Интернет, просматривающими Сайт (далее – Пользователи).
              p Пользователь принимает условия Пользовательского соглашения в полном объеме путем нажатия кнопки подтверждения ознакомления с Пользовательским соглашением. Пользователь подтверждает свое ознакомление и согласие на использование файлов cookie.
              p Продолжая работу на Сайте, посредством которого будут осуществляться действия с моими персональными данными как субъекта персональных данных, я, Пользователь, даю свое согласие «Азиатско-Тихоокеанский Банк» (АО), ИНН 2801023444, (далее – Банк), находящемуся по адресу: 675004, Россия, Амурская область, г. Благовещенск, ул. Амурская, д. 225, на автоматизированную и неавтоматизированную обработку моих персональных данных, разрешенных для передачи в соответствии с ФЗ от 27.07.2006 г № 152-ФЗ (файлы cookie, сведения о совершаемых мною на Сайте действиях, сведения об используемых для этого устройствах, параметры сессии и данные о времени посещения Сайта).
              p Также даю свое согласие на обработку моих персональных данных, как посетителя и Пользователя Сайта, в т.ч. с использованием метрических программ, следующими способами: сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передача (предоставление, доступ), обезличивание, блокирование, удаление, уничтожение, разрешенных для распространения в соответствии с ФЗ от 27.07.2006 г № 152-ФЗ партнерам Банка, перечень которых размещен в Банке и на Сайте
                =' '
                a.text-orange(href='https://www.atb.su/upload/doc/kniga-tarif/list-of-partners.pdf') https://www.atb.su/upload/doc/kniga-tarif/list-of-partners.pdf
                | , действующим на основании заключенных с Банком договоров и предоставляющим сервис по метрическим программам.
              p Обработка моих персональных данных осуществляется в целях улучшения работы Сайта, совершенствования продуктов и услуг Банка, определения предпочтений Пользователя, предоставления целевой информации по продуктам и услугам Банка и его партнеров.
              p Сайт использует сервисы веб-аналитики (далее – Сервис). Собранная при помощи cookie информация не может идентифицировать Пользователя, при этом направлена на улучшение работы Сайта. Информация об использовании Сайта, собранная при помощи cookie, будет передаваться в Сервисы для обработки и оценки использования Сайта, составления отчетов о деятельности Сайта и продвижения продуктов и услуг Банка.
              p В случае, если отдельные сервисы Сайта предусматривают ввод персональных данных, такие персональные данные хранятся и обрабатываются в соответствии с принципами и правилами обработки персональных данных, предусмотренными Федеральным законом Российской Федерации от 27 июля 2006 г № 152-ФЗ «О персональных данных».
              p Пользователь соглашается не предпринимать действий и не оставлять комментарии и записи, которые могут рассматриваться как нарушающие законодательство Российской Федерации или нормы международного права, в том числе в сфере интеллектуальной собственности, авторских и/или смежных прав, общепринятые нормы морали и нравственности, а также любых действий, которые приводят или могут привести к нарушению нормальной работы сервисов Сайта и Сайта в целом.
              p Банк не несет ответственности за посещение и использование Пользователем внешних ресурсов, ссылки на которые могут содержаться на Сайте.
              p Банк не несет ответственности и не имеет прямых или косвенных обязательств перед Пользователем в связи с любыми возможностями или возникшими убытками, связанными с любым содержанием Сайта, регистрацией авторских прав и сведениями о такой регистрации, доступными на Сайте или полученными через внешние сайты или ресурсы либо иные контакты Пользователя, в которые он вступил, используя размещенную на Сайте информацию или ссылки на внешние ресурсы.
              p Пользовательское соглашение вступает в силу с момента размещения его на Сайте и действует в отношении всей информации, размещенной на Сайте.
              p Настоящее согласие Пользовательского соглашения действует в течение всего периода использования мной Сайта, а также в течение 5 (пяти) лет с даты прекращения использования мной Сайта. Отзыв моего согласия на обработку моих персональных данных производится путем подачи мною Банку заявления об этом на бумажном носителе.
              p Банк вправе в любое время в любое время в одностороннем порядке изменять условия Пользовательского соглашения. Такие изменения вступают в силу с момента размещения новой версии Пользовательского соглашения на Сайте. При несогласии Пользователя с внесенными изменениями он обязан покинуть Сайт, прекратить использование материалов и сервисов Сайта.
              p В случае отказа от обработки моих персональных данных метрическими программами я проинформирован о необходимости прекратить использование Сайта.
