extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')

block scripts
  script(src='../../js/index.js')
block variables
  -const fileName = 'service-pages'
  -const pageTitle ='Счета эскроу'

  -
    const infoList_1 =[
      { text: 'Покупатель обращается в банк с заявлением об открытии счета – эскроу, на котором размещается денежная сумма, прописанная в договоре между покупателем (в данном случае частное лицо) и продавцом (застройщиком).' },
      { text: 'Покупатель вносит деньги на квартиру на счет эскроу банка. В случае с ипотечным кредитом – первоначальный взнос (остальную сумму банк). Застройщик не будет иметь доступ к счету, пока дом не будет сдан.' },
      { text: 'Продавец передает в банк документы, подтверждающие выполнение всех условий перед покупателем.' },
      { text: 'Банк удостоверяется, что с документами застройщика все в порядке и открывает тому доступ к эскроу-счету.' },
    ]

  -
    const tableItems ={
      tbody: [
        {
          title: true,
          td: [
            { text: 'Город' },
            { text: 'Наименование отделения' },
            { text: 'Адрес отделения' },
            { text: 'Контактный телефон отделения' },
          ]
        },
        {
          td: [
            { text: 'Благовещенск' },
            { text: 'Департамент по Амурской области' },
            { text: 'Амурская область, г. Благовещенск, ул. Амурская, д.225' },
            { text: '(4162) 224-551, 222-325, 222-324, 220-441, 220-439' },
          ]
        },
        {
          td: [
            { text: 'Улан-Удэ' },
            { text: 'Филиал "Азиатско-Тихоокеанский Банк" (АО) в г. Улан-Удэ' },
            { text: 'Республика Бурятия, г. Улан-Удэ, ул. Коммунистическая, д.49' },
            { text: '3012) 21-61-90, 211-726' },
          ]
        },
        {
          td: [
            { text: 'Москва' },
            { text: 'Филиал "Азиатско-Тихоокеанский Банк" (АО) в г. Москва' },
            { text: 'г. Москва, пер. Вознесенский, д.11, стр.1' },
            { text: '(495) 988-30-62, 988-30-61' },
          ]
        },
        {
          td: [
            { text: 'Екатеринбург' },
            { text: 'Филиал "Азиатско-Тихоокеанский Банк" (АО) в г. Екатеринбург' },
            { text: 'Свердловская область, г. Екатеринбург, ул. Луначарского, д. 57' },
            { text: '(343) 311 10 30 -многоканальный.' },
          ]
        },
        {
          td: [
            { text: 'Владивосток' },
            { text: 'Операционный офис № 18 в г. Владивосток "Азиатско-Тихоокеанский Банк" (АО)' },
            { text: 'Приморский край, г. Владивосток, ул. Светланская, д. 56' },
            { text: '(423) 2308-562, (423) 2308-565 , (423) 2308-553' },
          ]
        },
        {
          td: [
            { text: 'Южно-Сахалинск' },
            { text: 'Операционный офис № 41 в г. Южно-Сахалинск "Азиатско-Тихоокеанский Банк" (АО)' },
            { text: 'Сахалинская область, г. Южно-Сахалинск, ул. Сахалинская, д. 30' },
            { text: '721858, 722652, 722988, 722988' },
          ]
        },
        {
          td: [
            { text: 'Хабаровск' },
            { text: 'Операционный офис № 75 в г. Хабаровск "Азиатско-Тихоокеанский Банк" (АО)' },
            { text: 'Хабаровский край, г. Хабаровск, бульвар Уссурийский, д.24' },
            { text: '(4212) 41-45-15, 41-45-00' },
          ]
        },
        {
          td: [
            { text: 'Биробиджан' },
            { text: 'Операционный офис № 1 «Азиатско-Тихоокеанский Банк» (АО) в г. Биробиджан' },
            { text: 'Еврейская автономная область, г. Биробиджан, пр. 60-летия СССР, д. 22б.' },
            { text: '(42622) 2-22-16, 2-27-01' },
          ]
        },
        {
          td: [
            { text: 'Якутск' },
            { text: 'Операционный офис № 45 в г. Якутск "Азиатско-Тихоокеанский Банк" (АО)' },
            { text: 'Республика Саха (Якутия), г. Якутск, пр-т. Ленина, д. 19' },
            { text: '444-400' },
          ]
        },
        {
          td: [
            { text: 'Магадан' },
            { text: 'Операционный офис № 100 в г. Магадан «Азиатско-Тихоокеанский Банк» (АО)' },
            { text: 'Магаданская область, г. Магадан, ул. Пролетарская, д. 17' },
            { text: '(4132) 22-31-64, 22-31-66' },
          ]
        },
        {
          td: [
            { text: 'Кемерово' },
            { text: 'Операционный офис № 85 в г. Кемерово Филиала "АТБ" (АО) в г. Улан-Удэ' },
            { text: 'Кемеровская область, г. Кемерово, ул. Николая Островского, д. 23' },
            { text: '(3842)681012, 681020, 681014' },
          ]
        },
        {
          td: [
            { text: 'Барнаул' },
            { text: 'Операционный офис № 90 в г. Барнаул Филиала "Азиатско-Тихоокеанский Банк" (АО)в г. Улан-Удэ' },
            { text: 'Алтайский край, г. Барнаул, ул. Профинтерна, д. 38 а' },
            { text: '(3852)35-92-94, 35-93-15 (доб. 2)' },
          ]
        },
        {
          td: [
            { text: 'Абакан' },
            { text: 'Операционный офис № 31 в г. Абакан Филиала «Азиатско-Тихоокеанский Банк» (АО) в г. Улан-Удэ' },
            { text: 'Республика Хакасия, г. Абакан, ул. Карла Маркса, д. 63' },
            { text: '(3902) 298-100, 298-101' },
          ]
        },
        {
          td: [
            { text: 'Красноярск' },
            { text: 'Операционный офис № 142 в г. Красноярск Филиала "Азиатско-Тихоокеанский Банк" (АО) в г. Улан-Удэ' },
            { text: 'Красноярский край, г. Красноярск, ул. Ленина, д. 37' },
            { text: '8 (391) 219 99 11, 8 (391) 290 24 85' },
          ]
        },
        {
          td: [
            { text: 'Чита' },
            { text: 'Операционный офис № 50 в г. Чита Филиала «Азиатско-Тихоокеанский Банк» (АО) в г. Улан-Удэ' },
            { text: 'Забайкальский край, г. Чита, ул. Красноармейская, д. 68' },
            { text: '(3022) 21-99-00 , 21-99-19' },
          ]
        },
        {
          td: [
            { text: 'Иркутск' },
            { text: 'Операционный офис № 39 в г. Иркутск Филиала "Азиатско-Тихоокеанский Банк" (АО) в г. Улан-Удэ' },
            { text: 'Иркутская область, г. Иркутск, бул. Гагарина, д. 38' },
            { text: '(3952) 780-313 (3952) 780-308' },
          ]
        },
        {
          td: [
            { text: 'Петропавловск-Камчатский' },
            { text: 'Операционный офис № 145 в г. Петропавловск-Камчатский «Азиатско-Тихоокеанский Банк» (АО)' },
            { text: 'Камчатский край, г. Петропавловск-Камчатский, ул. Советская, д. 14' },
            { text: '(4152) 42-57-83, 42-15-15, 41-28-05, 42-00-11, 41-24-59' },
          ]
        },
      ]
    }

block content
  main
    +breadcrumbs
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item('Вклады', '#')
      +breadcrumbs-item(pageTitle)
    +banner('--m-vertically')
      +banner-item('--v-inner-pt-xxl, --eskrou')
        +banner-wrapper('img/banner_eskrou.png', true)
          +banner-h1('Счета эскроу', '--mob-size-l')
    .page-content
      +section('--mt0')
        .inner
            +info-block
              +info-block__line
                p Эскроу – это специальный счет, на котором учитываются деньги, имущество или документы до тех пор, пока не будут выполнены определенные обязательства.
                p В России поменялись правила работы в долевом строительстве. Согласно ФЗ от 25 декабря 2018 г. № 478-ФЗ все застройщики обязаны использовать счет эскроу в банке. Открыть его можно в Азиатско-Тихоокеанском банке.
              +info-block__line
                +info-block__title('Счет эскроу: как это работает')
                p Эскроу в долевом строительстве работает следующим образом:
                +ui-ul(infoList_1)
              +info-block__line
                p Итак, эскроу – это банковский счет, на котором деньги покупателя будут храниться до тех пор, пока не будет построена и готова для заселения квартира. Застройщик при этом должен будет использовать для возведения недвижимости собственные или заемные деньги. Если дом не будет достроен, деньги со счета эскроу банк вернет дольщику.
                p Счет эскроу открыть можно в Азиатско-Тихоокеанском банке.
              +info-block__line
                p Уважаемые клиенты!
                p Информируем вас, что в соответствии с Федеральным законом от 30.12.2004 N 214-ФЗ «Об участии в долевом строительстве многоквартирных домов и иных объектов недвижимости и о внесении изменений в некоторые законодательные акты Российской Федерации» Азиатско – Тихоокеанский Банк осуществляет работу по открытию счетов эскроу в следующих отделениях Банка:
              +info-block__line
                +ui-table(tableItems, '--mob-scroll')
      +section
        .inner
          +ui-h2('Документы для скачивания', '--section').text-center
          +accordion
            +accordion-item('Документы')
              +documents
            +accordion-item('Архив')
              +documents
