extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')

block scripts
  script(src='../../js/index.js')

block variables
  -const pageTitle ='О налогообложении иностранных счетов (FATCA/CRS)'

  -
    const tabs = [
      { text: 'ATCA' },
      { text: 'CRS' }
    ]

  -
    const list_1 =[
      { text: '<a class="text-link-underline" href="#">Критерии отнесения Клиентов к категории Клиента – иностранного налогоплательщика</a>' },
      { text: '<a class="text-link-underline" href="#">Способы получения информации от Клиента – иностранного налогоплательщика</a>' },
    ]

  -
    const list_2 =[
      { text: '<a class="text-link-underline" href="#">Анкета Клиента (физического лица; лица, занимающегося в установленном законодательством РФ порядке частной практикой; индивидуального предпринимателя)</a>' },
      { text: '<a class="text-link-underline" href="#">Анкета Клиента юридического лица</a>' },
      { text: '<a class="text-link-underline" href="#">Анкета финансовой организации</a>' },
      { text: '<a class="text-link-underline" href="#">Согласие на предоставление информации в иностранный налоговый орган и уполномоченные органы РФ (для физического лица, лица, занимающегося в установленном законодательством РФ порядке частной практикой, индивидуального предпринимателя)</a>' },
      { text: '<a class="text-link-underline" href="#">Согласие на предоставление информации в иностранный налоговый орган и уполномоченные органы РФ (для юридического лица)</a>' },
    ]

block content
  main
    +breadcrumbs
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item('Комплаенс', '#')
      +breadcrumbs-item(pageTitle)
    +banner
      +banner-item('--text-old')
        +banner-wrapper('/img/banner_gradient.jpg')
          +banner-h1('О налогообложении иностранных счетов (FATCA/CRS)')
    .page-content
      +section('--mt0')
        +tabs-head(tabs)
        +tabs-main
          +tabs-main__item(true)
            .inner
              +info-block
                +info-block__line
                  +info-block__title('Что такое FATCA?')
                  p Закон FATCA (Foreign Account Tax Compliance Act) принят в США 18 марта 2010 года и является частью пакета экономических мер, направленных на поддержание занятости населения США Hiring Incentives to Restore Employment (HIRE) Act of 2010.
                  p Закон США «О налогообложении иностранных счетов» (FATCA) нацелен на предотвращение уклонения от уплаты налогов гражданами и резидентами США с привлечением международных инвестиционных механизмов.
                  p FATCA устанавливает требования к финансовым институтам по всему миру, согласно которым они должны выявлять счета налогоплательщиков США и предоставлять информацию по ним в Налоговую службу США - Internal Revenue Service (IRS).
                  p С Законом США FATCA Вы можете ознакомиться по следующей ссылке:
                  a.text-orange(href='https://www.irs.gov/Businesses/Corporations/Foreign-Account-Tax-Compliance-Act-FATCA')  https://www.irs.gov/Businesses/Corporations/Foreign-Account-Tax-Compliance-Act-FATCA
                +info-block__line
                  +info-block__title('Статус Банка')
                  p «Азиатско – Тихоокеанский Банк» (АО) (далее Банк) прошел процедуру регистрации в IRS  (
                    a.text-orange(href='https://www.irs.gov/' target='_blank') www.irs.gov
                    |) в статусе «Участвующий иностранный финансовый институт (Participating FFI)» и получил идентификационный номер Global Intermediary Identification Number (GIIN) WPHJEI.00000.LE.643
                +info-block__line
                  +info-block__title('Влияние FATCA на деятельность Банка')
                  p В соответствии с пп. 3 ст. 2 Федерального закона от 28.06.2014 N 173-ФЗ «Об особенностях осуществления финансовых операций с иностранными гражданами и юридическими лицами, о внесении изменений в Кодекс Российской Федерации об административных правонарушениях и признании утратившими силу отдельных положений законодательных актов Российской Федерации» в Банке были утверждены следующие документы:
                  +ui-ul(list_1)
                  p Получение от Клиента — иностранного налогоплательщика необходимой информации осуществляется путем заполнения Анкеты клиента в целях FATCA, а в случае подтверждения принадлежности к категории Клиента – иностранного налогоплательщика – Согласия на предоставление информации в иностранный налоговый орган и уполномоченные органы РФ:
                  +ui-ul(list_2)
                  p При заполнении Анкеты от Вас потребуется предоставление дополнительных документов в зависимости от Ваших ответов на вопросы Анкеты.
                  p Заполненную Анкету и дополнительные документы (при наличии) Вы можете передать сотруднику Банка по месту Вашего обслуживания.
                  p Лицам, указавшим на то, что они являются налоговыми резидентами США, будет предложено заполнить Форму самосертификации в целях FATCA, в которой налоговые резиденты США должны указать Taxpayer Identification Number (TIN). Формы самосертификации размещены на сайте Налоговой службы США
                    =' '
                    a.text-orange(href='https://www.irs.gov') https://www.irs.gov
                    br
                    | Ответственные рекомендации по заполнению налоговых форм Вам может дать только Ваш налоговый консультант.
                  p Банк имеет право запросить у клиентов дополнительные документы, которые необходимо представить в течение 15 рабочих дней со дня направления запроса.

          +tabs-main__item()
            .inner
              +info-block
                +info-block__line
                  +info-block__title('Что такое CRS?')
                  p 12 мая 2016 года ФНС России от имени Российской Федерации подписала многостороннее Соглашение компетентных органов об автоматическом обмене финансовой информацией от 29 октября 2014 года. Российская Федерация приступает к международному обмену финансовой информацией в 2018 году.
                  p 27 ноября 2017 года был опубликован и вступил в силу Федеральный закон от 27.11.2017 № 340-ФЗ «О внесении изменений в часть первую Налогового кодекса Российской Федерации в связи с реализацией международного автоматического обмена информацией и документацией по международным группам компаний», направленный на выполнение Российской Федерацией требований Единого стандарта по обмену финансовой информацией Common Reporting Standard (далее – Стандарт CRS).
                  p Процедуры идентификации, а также порядок и форматы представления данных организациями финансового рынка устанавливаются постановлением Правительства Российской Федерации, от 16.06.2018 № 693 «О реализации международного автоматического обмена финансовой информацией с компетентными органами иностранных государств (территорий)».
                  p Признаки принадлежности к иностранному государству для целей определения налогового резидентства Клиента, его выгодоприобретателя или лица, прямо или косвенно его контролирующего:
                  p
                    a.text-orange(href='#') Признаки
                  p  целях подтверждения Вашего налогового резидентства сотрудник «Азиатско-Тихоокеанский Банк» (АО) может попросить Вас заполнить Форму самосертификации физического лица (форму самосертификации в целях CRS):
                  p
                    a.text-orange(href='#') Форма самосертификации Клиента (физического лица; лица, занимающегося в установленном законодательством РФ порядке частной практикой; индивидуального предпринимателя)
                  p Или Форму самосертификации юридического лица (форма самосертификации в целях CRS) в «Азиатско-Тихоокеанский Банк» (АО)
                  p
                    a.text-orange(href='#') Форма самосертификации Клиента юридического лица
                  p При заполнении Формы самосертификации от Вас потребуется предоставление дополнительных документов в зависимости от Ваших ответов на вопросы Формы самосертификации.
                  p Заполненную Форму самосертификации и дополнительные документы (при наличии) Вы можете передать сотруднику Банка по месту Вашего обслуживания или направить заполненную анкету через почту России : 675000, Амурская область, г. Благовещенск, ул. Амурская 225, а так же на электронный ящик Банка: ask@atb.su
                  p Налоговые резиденты иностранных государств обязательно должны указать Taxpayer Identification Number (TIN) в Форме самосертификации самосертификации.
                  p «Азиатско-Тихоокеанский Банк» (АО) не оказывает своим клиентам консультационные услуги по вопросам определения налогового резидентства согласно требованиям CRS. По данному вопросу можно обратиться к налоговому консультанту или ознакомиться с информацией по налоговому резидентству для разных стран на портале Организации экономического сотрудничества и развития по адресу
                    a.text-orange(href='https://www.oecd.org/tax/automatic-exchange/crs-implementation-and-assistance/tax-residency/#d.en.347760')   www.oecd.org/tax/automatic-exchange/crs-implementation-and-assistance/tax-residency/#d.en.347760
                  p Банк имеет право запросить у клиентов дополнительные документы, которые необходимо представить в течение 15 рабочих дней со дня направления запроса.
                  p Обращаем Ваше внимание на то, что Клиент должен уведомить «Азиатско-Тихоокеанский Банк» (АО) о любом изменении информации, ранее предоставленной в Форме самосертификации в целях CRS и в дополнительных документах, посредством повторного заполнения Формы самосертификации в целях CRS.
