extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')

block scripts
  script(src='../../js/index.js')

block variables
  -const pageTitle ='Как использовать банковскую ячейку'

  -
    const list_1 =[
      { text: '<b>Кто?</b> Вы можете написать доверенность на доступ к ячейке неограниченному числу лиц. Вы сами выбираете, кто сможет ей воспользоваться. Кроме того, у ячейки может быть два арендатора – физическое и юридическое лицо, в этом случае они имеют право одновременного доступа.' },
      { text: '<b>Что?</b> Положить в ячейку можно почти любые ценности (документы, драгоценности, деньги, дорогие предметы искусства, антиквариат, электронные носители информации и т. д.) – за исключением запрещенных предметов (оружия, наркотиков и проч.). Что именно хранится в ячейке, не будет знать никто, кроме вас и вашего доверенного лица. Однако вы можете завещать содержимое ячейки по наследству.' },
      { text: '<b>Как?</b> В нашем хранилище работает система защиты «Принцип двух ключей», обеспечивающая максимальный уровень безопасности. Иметь доступ к сейфу будете только вы и ваше доверенное лицо. При работе с ячейкой вы получаете полную защищенность и конфиденциальность, поскольку в это время в хранилище больше никого не будет. При необходимости на пути до хранилища и при выходе из него вас может сопровождать сотрудник службы безопасности.' },
      { text: '<b>Когда?</b> Получить доступ к ячейке вы сможете в течение всего операционного дня банка.' },
      { text: '<b>Сколько?</b> Мы предлагаем низкую стоимость аренды ячеек. Оплатить аренду можно как в наличной, так и безналичной форме. Уточнить стоимость аренды можно по телефону 8-800-775-88-88 или в вашем отделении банка.' },
    ]

block content
  main
    +breadcrumbs
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item('Услуги', '#')
      +breadcrumbs-item('Аренда сейфовой ячейки в банке', '#')
      +breadcrumbs-item(pageTitle)
    +banner
      +banner-item('--text-old')
        +banner-wrapper('/img/banner_gradient.jpg')
          +banner-h1('Как использовать банковскую ячейку')
    .page-content
      +section('--mt0')
        .inner
          +info-block
            +info-block__line
              p
                b Сейфовые ячейки
                |  – это надежный способ хранить ценные вещи в тех случаях, когда вы не можете обеспечить их безопасность дома или в офисе. Часто банковские ячейки также используются для расчетов по сделкам с недвижимостью, что помогает избежать мошенничества и обмана при передаче средств.
            +info-block__line
              +info-block__title('Вот только несколько особенностей использования сейфовых ячеек в банке АТБ:')
              +ui-ul(list_1)
            +info-block__line
              p
                b Дополнительные услуги.
                |  Мы можем предоставить счетно-денежную машину для определения подлинности банкнот и другие технические средства.
              p
                a.text-orange(href='#') Аренда сейфовой ячейки.
      +section
        .inner
          +ui-h2('Документы для скачивания', '--section').text-center
          +accordion
            +accordion-item('Полезная информация')
              +documents
