
extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')

block scripts
  script(src='../../js/index.js')

block variables
  -const pageTitle ='Инсайдерам'

  -
    const infoList_1 =[
      { text: 'Включен  в Список инсайдеров Банка<sup>1</sup> (о чем лицо уведомляется в  соответствии с действующим законодательством);' },
      { text: `Связанные лица (супруг (супруга),  родители, совершеннолетние дети,
         полнородные братья и сестры физических лиц,  включенных в Список инсайдеров),
         получившие доступ к информации, включенной в <a class="text-orange" href="#" target="_blank">Перечень  инсайдерской информации</a>.` },
    ]

  -
    const infoList_2 =[
      { text: 'Соблюдать  требования законодательства и разработанных в соответствии с ним внутренних  документов Банка;' },
      { text: 'Соблюдать  Условия совершения операций с финансовыми инструментами инсайдерами и связанными с ними лицами  «Азиатско-Тихоокеанский Банк» (АО), в том числе:' },
      { text: 'не  использовать в личных целях информацию, полученную в ходе переговоров с  клиентами, которая может указывать на финансовое состояние соответствующих  клиентов;' },
      { text: 'не  использовать в личных целях информацию о планируемых к совершению Операциях в  интересах Банка и его клиентов (в т.ч. информацию о неисполненных клиентских  поручениях);' },
      { text: 'воздерживаться от осуществления  Операций, в результате совершения которых может возникнуть основание полагать,  что была неправомерно использована полученная ими Инсайдерская информация;' },
      { text: 'Информировать  о совершенных операциях с финансовыми инструментами «Азиатско-Тихоокеанский  Банк» (АО) по запросу Банка в течение 10 рабочих дней с даты получения  запроса.' },
    ]

  -
    const infoList_3 =[
      { text: 'Использовать<sup>2</sup> инсайдерскую  информацию Банка для осуществления за свой счет или за счет третьего лица  операций с финансовыми инструментами, на цены которых влияет эта информация;' },
      { text: 'Передавать инсайдерскую информацию  другому лицу<sup>3</sup>;' },
      { text: 'Давать рекомендации третьим лицам, обязывать  или побуждать их иным образом к приобретению или продаже финансовых  инструментов;' },
      { text: 'Осуществлять действия, относящиеся в  соответствии со статьей 5 Закона к манипулированию рынком;' },
      { text: 'Совершать операции с финансовыми  инструментами, включенными в Стоп-лист Банка.' },
    ]

  -
    const infoList_4 =[
      { text: 'Правила внутреннего контроля  «Азиатско-Тихоокеанский Банк» (АО) по предотвращению, выявлению и пресечению  неправомерного использования инсайдерской информации и (или) манипулирования  рынком;' },
      { text: '<a class="text-orange" href="#">Перечень инсайдерской информации  «Азиатско-Тихоокеанский Банк» (АО)</a>;' },
      { text: '<a href="class="text-orange" href="#">Условия совершения операций с финансовыми  инструментами инсайдерами и связанными с ними лицами «Азиатско-Тихоокеанский  Банк» (АО)</a>;' },
      { text: 'Стоп-лист (ограничения на совершение  операций с отдельными финансовыми инструментами).' },
    ]

block content
  main
    +breadcrumbs
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item('Услуги', '#')
      +breadcrumbs-item(pageTitle)
    +banner
      +banner-item('--text-old')
        +banner-wrapper('/img/banner_gradient.jpg')
          +banner-h1('Инсайдерам')
    .page-content
      +section('--mt0')
        .inner
          +info-block
            +info-block__line
              p «Азиатско-Тихоокеанский Банк» (АО)  (далее – Банк) обеспечивает соблюдение требований Федерального закона от 27  июля 2010 г. № 224-ФЗ "О противодействии неправомерному использованию  инсайдерской информации и манипулированию рынком" (далее - Закон).
              p В Банке установлены
                =' '
                a.text-orange(href='#') Условия совершения операций с финансовыми  инструментами инсайдерами и связанными с ними лицами
                | .
              p ИНСАЙДЕР:
              +ui-ul(infoList_1)
              p
                em
                  sup 1
                  |  Список инсайдеров Банка передается по требованию организатору  торговли, через которого совершаются операции с финансовыми инструментами,  иностранной валютой и/или товарами, а также в Банк России.
              p ОБЯЗАННОСТИ  ИНСАЙДЕРА:
              +ui-ul(infoList_2)
              p
                a.text-orange(href='#') Приложение  № 8 к Правилам внутреннего контроля «Азиатско-Тихоокеанский Банк» (АО) по  предотвращению, выявлению и пресечению неправомерного использования  инсайдерской информации и (или) манипулирования рынком Уведомление инсайдера о  совершенной операции
              p ИНСАЙДЕРУ  ЗАПРЕЩЕНО:
              +ui-ul(infoList_3)
              p Органы  управления, а также работники Банка, включенные в Список инсайдеров, обязаны  регулярно (не реже одного раза в год) проходить самооценку путем анкетирования  в порядке, установленном Правилами внутреннего  контроля «Азиатско-Тихоокеанский Банк» (АО) по предотвращению, выявлению и  пресечению неправомерного использования инсайдерской информации и (или)  манипулирования рынком.
              p
                em
                  sup 2
                  |  Исключения составляют операции, совершаемые в  рамках исполнения обязательства по покупке или продаже финансовых инструментов,  срок исполнения которого наступил, если такое обязательство возникло в  результате операции, совершенной до того, как лицу стала известна инсайдерская  информация.
                  br
                  sup 3
                  |  Исключения  составляют случаи передачи инсайдерской информации лицу, включенному в Список  инсайдеров Банка, в связи с исполнением обязанностей, установленных  федеральными законами, либо в связи с исполнением трудовых обязанностей или  исполнением договора.
              p НОРМАТИВНЫЕ  ДОКУМЕНТЫ ДЛЯ ИНСАЙДЕРА:
              +ui-ul(infoList_4)
              p ОТВЕТСТВЕННОСТЬ:
              p Обращаем Ваше внимание, что за  неисполнение требований законодательства в области противодействия  неправомерному использованию инсайдерской информации и манипулированию рынком  предусмотрена гражданская, административная и уголовная ответственность в соответствии  со статьей 15.21 Кодекса Российской Федерации об административных  правонарушениях и статьей 185.6 Уголовного кодекса Российской Федерации.
              p
                a.text-orange(href='#' target='_blank') Памятка инсайдеру АТБ
              p
                b Обо всех ставших Вам известными случаях неправомерного  использования инсайдерской информации «Азиатско-Тихоокеанский Банк» (АО) и/или  манипулирования рынком просим незамедлительно сообщать по адресу:
              p
                b Адрес для направления корреспонденции:
                |  г Москва, пер Подсосенский, 30  стр. 3
                br
                b Электронная почта:
                =' '
                a.text-orange(href='mailto:insider@atb.su') insider@atb.su
