extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')

block variables
  -const fileName = 'service-pages'
  -const pageTitle ='Ипотека на квартиру'

  -
    const infoList_1 =[
      { text: 'однокомнатную квартиру – один из самых востребованных на сегодняшний день вариантов;' },
      { text: 'двух-, трех- или многокомнатную любой площади – прекрасное решение для семьи из 3 и более человек;' },
      { text: 'свободной или нестандартной планировки;' },
      { text: 'апартаменты – статусный, затратный и перспективный вариант.' },
    ]

  -
    const infoList_2 =[
      { text: 'наличие обособленного санузла;' },
      { text: 'подключение к системе отопления, горячего и холодного водоснабжения, электросети, газопроводу и прочим современным коммуникациям;' },
      { text: 'отсутствие претензий со стороны МЧС;' },
      { text: 'планировка, полностью соответствующая отраженной в документах БТИ. Все перепланировки должны быть узаконены;' },
      { text: 'соблюдение санитарно-гигиенических норм;' },
      { text: 'износ здания должен быть не более 60% (в аварийном доме купить квартиру в ипотеку не получится);' },
      { text: 'расположение в здании не менее двух этажей;' },
      { text: 'стены только из прочных негорючих материалов – не дерево, легкие стальные конструкции, СИП или металлокаркасные панели.' },
    ]

block content
  main
    +breadcrumbs
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item('Кредиты', '#')
      +breadcrumbs-item('Ипотека', '#')
      +breadcrumbs-item(pageTitle)
    +banner
      +banner-item('--text-old')
        +banner-wrapper('/img/banner_gradient.jpg')
          +banner-h1('Кредит на квартиру')
          .banner-item-foot.banner-item-foot--mob-stretch
            .banner-item-foot-item
              +ui-button('Оставить заявку', 'banner, --white')(href='#')
    .page-content
      +section('--mt0')
        .inner
          +info-block
            +info-block__line
              p Покупка квартиры в ипотеку – один из наиболее привлекательных способов обзавестись собственным жильем и инвестировать средства. Азиатско-Тихоокеанский Банк предлагает множество вариантов такого заёма в зависимости от рынка недвижимости, вида жилья и типа залога. У нас Вы сможете взять ипотечный кредит на:
              +ui-ul(infoList_1)
              p Любой из перечисленных видов жилья может относиться как ко вторичному рынку недвижимости, так и находиться в новостройке. Для желающих купить новую квартиру (вложиться в строительство) на сайте представлен широкий список аккредитованных АТБ объектов, а для тех, кто не находит интересующего его дома в приведенном перечне, предусмотрено предоставление заёма под залог имеющейся недвижимости.
              p Требования при покупке готовой квартиры в ипотеку следующие:
              +ui-ul(infoList_2)
              p Такой перечень требований обоснован длительным сроком ипотечного кредита.
            +info-block__line
              +info-block__title('Условия ипотечного кредита на квартиру')
              p Ставка по ипотеке и минимальный процент первоначального вложения собственных средств зависят от конкретной программы кредитования. Так, минимум по первому взносу при оформлении новой квартиры в ипотеку или на вторичном рынке под залог приобретаемой недвижимости – от 15%, при покупке строящихся апартаментов – 20% и т.д.
              p Для подбора подходящих условий кредитования используйте наш онлайн-калькулятор. Получить всю необходимую информацию и оформить заявку на кредит на квартиру Вы всегда можете, обратившись к менеджерам АТБ по телефону или через форму обратной связи.
      +section
        .inner
          +seo-menu
            a(href='#') Готовые квартиры с отделкой
            a(href='#') Квартиры в строящемся доме
