extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')

block variables
  -const fileName = 'service-pages'
  -const pageTitle ='Можно ли взять кредит с плохой кредитной историей в банке АТБ'

  -
    const infoList_1 =[
      { text: 'На данный момент просрочек нет, все проблемные долги закрыты.' },
      { text: 'Клиент обладает достаточной платежеспособность, чтобы справиться с выплатой ссуды.' },
    ]

block content
  main
    +breadcrumbs
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item('Кредиты')
    +banner
      +banner-item('--text-old, --mb-small-fz')
        +banner-wrapper('/img/banner_gradient.jpg')
          +banner-h1('Можно ли взять кредит с плохой кредитной историей в банке АТБ')
          .banner-item-foot.banner-item-foot--mob-stretch
            .banner-item-foot-item
              +ui-button('Оставить заявку', 'banner, --white')(href='#')
    .page-content
      +section('--mt0')
        .inner
          +info-block
            +info-block__line
              p Азиатско-Тихоокеанский Банк ведет лояльную кредитную политику, устанавливая низкие проценты по кредитам для физических лиц. Нет завышенных ставок, сложных условий и комиссий. Параметры выдачи ссуды максимально прозрачные, каждый клиент может совершить расчет переплаты на специальном кредитном калькуляторе.
            +info-block__line
              +info-block__title('Кому доступно получение кредита с плохой кредитной историей')
              p Банк АТБ принимает заявки от граждан возраста 21-70 лет, заемщиками могут стать физические лица и индивидуальные предприниматели. При негативной истории одобрение можно получить, если:
              +ui-ul(infoList_1)
              p Взять кредит с плохой историей и с просрочками не получится. Наличие действующих проблемных долгов недопустимо.
            +info-block__line
              +info-block__title('Можно ли получить кредит без истории')
              p Если Вы ранее не пользовались услугами кредитных организаций, то без проблем получите ссуду в АТБ. Необходимо соответствовать критериям банка и предоставить пакет документов. Заявители без кредитной истории рассматриваются на общих основаниях, отсутствие досье не станет препятствием на пути получения займа.
              p Если Вы думаете о том, где можно взять срочный заем или ссуду при наличии плохой кредитной истории, обращайтесь в банк АТБ. Мы рассмотрим заявку и в течение суток примем решение. Заявки от граждан принимаются в офисах и через Интернет.
