extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')

block scripts
  script(src='../../js/index.js')

block variables
  -const pageTitle ='Памятка по порядку уплаты страховых взносов'

  -
    const infoList_1 =[
      { text: 'документ, удостоверяющий личность заявителя;' },
      { text: 'документы (их копии), подтверждающие факт работы заявителя или факт приглашения его на работу за пределами Российской Федерации либо дающие право на осуществление деятельности за пределами Российской Федерации.' },
    ]

  -
    const infoList_2 =[
      { text: 'копию документа, удостоверяющего личность заявителя;' },
      { text: 'копии документов, подтверждающих факт работы заявителя или факт приглашения его на работу за пределами Российской Федерации либо дающих право на осуществление деятельности за пределами Российской Федерации.' },
    ]

  -
    const list_1 =[
      { text: 'Лично в территориальный орган ПФР (по месту жительства);' },
      { text: 'С использованием услуг почтовой связи способом, позволяющим подтвердить факт и дату отправления;' },
      { text: 'С использованием информационной системы «Личный кабинет застрахованного лица» на сайте ПФР (временно не работает).' },
    ]

  -
    const list_2 =[
      { text: 'Установить регион получателя, выбрав в каталоге соответствующий раздел: «Налоги, патенты на работу».' },
      { text: 'Выбрать получателя: «ОПФР __________________________».' },
      { text: 'Выбрать услугу (вид взносов): «ОПФР – обязательные и прочие взносы».' },
      { text: 'Выбрать платежную карту для списания и ввести ИНН плательщика. Нажать кнопку «Продолжить».' },
      { text: 'В поле «Регистрационный номер» указать регистрационный номер ПФР, содержащийся в уведомлении о регистрации, а не страховой номер из индивидуального лицевого счета (СНИЛС).' },
      { text: 'В поле «Фамилия» указать фамилию плательщика, в поле «Имя» – имя плательщика, отчество – при наличии. В поле «КБК» указать КБК 392 1 02 02042 06 1000 160.' },
      { text: 'После заполнения всех необходимых реквизитов необходимо ввести сумму платежа и нажать кнопку «Продолжить».' },
      { text: 'По окончании проверить заполненные поля и нажать кнопку «Подтвердить по SMS».' },
    ]

block content
  main
    +breadcrumbs
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item('Страхование', '#')
      +breadcrumbs-item(pageTitle)
    +banner
      +banner-item('--text-old')
        +banner-wrapper('/img/banner_gradient.jpg')
          +banner-h1('Памятка по порядку уплаты страховых взносов')
    .page-content
      +section('--mt0')
        .inner
          +info-block
            +info-block__line
              p Для осуществления добровольной уплаты гражданином Российской Федерации, работающим за пределами Российской Федерации, страховых взносов в Пенсионный фонд Российской Федерации (далее – ПФР) за себя гражданин Российской Федерации должен зарегистрироваться в ПФР на основании приказа Минтруда России от 31.05.2017 № 462н «Об утверждении Правил подачи заявления о добровольном вступлении в правоотношения по обязательному пенсионному страхованию и заявления о прекращении правоотношений по обязательному пенсионному страхованию».
            +info-block__line
              p В настоящее время существуют три способа регистрации:
              +ui-ol(list_1)
            +info-block__line
              p При регистрации гражданином лично подается заявление о вступлении в правоотношения по форме приложения 1 к приказу Минтруда России от 31.05.2017 № 462н (образец оформления прилагается).
              p К заявлению прикладываются следующие документы:
              +ui-ul(infoList_1)
            +info-block__line
              p При направлении заявления с использованием услуг почтовой связи необходимо дополнительно направить:
              +ui-ul(infoList_2)
            +info-block__line
              p Заявление подается в одно из территориальных управлений ПФР по месту жительства.
            +info-block__line
              p По результатам рассмотрения поданных заявителем лично в территориальный орган ПФР заявления и документов (копий документов) территориальным органом ПФР в день подачи указанных заявления и документов (копий документов) заявителю выдается уведомление о регистрации в территориальном органе ПФР в качестве страхователя, добровольно вступившего в правоотношения по обязательному пенсионному страхованию. В уведомлении указывается регистрационный номер ПФР. При определении территориального управления ПФР (по месту жительства), в которое предполагается подать заявление, ПФР оказывает непосредственную помощь при обращении в указанное территориальное управление ПФР.
            +info-block__line
              p При направлении заявления с использованием услуг почтовой связи уведомление о регистрации направляется заявителю по почтовому адресу, указанному в заявлении, в срок, не превышающий 3 (трех) рабочих дней со дня получения заявления с копиями документов.
            +info-block__line
              p После регистрации и получения регистрационного номера в ПФР заявитель (плательщик) с помощью имеющегося у него мобильного приложения получает возможность уплачивать страховые взносы. Для этого плательщику необходимо осуществить следующие действия:
              +ui-ol(list_2)
            +info-block__line
              a.text-orange(href='#') Образец
