extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')

block scripts
  script(src='../../js/index.js')

block variables
  -const pageTitle ='Дебетовая карта «Мир»'

  -
     const mirList = [
       { text: 'Бесплатный выпуск дебетовой карты «Мир» и выгодное обслуживание.' },
       { text: 'Беспроблемное снятие средств: получить наличные можно без комиссии в любом банкомате.' },
       { text: 'Пополнение счета через терминалы и кассу банка.' },
       { text: 'Удобная оплата покупок в магазинах.' },
       { text: 'Смс-оповещение обо всех операциях по счету.' },
       { text: 'Дополнительная выгода: до 7% годовых начисляется на остаток по счету ежемесячно.' },
       { text: 'Защита карты электронным чипом.' },
     ]

block content
  main
    +breadcrumbs
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item('Банковские карты')
    +banner
      +banner-item('--text-old')
        +banner-wrapper('/img/banner_gradient.jpg')
          +banner-h1('Дебетовая карта «Мир»')
          .banner-item-foot
            .banner-item-foot-item
              +ui-button('Оформить карту', 'banner')(href='#')
    .page-content
      +section('--mt0')
        .inner
          +info-block
            +info-block__line
              p Банк АТБ предлагает заказать дебетовую карту «Мир» – классический вариант для удобного хранения средств, использования и получения дополнительного дохода. Благодаря разработкам специалистов АТБ Вы получите возможность всегда иметь под рукой нужную сумму средств для повседневных нужд, поездок и путешествий по России, а платежная система обеспечит круглосуточную доступность Ваших финансов вне зависимости от событий, происходящих в мире.
              p Операции по дебетовой карте «Мир» проводятся в отечественной валюте преимущественно внутри страны – для ее использования за рубежом необходимо подключение к кобейджинговой программе. Этот нюанс компенсируется бесперебойной работой карты и множеством других преимуществ. Среди них:
            +info-block__line
              +ui-ul(mirList)
            +info-block__line
              +info-block__title('Как и где оформить дебетовую карту «Мир»?')
              p Сделать это можно посредством обращения в ближайший офис банка либо дистанционно. Заполните заявление-анкету, размещенную на сайте, и отправьте на обработку нашим менеджерам либо позвоните нам на горячую линию. Не выходя из дома можно узнать предварительное решение банка и заказать выпуск дебетовой карты «Мир».

      +section
        .inner
          +seo-menu
            a(href='#') Дебетовая карта VISA
