extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')

block variables
  -const fileName = 'service-pages'
  -const pageTitle ='Кредит на вторичное жилье'

  -
    const ipotekaZhile = [
      { text: 'Быстрая покупка квартиры или дома в кредит – для этого достаточно обеспечить соответствие заемщика требованиям банка и найти жилплощадь, в рамках одобренной суммы и удовлетворяющую клиента.' },
      { text: 'Возможность сразу же после оформления ипотеки на вторичку и договора купли-продажи справить новоселье.' },
      { text: 'Широкий разброс вариантов по местонахождению, метражу, стоимости жилья, которое можно купить в кредит, – новостройку, к примеру, зачастую приходится выбирать из числа аккредитованных банком.' },
      { text: 'Отсутствие рисков, которые характерны для строящегося жилья (что объект не будет сдан вовремя, строительство затянется и т.д.).' },
    ]

  -
    const ipotekaZhile2 = [
      { text: 'сумма первоначального взноса – от 10% стоимости объекта;' },
      { text: 'период кредитования – от 3 до 25 лет;' },
      { text: 'процентная ставка – от 9,75% годовых;' },
      { text: 'минимальная сумма кредита на вторичное жилье – 350 000 рублей для регионов РФ, 600 000 рублей для Москвы и Московской области;' },
      { text: 'максимальная сумма не ограничена.' },
    ]

block content
  main
    +breadcrumbs
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item('Кредиты', '#')
      +breadcrumbs-item('Ипотека', '#')
      +breadcrumbs-item(pageTitle)
    +banner
      +banner-item('--text-old')
        +banner-wrapper('/img/banner_gradient.jpg')
          +banner-h1('Кредит на вторичное жилье')
    .page-content
      +section('--mt0')
        .inner
          +info-block
            +info-block__line
              p Среди многообразия кредитных программ ипотека на вторичное жилье остается одной из наиболее востребованных. Существует ряд объективных причин, по которым это происходит.
              +ui-ul(ipotekaZhile)
            +info-block__line
              +info-block__title('Что можно купить на вторичном рынке')
              p АТБ выдает ипотеку на приобретение готовых квартир, комнат в коммуналке, долей, загородных домов и апартаментов. Таким образом, наши клиенты не ограничены в вариантах – Вы выбираете именно то, что наиболее соответствует Вашим целям, потребностям, возможно мечтам, а банк помогает воплотить их в жизнь.
            +info-block__line
              +info-block__title('Условия ипотеки на вторичное жилье:')
              +ui-ul(ipotekaZhile2)
            +info-block__line
              +info-block__title('Как оптимизировать ипотечный кредит?')
              p Мы не только поддерживаем конкурентные условия предоставления кредита, но и делаем их более выгодными. Приобретение жилья в ипотеку на вторичном рынке совместимо с использованием материнского капитала, который направляется на частично-досрочное погашение и одновременно дает возможность минимизировать первоначальный взнос. Дополнительно снизить процентную ставку можно с помощью опции «Назначь свою ставку», оптимизировать выплаты по кредиту при рождении ребенка – по программе «Ипотека молодым» и т.д.
              p Ознакомьтесь с полным перечнем дополнительных опций, доступных при оформлении ипотеки на вторичку, и выберите те, что позволят Вам взять кредит на кредит на вторичное жилье, успешный во всех смыслах!
      +section
        .inner
          +seo-menu
            a(href='#') Ипотека на частный дом
            a(href='#') Кредит на квартиру
            a(href='#') Готовое жилье в кредит - калькулятор
