extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')

block scripts
  script(src='../../js/index.js')

block variables
  -const pageTitle ='Страховка при ипотеке'

  -
    const infoList_1 =[
      { text: 'возместит ущерб заемщику, если повреждены конструктивные элементы жилья или отделка;' },
      { text: 'выплатит за заемщика остаток долга банку, а клиент получит разницу между стоимостью квартиры или дома и этой суммой, если жилье не подлежит восстановлению.' },
    ]

  -
    const infoList_2 =[
      { text: 'будет совершать регулярные выплаты банку вместо клиента до восстановления его способности к работе при временной потере трудоспособности;' },
      { text: 'единовременно погасит долг перед банком в случае инвалидности или смерти заемщика (в последнем случае жилье перейдет к наследникам).' },
    ]

block content
  main
    +breadcrumbs
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item('Страхование', '#')
      +breadcrumbs-item('Страхование жизни и здоровья', '#')
      +breadcrumbs-item(pageTitle)
    +banner
      +banner-item('--text-old')
        +banner-wrapper('/img/banner_gradient.jpg')
          +banner-h1('Страховка при ипотеке')
    .page-content
      +section('--mt0')
        .inner
          +info-block
            +info-block__line
              p Долгосрочный характер ипотечного кредита повышает актуальность страховки. При оформлении ипотеки в нашем банке мы предлагаем Вам составить индивидуальный набор рисков, по которым будет осуществлено страхование. Также в распоряжении клиентов Азиатско-Тихоокеанского Банка обширный список проверенных компаний, готовых оперативно и на выгодных условиях оформить договор.
            +info-block__line
              +info-block__title('Обязательное и необязательное страхование')
              p Нужно ли оформлять страховку при ипотеке? По закону заемщик обязан застраховать недвижимость, оставляемую в залог, от повреждения и уничтожения. Поскольку до полного погашения ипотеки формально эта недвижимость принадлежит финансовой организации, купить обязательную страховку – значит обеспечить гарантию выплаты долга банку и минимизировать собственные риски.
              p В зависимости от типа непредвиденных обстоятельств компания-страховщик:
              +ui-ul(infoList_1)
              p В АТБ обращение к опции «Назначь свою страховку» позволяет отказаться от обязательного страхования (в этом случае его осуществит банк), выбрать только обязательную страховку ипотеки, дополнить ее одной из представленных ниже добровольных программ либо оформить комплексный договор на выгодных условиях.
            +info-block__line
              +info-block__title('Страхование жизни и здоровья')
              p По такому договору компания-страховщик:
              +ui-ul(infoList_2)
              p Банку данный полис гарантирует возврат выданных на жилье средств при наступлении непредвиденных обстоятельств, касающихся жизни и здоровья клиента. Для клиента договор является гарантией того, что при тех же обстоятельствах выплаты по ипотечному кредиту не прекратятся и не лягут на плечи родственников или поручителей.
            +info-block__line
              +info-block__title('Титульная страховка')
              p При ипотеке, как и при приобретении недвижимости за собственные средства, остается риск купить квартиру или дом и не получить права собственности (лишиться его). Для вторичного рынка наиболее характерно появление правообладателей, интересы которых не учтены в договоре купли-продажи, для первичного – нарушение сроков сдачи объекта застройщиком, и, соответственно, отсрочка вступления в право собственности, для тех и для других – мошеннические схемы продажи.
              p В любом из вариантов Вас выручит титульная страховка – долг по ипотеке на недвижимость, которой не владеете, за Вас выплатит страховщик.
