extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')

block variables
  -const fileName = 'service-pages'
  -const pageTitle ='Ипотека на частный дом'

  -
    const ipotekaDom = [
      { text: 'пригодным для круглогодичного проживания;' },
      { text: 'оборудован системами отопления, водоснабжения, канализации;' },
      { text: 'расположен в пределах населенного пункта с хорошей транспортной доступностью и возможностью подъезда;' },
      { text: 'возведен на участке, назначение которого – индивидуальное пользование.' },
    ]

block content
  main
    +breadcrumbs
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item('Кредиты', '#')
      +breadcrumbs-item('Ипотека', '#')
      +breadcrumbs-item(pageTitle)
    +banner
      +banner-item('--text-old')
        +banner-wrapper('/img/banner_gradient.jpg')
          +banner-h1('Дом в ипотеку')
          .banner-item-foot.banner-item-foot--mob-stretch
            .banner-item-foot-item
              +ui-button('Оставить заявку', 'banner, --white')(href='#')
    .page-content
      +section('--mt0')
        .inner
          +info-block
            +info-block__line
              p Несколько уступая по популярности заёму на квартиру, кредит на дом тем не менее представляет главную альтернативу покупке жилой площади в многоэтажке. Количество желающих проживать в коттедже в ипотеку в черте города либо иметь загородную недвижимость неуклонно растет, и помочь в приобретении такого рода недвижимости способен кредит от АТБ. Мы предлагаем Вам два варианта кредитования: заём на готовое частное жилье и на строительство.
            +info-block__line
              +info-block__title('Покупка в кредит готового дома')
              p Задумали приобрести дом в ипотеку? АТБ выдает заёмы на здания с земельным участком, части домов, таунхаусы и коттеджи. Залогом в данном случае может являться и имеющаяся, и приобретаемая недвижимость. Чтобы банк одобрил ипотечный кредит на дом, последний должен быть:
              +ui-ul(ipotekaDom)
              p Процентная ставка по такому кредиту – от 11,5%*, первоначальный взнос – от 50%. Требования к заемщику стандартные, возможно использование дополнительных опций АТБ для оптимизации условий договора.
            +info-block__line
              +info-block__title('Как получить ипотечный кредит на строительство?')
              p Кредитование такого рода осуществляется под залог имеющейся недвижимости (квартиры). Взять ипотеку можно на постройку дома либо для завершения уже начатого строительства (в том числе покупки недостроенного объекта). Процентная ставка по условиям программы – от 12,25%*. Требования к заемщику также являются стандартными, основное требование к будущей постройке – ее возведение на земле, предназначенной для проживания и не находящейся в аренде.
              p У каждого из представленных решений есть свои преимущества. Так, приобретение готового коттеджа в ипотеку позволит уже в ближайшее время переселиться в него. Многие семьи пользуются данной возможностью и для покупки дачи – достаточно предусмотреть соответствие объекта предъявляемым к нему требованиям в рамках программы, и очень скоро Вы вместе с детьми сможете проводить выходные и праздники за городом, отдыхая на природе и с комфортом. Ну а кредит на строительство дома подойдет тем, кто хочет не просто воплотить мечту, а принять в ее воплощении непосредственное участие!
              p Выбирайте свой вариант и обращайтесь в АТБ – мы поможем осуществить Вашу мечту!
            +info-block__line
              +info-block__footnote('*использование программы «Назначь свою ставку»')
      +section
        .inner
          +seo-menu
            a(href='#') Ипотека на вторичное жилье
            a(href='#') Рефинансирование ипотеки
            a(href='#') Кредит на готовое жилье
