extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')

block scripts
  script(src='../../js/index.js')

block variables
  -const pageTitle ='Калькулятор ипотеки'

  -
    const infoList_1 =[
      { text: 'стоимость приобретаемого объекта;' },
      { text: 'ежемесячный доход;' },
      { text: 'первоначальный взнос;' },
      { text: 'платеж по ипотеке.' },
    ]

  -
    const infoList_2 =[
      { text: 'Подобрать подходящий банк, программу и конкретные условия;' },
      { text: 'Оценить свои возможности и спланировать бюджет;' },
      { text: 'Подойти к столь ответственному мероприятию, как покупка жилья в кредит, подготовленными – следовательно, обеспечить успешность оформления договора и выплат по нему!' },
    ]

block content
  main
    +breadcrumbs
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item('Кредиты', '#')
      +breadcrumbs-item('Ипотека', '#')
      +breadcrumbs-item(pageTitle)
    +banner
      +banner-item('--text-old')
        +banner-wrapper('/img/banner_gradient.jpg')
          +banner-h1('Калькулятор ипотеки')
          .banner-item-foot.banner-item-foot--mob-stretch
            .banner-item-foot-item
              +ui-button('Оставить заявку', 'banner, --white')(href='#')
    .page-content
      +section('--mt0')
        .inner
          +info-block
            +info-block__line
              p Чтобы рассчитать параметры будущего ипотечного кредита, не обязательно посещать отделение банка. Сделайте это самостоятельно на сайте АТБ, обратившись к современному сервису – онлайн-калькулятору. Рассчитать возможные варианты кредитования и выбрать наиболее подходящий можно с рабочего или домашнего ПК, ноутбука, планшета, смартфона! Экономьте время на визите в банковское отделение и деньги за счет выбора оптимальной программы кредитования и конкретных параметров договора!
            +info-block__line
              +info-block__title('Как посчитать сумму кредита, зная ежемесячный доход?')
              p Наш сервис позволяет узнать параметры ипотеки, ориентируясь на вид недвижимости и один из показателей, выбранных Вами в качестве базового:
              +ui-ul(infoList_1)
              p Таким образом, с помощью калькулятора можно рассчитать параметры договора, отталкиваясь от наиболее важного для Вас. Определите тип объекта, на покупку которого планируете взять кредит (квартира, апартаменты, дом или другой вариант из перечня по стрелке), и базовый показатель. Затем укажите числовое значение параметра в рублях – к примеру, если это доход, то он должен быть от 30 000, первоначальный взнос – также от 30 000. Собираясь рассчитать основные показатели договора, взяв за неизменный параметр стоимость недвижимости, учтите, что минимальная сумма займа в АТБ (то есть стоимость без первого взноса) – 350 000 рублей.
              p Если Вы планируете взять кредит с привлечением созаемщиков, следует указать совокупный доход. Нажатие стрелки кнопки «Рассчитать» выведет в нижней части сервиса условия ипотечного кредитования.
              p В левой части программы Вы увидите результаты расчета – основные параметры будущего кредитного договора. Параметры справа можно корректировать до тех пор, пока не будут подобраны оптимальные условия. Так, увеличение срока займа позволит уменьшить ежемесячный платеж, а увеличение первоначального взноса – уменьшить сумму займа, а следовательно, и переплату по нему.
              p Помимо стандартных условий сервис отражает также специальные, так как рассчитывается с его помощью кредит по программе с материнским капиталом и со скидкой по процентной ставке. Использование данных опций позволит дополнительно оптимизировать условия договора.
            +info-block__line
              +info-block__title('Рассчитать ипотеку заранее – значит:')
              +ui-ul(infoList_2)

      +section
        .inner
          +seo-menu
            a(href='#') Ипотечные программы
            a(href='#') Про ипотеку
