extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')

block variables
  -const fileName = 'service-pages'
  -const pageTitle ='Приумножить деньги'

  -
    const infoList_1 =[
      { text: 'пополнение – внесение на счет дополнительных сумм после открытия вклада;' },
      { text: 'снятие процентов – возможность получать (как правило, на счет банковской карты) и использовать прибыль по вкладу ежемесячно;' },
      { text: 'капитализация процентов – прибавление заработка с процентов к общей сумме вклада;' },
      { text: 'расходные операции – частичное снятие средств с депозита без досрочного расторжения договора и потери процентов;' },
      { text: 'автоматическое продление – перезаключение договора по окончании действия срока вклада при невостребовании его суммы.' },
    ]

block content
  main
    +breadcrumbs()
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item(pageTitle)
    +banner
      +banner-item('--text-old, --mb-small-fz')
        +banner-wrapper('/img/banner_gradient.jpg')
          +banner-h1('Приумножить и сохранить')
    .page-content
      +section('--mt0')
        .inner
          +info-block
            +info-block__line
              p Сохранить Ваши средства и приумножить поможет выбор банка, имеющего инструменты, которые полностью соответствуют поставленным задачам.
              p Вне зависимости от того, располагаете ли Вы крупной суммой, планируете ли получать с имеющегося капитала регулярный доход или, напротив, хотите скопить средства с определенной целью, в Азиатско-Тихоокеанском Банке найдется подходящий для этого продукт. В Вашем распоряжении – большой выбор программ, по которым можно разместить вклад, и передовой сервис, который делает процесс обращения в банк и последующее обслуживание в нем быстрым и удобным.
            +info-block__line
              +info-block__title('Операции по вкладам')
              p В нашем банке Вам предлагается выбрать подходящий размер и срок депозита, процентную ставку по нему, а также набор опций, в который могут входить:
              +ui-ul(infoList_1)
              p Определить с учетом необходимых параметров наиболее подходящую Вам программу поможет сервис по подбору, размещенный на странице вкладов. Кроме того, в разделе Вы познакомитесь с комплексным предложением «Вкладчик», которым можно воспользоваться при оформлении любого депозита, способами внесения средств на счет пополняемого вклада, использовании банковской ячейки и прочими услугами.
              p Выбирайте нужное и обращайтесь в АТБ посредством онлайн-формы!
