extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')

block scripts
  script(src='../../js/index.js')

block variables
  -const pageTitle ='Платежные системы карт'

  -
    const paymentList = [
      { text: 'Visa – международная система для совершения платежей в торгово-сервисных точках, онлайн-покупок, переводов и снятия наличных по всему миру. Проведение операций обеспечивает инновационная глобальная процессинговая система VisaNet, способная обрабатывать более 65 000 транзакций в секунду. Картой Visa удобно пользоваться внутри страны, как в крупных городах, так и в отдаленных населенных пунктах, и за границей – например, в путешествиях и деловых поездках, поскольку конвертация в нужную валюту происходит автоматически.' },
      { text: 'MasterCard – международная платежная система, позволяющая производить оплату в магазинах, оборудованных POS-терминалами, по всему миру, снимать деньги в банкомате, оплачивать покупки в интернет-магазинах, совершать оплату услуг и переводы. Выбрать карту MasterCard – значит выбрать свободу в расходовании средств и дополнительные преимущества. Принципиального отличия MasterCard от Visa при использовании карты внутри страны нет; при выезде за границу MasterCard как изначально европейская система может быть немного удобнее в плане конвертации в странах, где расчет производится в евро, а Visa – в странах, где используется доллар США.' },
      { text: '«Мир» – национальная платежная система, разработанная и используемая преимущественно для расчетов внутри страны. При выпуске карт «Мир» применяются отечественные технологии, что обеспечивает им независимость от других платежных систем и бесперебойность работы. Сеть приема и обслуживания карт НСПК постоянно развивается; уже сегодня с помощью банковских карт «Мир» можно снять деньги через банкомат, произвести оплату в магазине, онлайн-покупку в интернете или перевод средств на другой счет.' },
    ]

block content
  main
    +breadcrumbs()
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item('Банковские карты', '#')
      +breadcrumbs-item('Платежные системы')
    +banner
      +banner-item('--text-old')
        +banner-wrapper('/img/banner_gradient.jpg')
          +banner-h1('Платежные системы карт')
    .page-content
      +section('--mt0')
        .inner
          +info-block
            +info-block__line
              p В Азиатско-Тихоокеанском Банке Вы можете заказать выпуск карт по платежным системам Visa, MasterCard и «Мир». Подобный набор позволяет остановиться на системе, наиболее соответствующей Вашим потребностям. Так,
            +info-block__line
              +ui-ul(paymentList)
            +info-block__line
              p Платежные системы, представленные в АТБ, являются безопасными, функциональными, надежными и соответствующими всем современным стандартам. Поэтому Вы можете смело выбирать карту системы, руководствуясь собственными целями и предпочтениями!
      +section
        .inner
          +seo-menu
            a(href='#') Mastercard
            a(href='#') Visa
            a(href='#') Мир
