extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')

block scripts
  script(src='../../js/index.js')

block variables
  -const pageTitle ='Коммунальные платежи'

  -
    const list =[
      { text: 'коммунальные платежи онлайн посредством использования интернет-ресурсов;' },
      { text: 'перевод средств через банковский терминал;' },
      { text: 'оплата коммунальных услуг через банки.' },
    ]

block content
  main
    +breadcrumbs()
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item('Услуги', '#')
      +breadcrumbs-item(pageTitle)
    +banner
      +banner-item('--text-old')
        +banner-wrapper('/img/banner_gradient.jpg')
          +banner-h1('Оплата коммунальных услуг через банк')
    .page-content
      +section('--mt0')
        .inner
          +info-block
            +info-block__line
              p Деятельность Азиатско-Тихоокеанского Банка включает в себя оказание широкого спектра услуг физическим лицам с учетом их потребностей, и оплата коммунальных услуг через банк является одним из самых востребованных у населения направлений.
            +info-block__line
              +info-block__title('Способы осуществления денежных платежей ЖКХ')
              p АТБ предоставляет своим клиентам возможность выбора способа оплаты ЖКХ:
              +ui-ul(list)
            +info-block__line
              p Стоит заметить, что последний вариант, более привычный людям старшего поколения, теряет былую актуальность в пользу новых технологических возможностей.
            +info-block__line
              +info-block__title('Преимущества системы интернет-расчета')
              p Погашение счетов ЖКХ — это вынужденная и неувлекательная процедура, в особенности, если время перерыва финансового учреждения совпадает с временным промежутком, когда удается вырваться с работы для проведения денежных платежей. Если по каким-либо причинам не работает выбранный вами банк, оплата услуг через интернет станет лучшим вариантом решения проблемы.
              p АТБ предлагает своим потребителям заплатить коммунальные платежи онлайн без временных, физических и моральных затрат в любое удобное время. Для этого достаточно быть клиентом банка и иметь возможность подключиться к интернету.
            +info-block__line
              +info-block__title('Мифы')
              p Некоторые абоненты остерегаются осуществлять переводы платежей онлайн из-за возможности мошенничества и боязни ошибиться при введении данных. Однако в АТБ позаботились о безопасности и исключили вероятность путаницы при работе с системой. К тому же каждый пользователь может проследить за оплатой услуг с сайта банковскими картами онлайн, платежи которых фиксируются в течение считанных минут.
