extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')

block scripts
  script(src='../../js/index.js')

block variables
  -const pageTitle ='Тендеры'

  -
    const tabs = [
      { text: 'Текущие тендеры', isAttention: true },
      { text: 'Итоги тендеров' },
      { text: 'Документы Заказчика' },
      { isLink: true, text: 'Обратная связь' }
    ]

block content
  main
    +breadcrumbs()
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item(pageTitle)
    +banner
      +banner-item('--text-old')
        +banner-wrapper('/img/banner_gradient.jpg')
          +banner-h1('Тендеры')
    .page-content
      +section('--mt0')
        +tabs-head(tabs)
        +tabs-main
          +tabs-main__item(true)
            .inner
              +section-head()
                +ui-p1('')
                  |   План закупок «Азиатско-Тихоокеанский Банк» (АО) не является публичной офертой и не влечет для «Азиатско-Тихоокеанский Банк» (АО) юридических последствий.
                  br
                  |  План закупок «Азиатско-Тихоокеанский Банк» (АО) может быть скорректирован в случае изменения потребности в товарах (работах, услугах).
              +accordion
                +accordion-item('item 1')
                  +ui-p1('').text-inside-d-link
                    p Азиатско-Тихоокеанский Банк» (АО) (далее Заказчик) объявляет о проведении запроса котировок на оказание услуг по охране объектов и имущества «Азиатско-Тихоокеанский Банк» (АО).
                    p Процедура запроса котировок проходит согласно условиям, заявленным Заказчиком в извещении и документации о проведении запроса котировок.
                    p Дополнительные консультации по проведению процедуры запроса котировок можно получить по телефону: +7 (4162) 22-04-24, доб. 1921; +7 (4162) 22-45-31 (доб. 1429).
                    p Запросы в письменной форме направлять на адрес электронной почты:
                      =' '
                      a(href='mailto:zakupki@atb.su' target='_blank') zakupki@atb.su
                +accordion-item('item 2 accordion inner')
                  +accordion('--inner')
                    +accordion-item('inner item 1')
                      +ui-p1('').text-inside-d-link
                        p Азиатско-Тихоокеанский Банк» (АО) (далее Заказчик) объявляет о проведении запроса котировок на оказание услуг по охране объектов и имущества «Азиатско-Тихоокеанский Банк» (АО).
                        p Процедура запроса котировок проходит согласно условиям, заявленным Заказчиком в извещении и документации о проведении запроса котировок.
                        p Дополнительные консультации по проведению процедуры запроса котировок можно получить по телефону: +7 (4162) 22-04-24, доб. 1921; +7 (4162) 22-45-31 (доб. 1429).
                        p Запросы в письменной форме направлять на адрес электронной почты:
                          =' '
                          a(href='mailto:zakupki@atb.su' target='_blank') zakupki@atb.su

                    +accordion-item('inner item 2')
                      +ui-p1('').text-inside-d-link
                        p Азиатско-Тихоокеанский Банк» (АО) (далее Заказчик) объявляет о проведении запроса котировок на оказание услуг по охране объектов и имущества «Азиатско-Тихоокеанский Банк» (АО).
                        p Процедура запроса котировок проходит согласно условиям, заявленным Заказчиком в извещении и документации о проведении запроса котировок.
                        p Дополнительные консультации по проведению процедуры запроса котировок можно получить по телефону: +7 (4162) 22-04-24, доб. 1921; +7 (4162) 22-45-31 (доб. 1429).
                        p Запросы в письменной форме направлять на адрес электронной почты:
                          =' '
                          a(href='mailto:zakupki@atb.su' target='_blank') zakupki@atb.su
          +tabs-main__item
            .inner
              p inner
          +tabs-main__item
            .inner
              p inner
