extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')

block scripts
  script(src='../../js/index.js')
block variables
  -const fileName = 'service-pages'
  -const pageTitle ='Текстовая страница'

  -
    const infoList_1 =[
      { text: 'Покупатель обращается в банк с заявлением об открытии счета – эскроу, на котором размещается денежная сумма, прописанная в договоре между покупателем (в данном случае частное лицо) и продавцом (застройщиком).' },
      { text: 'Покупатель вносит деньги на квартиру на счет эскроу банка. В случае с ипотечным кредитом – первоначальный взнос (остальную сумму банк). Застройщик не будет иметь доступ к счету, пока дом не будет сдан.' },
      { text: 'Продавец передает в банк документы, подтверждающие выполнение всех условий перед покупателем.' },
      { text: 'Банк удостоверяется, что с документами застройщика все в порядке и открывает тому доступ к эскроу-счету.' },
    ]

  -
    const tableItems ={
      tbody: [
        {
          title: true,
          td: [
            { text: 'Город' },
            { text: 'Наименование отделения' },
            { text: 'Адрес отделения' },
            { text: 'Контактный телефон отделения' },
          ]
        },
        {
          td: [
            { text: 'Благовещенск' },
            { text: 'Департамент по Амурской области' },
            { text: 'Амурская область, г. Благовещенск, ул. Амурская, д.225' },
            { text: '(4162) 224-551, 222-325, 222-324, 220-441, 220-439' },
          ]
        },
        {
          td: [
            { text: 'Улан-Удэ' },
            { text: 'Филиал "Азиатско-Тихоокеанский Банк" (АО) в г. Улан-Удэ' },
            { text: 'Республика Бурятия, г. Улан-Удэ, ул. Коммунистическая, д.49' },
            { text: '3012) 21-61-90, 211-726' },
          ]
        },
        {
          td: [
            { text: 'Москва' },
            { text: 'Филиал "Азиатско-Тихоокеанский Банк" (АО) в г. Москва' },
            { text: 'г. Москва, пер. Вознесенский, д.11, стр.1' },
            { text: '(495) 988-30-62, 988-30-61' },
          ]
        },
      ]
    }

block content
  main
    +breadcrumbs()
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item('Вклады', '#')
      +breadcrumbs-item(pageTitle)
    +banner
      +banner-item('--text-old')
        +banner-wrapper('/img/banner_gradient.jpg')
          +banner-h1(pageTitle)
          .banner-item-foot
            .banner-item-foot-item
              +ui-button('button')(href='#')
    .page-content
      +section('--mt0')
        .inner
            +info-block
              +info-block__line
                p Эскроу – это специальный счет, на котором учитываются деньги, имущество или документы до тех пор, пока не будут выполнены определенные обязательства.
                p В России поменялись правила работы в долевом строительстве. Согласно ФЗ от 25 декабря 2018 г. № 478-ФЗ все застройщики обязаны использовать счет эскроу в банке. Открыть его можно в Азиатско-Тихоокеанском банке.
              +info-block__line
                +info-block__title('Счет эскроу: как это работает')
                p Эскроу в долевом строительстве работает следующим образом:
                +ui-ul(infoList_1)
              +info-block__line
                +info-block__title('Счет эскроу: как это работает')
                +ui-ol('')
                  li
                    b В случае если Вы являетесь участником зарплатного проекта Банка, то подтверждение доходов не требуется.
                  li
                    b Вы может подтвердить получаемые доходы с помощью:
                    +ui-ul('', '--child')
                      li
                        b выписка с Пенсионного фонда РФ,
                        |  выписка может быть получена двумя способами:
                        +ui-ul('', '--child')
                          li При личном обращении Клиента в отделение Пенсионного фонда РФ/МФЦ.
                          li Посредством сервиса «
                            a.text-orange(href='https://www.gosuslugi.ru/' target='_blank') Госуслуги
                            | » - услуга предоставляется в режиме реального времени.
                            =' '
                            a.text-orange(href='#' target='_blank') Инструкция о формировании выписки
                          li При согласии клиента инициировать запрос выписки может сотрудник банка самостоятельно.
              +info-block__line
                +info-block__footnote('*использование программы «Назначь свою ставку»')
              +info-block__line
                p Итак, эскроу – это банковский счет, на котором деньги покупателя будут храниться до тех пор, пока не будет построена и готова для заселения квартира. Застройщик при этом должен будет использовать для возведения недвижимости собственные или заемные деньги. Если дом не будет достроен, деньги со счета эскроу банк вернет дольщику.
                p Счет эскроу открыть можно в Азиатско-Тихоокеанском банке.
                p
                  em
                    sup 2
                    |  Исключения составляют операции, совершаемые в  рамках исполнения обязательства по покупке или продаже финансовых инструментов,  срок исполнения которого наступил, если такое обязательство возникло в  результате операции, совершенной до того, как лицу стала известна инсайдерская  информация.
                    br
                    sup 3
                    |  Исключения  составляют случаи передачи инсайдерской информации лицу, включенному в Список  инсайдеров Банка, в связи с исполнением обязанностей, установленных  федеральными законами, либо в связи с исполнением трудовых обязанностей или  исполнением договора.
                p  Исключения  составляют случаи передачи инсайдерской информации
              +info-block__line
                p Уважаемые клиенты!
                p Информируем вас, что в соответствии с Федеральным законом от 30.12.2004 N 214-ФЗ «Об участии в долевом строительстве многоквартирных домов и иных объектов недвижимости и о внесении изменений в некоторые законодательные акты Российской Федерации» Азиатско – Тихоокеанский Банк осуществляет работу по открытию счетов эскроу в следующих отделениях Банка:
              +info-block__line
                +ui-table(tableItems, '--mob-scroll')
      +section
        .inner
          +ui-h2('Документы для скачивания', '--section').text-center
          +accordion
            +accordion-item('Документы')
              +documents
            +accordion-item('Архив')
              +documents

      +section
        .inner
          +seo-menu
            a(href='#') Ипотека на частный дом
            a(href='#') Кредит на квартиру
            a(href='#') Готовое жилье в кредит - калькулятор
