extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  //- script(src=fileName + '.js')

block variables
  -
    const fileName = 'mss-transaction'
    const pageTitle ='МСС-коды исключений из Транзакций'

  -
    const tableItems ={
      tbody: [
        { title: true,
          td: [
            { text: 'MCC' },
            { text: 'Наименование' },
          ]
        },
        { td: [
            { text: '4812' },
            { text: 'Телекоммуникационное оборудование, включая продажу телефонов' },
          ]
        },
        { td: [
            { text: '4813' },
            { text: 'Торговые точки телеком клавишного ввод' },
          ]
        },
        { td: [
            { text: '4814' },
            { text: 'Телекоммуникационные услуги' },
          ]
        },
        { td: [
            { text: '4815' },
            { text: 'Телекоммуникационные услуги' },
          ]
        },
        { td: [
            { text: '4816' },
            { text: 'Компьютерные сети, информационные услуги' },
          ]
        },
        { td: [
            { text: '4821' },
            { text: 'Услуги телеграфа' },
          ]
        },
        { td: [
            { text: '4829' },
            { text: 'Денежные переводы' },
          ]
        },
        { td: [
            { text: '4899' },
            { text: 'Кабельные и другие платные телевизионные услуги' },
          ]
        },
        { td: [
            { text: '4900' },
            { text: 'Жилищно-коммунальные услуги' },
          ]
        },
        { td: [
            { text: '5094' },
            { text: 'Драгоценные камни и металлы, часы и ювелирные изделия. Опт.торговцы' },
          ]
        },
        { td: [
            { text: '5933' },
            { text: 'Ломбарды' },
          ]
        },
        { td: [
            { text: '5968' },
            { text: 'Прямой маркетинг – Продажа по подписке' },
          ]
        },
        { td: [
            { text: '5967' },
            { text: 'Прямой маркетинг - входящий телемаркетинг' },
          ]
        },
        { td: [
            { text: '5999' },
            { text: 'Различные магазины и специальные розничные магазины' },
          ]
        },
        { td: [
            { text: '6211' },
            { text: 'Услуги брокеров на рынке ценных бумаг' },
          ]
        },
        { td: [
            { text: '6300' },
            { text: 'Услуги страховых компаний' },
          ]
        },
        { td: [
            { text: '6513' },
            { text: 'Агенты недвижимости и менеджеры' },
          ]
        },
        { td: [
            { text: '6010' },
            { text: 'Выдача наличных' },
          ]
        },
        { td: [
            { text: '6011' },
            { text: 'Выдача наличных' },
          ]
        },
        { td: [
            { text: '6012' },
            { text: 'Финансовые институты - торговля и услуги' },
          ]
        },
        { td: [
            { text: '6529' },
            { text: 'Удаленное пополнение карты' },
          ]
        },
        { td: [
            { text: '6530' },
            { text: 'Удаленное пополнение карты' },
          ]
        },
        { td: [
            { text: '6531' },
            { text: 'Платежная операция' },
          ]
        },
        { td: [
            { text: '6532' },
            { text: 'Платежная операция' },
          ]
        },
        { td: [
            { text: '6533' },
            { text: 'Платежная операция' },
          ]
        },
        { td: [
            { text: '6534' },
            { text: 'Платежная операция' },
          ]
        },
        { td: [
            { text: '6535' },
            { text: 'Права требования на ценности' },
          ]
        },
        { td: [
            { text: '6536' },
            { text: 'Платежная операция' },
          ]
        },
        { td: [
            { text: '6537' },
            { text: 'Денежные переводы' },
          ]
        },
        { td: [
            { text: '6538' },
            { text: 'Денежные переводы' },
          ]
        },
        { td: [
            { text: '6540' },
            { text: 'Удаленное пополнение карты' },
          ]
        },
        { td: [
            { text: '6050' },
            { text: 'Квази-Кэш – Финансовые учреждения' },
          ]
        },
        { td: [
            { text: '6051' },
            { text: 'Квази-Кэш – Финансовые учреждения' },
          ]
        },
        { td: [
            { text: '7276' },
            { text: 'Служба налоговой подготовки' },
          ]
        },
        { td: [
            { text: '7299' },
            { text: 'Различные услуги (без классификации)' },
          ]
        },
        { td: [
            { text: '7311' },
            { text: 'Рекламные услуги' },
          ]
        },
        { td: [
            { text: '7321' },
            { text: 'Кредитные бюро' },
          ]
        },
        { td: [
            { text: '7372' },
            { text: 'Программирование, обработка данных, проектирование интегрированных систем' },
          ]
        },
        { td: [
            { text: '7399' },
            { text: 'Бизнес услуги' },
          ]
        },
        { td: [
            { text: '7800' },
            { text: 'Правительственная лотерея' },
          ]
        },
        { td: [
            { text: '7801' },
            { text: 'Азартные игры в интернет' },
          ]
        },
        { td: [
            { text: '7802' },
            { text: 'Лошадиные/собачьи бега' },
          ]
        },
        { td: [
            { text: '7995' },
            { text: 'Азартные игры' },
          ]
        },
        { td: [
            { text: '8999' },
            { text: 'Профессиональные услуги (без классификации)' },
          ]
        },
        { td: [
            { text: '9211' },
            { text: 'Судебные выплаты, включая алименты и детскую поддержку' },
          ]
        },
        { td: [
            { text: '9222' },
            { text: 'Штрафы' },
          ]
        },
        { td: [
            { text: '9223' },
            { text: 'Платежи по залогам и облигациям' },
          ]
        },
        { td: [
            { text: '9311' },
            { text: 'Налоговые платежи' },
          ]
        },
        { td: [
            { text: '9399' },
            { text: 'Государственные услуги' },
          ]
        },
        { td: [
            { text: '9402' },
            { text: 'Почтовые услуги – только государственные' },
          ]
        },
        { td: [
            { text: '9754' },
            { text: 'Лошадиные/собачьи бега' },
          ]
        },
      ]
    }

block content
  main
    +breadcrumbs
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item('Самое важное сегодня', '#')
      +breadcrumbs-item('Ответы на часто задаваемые вопросы ', '#')
      +breadcrumbs-item('Список исключений')
    .page-content
      +section('--mt0')
        .inner
          +section-head
            +ui-h2('МСС-коды исключений из Транзакций', 'section-head')
          +ui-table(tableItems)
