extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  script(src=fileName + '.js')

block variables
  -const fileName = 'multi-insurance'
  -const pageTitle ='Комплексное страхование'

  -
    const featuresItems =[
      { icon: 'img/feature_1.svg', title: 'Планирование своих затрат', descr: 'Включено покрытие по наиболее часто возникающим рискам' },
      { icon: 'img/feature_2.svg', title: 'Быстрое оформление', descr: 'Без описей, анкет, осмотра и заполнения документов' },
      { icon: 'img/feature_3.svg', title: 'Быстрое возвращение к привычной жизни', descr: 'Возмещение в течение 5 рабочих дней' },
      { icon: 'img/feature_4.svg', title: '5 вариантов программ страхования', descr: 'Возможность выбора наиболее подходящей' },
    ]

  -
    const featuresItems_Tab2 =[
      { icon: 'img/feature_2-1.svg', title: 'Уникальная возможность купить 4 страховых продуктов по цене одного!' },
      { icon: 'img/feature_2-2.svg', title: 'Защита практически в любой ситуации!' },
      { icon: 'img/feature_2-3.svg', title: 'Полноценное наполнение по каждому виду страхования – от количества не страдает качество!' },
      { icon: 'img/feature_2-4.svg', title: 'Оформление не требуется, полис нужно просто оплатить' },
    ]

  -
    const benefitsItems =[
      { icon: 'img/benefits_1.svg', descr: 'Cтрахование отделки и имущества квартиры или дома' },
      { icon: 'img/benefits_2.svg', descr: 'Cтрахование гражданской ответственности перед третьими лицами' },
      { icon: 'img/benefits_3.svg', descr: 'Cтрахование банковских карт' },
      { icon: 'img/benefits_4.svg', descr: 'Cтрахование личных вещей' },
    ]

  -
    const tableItemsMultipolis ={
      tbody: [
        {
          title: true,
          td: [
            { text: 'Варианты страхования' },
            { text: 'Программа 1' },
            { text: 'Программа 2' },
            { text: 'Программа 3' },
            { text: 'Программа 4' },
            { text: 'Программа 5' },
          ]
        },
        {
          isMobileTitle: true,
          td: [
            { text: '' },
            { text: 'Страховые суммы, ₽ **', colspan: '5' },
          ]
        },
        {
          td: [
            { text: '<u>Имущество и гражданская ответственность</u>' },
            { text: '1 100 000' },
            { text: '1 700 000' },
            { text: '2 500 000' },
            { text: '3 650 000' },
            { text: '5 100 000' },
          ]
        },
        {
          td: [
            { text: '<u>Личное имущество</u>' },
            { text: '15 000' },
            { text: '25 000' },
            { text: '50 000' },
            { text: '65 000' },
            { text: '75 000' },
          ]
        },
        {
          td: [
            { text: '<u>Несчастный случай *</u>' },
            { text: '200 000' },
            { text: '300 000' },
            { text: '500 000' },
            { text: '700 000' },
            { text: '1 000 000' },
          ]
        },
        {
          td: [
            { text: 'Стоимость страхового полиса' },
            { text: '10 400' },
            { text: '15 600' },
            { text: '25 000' },
            { text: '35 000' },
            { text: '45 000' },
          ]
        },
      ]
    }

  -
    const tableItemsMultipolisDrop_1 ={
      tbody: [
        {
          title: true,
          td: [
            { text: 'Объекты страхования' },
            { text: 'Программа 1' },
            { text: 'Программа 2' },
            { text: 'Программа 3' },
            { text: 'Программа 4' },
            { text: 'Программа 5' },
          ]
        },
        {
          td: [
            { text: '' },
            { text: 'Лимит ответственности, ₽', colspan: '5' },
          ]
        },
        {
          td: [
            { text: 'Внутренняя отделка и оборудование' },
            { text: '325 500' },
            { text: '500 000' },
            { text: '750 000' },
            { text: '1 100 000' },
            { text: '1 500 000' },
          ]
        },
        {
          td: [
            { text: 'Движимое (домашнее) имущество' },
            { text: '325 000' },
            { text: '500 000' },
            { text: '750 000' },
            { text: '1 100 000' },
            { text: '1 500 000' },
          ]
        },
        {
          td: [
            { text: 'Гражданская ответственность' },
            { text: '450 000' },
            { text: '700 000' },
            { text: '1 000 000' },
            { text: '1 450 000' },
            { text: '2 100 000' },
          ]
        },
      ]
    }

  -
    const tableItemsMultipolisDrop_2 ={
      tbody: [
        {
          title: true,
          td: [
            { text: 'Наименование' },
            { text: 'Программа 1' },
            { text: 'Программа 2' },
            { text: 'Программа 3' },
            { text: 'Программа 4' },
            { text: 'Программа 5' },
          ]
        },
        {
          td: [
            { text: '' },
            { text: 'Лимит ответственности (в ₽), в зависимости от выбранной программы страхования', colspan: '5' },
          ]
        },
        {
          td: [
            { text: 'Мобильный телефон, гарнитура и аксессуары к нему, портативная фото- и видеотехника' },
            { text: '6 000' },
            { text: '10 000' },
            { text: '20 000' },
            { text: '25 000' },
            { text: '25 000' },
          ]
        },
        {
          td: [
            { text: 'Сумка, портфель, портмоне, кошелек' },
            { text: '6 000' },
            { text: '5 000' },
            { text: '20 000' },
            { text: '25 000' },
            { text: '30 000' },
          ]
        },
        {
          td: [
            { text: 'Ключи от квартиры/строения или автомобиля*' },
            { text: '1 500' },
            { text: '2 500' },
            { text: '5 000' },
            { text: '7 500' },
            { text: '10 000' },
          ]
        },
        {
          td: [
            { text: 'Паспорт, водительское удостоверение, свидетельство о регистрации транспортного средства**' },
            { text: '1 500' },
            { text: '2 500' },
            { text: '5 000' },
            { text: '7 500' },
            { text: '10 000'},
          ]
        },
      ]
    }

  -
    const tableItemsMultipolisDrop_3 ={
      thead: [
        {
          th: [
            { text: 'СТРАХОВЫЕ случаи' },
            { text: 'РАЗМЕР СТРАХОВОЙ ВЫПЛАТЫ' },
          ]
        },
      ],
      tbody: [
        {
          td: [
            { text: 'Смерть Застрахованного в результате несчастного случая, происшедшего в период страхования' },
            { text: '100 % страховой суммы' },
          ]
        },
        {
          td: [
            { text: 'Установление Застрахованному I или II группы инвалидности в связи с причинением вреда здоровью Застрахованного вследствие несчастного случая, происшедшего с Застрахованным в период страхования.' },
            { text: 'I группа – 100% страховой суммы; <br> II группа – 80% страховой суммы' },
          ]
        },
      ]
    }

  -
    const howGetItems =[
      {
        icon: 'img/how-get_1.svg',
        title: 'Известите САО «ВСК» <br> о несчастном случае',
        descr: 'Любым способом, позволяющим объективно зафиксировать факт сообщения.'
      },
      {
        icon: 'img/how-get_2.svg',
        title: 'Подготовьте пакет документов <br> и обратитесь с письменным заявлением в САО «ВСК»',
        descr: 'Пакет документов должен подтверждать факт наступления страхового случая.'
      },
      {
        icon: 'img/how-get_3.svg',
        title: 'Дождитесь извещения от САО «ВСК» о принятом решении',
        descr: 'В случае положительного решения, будет произведена выплата на ваш счет.'
      },
    ]

  -
    const tableItemsMultipolis_Tab2 ={
      tbody: [
        {
          title: true,
          td: [
            { text: 'Варианты страхования' },
            { text: 'Вариант 1' },
            { text: 'Вариант 2' },
            { text: 'Вариант 3' },
            { text: 'Вариант 4' },
            { text: 'Вариант 5' },
          ]
        },
        {
          isMobileTitle: true,
          td: [
            { text: '' },
            { text: 'Страховая сумма, лимиты ответственности, руб.', colspan: '5', mods: 'text-black' },
          ]
        },
        {
          td: [
            { text: 'Максимальная страховая сумма по договору, руб.' },
            { text: '1 225 000' },
            { text: '1 895 000' },
            { text: '3 080 000' },
            { text: '4 315 000' },
            { text: '5 550 000' },
          ]
        },
        {
          td: [
            { text: 'Стоимость страхового полиса' },
            { text: '10 400' },
            { text: '15 600' },
            { text: '25 000' },
            { text: '35 000' },
            { text: '45 000' },
          ]
        },
        {
          isMobileTitle: true,
          td: [
            { text: '<b> Предметы страхования </b>' },
            { text: 'Лимиты ответственности по предметам <span class="text-nowrap"> страхования, руб.</span>', colspan: '5', mods: 'text-black' },
          ]
        },
        {
          td: [
            { text: 'Внутренняя отделка в квартире или в жилом доме' },
            { text: '325 000' },
            { text: '500 000' },
            { text: '750 000' },
            { text: '1 100 000' },
            { text: '1 500 000' },
          ]
        },
        {
          td: [
            { text: 'Движимое имущество в квартире или в жилом доме' },
            { text: '325 000' },
            { text: '500 000' },
            { text: '750 000' },
            { text: '1 100 000' },
            { text: '1 500 000' },
          ]
        },
        {
          td: [
            { text: 'Гражданская ответственность при эксплуатации жилого помещения' },
            { text: '450 000' },
            { text: '700 000' },
            { text: '1 300 000' },
            { text: '1 750 000' },
            { text: '2 100 000' },
          ]
        },
        {
          td: [
            { text: 'Банковская карта и денежные средства на счете держателя банковской карты' },
            { text: '100 000' },
            { text: '150 000' },
            { text: '200 000' },
            { text: '250 000' },
            { text: '300 000' },
          ]
        },
        {
          td: [
            { text: 'Личные вещи' },
            { text: '15 000' },
            { text: '30 000' },
            { text: '50 000' },
            { text: '65 000' },
            { text: '75 000' },
          ]
        },
        {
          td: [
            { text: 'Возмещение расходов по расчистке территории после страхового случая' },
            { text: '10 000' },
            { text: '15 000' },
            { text: '30 000' },
            { text: '50 000' },
            { text: '75 000' },
          ]
        },
      ]
    }

  -
    const list_1 =[
      { text: 'пожар, взрыв, удар молнии;' },
      { text: 'аварии инженерных систем;' },
      { text: 'проникновение жидкости из соседних (чужих) помещений, не принадлежащих Страхователю/Выгодоприобретателю;' },
      { text: 'разбой, грабеж, хулиганство, кража, террористический акт;' },
      { text: 'стихийные бедствия;' },
      { text: 'падение посторонних предметов;' },
      { text: 'воздействие в результате ДТП (дорожно-транспортное происшествие);' },
      { text: 'причинение вреда имуществу третьих лиц (исключая ответственность за проведение ремонтных, строительных и прочих работ;' },
      { text: 'причинение вреда жизни, здоровью третьих лиц.' },
    ]

  -
    const list_2 =[
      { text: 'Разбой, грабеж, хулиганство, кража, террористический акт.' },
    ]

  -
    const list_3 =[
      { text: 'оригинал настоящего Полиса страхования' },
      { text: 'документ, подтверждающий оплату страховой премии' },
      { text: 'письменное заявление о страховом событии установленного образца' },
      { text: 'документ, удостоверяющий личность получателя выплаты' },
    ]

  -
    const list_4 =[
      { text: 'После передачи в страховую компанию полного пакета документов по страховому событию в течение 10 рабочих дней принимается решение о страховой выплате.' },
      { text: 'Выплата страхователю осуществляется в течение 5 рабочих дней после принятия положительного решения о страховой выплате.' },
    ]

block content
  main
    +banner
      +banner-item('--multi-insurance')
        +banner-wrapper('img/top_ban.jpg')
          +banner-h1('Комплексное страхование', '')
          +banner-descr('Защита на случай непредвиденных обстоятельств, куда включены риски, связанные с имуществом, личными вещами и наступлением несчастного случая.', '--size-xs ').banner-item-dn
    .page-content
      +tabs-head([{ text: '«Мультиполис» САО «ВСК»' }, { text: '«Все включено!» ОАО АльфаСтрахование' }])
      +tabs-main
        +tabs-main__item(true)
          +section('--mt0')
            .inner
              +ui-h2('«Мультиполис» САО «ВСК»', '--section').text-center
              +features(featuresItems)
          +section('--bg-grey')
            .inner
              +ui-h2('Страховые программы', '--section').text-center
              +multi-insuranse-table(tableItemsMultipolis)
              +section-footnote.text-center
                p *Смерть в результате НС; инвалидность 1 или 2 группы в результате НС; временная нетрудоспособность в результате НС
                p **Страховая сумма агрегатная, т.е. после производства страховой выплаты страховая сумма уменьшается на сумму страховой выплаты
          +section
            .inner
               +accordion
                +accordion-item('Имущество и гражданская ответственность', '--transparent-main')
                  +info-block
                    +info-block__line
                      +multi-insuranse-secondary-table(tableItemsMultipolisDrop_1, 'Имущество и гражданская ответственность', 'Объект страхования – квартира или жилое строение (дом/коттедж/таунхаус) на следующие страховые суммы:')
                    +info-block__line
                      p
                        b Страховые риски:
                      +ui-ul(list_1)
                    +info-block__line
                      p
                        b Внутренняя отделка:
                      p все виды внутренних штукатурных, малярных и отделочных работ, в том числе лепные работы; различные виды напольных, настенных и потолочных покрытий (в т.ч. технические слои тепло-, гидро-, шумоизоляции), не несущие перегородки, элементы декора (лепнина, плинтуса, арки, карнизы, наличники), двери (входная, балконная, межкомнатные), окна (в т.ч. остекление балконов и лоджий), конструктивно встроенные шкафы и антресоли (не имеющие одной или нескольких собственных стен).
                    +info-block__line
                      p
                        b Инженерное оборудование:
                      p системы отопления, газоснабжения (вкл. агрегаты и приборы, исключая газовые баллоны), водоснабжения и канализации (вкл. санитарно-технические приборы в т.ч. душевые кабины и водонагреватели), электроснабжения (вкл. электрощит, электроавтоматы, приборы учета электроэнергии, электропроводка, розетки и выключатели), слаботочные сети, системы вентиляции и кондиционирования воздуха (вкл. вентиляционные каналы, кондиционеры, внешние и внутренние навесные блоки), системы охранной и пожарной безопасности (исключая камеры наблюдения). Указанные системы коммуникаций и оборудования считаются застрахованными в пределах периметра жилого помещения (расположенные внутри помещений, на наружной стороне или крыше дома).
                    +info-block__line
                      p
                        b Домашнее имущество:
                      p предметы домашнего обихода и интерьера, принадлежащие Страхователю (Выгодоприобретателю) и/или членом его семьи, не имеющие особой (культурной, художественной, исторической и т.п.) ценности (мебель, теле-, аудио- и видеоаппаратура; бытовая и вычислительная техника; осветительные приборы; шторы, жалюзи, карнизы; музыкальные инструменты; оптика; часы, зеркала, ковры, посуда, одежда).
                    +info-block__line
                      p
                        b Гражданская ответственность:
                      p предполагаемое случайное событие, повлекшее за собой причинение вреда жизни и/или здоровью третьих лиц, и/или вред, причиненный в виде утраты или повреждения имущества третьих лиц в результате неумышленных действий Страхователя связанных с эксплуатацией жилого помещения.
                +accordion-item('Личное имущество', '--transparent-main')
                  +info-block
                    +info-block__line
                      +multi-insuranse-secondary-table(tableItemsMultipolisDrop_2, 'Личное имущество', 'Программа покрывает расходы Страхователя, связанные с утратой:')
                      +section-footnote('*покрываются расходы на замену замков, ключи к которым были утрачены, или изготовление дубликатов утраченных ключей, замена ключей от автомобиля и/или перекодировка замка автомобиля. <br> **покрываются расходы на восстановление документов по действующим расценкам организаций, которыми данные документы были выданы, подтвержденные квитанциями об уплате.')
                    +info-block__line
                      p
                        b Страховые риски:
                      +ui-ul(list_1)
                +accordion-item('Несчастный случай', '--transparent-main')
                  +ui-table(tableItemsMultipolisDrop_3, '--white-insuranse')
          +section
            .inner
              +how-get('Как это работает?', howGetItems)
          +section
            .inner
              +attention
                p Договор страхования вступает в силу с 00.00 часов 15-го календарного дня, следующего за датой уплаты страховой премии. Сертификат действует в течении одного года. Тарифы действительны на ноябрь 2020 г. Узнать более подробные условия и приобрести данную услугу можно в ближайшем офисе АО «Азиатско-Тихоокеанского Банка» (АТБ). Банк является агентом на основании Агентского договора №2018-10 от 16.10.2018г. Услуги по сервису Мультиполис осуществляет страховая компания САО «ВСК»
                p Размер агентского вознаграждения по агентскому договору со страховой компанией:
                  br
                  | % от страховой премии, в т.ч. НДС 20% от 60%.
          +section
            .inner
              +multi-insuranse-contact
          +section('--mt-xs')
            .inner.text-center
              +ui-button('информация о страховщике', '--empty')(href='#' taget='_blank')
        +tabs-main__item
          +section('--mt0')
            .inner
              +ui-h2('Всё включено!', '--section')
              +section-head('--max-w900')
                +ui-p1('– уникальный комплексный продукт ОАО АльфаСтрахование, который включает в себя наиболее востребованные Клиентами страховые и сервисные составляющие:')
              +benefits(benefitsItems, '--items2-default')
          +section('--bg-grey')
            .inner
              +ui-h2('Преимущества полиса', '--section').text-center
              +features(featuresItems_Tab2, '--fz-18 ')
          +section
            .inner
              +ui-h2('Наполнение и стоимость', '--section').text-center
              +multi-insuranse-table(tableItemsMultipolis_Tab2, '--bg-grey')
          +section
            .inner
              +multi-insuranse-tabs
          +section
            .inner
              +accordion
                +accordion-item('Что делать клиенту при наступлении страхового случая?')
                  +ui-p1('', '--light')
                    +ui-ul('')
                      li Позвонить по телефону 8 800 333 75 57, и заявить о страховом случае
                      li В течение трех рабочих дней подать письменное заявление о событии в ближайший офис ОАО «АльфаСтрахование»
                      li При подаче заявления предоставить документы
                        +ui-ul(list_3, '--child, --dash')
                +accordion-item('Как производятся страховые выплаты?')
                  +ui-p1('', '--light')
                    +ui-ul(list_4)
          +section
            .inner
              +attention
                p Договор страхования вступает в силу с 00.00 часов 16-го календарного дня, следующего за датой уплаты страховой премии. Сертификат действует в течении одного года. Тарифы действительны на ноябрь 2020г. Узнать более подробные условия и приобрести данную услугу можно в ближайшем офисе «Азиатско-Тихоокеанского Банка» (АО). Банк является агентом на основании Агентского договора №135/8792/АБ/14 от 20.07.2014г. Услуги по сервису «Все включено» осуществляет страховая компания ОАО «АльфаСтрахование».
          +section('--mt-xs')
            .inner.text-center
              +ui-button('информация о страховщике', '--empty')(href='#' taget='_blank')
