extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')

block scripts
  script(src='../../js/index.js')

block variables
  -const fileName = 'family-concierge'
  -const pageTitle ='Семейный Консьерж'

  -
    const list_1 =[
      { text: 'Простое технологичное решение. Для доступа нужен только интернет' },
      { text: 'При отсутствии технических возможностей / интернета специалист свяжется по телефону' },
      { text: 'Выбор специалиста по квалификации / экспертизе /оценкам и отзывам' },
      { text: 'Выбор удобного времени для консультации (включая нерабочее время, выходные и праздничные дни)' },
      { text: 'Выбор формата консультации: видеосвязь / телефонный звонок / чат' },
    ]

  -
    const list_2 =[
      { text: 'Психологическая поддержка по вопросам семейных отношения, воспитанию детей, детско-родительским отношения' },
      { text: 'Юридическая поддержка по вопросам семейного права, жилищного права и услугам ЖКХ, автотематики, защиты прав потребителей' },
      { text: 'Финансовая экспертиза для ведения и оптимизации семейного бюджета, планирования крупных приобретений, распоряжения накоплениями, управлению кредитной нагрузкой' },
      { text: 'Консультации по здоровому образу жизни по вопросам поддержания здоровья, решение проблем со здоровьем при отсутствии медицинских обоснований, взаимодействие с традиционной медициной (подбор оптимального учреждения для лечения)' },
    ]

  -
    const tableItems ={
      tbody: [
        {
          td: [
            { text: 'Здоровый образ жизни' },
            {
              title: 'Консультация эксперта по здоровому образу жизни',
              list: [
                { text: 'любые вопросы, связанные с сохранением и поддержанием здоровья' },
                { text: 'проблемы снижения работоспособности / синдром хронической усталости / хронический стресс' },
                { text: 'психосоматические проблемы / проблемы со здоровьем, когда врачи не могут поставить диагноз и найти причину имеющихся расстройств' },
                { text: 'помощь в нормализации веса / подбор здорового питания' },
                { text: 'возрастные изменения и расстройства' },
                { text: 'нарушения сна' },
              ]
            },
            {
              title: 'Консультация эксперта по здоровому образу жизни',
              list: [
                { text: 'любые вопросы, связанные с сохранением и поддержанием здоровья' },
                { text: 'проблемы снижения работоспособности / синдром хронической усталости / хронический стресс' },
                { text: 'психосоматические проблемы / проблемы со здоровьем, когда врачи не могут поставить диагноз и найти причину имеющихся расстройств' },
                { text: 'помощь в нормализации веса / подбор здорового питания' },
                { text: 'возрастные изменения и расстройства' },
                { text: 'нарушения сна' },
              ]
            },
          ]
        },
        {
          td: [
            { text: 'Психологическая поддержка' },
            {
              title: 'Консультация квалифицированного психолога по телефону',
              list: [
                { text: 'любые вопросы, связанные с эмоциональным состоянием и переживаниями' },
                { text: 'психологическая поддержка по адаптации к жизни на пенсии после окончания трудового периода' },
                { text: 'помощь в разрешении семейных конфликтов' },
                { text: 'поддержка одиноких людей' },
              ]
            },
            {
              title: 'Консультация квалифицированного психолога по телефону',
              list: [
                { text: 'любые вопросы, связанные с эмоциональным состоянием и переживаниями' },
                { text: 'психологическая поддержка по адаптации к жизни на пенсии после окончания трудового периода' },
                { text: 'помощь в разрешении семейных конфликтов' },
                { text: 'поддержка одиноких людей' },
              ]
            },
          ]
        },
        {
          td: [
            { text: 'Юридическая помощь' },
            {
              title: 'Консультация юриста по любой области права по телефону',
              list: [
                { text: 'права и льготы для пенсионеров (пенсии, социальные выплаты, социальная поддержка и пр.)' },
                { text: 'вопросы ЖКХ (правильность применения тарифов и льгот)' },
                { text: 'наследственное право' },
                { text: 'защита прав потребителей' },
                { text: 'возможности получения налоговых вычетов' },
              ],
              text: 'В рамках сервиса также предусматриваются звонки юриста от имени клиента третьим лицам для представления интересов клиента.',
            },
            {
              title: 'Консультация юриста по любой области права по телефону',
              list: [
                { text: 'права и льготы для пенсионеров (пенсии, социальные выплаты, социальная поддержка и пр.)' },
                { text: 'вопросы ЖКХ (правильность применения тарифов и льгот)' },
                { text: 'наследственное право' },
                { text: 'защита прав потребителей' },
                { text: 'возможности получения налоговых вычетов' },
              ],
              text: 'В рамках сервиса также предусматриваются звонки юриста от имени клиента третьим лицам для представления интересов клиента.',
            },
          ]
        },
        {
          td: [
            { text: 'Жизненно-бытовые вопросы' },
            {
              title: 'Консультация специалиста по различным вопросам бытового характера',
              list: [
                { text: 'пошаговые инструкции о порядке действий при возникновении бытовых сложностей (аварийные ситуации с жильем, конфликты с соседями и др.)' },
                { text: 'пошаговые инструкции о порядке действий при взаимодействии с третьими лицами (которые предлагают услуги / товары)' },
                { text: 'предоставление контактной информации органов государственное власти и органов самоуправления, а также других ответственных организаций' },
                { text: 'консультации по порядку получения социальных сервисов от муниципальных служб' },
              ]
            },
            {
              title: 'Консультация специалиста по различным вопросам бытового характера',
              list: [
                { text: 'пошаговые инструкции о порядке действий при возникновении бытовых сложностей (аварийные ситуации с жильем, конфликты с соседями и др.)' },
                { text: 'пошаговые инструкции о порядке действий при взаимодействии с третьими лицами (которые предлагают услуги / товары)' },
                { text: 'предоставление контактной информации органов государственное власти и органов самоуправления, а также других ответственных организаций' },
                { text: 'консультации по порядку получения социальных сервисов от муниципальных служб' },
              ]
            },
          ]
        },
        {
          td: [
            { text: 'Маршрутизация по ОМС' },
            { },
            {
              title: 'Консультация специалиста по телефону',
              list: [
                { text: 'по вопросам действующего законодательства об Охране здоровья граждан РФ' },
                { text: 'о порядке получения необходимых медицинских услуг, в рамках программы ОМС' },
                { text: 'о порядке прохождения диспансеризации в рамках программы ОМС' },
                { text: 'о порядке плановой госпитализации в рамках программы ОМС' },
                { text: 'о вакцинации' },
                { text: 'о наличии государственных и коммерческих медицинских учреждений в регионе' },
                { text: 'об ЛПУ (специалисты, услуги, цены, оснащенность и др.)' },
                { text: 'по базе лекарств и медикаментов – описание, противопоказания, полные инструкции, наличие в аптеках города пребывания и др. вопросам' },
              ]
            },
          ]
        },
        {
          td: [
            { text: 'Стоимость' },
            { text: '3 000 руб' },
            { text: '5 200 руб' },
          ]
        },
      ]
    }

block content
  main
    +breadcrumbs()
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item('Услуги', '#')
      +breadcrumbs-item('Семейный консьерж')

    +banner('--m-vertically')
      +banner-item('--family-concierge')
        +banner-wrapper('img/banner_family_concierge.png', true)
          +banner-h1('Семейный Консьерж', '--mob-size-l')
          +banner-subtitle('Сервисное решение для&nbsp;всей семьи')

    .page-content.page-content--pt0
      +section('--mt0, --bg-grey')
        .inner
          +section-box
            +section-head
              +ui-h3('Преимущества услуги «Семейный Консьерж».', '--normal').text-center
            +ui-p1
              +ui-ul(list_1)
          +section-box
            +section-head
              +ui-h3('Компоненты сервисной поддержки по услуге «Семейный Консьерж».', '--normal').text-center
            +ui-p1
              +ui-ul(list_2)

      +section
        .inner
          +accordion()
            +accordion-item('Как это работает')
              +ui-p1
                p
                  span.text-grey60 Звонок на линию.
                  |  Клиент осуществляет звонок по телефонам:
                  br
                  b 8 800 707 14 05 (круглосуточно)
                  |  Владелец сертификата имеет возможность обратиться неограниченное число раз за дистанционной информационной поддержкой.
                p
                  span.text-grey60
                    | Сертификат действует в течении 1 (одного) года с 00 часов дня, следующего за  днем оформления.
                  |  Для активации сертификата и получения услуг обратитесь по номеру
                  span.text-nowrap 8 800 707 14 05
                  |  (круглосуточно), назовите номер сертификата специалисту и следуйте его инструкциям. При первичном обращении (активации сертификата), необходимо будет сообщить специалисту ФИО владельца сертификата, который будет использовать услуги.

            +accordion-item('Выберите свой вариант «Семейного Консьержа»')
              .ui-table.ui-table--mob-scroll
                table
                  tbody
                    tr.ui-table__tr-title
                      td Сервисный блок
                      td Семейный Консьерж
                      td Семейный Консьерж Расширенный
                    each itemTr in tableItems.tbody
                      tr(class=itemTr.title ? 'ui-table__tr-title' : '')
                        each itemTd in itemTr.td
                          td
                            if itemTd.title
                              b !{itemTd.title}
                              br
                              br
                            if itemTd.list
                              +ui-ul(itemTd.list)
                            if itemTd.text
                              p !{itemTd.text}

              +section-footnote
                p Узнать более подробные условия и приобрести данную услугу можно в ближайшем офисе АО «Азиатско-Тихоокеанского Банка» (АТБ).
                  br
                  |  Банк является агентом на основании Агентского договора №01 от 03.08.2018г. Услуги по сервису Семейный Консьерж осуществляет компания
                  =' '
                  a.text-orange(href='https://ponimau.com/' target='_blank')  ООО «Понимаю»
                  | .

      +section
        .inner
          +section-head
            +ui-h2('Документы для скачивания').text-center
          +accordion()
            +accordion-item('Документы')
              +documents
      +section
        .inner
          +section-footnote
            p Размер агентского вознаграждения по агентскому договору с компанией 75% от стоимости продукта, в т.ч. НДС 20%.
