extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  script(src=fileName + '.js')

block variables
  -const fileName = 'all-about-mortgages'
  -const pageTitle ='Все об ипотеке в АТБ'

  -
    const infoList_1 =[
      { text: 'Через кассу Банка.' },
      { text: 'Через терминал Банка.' },
      { text: 'Переводить деньги со счета в другом банке.' },
      { text: 'Через почтовое отделение.' },
      { text: 'С помощью интернет-банка «АТБ-Онлайн».' },
      { text: 'Вы можете написать заявление в бухгалтерии, чтобы ежемесячно часть вашей зарплаты переводили на погашение долга.' },
      { text: 'На основании длительного поручения для ежемесячного перевода средств в уплату кредита.' },
      { text: 'Через банкоматы партнеров Банка.' },
    ]

  -
    const infoList_2 =[
      { text: 'с уменьшением срока кредита' },
      { text: 'с уменьшением ежемесячного платежа' },
    ]

block content
  main
    +breadcrumbs
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item('Кредиты', '#')
      +breadcrumbs-item('Ипотека', '#')
      +breadcrumbs-item(pageTitle)
    +banner
      +banner-item('--text-old')
        +banner-wrapper('/img/banner_gradient.jpg')
          +banner-h1('Все об ипотеке в АТБ')
    .page-content
      +section('--mt0')
        .inner
          +info-block
            +info-block__head
              p Если вы решили купить квартиру, дом или комнату, но у вас не хватает денег, самый удобный и простой способ – воспользоваться ипотекой.
            +info-block__box
              p Ипотека – это залог недвижимого имущества
            +info-block__line
              p То есть, ипотечный кредит можно взять не только для приобретения недвижимости, но и для других целей, хотя, чаще всего об ипотеке говорят именно в контексте покупки жилья (квартиры, доли, комнаты, дома).
              p Ставки по ипотеке гораздо ниже и выгоднее, чем по другим кредитам (например, потребительским). К тому же, сегодня существуют государственные программы, помогающие взять ипотечный кредит по ставке еще ниже рыночных ставок!
              p Ипотека означает, что недвижимость будет находиться в залоге у банка до тех пор, пока вы полностью не погасите кредит. Таким образом банк является залогодержателем. При этом факт того, что недвижимость передана в залог банку, ни коим образом не ограничивает Вас в привычном её использовании. Вы как и ранее являетесь собственником квартиры и продолжаете, к примеру, проживать в ней. Если по каким-то причинам вы не сможете гасить кредит, то банк вправе продать недвижимость, находящуюся в залоге, чтобы вернуть себе вложенные средства.
              p Кстати, залогодателем можете быть не только вы, но и третье лицо – например, ваш родственник, который предоставляет свое жилье под залог.
      +section
        .inner
          +ui-h2('Как взять ипотеку?', '--section').text-center
        +get-mortgage
      +section
        .inner
          +section-head
            +ui-h2('Ипотечным клиентам АТБ').text-center
          +accordion
            +accordion-item('Внесение платежей')
              +ui-p1
                p
                  b Вносить платежи для погашения кредита АТБ вы можете разными способами:
                +ui-ul(infoList_1)
            +accordion-item('Досрочное погашение')
              +ui-p1
                p Вы можете досрочно погасить кредит без штрафов или комиссий. Для этого вам нужно написать уведомление о полном либо частичном досрочном погашении за 30 дней до предполагаемой даты погашения и указать каким образом необходимо осуществить погашение:
                +ui-ul(infoList_2)
                p Обратите внимание, что недостаточно просто положить на счет большую сумму, важно письменно уведомить банк о досрочном погашении. В противном случае, сумма будет постепенно списываться как ежемесячный платеж.
            +accordion-item('Использование материнского капитала')
              +ui-p1
                p После оформления кредита, вы можете досрочно погасить его, используя средства материнского капитала. Для этого вам необходимо иметь сертификат на материнский (семейный) капитал и предоставить в банк справку из Пенсионного фонда о размере материнского капитала.
            +accordion-item('Налоговые вычеты')
              +ui-p1
                p Покупая жилье в ипотеку, вы имеете право получить налоговый вычет. Это 13% от стоимости жилья (но не более 260 тысяч рублей), и 13% вычeт c pacxoдoв нa yплaтy пpoцeнтoв пo ипoтeкe, (но не более 390 тысяч рублей). Чтобы оформить налоговый вычет, вам нужно собрать необходимые документы, оформить налоговую декларацию по форме 3-НДФЛ и сдать все документы в налоговую инспекцию. Для оформления вычета по ипотечным процентам также понадобится справка из банка о фактически выплаченных процентах.
            +accordion-item('Снятие обременения')
              +ui-p1
                p Если вы полностью погасили кредит на недвижимость (выплатили сумму основного долга, проценты, штрафы и пени за просрочку – если они были), то вам необходимо снять обременение с квартиры, которая пока еще находится в залоге у Банка. Только сняв обременение, вы сможете беспрепятственно распоряжаться недвижимостью.
                p Снять обременение можно в территориальном органе Федеральной службы государственной регистрации, кадастра и картографии, подав соответствующее заявление и необходимые документы. Банк также подготовит соответствующие документы (справка об отсутствии задолженности, уведомление о прекращении залога и др.).
