mixin ui-datepicker(mods, inputReadonly)
  -
    const baseName = 'ui-datepicker'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }
    let randomId = Math.random().toString(36).replace(/[^a-z0-9]+/g, '').substr(0, 7);

  .ui-datepicker(class=allMods)
    if inputReadonly !== false
      input(id=randomId readonly)&attributes(attributes)
      +icon('icon_calendar')
    else
      input(id=randomId)&attributes(attributes)
      +icon('icon_calendar')
