mixin antivirus-programm(mods)
  -
    const baseName = 'antivirus-programm'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .antivirus-programm(class=allMods)&attributes(attributes)
    .antivirus-programm-title Основные условия по программам страхования «Антивирус+»
    .antivirus-programm-table
      table
        tbody
          tr
            td Параметры
            th(colspan='2') Вариант «Базовый»
            th(colspan='2') Вариант «Стандарт»
            th(colspan='2') Вариант «Расширенный»
          tr
            td Страхователь (Застрахованный)
            td(colspan='100%') от 18 до 65 лет
          tr
            td Срок страхования
            td(colspan='100%') 1 год
              <br> (рисковое покрытие начинает действовать на 8-й календарный день после заключения договора страхования)
          tr
            td Страховая премия
            td 7&nbsp;000 руб.
            td 25&nbsp;000 руб.
            td 12&nbsp;000 руб.
            td 35&nbsp;000 руб.
            td 17&nbsp;000 руб.
            td 45&nbsp;000 руб.
          tr
            td(colspan='100%') <b>Страховая сумма по рискам:</b>
          tr
            td Смерть Застрахованного, в результате инфекционного заболевания
            td(rowspan='2') 150&nbsp;000 руб.
            td(rowspan='2') 850&nbsp;000 руб.
            td(rowspan='2') 300&nbsp;000 руб.
            td(rowspan='2') 1&nbsp;200&nbsp;000 руб.
            td(rowspan='2') 500&nbsp;000 руб.
            td(rowspan='2') 1&nbsp;500&nbsp;000 руб.
          tr
            td Смерть в результате НС
          tr
            td Госпитализация в результате инфекционного заболевания
            td(colspan='2') 1 000 руб. в день, но не более 21 дня госпитализации
            td(colspan='2') 2 000 руб. в день, но не более 21 дня госпитализации
            td(colspan='2') 3 000 руб. в день, но не более 21 дня госпитализации
          tr
            td Потеря работы в результате увольнения по следующим основаниям:
              <br>-  «Ликвидация работодателя»
              <br>-  «Сокращение численности или штата работников работодателя»
              <br>Период ожидания – 90 календарных дней
              <br>Временная франшиза – 90 календарных дней
            td(colspan='100%') Страховая выплата осуществляется ежемесячно в денежной форме в размере 1/30 размера среднемесячного заработка Застрахованного (рассчитанного за три месяца, предшествующих дате расторжения трудового договора, не включая месяц расторжения) за каждый день периода нахождения Застрахованного на учете в службе занятости в статусе безработного, приходящихся на месяц, за который производится выплата, но не более чем за 122 дня  нахождения Застрахованного на учете в службе занятости в статусе безработного в течение срока страхования. Общая сумма страховых выплат по данному риску не может превышать 50 000 руб.
    .antivirus-programm-footnote Под инфекционным заболеванием в целях настоящего Договора понимается коронавирусная инфекция COVID-19 (штамм SARS-CoV-2), впервые выявленная (диагностированная) в период действия настоящего Договора.
    +accordion('antivirus')
      +accordion-item('Вариант «Базовый»', '--mob-green')
        .antivirus-dropdown-table
          .antivirus-dropdown-table__tr
            .antivirus-dropdown-table__tr-name Страхователь (Застрахованный)
            .antivirus-dropdown-table__tr-txt от 18 до 65 лет
          .antivirus-dropdown-table__tr
            .antivirus-dropdown-table__tr-name Срок страхования
            .antivirus-dropdown-table__tr-txt 1 год
              .antivirus-dropdown-table__tr-txt-desc (рисковое покрытие начинает действовать на 8-й календарный день после заключения договора страхования)
          .antivirus-dropdown-table__tr
            .antivirus-dropdown-table__tr-name Страховая премия
            .antivirus-dropdown-table__tr-txt 7 000 руб. / 25 000 руб.
          .antivirus-dropdown-table__tr
            .antivirus-dropdown-table__tr-name <b>Страховая сумма по рискам:</b>
            .antivirus-dropdown-table__tr-txt
              ul
                li
                  .antivirus-dropdown-table__tr-txt-ul_title Смерть Застрахованного, в результате инфекционного заболевания
                  | 150&nbsp;000 руб. / 850&nbsp;000 руб.
                li
                  .antivirus-dropdown-table__tr-txt-ul_title Смерть в результате НС
                  | 150&nbsp;000 руб. / 850&nbsp;000 руб.
                li
                  .antivirus-dropdown-table__tr-txt-ul_title Госпитализация в результате инфекционного заболевания
                  | 1 000 ₽ в день,
                  .antivirus-dropdown-table__tr-txt-desc но не более 21 дня госпитализации
                li
                  .antivirus-dropdown-table__tr-txt-ul_title Потеря работы в результате увольнения по следующим основаниям:
                    <br> -  «Ликвидация работодателя»
                    <br> -  «Сокращение численности или штата работников работодателя»
                    <br> Период ожидания – 90 календарных дней
                    <br> Временная франшиза – 90 календарных дней
                  | Страховая выплата осуществляется ежемесячно в денежной форме в размере 1/30 размера среднемесячного заработка Застрахованного (рассчитанного за три месяца, предшествующих дате расторжения трудового договора, не включая месяц расторжения) за каждый день периода нахождения Застрахованного на учете в службе занятости в статусе безработного, приходящихся на месяц, за который производится выплата, но не более чем за 122 дня  нахождения Застрахованного на учете в службе занятости в статусе безработного в течение срока страхования. Общая сумма страховых выплат по данному риску не может превышать 50 000 руб.

        .antivirus-dropdown-footnote Под инфекционным заболеванием в целях настоящего Договора понимается коронавирусная инфекция COVID-19 (штамм SARS-CoV-2), впервые выявленная (диагностированная) в период действия настоящего Договора.
      +accordion-item('Вариант «Стандарт»', '--mob-green')
        .antivirus-dropdown-table
          .antivirus-dropdown-table__tr
            .antivirus-dropdown-table__tr-name Страхователь (Застрахованный)
            .antivirus-dropdown-table__tr-txt от 18 до 65 лет
          .antivirus-dropdown-table__tr
            .antivirus-dropdown-table__tr-name Срок страхования
            .antivirus-dropdown-table__tr-txt 1 год
              .antivirus-dropdown-table__tr-txt-desc (рисковое покрытие начинает действовать на 8-й календарный день после заключения договора страхования)
          .antivirus-dropdown-table__tr
            .antivirus-dropdown-table__tr-name Страховая премия
            .antivirus-dropdown-table__tr-txt 12 000 руб. / 35 000 руб.
          .antivirus-dropdown-table__tr
            .antivirus-dropdown-table__tr-name <b>Страховая сумма по рискам:</b>
            .antivirus-dropdown-table__tr-txt
              ul
                li
                  .antivirus-dropdown-table__tr-txt-ul_title Смерть Застрахованного, в результате инфекционного заболевания
                  | 300&nbsp;000 руб. / 1 200&nbsp;000 руб.
                li
                  .antivirus-dropdown-table__tr-txt-ul_title Смерть в результате НС
                  | 300&nbsp;000 руб. / 1 200&nbsp;000 руб.
                li
                  .antivirus-dropdown-table__tr-txt-ul_title Госпитализация в результате инфекционного заболевания
                  | 2 000 ₽ в день,
                  .antivirus-dropdown-table__tr-txt-desc но не более 21 дня госпитализации
                li
                  .antivirus-dropdown-table__tr-txt-ul_title Потеря работы в результате увольнения по следующим основаниям:
                    <br> -  «Ликвидация работодателя»
                    <br> -  «Сокращение численности или штата работников работодателя»
                    <br> Период ожидания – 90 календарных дней
                    <br> Временная франшиза – 90 календарных дней
                  | Страховая выплата осуществляется ежемесячно в денежной форме в размере 1/30 размера среднемесячного заработка Застрахованного (рассчитанного за три месяца, предшествующих дате расторжения трудового договора, не включая месяц расторжения) за каждый день периода нахождения Застрахованного на учете в службе занятости в статусе безработного, приходящихся на месяц, за который производится выплата, но не более чем за 122 дня  нахождения Застрахованного на учете в службе занятости в статусе безработного в течение срока страхования. Общая сумма страховых выплат по данному риску не может превышать 50 000 руб.

        .antivirus-dropdown-footnote Под инфекционным заболеванием в целях настоящего Договора понимается коронавирусная инфекция COVID-19 (штамм SARS-CoV-2), впервые выявленная (диагностированная) в период действия настоящего Договора.
      +accordion-item('Вариант «Расширенный»', '--mob-green')
        .antivirus-dropdown-table
          .antivirus-dropdown-table__tr
            .antivirus-dropdown-table__tr-name Страхователь (Застрахованный)
            .antivirus-dropdown-table__tr-txt от 18 до 65 лет
          .antivirus-dropdown-table__tr
            .antivirus-dropdown-table__tr-name Срок страхования
            .antivirus-dropdown-table__tr-txt 1 год
              .antivirus-dropdown-table__tr-txt-desc (рисковое покрытие начинает действовать на 8-й календарный день после заключения договора страхования)
          .antivirus-dropdown-table__tr
            .antivirus-dropdown-table__tr-name Страховая премия
            .antivirus-dropdown-table__tr-txt 17 000 руб. / 45 000 руб.
          .antivirus-dropdown-table__tr
            .antivirus-dropdown-table__tr-name <b>Страховая сумма по рискам:</b>
            .antivirus-dropdown-table__tr-txt
              ul
                li
                  .antivirus-dropdown-table__tr-txt-ul_title Смерть Застрахованного, в результате инфекционного заболевания
                  | 500&nbsp;000 руб. / 1 500&nbsp;000 руб.
                li
                  .antivirus-dropdown-table__tr-txt-ul_title Смерть в результате НС
                  | 500&nbsp;000 руб. / 1 500&nbsp;000 руб.
                li
                  .antivirus-dropdown-table__tr-txt-ul_title Госпитализация в результате инфекционного заболевания
                  | 3 000 ₽ в день,
                  .antivirus-dropdown-table__tr-txt-desc но не более 21 дня госпитализации
                li
                  .antivirus-dropdown-table__tr-txt-ul_title Потеря работы в результате увольнения по следующим основаниям:
                    <br> -  «Ликвидация работодателя»
                    <br> -  «Сокращение численности или штата работников работодателя»
                    <br> Период ожидания – 90 календарных дней
                    <br> Временная франшиза – 90 календарных дней
                  | Страховая выплата осуществляется ежемесячно в денежной форме в размере 1/30 размера среднемесячного заработка Застрахованного (рассчитанного за три месяца, предшествующих дате расторжения трудового договора, не включая месяц расторжения) за каждый день периода нахождения Застрахованного на учете в службе занятости в статусе безработного, приходящихся на месяц, за который производится выплата, но не более чем за 122 дня  нахождения Застрахованного на учете в службе занятости в статусе безработного в течение срока страхования. Общая сумма страховых выплат по данному риску не может превышать 50 000 руб.
        .antivirus-dropdown-footnote Под инфекционным заболеванием в целях настоящего Договора понимается коронавирусная инфекция COVID-19 (штамм SARS-CoV-2), впервые выявленная (диагностированная) в период действия настоящего Договора.
    block
