.antivirus {
  &-programm {
    &-title {
      margin-bottom: 40px;
      font: 400 32px/1.5 $font;
      text-align: center;
      @include media-laptop {
        margin-bottom: 30px;
        font-size: 28px;
      }
      @include media-tablet {
        font-size: 24px;
      }
    }
    &-table {
      margin-bottom: 20px;
      @include media-tablet {
        display: none;
      }
      table {
        width: 100%;
        border-collapse: collapse;
        tr {
          &:first-child {
            td {
              color: $grey80;
            }
          }
        }
        th {
          padding: 15px;
          font: 400 20px/1.5 $font;
          text-align: center;
          color: #fff;
          background: $blue;
          border: 1px solid #e6e6e6;
          @include media-laptop {
            font-size: 18px;
          }
        }
        td {
          padding: 20px 15px;
          font: 400 18px/1.5 $font;
          text-align: center;
          border: 1px solid #e6e6e6;
          @include media-laptop {
            font-size: 16px;
          }
          &:first-child {
            width: 380px;
            padding-left: 40px;
            text-align: left;
            @include media-laptop {
              width: 250px;
              padding-left: 15px;
            }
          }
        }
      }
    }
    &-footnote {
      font: 300 14px/1.3 $font;
      color: $grey80;
      @include media-tablet {
        display: none;
      }
    }
  }
  &-dropdown {
    &-table {
      margin-bottom: 30px;
      &__tr {
        padding: 15px 10px;
        border-bottom: 1px solid #e6e6e6;
        &:last-child {
          padding-bottom: 0;
          border-bottom: 0;
        }
        &-name {
          margin-bottom: 5px;
          font: 300 14px/1.5 $font;
        }
        &-txt {
          font: 400 16px/1.44 $font;
          &-desc {
            margin-top: 5px;
            font: 300 12px/1.3 $font;
            color: $grey80;
          }
          &-ul_title {
            margin-bottom: 5px;
            font: 300 14px/1.3 $font;
          }
          ul {
            margin: 0;
            padding: 0 0 0 20px;
            list-style-type: disc;
            li {
              margin-bottom: 25px;
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
    &-footnote {
      font: 300 12px/1.3 $font;
      color: $grey80;
    }
  }
  &__accordion {
    display: none;
    @include media-tablet {
      display: block;
    }
  }
}
.bvi-body {
  .antivirus-programm-table {
    overflow-x: auto;
  }
}
