extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  //- link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')

block variables
  -const fileName = 'ssi'
  -const pageTitle ='Информация по текущей ситуации для физических лиц и корпоративных клиентов'

block content
  main
    +banner()
      +banner-item('--ssi')
        +banner-wrapper('img/banner_ssi.jpg')
          +banner-h1('Информация по&nbsp;текущей ситуации для&nbsp;физических лиц и&nbsp;корпоративных клиентов', '--mob-w-l')

    .page-content
      +section('--mt0')
        .inner
          +section-head
            +ui-h2('Мобилизация и работа АТБ', 'section-head')
          +information
            +ui-h6('Информация Банка России о&nbsp;кредитных каникулах для&nbsp;участников СВО', 'information, --bold')
            +ui-button('Информация ЦБ РФ о&nbsp;каникулах для&nbsp;участников СВО', '--link-next').text-orange
      +section('--mt-xs')
        .inner
          +section-head
            +ui-h2('Вклады', '--section-head')
          +accordion
            +accordion-item('Есть информация, что государство может списать мои накопления на проведение СВО, снимаю деньги.')
              +ui-p1('Эта информация недостоверна. Банк в полном объеме выполняет свои обязательства перед клиентами по договорам вклада и банковского счета. Денежные средства на текущих счетах и вкладах застрахованы в объеме и порядке, предусмотренных <b>Федеральным законом от 23.12.2003 N 177-ФЗ "О страховании вкладов в банках Российской Федерации".</b>', '--light')
            +accordion-item('Вклады заморозят, в связи с ситуацией в стране и я не смогу снять свои деньги. Как срочно снять деньги.')
              +ui-p1('Эта информация недостоверна. Банк в полном объеме выполняет свои обязательства перед клиентами по договорам вклада и банковского счета. Денежные средства на текущих счетах и вкладах застрахованы в объеме и порядке, предусмотренных <b>Федеральным законом от 23.12.2003 N 177-ФЗ "О страховании вкладов в банках Российской Федерации".</b>', '--light')
            +accordion-item('Будет ли обложение налогом по доходам со вкладов? Я планирую оставить только 1 млн.')
              +ui-p1('Доходы, полученные от процентов по вкладам в 2021 и 2022 году освобождены от налога на доходы физических лиц. обязанность платить НДФЛ с процентов по вкладам появится с доходов 2023 года при условии неизменности требований действующего законодательства РФ.', '--light')
            +accordion-item('Есть ли возможность снять часть денег / всю сумму без потери процентов, если вкладчика призвали на службу?')
              +ui-p1('', '--light')
                p В соответствии с частью 5 статьи 837 Гражданского кодекса Российской Федерации в случаях, когда срочный вклад возвращается вкладчику по его требованию до истечения срока либо до наступления иных обстоятельств, указанных в договоре банковского вклада, проценты по вкладу выплачиваются в размере, соответствующем размеру процентов, выплачиваемых банком <u>по вкладам до востребования</u>, если договором банковского вклада не предусмотрен иной размер процентов.
                p Однако, банк может рассмотреть вопрос об изменении порядка выплаты процентов при досрочном расторжении договора банковского на основе заявления клиента. Потребуется заключение дополнительного соглашения к договору банковского вклада об изменении условий выплаты процентов по вкладу при его досрочном расторжении в случае, если удовлетворение заявления клиента будет возможно.
            +accordion-item('Муж не успел составить доверенность (его призвали). Как мне получить сумму (вклад заканчивается через неск. дней/недель/месяц)?')
              +ui-p1('', '--light')
                p В соответствии с частью 2 статьи 837 Гражданского кодекса Российской Федерации &nbsp;по договору вклада любого вида, заключенному с гражданином, банк в любом случае обязан выдать по первому требованию вкладчика сумму вклада или ее часть и соответствующие проценты.
                p Получение вклада третьим лицом возможно на основании доверенности, выданной вкладчиком.
                p При невозможности оформить доверенность в Банке в условиях проведения мобилизационных мероприятий допустимо оформление доверенности, приравненной к нотариальной, на основании пункта 2 части 2 статьи 185.1 Гражданского кодекса Российской Федерации:
                p К нотариально удостоверенным доверенностям приравниваются: доверенности военнослужащих, а в пунктах дислокации воинских частей, соединений, учреждений и военно-учебных заведений, где нет нотариальных контор и других органов, совершающих нотариальные действия, также доверенности работников, членов их семей и членов семей военнослужащих, которые удостоверены командиром (начальником) этих части, соединения, учреждения или заведения.

      +section('--mt-xs')
        .inner
          +section-head
            +ui-h2('Кредит, кредитная карта, автокредит, ипотека', 'section-head')
          +accordion
            +accordion-item('Как оплачивать кредит, если меня мобилизовали?')
              +ui-p1('', '--light')
                p Исполнять  обязательства по кредитному договору вы можете лично с помощью мобильного  приложения или Интернет-банка.
                p Третье лицо может  производить оплату:
                +ui-ul('')
                  li через  терминал самообслуживания (необходимы реквизиты для оплаты: номер счета, ФИО  заемщика);
                  li на  основании доверенности (заверенная нотариально или выданная за подписью  командира воинской части).
                p Ознакомиться  с полным перечнем способов оплаты вы можете по  <a href="#">ссылке</a>.

            +accordion-item('Каким заемщикам предоставляется право на льготный период?')
              +ui-p1('', '--light')
                p Льготный период в соответствии с Федеральным законом N 377-ФЗ предоставляется по договору потребительского кредита, если заемщиком является:
                +ui-ol('')
                  li Лицо (в том числе индивидуальный предприниматель), призванное на военную службу по мобилизации в Вооруженные Силы Российской Федерации и заключившее договор потребительского кредита до дня мобилизации; или
                  li Лицо, принимающее участие в СВО и проходящее военную службу в Вооруженных Силах Российской Федерации по контракту, или находящееся на военной службе в войсках национальной гвардии Российской Федерации, спасательных воинских формированиях федерального органа исполнительной власти, уполномоченного на решение задач в области гражданской обороны, Службе внешней разведки Российской Федерации, органах федеральной службы безопасности, органах государственной охраны, органах военной прокуратуры, военных следственных органах Следственного комитета Российской Федерации, федеральном органе обеспечения мобилизационной подготовки органов государственной власти Российской Федерации, а также создаваемых на военное время специальных формированиях, и заключившее договор потребительского кредита до дня участия в СВО; или
                  li Лицо (в том числе индивидуальный предприниматель), заключившее контракт о добровольном содействии в выполнении задач, возложенных на Вооруженные Силы РФ, и заключившее договор потребительского кредита до дня подписания контракта; или
                  li Член семьи военнослужащего (лица, указанного в п. 1-3 Федерального закона N 377-ФЗ):
                    +ui-ul('', '--child')
                      li Супруга (супруг);
                      li Несовершеннолетний ребенок;
                      li Ребенок старше 18 лет, ставший инвалидом до достижения возраста 18 лет;
                      li Ребенок в возрасте до 23 лет, обучающийся в образовательных организациях по очной форме обучения;
                      li Лицо, находящееся на иждивении у Военнослужащего,
                p заключивший договор потребительского кредита в период до возникновения у военнослужащего, членом семьи которого он является, вышеуказанных в п. 1-3 обстоятельств.

            +accordion-item('Моего родственника мобилизовали. Могу ли я получить отсрочку по своему кредиту?')
              +ui-p1('', '--light')
                p  Да, банк готов предоставить отсрочку платежей по договору потребительского кредита при условии, что вы подходите под определение Заемщика в соответствии с Федеральным законом № 377-ФЗ. Подробная информация предоставлена в ответе на вопрос: «Каким заемщикам предоставляется право на льготный период?»
                p С текстом Федерального закона № 377-ФЗ Вы можете ознакомиться
                  =' '
                  a(href='http://publication.pravo.gov.ru/Document/View/0001202210070001' target='_blank') здесь

            +accordion-item('На какой срок клиент, которого мобилизовали, может рассчитывать на отсрочку платежей по договору потребительского кредита?')
              +ui-p1('Федеральный закон от 07.10.2022 № 377-ФЗ «Об особенностях исполнения обязательств по кредитным договорам (договорам займа) лицами, призванными на военную службу по мобилизации в Вооруженные Силы Российской Федерации, лицами, принимающими участие в специальной военной операции, а также членами их семей и о внесении изменений в отдельные законодательные акты Российской Федерации» предусматривает возможность получения отсрочки на срок мобилизации и/или участия в СВО, увеличенный на 30 дней.', '--light')
            +accordion-item('Если забрали по повестке на мобилизацию Заемщика, что будет с кредитом/ипотекой?')
              +ui-p1('По заключенному кредитному договору заёмщик сохраняет обязательства выплачивать кредит, включая ипотечные кредиты. При обращении в банк условия кредитного договора могут быть пересмотрены в рамках Федерального закона от 07.10.2022 № 377-ФЗ «Об особенностях исполнения обязательств по кредитным договорам (договорам займа) лицами, призванными на военную службу по мобилизации в Вооруженные Силы Российской Федерации, лицами, принимающими участие в специальной военной операции, а также членами их семей и о внесении изменений в отдельные законодательные акты Российской Федерации».', '--light')
            +accordion-item('Как будет предоставляться отсрочка платежей по кредиту, если заемщик не сможет лично оформить заявление?')
              +ui-p1('', '--light')
                p Отсрочку платежей по договору потребительского кредита можно запросить не только при личном обращении в Банк, а любым способом, предусмотренным кредитным договором, в том числе по эл. почте
                  =' '
                  a.text-orange.text-nowrap(href='mailto:ask@atb.ru') ask@atb.ru
                  |  или по телефону
                  =' '
                  a.text-orange.text-nowrap(href='tel:8-800-775-88-88') 8-800-775-88-88
                  | .
            +accordion-item('Будет ли предоставлен льготный период по договорам потребительского кредита, заключенным членом семьи военнослужащего (супруг(-а)/другие члены семьи)?')
              +ui-p1('', '--light')
                p Да, если лицо, заключившее с Банком кредитный договор, подходит под определение «Заемщик» в соответствии с Федеральным законом № 377-ФЗ. Подробная информация предоставлена в ответе на вопрос: «Каким заемщикам предоставляется право на льготный период?»
                p  С текстом Федерального закона № 377-ФЗ вы можете ознакомиться
                  =' '
                  a(href='http://publication.pravo.gov.ru/Document/View/0001202210070001' target='_blank') здесь
            +accordion-item('Влияет ли призывной возраст, нахождение в запасе на возможность получения кредита?')
              +ui-p1('Нет, требования к заёмщикам на данный момент не изменились.', '--light')
            +accordion-item('Что будет с кредитом/ипотекой, если заемщик/созаемщик погибнет или станет нетрудоспособным?')
              +ui-p1('', '--light')
                p Обязательства по кредитному договору продолжают действовать на тех же условиях, которые были до наступления указанных обстоятельств, до тех пор, пока в Банк не будут предоставлены документы, подтверждающие факт наступления гибели (смерти) военнослужащего.
                p Если военнослужащий погиб (умер) при выполнении задач в период проведения специальной военной операции либо позднее указанного периода, но вследствие увечья (ранения, травмы, контузии) или заболевания, полученных при выполнении задач в ходе проведения специальной военной операции, а также в случае признания военнослужащего инвалидом I группы в порядке, установленном законодательством Российской Федерации, обязательства военнослужащего по кредитному договору прекращаются.
                p Причинная связь увечья (ранения, травмы, контузии) или заболевания, приведших к смерти военнослужащего или признанию военнослужащего инвалидом I группы в порядке, установленном законодательством Российской Федерации, с выполнением им задач в ходе проведения специальной военной операции устанавливается военно-врачебными комиссиями и (или) федеральными учреждениями медико-социальной экспертизы.
                p В случае наступления обстоятельств, указанных выше, обязательства членов семьи военнослужащего в отношении заключенных ими кредитных договоров прекращаются.
                p К членам семьи военнослужащего в соответствии с Федеральным законом N 76-ФЗ от 27.05.1998 "О статусе военнослужащих" относятся:
                +ui-ul('')
                  li супруг (супруга);
                  li несовершеннолетние дети;
                  li дети старше 18 лет, ставшие инвалидами до достижения возраста 18 лет;
                  li дети в возрасте до 23 лет, обучающиеся в образовательных организациях по очной форме обучения;
                  li лица, находящиеся на иждивении у Военнослужащего.
                p Член семьи военнослужащего также прикладывает документы, подтверждающие его статус в качестве члена семьи военнослужащего.
            +accordion-item('Выплатит ли страхования компания по программе НС в случае гибели/нетрудоспособности заёмщика?')
              +ui-p1('Выплата может быть проведена страховой компанией в случае наличия в полисе страхования такой категории риска.', '--light')
            +accordion-item('По каким кредитным продуктам предоставляется отсрочка по мобилизации?')
              +ui-p1('', '--light')
                +ui-ul('')
                  li Кредит  наличными;
                  li Кредитная  карта;
                  li Автокредит;
                  li Ипотечное  кредитование.
            +accordion-item('Кто может оформить отсрочку по мобилизации и какие документы необходимы?')
              +ui-p1('', '--light')
                p
                  strong Заемщик
                  |  –  военнослужащий/мобилизованное лицо, у которого есть обязательства перед нашим  банком.
                  br
                  strong Член семьи
                  |  –  клиент, у которого есть обязательства перед нашим банком и он является  родственником военнослужащий/мобилизованного лица (супруг/супруга/дети/лица,  находящиеся на иждивении у него).
                  br
                  strong Представитель
                  |  – любое 3-е лицо/член семьи, представляющее интересы мобилизованного лица.
                .ui-table.ui-table--mob-scroll
                  table
                    tr
                      td(colspan='3')
                        p(align='center')
                          strong Пакет документов для оформления    реструктуризации
                    tr
                      td
                        p(align='center')
                          strong Заемщик    (военнослужащий)
                      td
                        p(align='center')
                          strong Член    семьи (по своему кредиту)
                      td
                        p(align='center')
                          strong Представитель    (по кредиту военнослужащего)
                    tr
                      td(valign='top')
                        +ui-ul('')
                          li Паспорт;
                          li Документ,    подтверждающий участие в СВО:
                          li Отрывной лист    повестки о призыве на военную службу по мобилизации,
                          li Контракт,
                          li Отметка в военном    билете,
                          li Справка/выписка из    Минобороны РФ, органов управления войск национальной гвардии РФ, иных органов    исполнительной власти, уполномоченных на решение задач в области гражданской    обороны,
                          li Иные документы,    подтверждающие соответствие военнослужащего требованиям
                            strong ФЗ-377.
                      td(valign='top')
                        +ui-ul('')
                          li Паспорт;
                          li Документ,    подтверждающий родство с мобилизованным:
                          li Свидетельство о    рождении,
                          li Свидетельство о    браке,
                          li Свидетельство об    усыновлении (удочерении),
                          li Акт органа опеки и    попечительства о назначении военнослужащего попечителем и иные документы
                          li Документ    военнослужащего, подтверждающий участие в СВО (указаны во 2ом пункте пакета    документов для заемщика).
                      td(valign='top')
                        +ui-ul('')
                          li Паспорт
                          li Доверенность    (заверенная нотариально командиром части)
                          li Документ    военнослужащего, подтверждающий участие в СВО (указаны во 2ом пункте пакета    документов для заемщика).
                br
                p Обращаем  внимание! Документ военнослужащего, подтверждающий участие в СВО, можно  предоставить не сразу,
                  strong
                    u а в течение срока отсрочки
                  | .

            +accordion-item('Где оформить отсрочку, если мобилизовали заемщика или члена семьи заемщика?')
              +ui-p1('', '--light')
                p Для оформления отсрочки платежей по договору потребительского кредита в соответствии с Федеральным законом № 377-ФЗ необходимо заполнить
                  a.text-orange(href='/upload/doc/2022/Требование о предоставлении льготного периода.pdf' target='_blank') Требование о предоставлении льготного периода
                  | .
                p Заполненную копию Требования необходимо направить на официальную почту банка
                  a.text-orange(href='mailto:ask@atb.su' target='_blank') ask@atb.su
                  | , приложив необходимые подтверждающие документы.

      +section('--mt-xs')
        .inner
          +section-head
            +ui-h2('Работа мобильного и интернет банка', 'section-head')
          +accordion
            +accordion-item('Будет ли работать мобильное приложение АТБ и интернет-банк на территории проведения СВО?')
              +ui-p1('Для ДБО необходимо интернет соединение. При наличии связи доступ к мобильному и интернет банку возможен с территории Российской Федерации. С территорий других государств доступ не гарантирован.', '--light')

      +section('--mt-xs')
        .inner
          +section-head
            +ui-h2('Корпоративный блок', 'section-head')
          +accordion
            +accordion-item('Призван поручитель, учредитель, как действовать?')
              +ui-p1('', '--light')
                p Рекомендуем учредителю/участнику общества выдать доверенность на уполномоченное лицо, которое будет представлять его интересы при взаимодействии с другими участниками общества и третьими лицами, в т.ч. с банком.
                p За исполнение обязательств по кредиту перед банком основным ответственным остаётся заемщик. Призыв поручителя на военную службу не прекращает поручительства.  Для оперативного решения вопросов рекомендуем выдать доверенность на уполномоченное лицо, которое будет представлять интересы поручителя перед банком на период его отсутствия.
                p Сведения о доверенности и поверенном лице необходимо передать в банк.
            +accordion-item('Я - ИП/собственник бизнеса, и мне пришла повестка. Что мне делать с кредитами (включая кредиты «Микро-Лайт») в Банке? Мне будет дана отсрочка или возможность реструктуризации?')
              +ui-p1('В Государственную Думу внесен законопроект, в соответствии с которым заемщику - физическому лицу и ИП, призванному на военную службу, предлагается предоставить право обратиться в банк с требованием о приостановлении исполнения обязательств на период мобилизации. До принятия закона заемщик – ИП вправе обратиться в банк с заявлением о реструктуризации задолженности (кредитные каникулы). К обращению нужно приложить документы, подтверждающие мобилизацию.', '--light')
            +accordion-item('У меня забрали имущество бизнеса (транспорт, бензовозы, суда, пр.), в т.ч. находящееся в залоге в банке. Что делать?')
              +ui-p1('Каждый случай будет рассматриваться индивидуально, исходя из фактических обстоятельств. Для выработки решения необходимо обратиться в банк с имеющимися на руках документами.', '--light')
            +accordion-item('Вопросы по ограничениям по валютам и платежам.')
              +ui-p1('Законодательством РФ введен ряд ограничений на осуществление операций с валютой. На текущий момент не проводятся платежи в Евро, платежи в долларах США проводятся в ограниченный список стран. Платежи в рублях РФ проводятся без ограничений. Проблемы могут возникнуть по вине банка на стороне получателя.', '--light')
            +accordion-item('Остановка SWIFT в России')
              +ui-p1('Система SWIFT в России продолжает работать.', '--light')
            +accordion-item('Заморозка р/с, депозитов')
              +ui-p1('Банк может наложить временное ограничение в соответствии с законодательством РФ – например, на основании акта налогового органа за несвоевременную уплату налогов. По каким-либо новым основаниям Банк «заморозку» не осуществляет.', '--light')
            +accordion-item('Какие меры поддержки предоставляет банк владельцам бизнеса?')
              +ui-p1('', '--light')
                p Для ИП, самозанятых, владельцев и совладельцев бизнеса, которые попали под частичную мобилизацию, будут действовать специальные меры поддержки от банка.
                p Клиенты из сегмента МСБ смогут претендовать на отсрочку по кредитам (включая процентные платежи) и возможность продления сроков сделки. Деньги на счетах в период временной приостановки бизнес-деятельности можно будет разместить на вкладе для дополнительной капитализации средств.
                p Каждое обращение будет рассматриваться индивидуально, меры поддержки будем предлагать как из числа уже действующих в банке, так и находящихся сейчас в разработке.
                p Мы внимательно следим за всеми рекомендациями ЦБ РФ и будем вносить изменения в наши продукты и услуги в соответствии с ними.
                p По всем вопросам вы можете обращаться в наш контакт-центр для персональной консультации.

      +section
        .inner
          +section-head
            +ui-h2('Ответы на часто задаваемые вопросы', 'section-head')

      +section('--mt-xs')
        .inner
          +section-head
            +ui-h2('Счета и вклады', 'section-head')
          +accordion
            +accordion-item('Сколько будут действовать временные правила обращения с валютой?')
              +ui-p1('На текущий момент временные правила ЦБ на операции с наличной валютой на территории России продлены до 9 марта 2023 года.', '--light')
            +accordion-item('У меня есть счёт/ вклад в АТБ в иностранной валюте, что с ним будет?')
              +ui-p1('Ваши деньги сохраняются на счёте без изменений. Если у вас открыт вклад, то проценты по нему начисляются в соответствии с условиями вклада.', '--light')
            +accordion-item('Могу ли я пополнить валютный счет?')
              +ui-p1('Да, но согласно новым правилам вы сможете снять с него в пределах остатка, сформированного на 9 марта 2022 года, но не более 10 тыс. долларов США или эквивалент в евро наличными.', '--light')
            +accordion-item('Как мне, закрывая вклад, получить его в валюте или рублях?')
              +ui-p1('', '--light')
                p Если сумма вклада превышает 300 000 рублей, или вам нужны наличные доллары или евро, то заказать денежные средства можно в чате мобильного приложения
                  =' '
                  a.text-orange(href='/services/mobile/' target='_blank') АТБ Мобайл NEW
                  |  или в
                  =' '
                  a.text-orange(href='/getapp' target='_blank') интернет-банке
                  | . Также есть возможность заказа через чат в
                  =' '
                  a.text-orange(href='https://wa.me/74162222333' target='_blank') WhatsApp
                  | .
                p Возможность заказа наличных через контакт - центр АТБ
                  =' '
                  a.text-orange(href='tel:+78007758080') 8-800-775-88-88
                  |  (звонок по России бесплатный) или в отделении банка также сохраняется. Заказ денежных средств для возврата вклада в рублях осуществляется не ранее, чем за один рабочий день до планируемой даты возврата, в иностранной валюте – не ранее чем за пять рабочих дней до планируемой даты возврата.
            +accordion-item('Что с моими вкладами в рублях?')
              +ui-p1('Все изменения касаются только валютных вкладов и счетов. АТБ работает в штатном режиме, изменений в обслуживании клиентов нет. Банк обладает необходимыми ресурсами для обслуживания всех потребностей своих клиентов.', '--light')
            +accordion-item('Можно ли перевести дивиденды от российских компаний в валюте заграницу?')
              +ui-p1('В связи с введенными Указом Президента РФ № 430 от 05.07.2022 г. мерами ограничительного характера банк не сможет осуществить операции по переводу резидентами РФ иностранной валюты на свои счета (вклады), открытые в расположенных за пределами территории Российской Федерации банках и иных организациях финансового рынка, а также по переводу денежных средств без открытия банковского счета с использованием электронных средств платежа, предоставленных иностранными поставщиками платежных услуг, если такие денежные средства получены в виде дивидендов по акциям российских АО либо при распределении прибыли российских ООО, хозяйственных товариществ и производственных кооперативов.', '--light')

      +section('--mt-xs')
        .inner
          +section-head
            +ui-h2('Валютные операции', 'section-head')
          +accordion
            +accordion-item('В каких валютах можно перевести деньги за границу?')
              +ui-p1('АТБ осуществляет переводы клиентов - физических лиц по системе SWIFT со счетов и наличными в японских йенах, китайских юанях. Также клиентам доступны переводы наличными в долларах США в Китай, Южную Корею и Казахстан. С 1 августа также доступны переводы в казахстанских тенге.', '--light')
            +accordion-item('В какие страны я могу перевести доллары США?')
              +ui-p1('Клиентам доступны переводы наличными в долларах США в Китай, Южную Корею и Казахстан. Переводы со счетов клиентов в долларах США в пользу физических и юридических лиц в другие банки по России и за её пределами, кроме вышеперечисленных стран, осуществляться не будут.', '--light')
            +accordion-item('Могу ли я осуществить перевод в евро, фунтах стерлингов Великобритании или швейцарских франках?')
              +ui-p1('Нет, с 1 августа переводы в евро, фунтах стерлингов Великобритании, швейцарских франках со счетов клиентов и наличными в другие банки по России и за её пределами не осуществляются.', '--light')
            +accordion-item('Какие валютные счета можно открыть в АТБ?')
              +ui-p1('Счета можно открыть в японских йенах, китайских юанях, казахстанских тенге. В долларах США, евро, фунтах стерлингов Великобритании и швейцарских франках новые счета не открываются.', '--light')
            +accordion-item('У меня уже есть валютный счет в долларах США в АТБ, он будет закрыт?')
              +ui-p1('Нет, ранее открытые счета в долларах США продолжают оставаться активными.', '--light')
            +accordion-item('Вводит ли банк комиссию за хранение долларов США на счетах?')
              +ui-p1('Комиссии за хранение денежных средств на долларовых счетах нет.', '--light')
            +accordion-item('Можно будет снять до 9 марта 2023 года другую валюту, не доллары?')
              +ui-p1('Согласно указаниям Банка России, к снятию доступны только доллары США и евро. Снятие любой другой наличной валюты доступно только через конвертацию этой валюты в доллары США и евро по рыночному курсу, но не более 10 тыс. долларов США (единоразово или частями).', '--light')
            +accordion-item('Могу ли я снять деньги наличными с валютного вклада/ счета?')
              +ui-p1('', '--light')
                p ЦБ ввёл временные правила на операции с наличной валютой. До 9 марта 2023 года вы можете снять до 10 тыс. долларов США наличными (единоразово или частями, но общая сумма ограничена 10 тыс. долларов США). С 11 апреля 2022 года вы также можете получить наличные евро в эквиваленте 10 тыс. долларов США.
                p Остальную сумму можно снять в рублях: валютные средства будут конвертироваться в рубли по курсу ЦБ РФ на день, предшествующий выплате. Суммы снятий в рублях не ограничены.
                p Это относится ко вкладам, открытым до 9 марта. Получить наличные с валютных счетов и вкладов, открытых 9 марта 2022 года и позже невозможно, только снятие в рублях через конвертацию по рыночному курсу.
            +accordion-item('Почему нужно заказывать наличную валюту заранее?')
              +ui-p1('По данным Банка России объем наличной валюты в стране покрывает такой объем выплат для всех держателей валютных вкладов и счетов. Но нам действительно может быть нужно время, чтобы доставить валюту в конкретное отделение. Остальные ваши средства на счетах сохранены и всегда доступны в рублях.', '--light')
            +accordion-item('Можно ли купить в банке наличную валюту?')
              +ui-p1('', '--light')
                p До 9 марта 2023 года остаются в силе ограничения на покупку иностранной валюты. Вы можете купить только те доллары США и евро, которые поступили в кассы банков начиная с 9 апреля 2022 года, на остальные валюты эти ограничения не распространяются.
                p В АТБ можно купить доллары, евро, фунты стерлингов, швейцарские франки, юани, иены. Наличие валюты для продажи можно узнать непосредственно в офисах банка в рабочее время офиса только по будням. Также можно расплачиваться картой Мир и снимать с нее наличные в валюте страны вашей поездки там, где принимается карта Мир: в Абхазии, Армении, Белоруссии, Вьетнаме, Казахстане, Кыргызстане, Таджикистане, Турции, Узбекистане, Южной Осетии.
            +accordion-item('Могу ли я обменять наличную валюту в банке?')
              +ui-p1('Да, банк продолжает обменивать наличную валюту, притом не только доллары, но и евро, фунты стерлингов, юани.', '--light')
            +accordion-item('Если я переведу валюту на счет близкого родственника, сможет ли он потом снять поступившие средства наличными?')
              +ui-p1('АТБ осуществляет такие переводы, можно открыть валютный счет и внести туда наличную валюту или перевести валюту с других счетов. Но при этом снять с такого счёта поступившие средства наличными будет невозможно, пока действуют новые правила Банка России.', '--light')
            +accordion-item('У меня валюта в банковской ячейке. Я могу забрать всю сумму или только 10 тыс.?')
              +ui-p1('Вы можете распоряжаться содержимым своей банковской ячейки по своему усмотрению. Ограничение на этот случай не распространяется.', '--light')

      +section('--mt-xs')
        .inner
          +section-head
            +ui-h2('Валютные операции для корпоративных клиентов', 'section-head')
          +accordion
            +accordion-item('С какими странами я могу совершать расчетные операции в долларах США?')
              +ui-p1('Без дополнительных согласований АТБ проведет расчеты с Китаем, Южной Кореей, Монголией и Казахстаном.', '--light')
            +accordion-item('В каких ещё валютах АТБ проводит расчетные операции?')
              +ui-p1('Обращаем внимание, что расчетные операции с иностранными контрагентами в китайских юанях, японской иене, казахских тенге, рублях осуществляются в прежнем режиме. В долларах США – с ограничениями. С евро, фунтами стерлингов Великобритании и швейцарскими франками АТБ по вышеуказанным операциям не работает. В настоящее время АТБ ведет активную работу по установлению корреспондентских отношений с иностранными банками для проведения расчетных операций в долларах США, а также в национальных валютах ОАЭ, Турции, Индии и других стран.', '--light')
            +accordion-item('Я хочу перейти на расчеты с долларов США на менее рискованную валюту, что для этого нужно сделать?')
              +ui-p1('', '--light')
                p Рекомендуем рассмотреть возможность перехода на расчеты в китайских юанях, японских иенах, казахстанских тенге или российских рублях. Ваши контрагенты могу быть клиентами любых банков Китая, Гонконга, Японии, Казахстана.
                  | Детали вам может сообщить ваш менеджер по ВЭД. Если вы еще не являетесь нашим клиентом, то
                  =' '
                  a.text-orange(href='/business/cash-services/maintenance-of-foreign-trade-activities/') оформить заявку
                  |  можно на сайте.
            +accordion-item('Какие условия SWIFT переводов в японских иенах предлагает АТБ?')
              +ui-p1('Жители Приморья, Хабаровского края и Иркутской области смогут совершить перевод в Азиатско-Тихоокеанском банке в японских иенах за фиксированную комиссию: при сумме перевода до 1 500 000 японских иен комиссия составит 7 000 иен; от 1 500 001 до 3 000 000 иен – 8 500 иен; при сумме перевода свыше 3 000 000 иен комиссия зафиксирована на уровне 10 000 иен.', '--light')

      +section('--mt-xs')
        .inner
          +section-head
            +ui-h2('Карты Visa, Mastercard и Мир', 'section-head')
          +accordion
            +accordion-item('Как работают карты Visa и Mastercard АТБ в России?')
              +ui-p1('', '--light')
                p Карты АТБ на территории России работают в обычном режиме. Доступны в полном объеме как оплата, так и снятие наличных. Можно делать переводы с карты на карту.
                p Приостановка работы карт в России, которую объявили платежные системы Visa и MasterCard, не сказалась на работе карт АТБ.
            +accordion-item('Как работают карты АТБ за рубежом?')
              +ui-p1('К сожалению, работа карт Visa и Mastercard за рубежом прекратилась. Ограничения касаются как безналичной оплаты картами Visa и Mastercard, так и снятия наличных. Недоступна также оплата по картам Visa и Mastercard в зарубежных интернет-магазинах. При планировании поездки за рубеж рекомендуем заблаговременно позаботиться и взять с собой наличные денежные средства.', '--light')
            +accordion-item('Что делать, если срок действия моей карты Visa, Mastercard или Мир от АТБ закончился?')
              +ui-p1('', '--light')
                p АТБ автоматически продлил сроки действия карт Visa, Mastercard, Мир до апреля 2024 года.
                p Дополнительных действий, в том числе посещение офиса банка для замены карты, не требуется.
                p Распространяется на все карты АТБ платежных систем Visa, Mastercard, Мир с апреля 2022 года. При оформлении покупок в интернет-магазинах и мобильных приложениях следует указывать срок действия, размещенный на карте, даже если срок её действия уже истёк.
            +accordion-item('Почему мне не перевыпустили карту по истечении её срока действия?')
              +ui-p1('Для вашего удобства мы автоматически продлили срок действия вашей карты до апреля 2024 года. Вам не нужно приходить в офис, карта продолжит работать.', '--light')
            +accordion-item('Может ли банк физически перевыпустить карту по истечении срока ее действия или в случае её повреждения?')
              +ui-p1('Да, для этого нужно обратиться в ближайшее отделение АТБ или обратиться по телефону Горячей линии банка, указанной на оборотной стороне вашей карты (звонок бесплатный).', '--light')
            +accordion-item('Какую карту я могу получить сейчас, и где за рубежом она будет работать?')
              +ui-p1('Карты платежных систем Visa и Mastercard на данный момент работают только на территории России. Карты Мир принимаются за рубежом в Абхазии, Армении, Белоруссии, Вьетнаме, Казахстане, Кыргызстане, Таджикистане, Турции, Узбекистане, Южной Осетии (подробная информация на сайте mironline.ru).', '--light')
            +accordion-item('Как я могу воспользоваться кредитными средствами, если я оформил кредит на карту в мобильном приложении АТБ?')
              +ui-p1('', '--light')
                p С более подробной информацией вы можете ознакомиться
                  =' '
                  a(href='/upload/doc/kredity/pamyatka-atb-mobile.pdf') здесь
                  | .

      +section('--mt-xs')
        .inner
          +section-head
            +ui-h2('Бесконтактная оплата телефоном (NFC)', 'section-head')
          +accordion
            +accordion-item('А что насчет оплаты телефоном: SamsungPay, ApplePay, GooglePay, GarminPay?')
              +ui-p1('На данный момент для держателей карт, выпущенных российскими банками, доступны лишь пэй-сервисы для смартфонов на базе Android (версия ОС 6.0 и выше) MirPay и SamsungPay. Использование карт платежных систем Visa и Mastercard недоступно в Apple Pay, Google Pay, Samsung Pay. По картам платежной системы Мир сервисы Apple Pay, Google Pay также недоступны. Во избежание возможных сложностей при оплате рекомендуем носить с собой пластиковую банковскую карту.', '--light')
            +accordion-item('Я привык платить телефоном, мне так удобнее.')
              +ui-p1('', '--light')
                p На текущий момент — это невозможно по независящим от нас причинам. Если Вы владелец смартфона на базе Android (версия ОС 6.0 и выше), рекомендуем выпустить карту Мир от АТБ и расплачиваться ею при помощи пэй-сервиса
                  =' '
                  a(href='https://www.atb.su/cards/mir-pay/') MirPay
                  | . Для Вашего удобства теперь карты Мир можно выпускать в цифровом формате в нашем мобильном приложении АТБ Мобайл NEW всего за пару кликов.
            +accordion-item('Как теперь можно оплачивать подписки и покупки в сервисах Apple: App Store и iTunes?')
              +ui-p1('Оплатить подписку в данных сервисах можно со счета мобильного телефона. Подробности следует уточнить у Вашего мобильного оператора.', '--light')

      +section('--mt-xs')
        .inner
          +section-head
            +ui-h2('Кредитные каникулы в рамках 106-ФЗ', 'section-head')
          +accordion
            +accordion-item('Кто может воспользоваться кредитными каникулами?')
              +ui-p1('Воспользоваться правом на кредитные каникулы могут субъекты малого и среднего бизнеса из ряда отраслей, определенных Правительством Российской Федерации, а также индивидуальные предприниматели и физические лица. Использовать право на кредитные каникулы могут заемщики, которые заключили кредитные договоры до 1 марта 2022 года. Закон распространяется и на тех, кто уже брал отсрочку в 2020 году. Кредитные каникулы предоставляют на срок не более 6 месяцев, формат – отсрочка платежа или его уменьшение (для индивидуальных предпринимателей) в течение льготного периода.', '--light')
            +accordion-item('Каковы условия получения кредитных каникул?')
              +ui-p1('Если официальный доход заемщика снизился более чем на 30% по сравнению со среднемесячным доходом за год, предшествующий дате обращения за кредитными каникулами, то он имеет на них право. Размер кредита не должен быть выше максимумов, установленных Правительством, и на момент обращения за кредитными каникулами у него не должно быть действующей отсрочки по платежам.', '--light')
            +accordion-item('На какие суммы распространяются кредитные каникулы?')
              +ui-p1('', '--light')
                p Должники имеют право на кредитные каникулы, если сумма займа составляет максимум:
                +ui-ul('')
                  li Ипотека:
                    +ui-ul('', '--child')
                      li 6 млн руб. – для жилых помещений в Москве,
                      li 4 млн руб. – для жилых помещений в МО, Санкт-Петербурге и ДФО,
                      li 3 млн руб. – для жилых помещений в остальных российских регионах,
                  li  700 тыс. руб. – автокредит,
                  li  350 тыс. руб. – потребительский кредит для ИП,
                  li  300 тыс. руб. – кредит наличными для физлиц,
                  li  100 тыс. руб. – кредитные карты.
            +accordion-item('Как получить кредитные каникулы?')
              +ui-p1('', '--light')
                +ui-ul('')
                  li С 1 марта по 30 сентября 2022 года обратиться к кредитору с заявлением о предоставлении кредитных каникул;
                  li приложить документы об ухудшении финансового положения заемщика.

            +accordion-item('Какие документы нужны для кредитных каникул?')
              +ui-p1('', '--light')
                p 2-НДФЛ для работающих, справка о регистрации на Бирже труда Министерства труда и социальной защиты для безработных, больничный или другие документы, свидетельствующие об уменьшении зарплаты или выручки.
                p Банк тщательно проверит все справки, и в случае получения от заемщика подделок (фальшивых больничных или недостоверных 2-НДФЛ) кредитные каникулы не будут предоставлены.
