extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')

block scripts
  script(src='../../js/index.js')

block variables
  -const pageTitle ='Комплаенс'

  -
    const breedingLinks =[
      { icon: 'img/breeding_links1.svg', title: 'Налогообложение иностранных счетов (FATCA/CRS)', descr: 'Банк прошел процедуру регистрации в IRS в статусе «Участвующий иностранный финансовый институт (Participating FFI)»' },
      { icon: 'img/breeding_links2.svg', title: 'Противодействие коррупции и управление конфликтом интересов', descr: 'Мы придерживаемся принципа непримиримого отношения к любым формам проявления коррупции на всех уровнях.' },
      { icon: 'img/breeding_links3.svg', title: 'Горячая линия комплаенс', descr: 'Вы знаете о нарушениях в нашем Банке? Сообщите нам о них. Мы гарантируем безопасность и конфиденциальность.' },
    ]

block content
  main
    +banner
      +banner-item
        +banner-wrapper('img/banner_compliance.jpg')
          +banner-h1('Комплаенс')
          +banner-descr('В осуществление функции комплаенс вовлечены все сотрудники Банка в пределах выполнения ими должностных обязанностей. Основной задачей комплаенс является выявление, устранение и предотвращение нарушения российского и международного законодательства, а также требований профессиональных ассоциаций и внутренних документов Банка.', '--size-xxs').banner-item-dn
        +banner-mobile()
          p В осуществление функции комплаенс вовлечены все сотрудники Банка в пределах выполнения ими должностных обязанностей. Основной задачей комплаенс является выявление, устранение и предотвращение нарушения российского и международного законодательства, а также требований профессиональных ассоциаций и внутренних документов Банка.

    .page-content
      +section('--mt0')
        .inner
          +breeding-links(breedingLinks)
