mixin mir-banner(mods)
  -
    const baseName = 'mir-banner'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .mir-banner(class=allMods)&attributes(attributes)
    .mir-banner__wrapper
      .mir-banner__notice В России действует закон «О национальной платёжной
        span.text-nowrap системе
          +ui-tooltip('Согласно Федеральному закону «О национальной платежной системе» от 27.06.2011 N 161-ФЗ.')
        | , согласно которому все банки страны обязаны зачислять выплаты за счет средств бюджетов бюджетной системы РФ на карты платёжной системы
        span.text-nowrap МИР
          +ui-tooltip('За исключением случаев, указанных в п. 5.4 Статья 30.5. Федерального закона от 27.06.2011 N 161-ФЗ (ред. от 02.07.2021) «О национальной платежной системе».')
      .mir-banner__container
        .mir-banner__item
          .mir-banner__title Рекомендуется оформить карту ПС МИР, если вам положены следующие выплаты:
          ul.mir-banner__list
            li Денежное содержание, вознаграждение, довольствие госслужащих
            li Оплата труда работников (персонала) государственных и муниципальных органов, учреждений, государственных внебюджетных фондов
            li Государственные стипендии
            li Пенсии и иные социальные выплаты, осуществление которых в соответствии с законодательством Российской Федерации отнесено к компетенции Пенсионного фонда Российской Федерации*
            li Ежемесячное пожизненное содержание судей
        .mir-banner__item
          .mir-banner__title Как мне получить карту ПС МИР в «Азиатско-Тихоокеанский Банк» (АО)?
          .mir-banner__desc Вы можете оформить заявку:
          ul.mir-banner__list
            li В отделении нашего банка
            li По номеру Единой информационной службы банка
              =' '
              a.mir-banner__link.text-nowrap(href='tel:+78007758888') 8-800-775-88-88
              | , и оформить заявку через оператора
            li На сайте банка
              =' '
              a.mir-banner__link(href='/') www.atb.su
      .mir-banner__img
        img(src='/img/mir-ban.png', alt='')
    .mir-banner__footnote *В этот перечень также входят: Пенсии и иные социальные выплаты лицам, проживающим на территории РФ, проходившим военную службу, службу в органах внутренних дел, государственной противопожарной службе, органах по контролю за оборотом наркотических средств и психотропных веществ, учреждениях и органах уголовно-исполнительной системы, войсках национальной гвардии РФ, органах принудительного исполнения РФ, и их семей; Социальные выплаты безработным гражданам; Выплаты гражданам, подвергшимся воздействию радиации; Государственные пособия гражданам, имеющим детей; Выплаты, установленные в соответствии с Указом Президента Российской Федерации от 7 мая 2012 г. N 606 "О мерах по реализации демографической политики Российской Федерации" и Указом Президента Российской Федерации от 20 марта 2020 г. N 199 "О дополнительных мерах государственной поддержки семей, имеющих детей"; Ежемесячные выплаты в связи с рождением (усыновлением) первого или второго ребенка, которые получают семьи с низким доходом.
    block
