extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')

block variables
  -const fileName = 'replenish'
  -const pageTitle ='Способы пополнить банковскую карту в банке АТБ'

  -
    const replenishRemote =[
      {
        img: 'ways1',
        title: 'Сервис переводов на сайте',
        desc: 'Сервис позволят выполнить до 4 переводов в сутки по&nbsp;одному счету в любой банк не более <span class="text-nowrap">150 000 ₽/сутки</span> и <span class="text-nowrap">600 000 ₽/месяц.</span> Минимальная сумма перевода 100&nbsp;₽, максимальная - <span class="text-nowrap">120 000 ₽.</span>',
        btnText: 'перейти'
      },
      {
        img: 'ways2',
        title: 'В личном кабинете АТБ-Онлайн',
        desc: 'Переводите быстро и легко деньги клиенту АТБ по номеру <span class="text-nowrap">телефона/счета/карты</span>',
        btnText: 'войти в кабинет'
      },
      {
        img: 'ways3',
        title: 'В приложении АТБ банк',
        desc: 'Переводите быстро и легко деньги клиенту АТБ по&nbsp;номеру <soan class="text-nowrap">телефона/счета/карты</soan>',
        apps: true
      },
    ]

  -
    const replenishCash =[
      {
        img: 'ways4',
        title: 'Через банкомат<sup>1</sup>',
        desc: 'Пополняйте карту через банкоматы АТБ с функцией приема наличных (cash in). Услуга доступна круглосуточно.',
        btnText: 'найти ближайший'
      },
      {
        img: 'ways5',
        title: 'В отделении Банка<sup>1</sup>',
        desc: 'Вы можете бесплатно пополнить счет карты в любом офисе АТБ. Обратитесь к кассиру с паспортом и&nbsp;картой или внесите деньги через терминал.',
        btnText: 'найти отделение'
      },
      {
        img: 'ways6',
        title: 'В пунктах сети «Золотая корона»<sup>2</sup>',
        desc: 'В торговой сети салонов-партнеров, таких как Евросеть, МТС, Билайн, Агент.ру и Kari. К услугам клиентов более 12 тысяч пунктов обслуживания на&nbsp;всей территории России.',
      },
    ]

block content
  main
    .page-content
      +section('--mt0')
        .inner
          +ui-h2('Как пополнить карту', '--section')
        +tabs-head([ { text: 'Дистанционно' }, { text: 'Наличными' } ])
        +tabs-main
          +tabs-main__item(true)
            .inner
              +replenish(replenishRemote)
          +tabs-main__item
            .inner
              +replenish(replenishCash)
              +section('--mt-s')
                +section-footnote
                  p
                    sup 1
                    |  При пополнении карты с кредитным лимитом возможно взимание комиссии в соответствии с Вашим тарифным планом.
                  p
                    sup 2
                    |  Услуга предоставляется РНКО «Платежный Центр» (ООО) по картам международных платежных систем Visa и MasterCard, лицензия ЦБ РФ № 3166-К.
                  p Возможно взимание комиссии в сети партнеров.
                  p Обратитесь к сотруднику с паспортом и номером счета/карты.
                  p В случае отсутствия связи с Банком, зачисление на следующий рабочий день.
  +seo('Как пополнить карту')
    +seo-accordion
      +seo-accordion-item('Как пополнить карту')
        p Пополнить счет банковской карты время от времени требуется всем. У держателей кредиток такая необходимость возникает в связи с возвратом потраченных средств или внесением ежемесячного платежа, а владельцы дебетовых карт привыкают хранить деньги в банке и совершать безналичные операции.
        p Клиенты Азиатско-Тихоокеанского Банка могут пополнить свой баланс несколькими способами. Если Вы держатель карты любого другого банка, Вам также доступны сервисы АТБ для внесения денег на нее.
      +seo-accordion-item('Чтобы пополнить счет')
        ol
          li Воспользуйтесь ближайшим банкоматом АТБ. Через него можно пополнить баланс одной карты с другой (осуществить перевод) либо, если на устройстве предусмотрена функция cash in, внести наличные непосредственно на карту. Для пополняющих карту Азиатско-Тихоокеанского Банка оба варианта не предусматривают комиссию.
          li Зайдите на наш сайт и перекиньте деньги с карты на карту через интернет. Онлайн-операции между счетами АТБ производятся бесплатно, при использовании карт других финансовых организаций взимается комиссия в размере 1,3% от суммы + 30 рублей.
          li Посетите один из наших офисов. Здесь Вы сможете самостоятельно внести средства через терминал или пополнить баланс через кассу (в первом случае потребуется номер карты, во втором – еще и паспорт отправителя).
          li Используйте систему «Золотая корона», пункты обслуживания которой располагаются в салонах связи, магазинах «Ноу-хау», Kari и т.д. (всего по стране более 12 тысяч точек обслуживания). Прежде чем таким образом пополнить баланс, рекомендуем уточнить размер комиссии.
        p Многообразие способов, которые предлагает для внесения средств на счет АТБ, позволяет клиентам чувствовать себя уверенно в любой ситуации. Вы может в случае экстренной необходимости пополнить карту тем способом, который окажется под рукой, и можете выбрать один или два варианта, которые наиболее удобны для постоянного использования.
