.ownership-registration {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #fff8f2 0%, #ffeedb 100%);
  border-radius: 8px;
  @include media-tablet {
    flex-direction: column;
    align-items: flex-start;
  }
  &__info {
    max-width: 755px;
    padding: 40px 20px 45px 80px;
    @include media-laptop {
      padding: 30px 20px 35px 40px;
    }
    @include media-tablet {
      padding: 30px 20px 0;
    }
  }
  &__list {
    display: grid;
    gap: 15px;
    @include media-tablet {
      gap: 10px;
    }
  }
  &__item {
    display: flex;
    gap: 15px;
    @include media-tablet {
      gap: 10px;
    }
  }
  &__num {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    flex-shrink: 0;
    background: $orangeYellowGradient;
    border-radius: 50%;
    &::before {
      content: '';
      position: absolute;
      top: 1px;
      right: 1px;
      bottom: 1px;
      left: 1px;
      z-index: 0;
      background: #fff7f0;
      border-radius: inherit;
    }
    span {
      position: relative;
      z-index: 1;
      font-size: 17px;
      line-height: 26px;
      color: $orange;
      background: $orangeYellowGradient;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &__ui-h3 {
    margin-bottom: 20px;
    @include media-tablet {
      max-width: 300px;
      margin-bottom: 15px;
    }
  }
  &__img {
    max-width: 440px;
    flex-shrink: 0;
    @include media-laptop {
      max-width: 300px;
    }
    @include media-tablet {
      max-width: 260px;
      margin-left: auto;
    }
  }
}
