extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  script(src=fileName + '.js')

block variables
  -const fileName = 'cards'
  -const pageTitle ='Кредитные карты'

  -
    const bannerSapid = [
      {
        img: 'img/ic.servis.svg',
        txt: 'Сервисы',
        content: [
          {
            img: 'img/ic.credit-card-plus.svg',
            txt: 'Как пополнить карту?',
            link: '#',
          },
          {
            img: 'img/ic.credit-card.svg',
            txt: 'Перевести по номеру карты',
            link: '#',
          },
        ]
      },
      {
        img: 'img/star.gif',
        txt: 'Акции',
        content: [
          {
            img: 'img/ic.book.svg',
            txt: 'Книга в подарок',
            link: '#',
          },
        ]
      },
    ]

  -
    const cardInfoItem=[
      {
        imgs: [
          'info-card_univ.png'
        ],
        icons: [
          'icon-pay-wifi.svg',
          'samsung-pay-seeklogo.svg',
          'logo-mir-pay.svg'
        ],
        label: 'Акция «Двенадцать месяцев»',
        title: 'Универсальная карта',
        desc: 'с картой Visa Gold/ MasterCard Gold/ MasterCard Standard',
        benefits: [
          {
            name: 'до <span class="card-list__benefits-num">120</span> дней',
            desc: 'Беспроцентный период на&nbsp;все операции по&nbsp;кредитной карте'
          },
          {
            name: 'кэшбэк <span class="card-list__benefits-num">1,5%</span> на&nbsp;всё',
            desc: 'Возврат от&nbsp;суммы покупок'
          },
          {
            name: 'до <span class="card-list__benefits-num">700</span> тыс&nbsp;₽',
            desc: 'Кредитные средства для&nbsp;любых покупок всегда в&nbsp;Вашем распоряжении'
          },
        ],
        btns: [
          {
            txt: 'Оформить карту',
            link: '/cards-form/main/?card_type=universalnya_karta'
          },
          {
            txt: 'Подробнее',
            link: '/cards/credit/universalnaya-karta/'
          }
        ]
      },
      {
        imgs: [
          'info-card_180days.png'
        ],
        icons: [
          'icon-pay-wifi.svg',
          'samsung-pay-seeklogo.svg',
          'logo-mir-pay.svg'
        ],
        title: 'Карта «180&nbsp;дней без&nbsp;%»',
        desc: 'Предложение действует при оформлении карты с&nbsp;24&nbsp;апреля по&nbsp;23&nbsp;июня',
        benefits: [
          {
            name: 'до <span class="card-list__benefits-num">180</span> дней',
            desc: 'Беспроцентный период на&nbsp;все операции по&nbsp;кредитной карте'
          },
          {
            name: 'кэшбэк <span class="card-list__benefits-num">1,5%</span> на&nbsp;всё',
            desc: 'Возврат от&nbsp;суммы покупок'
          },
          {
            name: 'свыше <span class="card-list__benefits-num">300</span> тыс&nbsp;₽',
            desc: 'Кредитные средства для&nbsp;любых покупок всегда в&nbsp;Вашем распоряжении'
          },
        ],
        btns: [
          {
            txt: 'Оформить карту',
            link: '#'
          },
          {
            txt: 'Подробнее',
            link: '#'
          }
        ]
      },
    ]

  -
    const howGetItems =[
      { icon: './img/how_get_step1.svg', title: 'Заявка', descr: 'Заполнение анкеты в&nbsp;среднем <br>занимает 5&nbsp;минут' },
      { icon: './img/how_get_step2.svg', title: 'Одобрение', descr: 'В&nbsp;течение 3&nbsp;минут придет вам <span class="text-nowrap"> в смс </span>' },
      { icon: './img/how_get_step3.svg', title: 'Оформление и&nbsp;подписание договора', descr: 'В&nbsp;ближайшем отделении банка ' },
    ]

  -
    const mainAttentionData ={
      title: '<span class="text-orange">Внимание!</span>',
      descr: 'Информация по&nbsp;текущей ситуации',
      btn: 'Подробнее'
    }

block content
  main
    +banner('--m-vertically')
      +banner-item('--v-inner-pt-xxl')
        +banner-wrapper('img/banner_credit_cards.png', true)
          +banner-h1('Кредитные <br class="banner__br-no-mob">карты', '--mob-size-l')
          +banner-foot
            +ui-button('Оформить карту', 'banner, --m-size-l')(href='#')
        +banner-sapid-container(bannerSapid)
      //- +banner-item('--card-180-days')
        +banner-wrapper('img/banner_180-days.png', true)
          +banner-h1('Кредитная карта <br> «180 дней без %»', '--mob-size-l')
          +banner-text('Действует на&nbsp;всё: покупки, снятие наличных и&nbsp;переводы')
          +banner-foot
            +ui-button('ОФОРМИТь заявку', 'banner, --m-w100')(href='#')
            +banner-slogan('Забудь про&nbsp;проценты на&nbsp;полгода!')

    .page-content
      +section('--mt0')
        .inner
          +main-attention(mainAttentionData)
      +section
        .inner
          +card-extends
      +section
        .inner
          +card-list(cardInfoItem, '--img-xl')
      +section
        .inner
          +how-get('Как получить кредитную карту', howGetItems, 'Оформить карту')

      +section
        .inner
          +section-head.text-center
            +ui-h2('Вопросы и ответы', 'section-head')
          +accordion
            +accordion-item('Как можно срочно заблокировать кредитную карту?')
              +ui-p1('', '--light')
                p Обратиться в&nbsp;колл-центр банка по&nbsp;телефону 8-800-775-88-88, либо через мобильный/интернет банк, либо обратиться в
                  =' '
                  a.text-orange(href='#') отделение банка
                  | .
            +accordion-item('Где узнать все условия по кредитной карте: сумма к погашению, остаток свободного лимита, ставка, срок и сумма минимального обязательного платежа, включая смс-информирование и взнос по страховым кредитным продуктам (если они подключены)?')
              +ui-p1('', '--light')
                p Информацию можно посмотреть в Мобильном/Интернет Банке, или позвонив сотруднику Банка по телефону колл-центра 8-800-775-88-88 (информация доступна при условии прохождения процедуры идентификации), или обратиться в отделение Банка.
            +accordion-item('Перечислил деньги мошенникам. Как отменить платеж?')
              +ui-p1('', '--light')
                p Срочно позвоните в Банк по телефону 8-800-775-88-88 и заблокируйте карту. Далее необходимо подойти в
                  =' '
                  a.text-orange(href='#') любое отделение Банка
                  |  и заполнить бланк претензии. По факту несанкционированного списания будет проведено расследование международной платежной системой в течение 45 календарных дней, о результатах вам сообщат. Карту можно переоформить, написав заявление в
                  =' '
                  a.text-orange(href='#') отделении Банка
                  | .
            +accordion-item('Что такое льготный период и как им пользоваться?')
              +ui-p1('Период, в течение которого не взимаются проценты по кредиту. Если Вы будете своевременно погашать ежемесячные платежи по карте в период действия льготного периода и полностью погасите задолженность не позднее срока окончания льготного периода, то проценты за использование заёмных средств не начисляются.', '--light')
            +accordion-item('Потерял карту/украли. Что делать?')
              +ui-p1('', '--light')
                p Если вы&nbsp;потеряли карту или ее&nbsp;у&nbsp;вас украли, следует немедленно её&nbsp;заблокировать. Вы&nbsp;можете сделать это самостоятельно в&nbsp;личном кабинете мобильного и&nbsp;интернет-банка с&nbsp;помощью вкладки &laquo;Мои средства&raquo; &rarr; &laquo;Карты&raquo; &rarr; &laquo;Блокировка карты&raquo;.
                +ui-ol('')
                  li Выбираете карту, которую необходимо заблокировать
                  li Указываете причину блокировки
                  li Нажимаете "ОК"
                  li Карта будет заблокирована, комиссия за блокировку отсутствует.
                p Также об&nbsp;утере&nbsp;/ краже карты можно сообщить в&nbsp;колл-центр банка по&nbsp;круглосуточному номеру телефона
                  =' '
                  span.text-nowrap 8-800-775-88-88
                  |  или
                  =' '
                  span.text-nowrap +7 (4162) 222-333
                  |  (для звонков из-за рубежа) и&nbsp;заблокировать карту. Кроме того, вы&nbsp;можете обратиться в
                  =' '
                  a.text-orange(href='#') любое отделение банка
                  |  и&nbsp;заблокировать карту. Чтобы в&nbsp;дальнейшем разблокировать карту, вам необходимо обратиться в&nbsp;отделение банка.
            +accordion-item('Как привязать карту в МИР Pay?')
              +ui-p1('Скачайте приложение Mir Pay в Google Play. Откройте приложение и привяжите к нему свою карту (сфотографируйте, введите данные вручную или отсканируйте по NFC – самый надежный и удобный способ), введите вручную код CVC и пароль из СМС.', '--light')
            +accordion-item('Забыл ПИН-код, что делать?')
              +ui-p1('', '--light')
                p Вы&nbsp;можете поменять ПИН-код на&nbsp;более удобный для себя
                  =' '
                  a.text-orange(href='#') в&nbsp;одном из&nbsp;банкоматов АТБ
                  | , если у&nbsp;вас возникло подозрение, что ПИН-код стал известен посторонним лицам либо его трудно запомнить.
            +accordion-item('Что такое МСС код?')
              +ui-p1('Код вида торговой точки. Представляет собой четырехзначный номер и применяется в отрасли банковских карт для классификации торгово-сервисных предприятий по типу их деятельности. Начисление кэшбэка привязано к MCC кодам.', '--light')
            +accordion-item('В&nbsp;какие сроки начисляется кэшбэк? За&nbsp;какие операции?')
              +ui-p1('', '--light')
                p Кэшбэк начисляется не&nbsp;позднее десятого рабочего дня календарного месяца, следующего за&nbsp;месяцем, в&nbsp;котором были совершены платежи с&nbsp;использованием карты (при условии, что тарифный план карты предусматривает начисление кэшбэка). Конкретные правила и&nbsp;условия начисления кэшбэка устанавливаются вашим тарифным планом, в&nbsp;рамках которого оформлена банковская карта, и&nbsp;программой лояльности, документ содержит коды операций (MCC&nbsp;коды), по&nbsp;которым начисляется кэшбэк.
            +accordion-item('Не&nbsp;пришли деньги на&nbsp;карту. Что делать?')
              +ui-p1('В&nbsp;данном вопросе вам может помочь колл-центр банка по&nbsp;номеру ', '--light')
                span.text-nowrap 8-800-775-88-88
                | .
      +section
        .inner
          +section-head
            +ui-h2('Полезная информация о&nbsp;кредитных картах', 'section-head')
          +useful-articles
    +seo('Особенности кредитных карт АТБ')
      p Азиатско-Тихоокеанский банк предлагает физическим лицам оформить кредитную карту с продолжительным грейс-периодом на все операции. Платежный инструмент позволит всегда иметь под рукой нужную сумму денег.
      p Кредитная карта «Универсальная» АТБ сочетает в себе преимущества нескольких продуктов:
      ul
        li Бесплатное обслуживание на весь период пользования.
        li Кредитный лимит до 500&nbsp;000 рублей.
        li Беспроцентный период до 120 днейна все операции.
        li Кэшбэк на любые покупки до 10%.
        li Скидки до 30% от партнеров банка.
      p Открыть кредитную карту Азиатско-Тихоокеанского банка могут граждане РФ в возрасте от 21 до 70 лет. Какими бы ни были ваши задачи, АТБ обещает сделать платежный инструмент быстро и на выгодных условиях.
      p Подать обращение на получение банковского продукта можно как в офисе, так и дистанционно. Во втором случае нужно заполнить
        =' '
        a(href='/cards/credit/') онлайн-заявку
        |  на сайте АТБ и отправить на рассмотрение. Предварительное решение принимается банком в течение 3 минут. Кредитка выпускается мгновенно в день обращения клиента в офис.
      p После этого останется приехать в отделение банка, чтобы получить платежный инструмент.
      p В отдельных регионах России можно заказать курьерскую доставку карты по указанному клиентом адресу.
      p Познакомьтесь с другими банковскими продуктами и программами кредитования на сайте АТБ.
      +seo-menu('seo')
        a(href='/cards/credit/srochno/') Моментальная кредитная карта
        a(href='/cards/credit/ehkspress/') Экспресс кредитная карта
        a(href='/cards/credit/po-pasportu/') Кредитная карта по паспорту
        a(href='/cards/credit/bez-spravok-i-poruchitelej/') Кредитная карта без справок и поручителей
        a(href='/cards/credit/s-lgotnym-periodom/') Кредитная карта с льготным периодом
      +seo-menu('seo')
        a(href='/cards/debit/visa/') Visa
        a(href='/cards/') Все банковские карты
