extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  script(src=fileName + '.js')

block variables
  -const fileName = 'cards'
  -const pageTitle ='Дебетовые карты'

  -
    const cardInfoItem=[
      {
        imgs: [
          'info-card_atb2_0-n.png'
        ],
        icons: [
          'icon-pay-wifi.svg',
          'samsung-pay-seeklogo.svg',
          'logo-mir-pay.svg',
        ],
        title: 'АТБ 2.0',
        desc: 'Дебетовая карта Мир с большим кэшбэком и доходом на остаток',
        benefits: [
          {
            title: 'Обслуживание',
            name: 'Бесплатно',
            desc: 'ежемесячное обслуживание карты'
          },
          {
            title: 'доход',
            name: 'до <span class="card-list__benefits-num">7%</span> годовых',
            desc: 'ежемесячное начисление процентов на остаток по счету банковской карты'
          },
          {
            title: 'кэшбэк',
            name: 'до <span class="card-list__benefits-num">7%</span> ежемесячно',
            desc: 'по выбранной категории и&nbsp;1% на остальные покупки'
          },
        ],
        btns: [
          {
            isScrollTo: true,
            txt: 'Оформить карту',
            link: '#form-section'
          },
          {
            txt: 'Подробнее',
            link: '#'
          }
        ]
      },
      {
        imgs: [
          'info-card_special_status.png'
        ],
        icons: [
          'icon-pay-wifi.svg',
          'samsung-pay-seeklogo.svg',
          'logo-mir-pay.svg',
        ],
        title: 'Особый статус',
        desc: 'Социальная дебетовая карта Мир для зачисления бюджетных и социальных выплат',
        benefits: [
          {
            title: 'Обслуживание',
            name: 'Бесплатно',
            desc: 'Снятие наличных в любых банкоматах России'
          },
          {
            title: 'доход',
            name: 'до <span class="card-list__benefits-num">4%</span> годовых',
            desc: 'Ежемесячное начисление процентов на остаток по счету банковской карты'
          },
          {
            title: 'кэшбэк',
            name: '<span class="card-list__benefits-num">5%</span> ежемесячно',
            desc: 'Возврат от суммы покупок в&nbsp;Аптеках. Но не более 500 рублей в месяц'
          },
        ],
        btns: [
          {
            isScrollTo: true,
            txt: 'Оформить карту',
            link: '#form-section'
          },
          {
            txt: 'Подробнее',
            link: '#'
          }
        ]
      },
      {
        imgs: [
          'info-card_sakhalin.png'
        ],
        icons: [
          'icon-pay-wifi.svg',
          'samsung-pay-seeklogo.svg',
          'logo-mir-pay.svg',
        ],
        title: 'Единая карта сахалинца',
        desc: 'Социальная дебетовая карта Мир для получения выплат и льгот',
        benefits: [
          {
            title: 'Обслуживание',
            name: 'Бесплатно',
            desc: 'ежемесячное и годовое обслуживание карты'
          },
          {
            title: 'доход',
            name: 'до <span class="card-list__benefits-num">4,5%</span> годовых',
            desc: 'Ежемесячное начисление процентов на минимальный остаток по счету банковской карты'
          },
          {
            title: 'кэшбэк',
            name: '<span class="card-list__benefits-num">5%</span> ежемесячно',
            desc: 'Возврат от суммы покупок в&nbsp;Аптеках'
          },
        ],
        btns: [
          {
            isScrollTo: true,
            txt: 'Оформить карту',
            link: '#form-section'
          },
          {
            txt: 'Подробнее',
            link: '#'
          }
        ]
      },
      {
        imgs: [
          'info-card_primorets.png'
        ],
        icons: [
          'icon-pay-wifi.svg',
          'samsung-pay-seeklogo.svg',
          'logo-mir-pay.svg',
        ],
        title: 'Приморец',
        desc: 'Социальная дебетовая карта Мир со скидками на товары и услуги',
        benefits: [
          {
            title: 'Обслуживание',
            name: 'Бесплатно',
            desc: 'Снятие наличных в любых банкоматах России'
          },
          {
            title: 'доход',
            name: 'до <span class="card-list__benefits-num">4,5%</span> годовых',
            desc: 'Ежемесячное начисление процентов на остаток по счету банковской карты при перечислении на карту пенсии, пособий или заработной платы'
          },
          {
            title: 'кэшбэк',
            name: '<span class="card-list__benefits-num">5%</span> ежемесячно',
            desc: 'Возврат от суммы покупок в&nbsp;Аптеках. Но не более 500 рублей в месяц'
          },
        ],
        btns: [
          {
            isScrollTo: true,
            txt: 'Оформить карту',
            link: '#form-section'
          },
          {
            txt: 'Подробнее',
            link: '#'
          }
        ]
      },
    ]

  -
    const howGetItems =[
      { icon: './img/card_2_0_how_get_step1.svg', title: 'Заполните <a href="#"> анкету </a>', descr: 'или обратитесь в любое отделение банка или позвоните по номеру <a class="text-nowrap" href="tel:+7800758888">8-800-775-88-88</a>' },
      { icon: './img/card_2_0_how_get_step2.svg', title: 'Заключите договор', descr: 'и оформите документы в любом отделении банка' },
      { icon: './img/card_2_0_how_get_step3.svg', title: 'Получите карту', descr: 'и бланк заявления на перечисление зарплаты на карту АТБ' },
    ]

  -
    const mainAttentionData ={
      title: '<span class="text-orange">Внимание!</span>',
      descr: 'Информация по текущей ситуации',
      btn: 'Подробнее'
    }

  -
    const usefulGoods =[
      {
        mod: 'you-word',
        title: '«АТБ. Ваше слово»',
        btn: 'Подробнее',
        img: 'useful_goods_img_you-word.png',
        p2: 'Расскажите, что&nbsp;понравилось в АТБ, и&nbsp;выиграйте набор для&nbsp;путешествий',
      },
      {
        mod: 'uc',
        title: 'Кредитная карта «Универсальная»',
        btn: 'Оставить заявку',
        img: 'useful_goods_img_uc.png',
        list: [
          { title: 'До 120 дней', descr: 'беспроцентный период' },
          { title: 'Кэшбэк 10&nbsp%', descr: 'в семейных категориях' },
          { title: '0 рублей', descr: 'обслуживание карты' },
        ]
      },
      {
        mod: 'mir',
        title: 'Платежная система Мир',
        btn: 'Подробнее',
        img: 'useful_goods_img_mir.png',
        list: [
          { title: '0 рублей', descr: 'обслуживание карты, переводы в любые банки по номеру телефона, выдача наличных в банкоматах любых банков' },
          { title: 'Скидки и акции', descr: 'от «Привет, Мир»' },
        ]
      },
      {
        mod: 'dc',
        title: 'Цифровая карта',
        btn: 'Подробнее',
        img: 'useful_goods_img_dc.png',
        list: [
          { title: '0 рублей', descr: 'оформление и обслуживание карты' },
          { title: 'Быстро и удобно', descr: 'оформите в Мобильном приложении и&nbsp;сразу пользуйтесь' },
        ]
      },
      {
        mod: 'sbp',
        title: 'Система быстрых платежей',
        btn: 'Подробнее',
        img: 'useful_goods_img_sbp.png',
        list: [
            { title: '0 рублей', descr: 'переводы до 100&nbsp;000&nbsp;₽ в&nbsp;месяц' },
            { title: 'Удобно', descr: 'мгновенное зачислениеперевода на счет' },
            { title: 'Безопасно', descr: 'не нужно сообщать данные карты, достаточно знать номер телефона' },
          ]
      },
    ]

block content
  main
    +banner('--m-vertically')
      +banner-item('--v-inner-pt-xxl, --cards-debit')
        +banner-wrapper('img/banner_cards_debit.png', true)
          +banner-h1('Дебетовые <br class="banner__br-no-mob">карты', '--mob-size-l')
          +banner-foot
            +ui-button('Оформить карту', 'banner, --m-size-l')(href='#')
    .page-content
      +section('--mt0')
        .inner
          +main-attention(mainAttentionData)
      +section
        .inner
          +card-extends
      +section
        .inner
          +card-list(cardInfoItem)
      +section
        .inner
          +how-get('Как получить карту', howGetItems)
      +section()#form-section
        .inner
          +section-head
            +ui-h2('Оформите заявку на&nbsp;карту', 'section-head').text-center

      +section
        .inner
          +section-head.text-center
            +ui-h2('Вопросы и ответы', 'section-head')
          +accordion
            +accordion-item('Как можно срочно заблокировать кредитную карту?')
              +ui-p1('', '--light')
                p Обратиться в&nbsp;колл-центр банка по&nbsp;телефону 8-800-775-88-88, либо через мобильный/интернет банк, либо обратиться в
                  =' '
                  a.text-orange(href='#') отделение банка
                  | .
            +accordion-item('Где узнать все условия по кредитной карте: сумма к погашению, остаток свободного лимита, ставка, срок и сумма минимального обязательного платежа, включая смс-информирование и взнос по страховым кредитным продуктам (если они подключены)?')
              +ui-p1('', '--light')
                p Информацию можно посмотреть в Мобильном/Интернет Банке, или позвонив сотруднику Банка по телефону колл-центра 8-800-775-88-88 (информация доступна при условии прохождения процедуры идентификации), или обратиться в отделение Банка.
            +accordion-item('Перечислил деньги мошенникам. Как отменить платеж?')
              +ui-p1('', '--light')
                p Срочно позвоните в Банк по телефону 8-800-775-88-88 и заблокируйте карту. Далее необходимо подойти в
                  =' '
                  a.text-orange(href='#') любое отделение Банка
                  |  и заполнить бланк претензии. По факту несанкционированного списания будет проведено расследование международной платежной системой в течение 45 календарных дней, о результатах вам сообщат. Карту можно переоформить, написав заявление в
                  =' '
                  a.text-orange(href='#') отделении Банка
                  | .
            +accordion-item('Что такое льготный период и как им пользоваться?')
              +ui-p1('Период, в течение которого не взимаются проценты по кредиту. Если Вы будете своевременно погашать ежемесячные платежи по карте в период действия льготного периода и полностью погасите задолженность не позднее срока окончания льготного периода, то проценты за использование заёмных средств не начисляются.', '--light')
            +accordion-item('Потерял карту/украли. Что делать?')
              +ui-p1('', '--light')
                p Если вы&nbsp;потеряли карту или ее&nbsp;у&nbsp;вас украли, следует немедленно её&nbsp;заблокировать. Вы&nbsp;можете сделать это самостоятельно в&nbsp;личном кабинете мобильного и&nbsp;интернет-банка с&nbsp;помощью вкладки &laquo;Мои средства&raquo; &rarr; &laquo;Карты&raquo; &rarr; &laquo;Блокировка карты&raquo;.
                +ui-ol('')
                  li Выбираете карту, которую необходимо заблокировать
                  li Указываете причину блокировки
                  li Нажимаете "ОК"
                  li Карта будет заблокирована, комиссия за блокировку отсутствует.
                p Также об&nbsp;утере&nbsp;/ краже карты можно сообщить в&nbsp;колл-центр банка по&nbsp;круглосуточному номеру телефона
                  =' '
                  span.text-nowrap 8-800-775-88-88
                  |  или
                  =' '
                  span.text-nowrap +7 (4162) 222-333
                  |  (для звонков из-за рубежа) и&nbsp;заблокировать карту. Кроме того, вы&nbsp;можете обратиться в
                  =' '
                  a.text-orange(href='#') любое отделение банка
                  |  и&nbsp;заблокировать карту. Чтобы в&nbsp;дальнейшем разблокировать карту, вам необходимо обратиться в&nbsp;отделение банка.
            +accordion-item('Как привязать карту в МИР Pay?')
              +ui-p1('Скачайте приложение Mir Pay в Google Play. Откройте приложение и привяжите к нему свою карту (сфотографируйте, введите данные вручную или отсканируйте по NFC – самый надежный и удобный способ), введите вручную код CVC и пароль из СМС.', '--light')
            +accordion-item('Забыл ПИН-код, что делать?')
              +ui-p1('', '--light')
                p Вы&nbsp;можете поменять ПИН-код на&nbsp;более удобный для себя
                  =' '
                  a.text-orange(href='#') в&nbsp;одном из&nbsp;банкоматов АТБ
                  | , если у&nbsp;вас возникло подозрение, что ПИН-код стал известен посторонним лицам либо его трудно запомнить.
            +accordion-item('Что такое МСС код?')
              +ui-p1('Код вида торговой точки. Представляет собой четырехзначный номер и применяется в отрасли банковских карт для классификации торгово-сервисных предприятий по типу их деятельности. Начисление кэшбэка привязано к MCC кодам.', '--light')
            +accordion-item('В&nbsp;какие сроки начисляется кэшбэк? За&nbsp;какие операции?')
              +ui-p1('', '--light')
                p Кэшбэк начисляется не&nbsp;позднее десятого рабочего дня календарного месяца, следующего за&nbsp;месяцем, в&nbsp;котором были совершены платежи с&nbsp;использованием карты (при условии, что тарифный план карты предусматривает начисление кэшбэка). Конкретные правила и&nbsp;условия начисления кэшбэка устанавливаются вашим тарифным планом, в&nbsp;рамках которого оформлена банковская карта, и&nbsp;программой лояльности, документ содержит коды операций (MCC&nbsp;коды), по&nbsp;которым начисляется кэшбэк.
            +accordion-item('Не&nbsp;пришли деньги на&nbsp;карту. Что делать?')
              +ui-p1('В&nbsp;данном вопросе вам может помочь колл-центр банка по&nbsp;номеру ', '--light')
                span.text-nowrap 8-800-775-88-88
                | .

      +section('--ov-hidden')
        .inner
          +section-head
            +ui-h2('Вас также могут заинтересовать', 'section-head').text-center.text-center--mob-left
          +useful-goods(usefulGoods)
    +seo('Дебетовые карты АТБ')
      p Азиатско-Тихоокеанский  Банк  (АО)  предлагает заказать дебетовую карту — повседневный инструмент для  оплаты покупок, зачисления зарплаты, получения кэшбэка. Открывая дебетовый счет  в АТБ, клиент получает:
      ul
        li Бесплатное обслуживание карты.
        li Снятие наличных в любых банкоматах России.
        li Удобный безналичный расчет при совершении покупок.
        li Начисление процентов на остаток по счету.
        li Возврат от суммы покупок в виде кэшбэка.
        li Доступны переводы по системе быстрых платежей (СБП) — до 100 000 р. в месяц бесплатно.
        li Выгодные условия кредитования для клиентов, получающих зарплату от своего работодателя на карту, выпущенную нашим Банком.
      p Оформить  дебетовую карту онлайн – легко. Заполните
        =' '
        a(href='/cards/debit/') заявление-анкету
        |  на официальном  сайте АТБ. Дождитесь решения (сообщение о выпуске придет на личный номер  телефона). Заявка обрабатывается в течение 15 минут. Посетите
        =' '
        a(href='/atms/') офис
        |  АТБ, взяв с собой документы,  указанные в анкете для выпуска дебетовой карты.
      p Вы также можете  подать заявление в отделении банка, а после получения дебетовой карты,
        =' '
        a(href='/upload/zarplatnye_karty/zajavlenije.PDF' target='_blank') сделать ее зарплатной
        | , обратившись к работодателю.

      +seo-menu('seo')
        a(href='/cards/debit/mir/') Мир
        a(href='/cards/debit/social/') Социальная карта МИР
