extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  script(src=fileName + '.js')

block variables
  -const fileName = 'cards'
  -const pageTitle ='Карта Особый статус'

  -
    const howGetItems =[
      { icon: './img/card_2_0_how_get_step1.svg', title: 'Заполните <a href="#"> анкету </a>', descr: 'или обратитесь в любое отделение банка или позвоните по номеру <br> <a class=" text-nowrap" href="tel:88007758888"> 8-800-775-88-88 </a> ' },
      { icon: './img/card_2_0_how_get_step2.svg', title: 'Получите карту и <a href="#"> заявление </a> ', descr: 'на перечисление зарплаты или пенсии на карту АТБ' },
      { icon: './img/card_2_0_how_get_step3.svg', title: 'Отнесите заявление в ПФ РФ', descr: 'или свое отделение социальной защиты' },
    ]

  -
    const termsTable =[
      { name: 'Тип банковской карты', descr: 'МИР Классическая' },
      { name: 'Срок действия карты', descr: '3 года' },
      { name: 'Обслуживание основной и дополнительной карты', descr: 'бесплатно' },
      { name: 'Ежемесячное начисление процентов на остаток по счету банковской карты', descr: '4% годовых, при ежемесячном перечислении пенсии / соц. выплат / зарплаты на карту «Особый статус», иначе 3% годовых' },
      { name: 'Снятие наличных в банкоматах сторонних банков на территории РФ', descr: 'Бесплатно' },
      { name: 'Ежедневный лимит совершения операций выдачи наличных в банкоматах любых банков, в т.ч. АТБ', descr: '150 000 рублей' },
      { name: 'Ежемесячный возврат от покупок в аптеках', descr: '5%' },
    ]

  -
    const termsList =[
      { text: 'участие в дисконтных программах банка и платежных систем' },
      { text: 'удобный и многофункциональный Мобильный банк «АТБ Мобайл new»' },
      { text: 'бесплатные переводы в любые банки по номеру телефона с использованием Системы быстрых платежей' },
      { text: 'круглосуточная поддержка через горячую линию Банка' },
      { text: 'Бесконтактная технология позволяет совершать транзакции, не выпуская карту из рук. Оплачивайте покупки одним движением руки!' },
    ]

  -
    const termsPayment =[
      { img: 'img/icon-pay-wifi.svg' },
      { img: 'img/samsung-pay-seeklogo.svg' },
      { img: 'img/logo-mir-pay.svg' },
      { img: 'img/logo-koshelek-pay.svg' },
    ]

  -
    const list_2 =[
      { text: 'В отделении банка.' },
      { text: 'Оставьте заявку через оператора по Единому номеру Горячей линии банка <a class="ui-link nowrap" href="tel:88007758888">8-800-775-88-88</a>.' },
      { text: 'Оставьте заявку на сайте банка <a class="ui-link" href="/">www.atb.su</a>.' },
    ]

  -
    let mobBannersData ={
      title: 'Еще больше возможностей в&nbsp;вашем устройстве!',
      descr: 'Воспользуйтесь безопасным Мобильным банком, который позволит реализовать все функции вашего банковского продукта.',
      apps: [
        { icon: 'icon_app_store_white' },
        { icon: 'icon_google_play_white' },
        { icon: 'icon_rustore_white' },
      ],
      qrSrc: '/img/qr-code.png',
      img: '/img/mob-banner.png'
    }

  -
    const tableData = {
      names: [
        { text: 'Как выглядит карта', },
        { text: 'Программа лояльности', },
        { text: 'Параметры', },
        { text: 'Тарифные планы, по&nbsp;которым действует программа лояльности', },
        { text: '' },
      ],
      columns: [
        {
          img: 'img/card_router_img_standard_bonus.png',
          rows: [
            {
              sections: [
                {
                  text: [
                    '<a href="#" class="text-underline">Стандарт-бонус</a>',
                  ],
                  textClass: 'card-router__text--bold',
                  descr: 'паспорт',
                  descrClass: 'card-router__descr--mob-big',
                },
              ]
            },
            {
              sections: [
                {
                  text: [
                    '1% на все покупки',
                    '7% в выбранных категориях',
                  ],
                  textClass: 'card-router__text--light',
                },
              ]
            },
            {
              sections: [
                {
                  text: [
                    '<a href="#" class="text-underline">Карта АТБ 2.0</a>',
                  ],
                  descr: `Подключается при выдаче`,
                },
                {
                  text: [
                    '<a href="#" class="text-underline">Кошелек</a>',
                  ],
                  descr: `Подключение через колл-центр`,
                }
              ]
            },
            { },
          ],
        },
        {
          isActive: true,
          img: 'img/card_router_img_standard_direct.png',
          rows: [
            {
              sections: [
                {
                  text: [
                    '<a href="#" class="text-underline">Стандарт-директ</a>',
                  ],
                  textClass: 'card-router__text--bold',
                  descr: 'паспорт',
                  descrClass: 'card-router__descr--mob-big',
                },
              ]
            },
            {
              sections: [
                {
                  text: [
                    '1% на все покупки',
                    '5% в выбранных категориях',
                  ],
                  textClass: 'card-router__text--light',
                },
              ]
            },
            {
              sections: [
                {
                  text: [
                    '<a href="#" class="text-underline">Особый статус</a>',
                  ],
                },
                {
                  text: [
                    '<a href="#" class="text-underline">Приморец</a>',
                  ],
                },
                {
                  label: 'Единая карта сахалинца',
                }
              ]
            },
            {
              sections: [
                {
                  subtitle: 'Архив',
                  text: [
                    '<a href="#" class="text-underline">Большой кошелек</a>',
                  ],
                  textClass: 'text-grey60',
                },
                {
                  text: [
                    '<a href="#" class="text-underline">Валютный кошелек</a>',
                  ],
                  textClass: 'text-grey60',
                },
                {
                  text: [
                    '<a href="#" class="text-underline">Детская карта</a>',
                  ],
                  textClass: 'text-grey60',
                },
                {
                  text: [
                    '<a href="#" class="text-underline">Кампус</a>',
                  ],
                  textClass: 'text-grey60',
                },
                {
                  text: [
                    '<a href="#" class="text-underline">Кошелек</a>',
                  ],
                  textClass: 'text-grey60',
                },
              ]
            },
          ],
        },
        {
          img: 'img/card_router_img_cash_back_direct.png',
          rows: [
            {
              sections: [
                {
                  text: [
                    '<a href="#" class="text-underline">Кэш-Бэк Директ</a>',
                  ],
                  textClass: 'card-router__text--bold',
                  descr: 'паспорт',
                  descrClass: 'card-router__descr--mob-big',
                },
              ]
            },
            {
              sections: [
                {
                  text: [
                    '2% на все покупки',
                    'до 10% в выбранных категориях',
                  ],
                  textClass: 'card-router__text--light',
                },
              ]
            },
            { },
            {
              sections: [
                {
                  subtitle: 'Архив',
                  text: [
                    '<a href="#" class="text-underline">Карта Кэш-бэк</a>',
                  ],
                  textClass: 'text-grey60',
                },
              ]
            },
          ],
        },
      ]
    }

block content
  main
    +banner('--m-vertically')
      +banner-item('--card-social')
        +banner-wrapper('img/banner_social.png', true)
          +banner-h1('Социальная карта «Мир» «Особый статус»', '--mob-size-l')
          +banner-subtitle
            span.banner-subtitle__accent 4%
            |  на остаток
          +banner-foot
            +ui-button('Оформить карту', 'banner, --m-size-l')(href='#')
            +banner-slogan('Карта для&nbsp;зачисления бюджетных выплат')

    .page-content
      +section('--mt0')
        .inner
          +section-head('--max-w')
            +ui-h3('Социальная <b>МИР «Особый статус»</b>', 'section-head, --normal')
            .section-head__descr Карта национальной платежной системы МИР — это единственная закрепленная законодательством РФ карта для получения пенсионных выплат и пособий.
              br
              | Оптимальна так же для получения зарплаты и расчетов в аптеках.
            +ui-button('Оформить карту').js-scroll-to(href='#form-section')
      +section
        .inner
          +switch('', 'Параметры карты', 'Тарифы и документы', 'card-info', '--mb40, --mob-vertical')
          +switch-group('card-info')
            +switch-content(true)
              +card-terms({ termsTable, termsList, termsPayment })
            +switch-content()
              +documents
              +accordion
                +accordion-item('Архив')
                  +accordion('--inner')
                    +accordion-item('Архив тарифов')
                      +documents
                    +accordion-item('Архив УДБО')
                      +documents

      +section
        .inner
          +section-head('--max-w')
            +ui-h2('Вопросы и ответы', '--normal').text-center
          +accordion
            +accordion-item('Почему именно карта Мир')
              +ui-p1('Согласно Федеральному закону № 161-ФЗ «О национальной платёжной системе» все российские банки обязаны производить зачисления бюджетных выплат на карты платёжной системы «Мир».', '--light')
            +accordion-item('Что относится к бюджетным выплатам')
              +ui-p1('', '--light')
                +ui-ul('')
                  li Денежное содержание, вознаграждение, довольствие государственных служащих, оплата труда работников государственных и муниципальных органов, учреждений, государственных внебюджетных фондов, государственные стипендии, ежемесячное пожизненное содержание судей.
                  li Пенсии и прочие социальные выплаты от пенсионного фонда РФ в соответствии с законодательством РФ.
                  li Социальные выплаты безработным гражданам, установленные Законом Российской Федерации «О занятости населения в Российской Федерации».
                  li Государственные пособия гражданам, имеющим детей, установленные Федеральным законом «О государственных пособиях гражданам, имеющим детей».
                  li Прочие социальные перечисления, предусмотренные законодательством РФ.
            +accordion-item('Как оформить карту Мир?')
              +ui-p1('', '--light')
                +ui-ul(list_2)

            +accordion-item('Как определить, какая программа лояльности действует по вашей карте?', '--card-router')
              +card-router(tableData)

            +accordion-item('Как можно срочно заблокировать кредитную карту?')
              +ui-p1('', '--light')
                p Обратиться в&nbsp;колл-центр банка по&nbsp;телефону 8-800-775-88-88, либо через мобильный/интернет банк, либо обратиться в
                  =' '
                  a.text-orange(href='#') отделение банка
                  | .
            +accordion-item('Где узнать все условия по кредитной карте: сумма к погашению, остаток свободного лимита, ставка, срок и сумма минимального обязательного платежа, включая смс-информирование и взнос по страховым кредитным продуктам (если они подключены)?')
              +ui-p1('', '--light')
                p Информацию можно посмотреть в Мобильном/Интернет Банке, или позвонив сотруднику Банка по телефону колл-центра 8-800-775-88-88 (информация доступна при условии прохождения процедуры идентификации), или обратиться в отделение Банка.
            +accordion-item('Перечислил деньги мошенникам. Как отменить платеж?')
              +ui-p1('', '--light')
                p Срочно позвоните в Банк по телефону 8-800-775-88-88 и заблокируйте карту. Далее необходимо подойти в
                  =' '
                  a.text-orange(href='#') любое отделение Банка
                  |  и заполнить бланк претензии. По факту несанкционированного списания будет проведено расследование международной платежной системой в течение 45 календарных дней, о результатах вам сообщат. Карту можно переоформить, написав заявление в
                  =' '
                  a.text-orange(href='#') отделении Банка
                  | .
            +accordion-item('Что такое льготный период и как им пользоваться?')
              +ui-p1('Период, в течение которого не взимаются проценты по кредиту. Если Вы будете своевременно погашать ежемесячные платежи по карте в период действия льготного периода и полностью погасите задолженность не позднее срока окончания льготного периода, то проценты за использование заёмных средств не начисляются.', '--light')
            +accordion-item('Потерял карту/украли. Что делать?')
              +ui-p1('', '--light')
                p Если вы&nbsp;потеряли карту или ее&nbsp;у&nbsp;вас украли, следует немедленно её&nbsp;заблокировать. Вы&nbsp;можете сделать это самостоятельно в&nbsp;личном кабинете мобильного и&nbsp;интернет-банка с&nbsp;помощью вкладки &laquo;Мои средства&raquo; &rarr; &laquo;Карты&raquo; &rarr; &laquo;Блокировка карты&raquo;.
                +ui-ol('')
                  li Выбираете карту, которую необходимо заблокировать
                  li Указываете причину блокировки
                  li Нажимаете "ОК"
                  li Карта будет заблокирована, комиссия за блокировку отсутствует.
                p Также об&nbsp;утере&nbsp;/ краже карты можно сообщить в&nbsp;колл-центр банка по&nbsp;круглосуточному номеру телефона
                  =' '
                  span.text-nowrap 8-800-775-88-88
                  |  или
                  =' '
                  span.text-nowrap +7 (4162) 222-333
                  |  (для звонков из-за рубежа) и&nbsp;заблокировать карту. Кроме того, вы&nbsp;можете обратиться в
                  =' '
                  a.text-orange(href='#') любое отделение банка
                  |  и&nbsp;заблокировать карту. Чтобы в&nbsp;дальнейшем разблокировать карту, вам необходимо обратиться в&nbsp;отделение банка.
            +accordion-item('Как привязать карту в МИР Pay?')
              +ui-p1('Скачайте приложение Mir Pay в Google Play. Откройте приложение и привяжите к нему свою карту (сфотографируйте, введите данные вручную или отсканируйте по NFC – самый надежный и удобный способ), введите вручную код CVC и пароль из СМС.', '--light')
            +accordion-item('Забыл ПИН-код, что делать?')
              +ui-p1('', '--light')
                p Вы&nbsp;можете поменять ПИН-код на&nbsp;более удобный для себя
                  =' '
                  a.text-orange(href='#') в&nbsp;одном из&nbsp;банкоматов АТБ
                  | , если у&nbsp;вас возникло подозрение, что ПИН-код стал известен посторонним лицам либо его трудно запомнить.
            +accordion-item('Что такое МСС код?')
              +ui-p1('Код вида торговой точки. Представляет собой четырехзначный номер и применяется в отрасли банковских карт для классификации торгово-сервисных предприятий по типу их деятельности. Начисление кэшбэка привязано к MCC кодам.', '--light')
            +accordion-item('В&nbsp;какие сроки начисляется кэшбэк? За&nbsp;какие операции?')
              +ui-p1('', '--light')
                p Кэшбэк начисляется не&nbsp;позднее десятого рабочего дня календарного месяца, следующего за&nbsp;месяцем, в&nbsp;котором были совершены платежи с&nbsp;использованием карты (при условии, что тарифный план карты предусматривает начисление кэшбэка). Конкретные правила и&nbsp;условия начисления кэшбэка устанавливаются вашим тарифным планом, в&nbsp;рамках которого оформлена банковская карта, и&nbsp;программой лояльности, документ содержит коды операций (MCC&nbsp;коды), по&nbsp;которым начисляется кэшбэк.
            +accordion-item('Не&nbsp;пришли деньги на&nbsp;карту. Что делать?')
              +ui-p1('В&nbsp;данном вопросе вам может помочь колл-центр банка по&nbsp;номеру ', '--light')
                span.text-nowrap 8-800-775-88-88
                | .

      +section
        .inner
          +mob-banner(mobBannersData)
      +section
        .inner
          +how-get('Как получить карту', howGetItems)
      +section
        .inner
          +small-hero
      +section('--bg-grey')#form-section
        .inner
          +section-head
            +ui-h2('Оформите заявку на&nbsp;карту', 'section-head').text-center
      +popup__wrapper#ban-video
        +p-video('#form-section')
