extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  script(src=fileName + '.js')

block variables
  -
    const fileName = 'cards'
    const pageTitle ='Кредитная карта «Универсальная»'

    const howGetItems =[
      { icon: './img/how_get_step1.svg', title: 'Заявка', descr: 'Заполнение анкеты в среднем занимает 5&nbsp;минут' },
      { icon: './img/how_get_step2.svg', title: 'Одобрение', descr: 'В течение 3 минут придет вам в&nbsp;смс' },
      { icon: './img/how_get_step3.svg', title: 'Оформление и подписание договора', descr: 'В ближайшем отделении банка' },
    ]

    const termsTable =[
      { name: 'Кредитный лимит', descr: 'до 500 тыс. рублей' },
      { name: 'Беспроцентный период', descr: 'до 120 дней на покупки и снятия наличных' },
      { name: 'Процентная ставка', descr: 'от 9,5% годовых' },
      { name: 'Обслуживание карты', descr: 'бесплатно' },
      { name: 'Снятие наличных без&nbsp;комиссии', descr: 'бесплатно' },
    ]

    const termsList =[
      { text: 'участие в дисконтных программах банка и платежных систем' },
      { text: 'бесплатная выписка по счетам <span class="text-nowrap">в «АТБ-Онлайн»</span> /<span class="text-nowrap">«АТБ-Мобайл»</span>' },
      { text: 'круглосуточная поддержка через Колл-центр АТБ' },
      { text: 'сообщение в банк о потере или краже карты по единому номеру в любой точке мира' },
      { text: 'Оплачивайте покупки одним движением руки!' },
    ]

    const termsPayment =[
      { img: 'img/icon-pay-wifi.svg' },
      { img: 'img/samsung-pay-seeklogo.svg' },
      { img: 'img/google-pay-seeklogo.svg' },
      { img: 'img/icon-apple-pay.svg' },
      { img: 'img/logo-garmin_pay.png' },
      { img: 'img/logo-mir-pay.svg' },
      { img: 'img/logo-koshelek-pay.svg' },
    ]

    const mobBannersData ={
      title: 'Еще больше возможностей в&nbsp;вашем устройстве!',
      descr: 'Воспользуйтесь безопасным Мобильным банком, который позволит реализовать все функции вашего банковского продукта.',
      apps: [
        { icon: 'icon_app_store_white' },
        { icon: 'icon_google_play_white' },
        { icon: 'icon_rustore_white' },
      ],
      qrSrc: '/img/qr-code.png',
      img: '/img/mob-banner.png'
    }

    const bannerSapid = [
      {
        img: 'img/star.gif',
        txt: 'Акции',
        content: [
          {
            img: 'img/icon_12_month.svg',
            txt: 'Акция «Двенадцать месяцев»',
            link: '#',
          },
        ]
      },
    ]

    const tabs = [
      { text: 'Рассчитайте ваш кэшбэк' },
      { text: 'Вопросы и ответы' },
      { text: 'Как начисляется кэшбэк' },
      { text: 'Карта оформлена до 14 июля 2022' },
    ]

    const picTabs = [
      {
        text: 'Условия',
        img: 'terms'
      },
      {
        text: 'Документы',
        img: 'doc'
      },
      {
        text: 'Беспроцентный период',
        img: 'period'
      },
      {
        text: 'Вопросы и ответы',
        img: 'qa'
      },
    ]

    const usefulGoods =[
      {
        mod: 'orange40',
        title: '«АТБ. Ваше слово»',
        btn: 'Подробнее',
        img: 'useful_goods_img_you-word.png',
        p2: 'Расскажите, что&nbsp;понравилось в АТБ, и&nbsp;выиграйте набор для&nbsp;путешествий',
      }
    ]

    const smallBannerRating = {
      title: 'Карта &laquo;Универсальная&raquo;&nbsp;&mdash; одна из&nbsp;лучших кредитных карт России по&nbsp;набору параметров:',
      descr: 'Большой льготный период, выгодный кэшбэк, бесплатное обслуживание.',
      footnote: 'Рейтинг сервиса &laquo;Бробанк&raquo; за&nbsp;февраль 2023&nbsp;г.',
      img: 'img/small_banner_rating.png'
    }

    const smallBannerSelfEmployed = {
      title: 'Теперь доступна и&nbsp;для&nbsp;самозанятых',
      descr: 'Подтвердите статус и&nbsp;получите кредитную карту',
      img: 'img/small_banner_self-employed.png'
    }

    const promotionBan12month ={
      img: 'img/promotion_ban_img_12-month_other_page.png',
      h3: 'Акция «Двенадцать месяцев»',
      text: 'Оформите кредитную карту «Универсальная» и&nbsp;участвуйте в&nbsp;розыгрыше беспроцентного периода на&nbsp;12&nbsp;месяцев',
      button: 'Условия акции',
      p1: 'с 1 декабря 2023 по 31&nbsp;января&nbsp;2024'
    }

block content
  main
    +banner('--m-vertically')
      +banner-item('--card-uk-m-vertically')
        +banner-wrapper('img/banner_uk_small.png', true)
          +banner-h1('Универсальная кредитная карт', '--mob-size-l')
          +banner-text('До 180 дней без&nbsp;%').text-orange
          +banner-foot
            +ui-button('оформить карту', 'banner, --m-size-l')(href='#')
            +banner-slogan('Акция <br>«12 месяцев»')
        +banner-sapid-container(bannerSapid)

    .page-content
      +section('--mt0')
        .inner
          +promotion-ban(promotionBan12month, '--12-month-other-page')

      +section
        .inner
          +section-head
            +ui-h2('Комплекс преимуществ по одной карте', 'section-head')
          +card-benefits

      +section
        .inner
          +small-banner-wrapper('--2items')
            +small-banner(smallBannerRating, '--small')
            +small-banner(smallBannerSelfEmployed, '--small')

      +section
        .inner
          +section-head
            +ui-h2('Все о вашем кэшбэке', 'section-head')
          +tabs-head(tabs, true, '--no-item-border')
          +tabs-main
            +tabs-main__item(true)
              +calc-card('universal')
                .calc-card__line
                  +ui-p2('Условия действуют для карт оформленных после', '--light')
                    =' '
                    span.text-nowrap 14 июля 2022
                      +ui-tooltip('')
                        p Дату оформления вы можете посмотреть:
                        +ui-ul('', '--li-mb0')
                          li
                            a.text-orange(href='#') в мобильном приложении
                          li в кредитном договоре
                          li в колл-центре
                            =' '
                            a.text-orange.text-nowrap(href='tel:88007758888') 8-800-775-88-88
            +tabs-main__item
              +accordion
                +accordion-item('Что такое кэшбэк?')
                  +ui-p1('Кэшбэк&nbsp;&mdash; это возврат банком части расходов за&nbsp;покупки по&nbsp;карте АТБ.', '--light')
                +accordion-item('Когда банк начисляет и выплачивает кэшбэк?')
                  +ui-p1('Выплата начисленного кэшбэка в&nbsp;рублевом эквиваленте осуществляется в&nbsp;течение&nbsp;10 (десяти) рабочих дней с&nbsp;момента окончания месяца совершения Бонусных транзакций.', '--light')
                +accordion-item('За какие операции не начислят кэшбэк?')
                  +ui-p1('', '--light')
                    p Кэшбэк не начисляется:
                    +ui-ul('')
                      li За&nbsp;операции переводов, снятия наличных.
                      li За&nbsp;операции с&nbsp;кодами
                        =' '
                        a.text-orange(href='#') МСС
                        |, перечень которых указан в&nbsp;приложении 2
                        =' '
                        a.text-orange(href='#') правил программы лояльности
                        |  банка.
                      li Если сумма транзакции менее 100&nbsp;рублей.
                      li За&nbsp;операции оплаты товаров (работ, услуг) в&nbsp;разделе &laquo;Платежи&raquo; Интернет-банка и/или Мобильного банка.
                      li За&nbsp;операции оплаты любых товаров (работ, услуг) в&nbsp;ТСП с&nbsp;одновременным снятием наличных денежных средств в&nbsp;ТСП.
                +accordion-item('Какую сумму кэшбэка я могу получить?')
                  +ui-p1('', '--light')
                    p Максимальный размер кэшбэка за&nbsp;покупки по&nbsp;карте
                    +ui-ul('')
                      li 2&nbsp;000&nbsp;₽ в&nbsp;месяц для договоров, оформленных до&nbsp;5&nbsp;сентября 2021 года (включительно),
                      li 4&nbsp;000&nbsp;₽ в&nbsp;месяц для договоров, оформленных с&nbsp;6&nbsp;сентября 2021&nbsp;года.
                +accordion-item('Куда приходит кэшбэк?')
                  +ui-p1('Кэшбэк будет начислен в&nbsp;рублях на&nbsp;вашу карту АТБ, которой вы&nbsp;оплатили покупку.', '--light')
                +accordion-item('Как я могу воспользоваться кэшбэком?')
                  +ui-p1('Кэшбэк начисляется в&nbsp;рублях на&nbsp;карту АТБ, по&nbsp;которой вы&nbsp;совершали покупки. Это обычное пополнение счёта, поэтому использовать полученные деньги вы&nbsp;можете на&nbsp;своё усмотрение.', '--light')
                +accordion-item('Что произойдет, если я верну приобретённый товар?')
                  +ui-p1('Если магазин или вы&nbsp;отменили покупку и&nbsp;вернули товар, то&nbsp;кэшбэк за&nbsp;эту покупку не&nbsp;начислится. В&nbsp;случае если возврат товара был оформлен после выплаты кэшбэка, в&nbsp;будущем периоде кэшбэк будет уменьшен на&nbsp;сумму выплаченного ранее кэшбэка по&nbsp;этой покупке.', '--light')
                +accordion-item('Как определить, какая программа лояльности действует по вашей карте?')#loyalty-program
                  +ui-p1('', '--light')
                    p Программа лояльности зависит от периода оформления договора:
                    +ui-ul('', '--li-mb25')
                      li
                        p До&nbsp;05.09.2021 (включительно)
                        +documents-item('Документ 1', '(pdf, 354.58 КБ)')
                      li
                        p &nbsp;06.09.2021 по&nbsp;13.07.2022
                        +documents-item('Документ 2', '(pdf, 354.58 КБ)')
                      li
                        p С&nbsp;14.07.2022
                        +documents-item('Документ 3', '(pdf, 354.58 КБ)')
                +accordion-item('Куда обращаться, если я не получил кэшбэк?')
                  +ui-p1('Необходимо обратиться в&nbsp;колл-центр банка по&nbsp;телефону ', '--light')
                    =' '
                    a.text-orange.text-nowrap(href='tel:88007758888') 8-800-775-88-88
                    |  или в&nbsp;отделение банка.
                +accordion-item('Что такое МСС код?')
                  +ui-p1('Код вида торговой точки. Представляет собой четырехзначный номер и&nbsp;применяется в&nbsp;отрасли банковских карт для классификации торгово-сервисных предприятий по&nbsp;типу их&nbsp;деятельности. Начисление кэшбэка привязано к&nbsp;MCC&nbsp;кодам.', '--light')
                +accordion-item('Почему мне не начислили повышенный кэшбэк?')
                  +ui-p1('', '--light')
                    p Причин может быть несколько:
                    +ui-ul('')
                      li Не&nbsp;выполнены условия по&nbsp;сумме транзакций по&nbsp;карте/Любимой категории (зависит от&nbsp;Тарифного плана Карты). Информацию об&nbsp;условиях Программы лояльности можно посмотреть
                        =' '
                        a.text-orange.js-open-accordion(href='#loyalty-program') здесь
                        |.
                      li МСС код включен в&nbsp;перечень исключений из&nbsp;транзакций.
                    p Подробную информацию о&nbsp;сумме совершенных операций по&nbsp;Карте вы&nbsp;можете посмотреть в&nbsp;Мобильном банке/Интернет-банке. Если у&nbsp;вас остались вопросы, вы&nbsp;можете обратится в&nbsp;колл-центр банка по&nbsp;телефону
                      =' '
                      a.text-orange.text-nowrap(href='tel:88007758888') 8-800-775-88-88
                      | .
                +accordion-item('Будет ли начисляться   если покупки совершались по дополнительной карте?')
                  +ui-p1('Да, при начислении кэшбэка учитываются покупки, оплаченные основной и&nbsp;дополнительными картами.', '--light')
                +accordion-item('Кэшбэк начисляется на всю сумму покупки?')
                  +ui-p1('При начислении кэшбэка сумма каждой покупки, по&nbsp;которой осуществляется расчет, округляется до&nbsp;числа, кратного 100&nbsp;₽. <br> Например, вы&nbsp;совершили покупку на&nbsp;1&nbsp;787&nbsp;₽, кэшбэк будет начисляться на&nbsp;сумму 1&nbsp;700&nbsp;₽. На&nbsp;остаток суммы 87&nbsp;₽ (не&nbsp;кратно 100&nbsp;₽) кэшбэк не&nbsp;начисляется.', '--light')
            +tabs-main__item
              +cashback-scheme
            +tabs-main__item
              +ui-h4('Дату оформления вы можете посмотреть:', '--bold, --mb')
              +ui-p1('', '--light')
                ul.ui-ul
                  li
                    a.text-orange(href='#') В мобильном приложении
                    ol.ui-ol.ui-ol--child.ui-ol--li-mb10
                      li Откройте карту
                      li Вкладка "Информация"
                      li О карте
                      li Дата выпуска
                  li В кредитном договоре
                  li В колл-центре
                    =' '
                    span.text-orange.text-nowrap 8-800-775-80-80
              +ui-p1('Если вы оформили кредитную карту «Универсальная» до 14 июля 2022 года, <br> подробности по вашей ')
                =' '
                a.text-orange(href='#') программе лояльности вы найдете здесь

      +section
        .inner
          +pic-tabs(picTabs)
            +pic-tabs__item(picTabs[0])
              +card-terms({ termsTable, termsList, termsPayment }, '--inner')
            +pic-tabs__item(picTabs[1])
              +accordion
                +accordion-item('Тарифы')
                  +documents
                +accordion-item('Полезная информация')
                  +documents
                +accordion-item('Документы')
                  +documents
                +accordion-item('Условия предоставления кредита')
                  +ui-p1('', '--light')
                    +ui-ul('')
                      li Вам от 21 до 70 лет (на момент окончания кредитного договора)
                        +ui-tooltip('минимальный срок кредитования – 24 мес.')
                      li Вы проживаете на территории обслуживания Банка или у Вас положительная кредитная история в АТБ или других банках.
                      li У Вас есть гражданство РФ
                      li Для работающих по найму - стаж на последнем месте работы от 3 месяцев
                      li Для индивидуальных предпринимателей – стаж ведения ИП не менее 6 месяцев
                      li Для пенсионеров – регулярное поступление пенсионных или иных социальных выплат
                    p
                      br
                      | Документы:
                    +ui-ul('')
                      li Паспорт гражданина РФ
                        br
                        | Увеличьте вероятность одобрения заявки на кредит подтвердив доход.
                        =' '
                        a.text-orange(href='#') Подробнее…
                +accordion-item('Моя любимая категория (для&nbsp;договоров, оформленных до&nbsp;5&nbsp;сентября 2021&nbsp;года)')
                  +ui-p1('', '--light')
                    p Вы можете изменить любимую категорию
                      ='  '
                      a.text-orange.js-popup-open(href='#choose_fav_category') по своей карте здесь
                      | .
                +accordion-item('Архив')
                  +accordion('--inner')
                    +accordion-item('Архив тарифов')
                      +documents
                    +accordion-item('Архив УДБО')
                      +documents
            +pic-tabs__item(picTabs[2], '--px-xs')
              +grace
            +pic-tabs__item(picTabs[3])
              +accordion
                +accordion-item('Как можно срочно заблокировать кредитную карту?')
                  +ui-p1('Обратиться в&nbsp;колл-центр банка по&nbsp;телефону <a href="tel:88007758888" class="text-orange text-nowrap">8-800-775-88-88</a>, либо через Мобильный/Интернет банк, либо обратиться в&nbsp;', '--light')
                    a.text-orange(href='/atms') отделение банка
                    | .
                +accordion-item('Где узнать все условия по&nbsp;кредитной карте: сумма к&nbsp;погашению, остаток свободного лимита, ставка, срок и&nbsp;сумма минимального обязательного платежа, включая смс-информирование и&nbsp;взнос по&nbsp;страховым кредитным продуктам (если они подключены)?')
                  +ui-p1('Информацию можно посмотреть в&nbsp;Мобильном/Интернет банке, или позвонив сотруднику банка по&nbsp;телефону колл-центра <a href="tel:88007758888" class="text-orange text-nowrap">8-800-775-88-88</a> (информация доступна при условии прохождения процедуры идентификации), или обратиться в&nbsp;отделение банка.', '--light')
                +accordion-item('Перечислил деньги мошенникам. Как отменить платеж?')
                  +ui-p1('Срочно позвоните в&nbsp;банк по&nbsp;телефону <a href="tel:88007758888" class="text-orange text-nowrap">8-800-775-88-88</a> и&nbsp;заблокируйте карту. Далее необходимо подойти в&nbsp;<a href="/atms" class="text-orange">любое отделение банка</a> и&nbsp;заполнить бланк претензии. По&nbsp;факту несанкционированного списания будет проведено расследование международной платежной системой в&nbsp;течение 45&nbsp;календарных дней, о&nbsp;результатах вам сообщат. Карту можно переоформить, написав заявление в&nbsp;<a href="/atms" class="text-orange">отделении банка</a>.', '--light')
                +accordion-item('Что такое льготный период и&nbsp;как им&nbsp;пользоваться?')
                  +ui-p1('Период, в&nbsp;течение которого не&nbsp;взимаются проценты по&nbsp;кредиту. Если вы&nbsp;будете своевременно погашать ежемесячные платежи по&nbsp;карте в&nbsp;период действия льготного периода и&nbsp;полностью погасите задолженность не&nbsp;позднее срока окончания льготного периода, то&nbsp;проценты за&nbsp;использование заёмных средств не&nbsp;начисляются.', '--light')
                +accordion-item('Потерял карту/украли. Что делать?')
                  +ui-p1('', '--light')
                    p Если вы&nbsp;потеряли карту или ее&nbsp;у&nbsp;вас украли, следует немедленно её&nbsp;заблокировать. Вы&nbsp;можете сделать это самостоятельно в&nbsp;личном кабинете Мобильного и&nbsp;Интернет-банка с&nbsp;помощью вкладки &laquo;Мои средства&raquo; &rarr; &laquo;Карты&raquo; &rarr; &laquo;Блокировка карты&raquo;.
                    +ui-ol('')
                      li Выбираете карту, которую необходимо заблокировать
                      li Указываете причину блокировки
                      li Нажимаете &laquo;ОК&raquo;
                      li Карта будет заблокирована, комиссия за&nbsp;блокировку отсутствует.
                    p Также об&nbsp;утере&nbsp;/ краже карты можно сообщить в&nbsp;колл-центр банка по&nbsp;круглосуточному номеру телефона <a href="tel:88007758888" class="text-orange text-nowrap">8-800-775-88-88</a> или&nbsp;<a href="tel:+74162222333" class="text-orange text-nowrap">+7 (4162) 222-333</a> (для звонков из-за рубежа) и&nbsp;заблокировать карту. Кроме того, вы&nbsp;можете обратиться в&nbsp;любое отделение банка и&nbsp;заблокировать карту. Чтобы в&nbsp;дальнейшем разблокировать карту, вам необходимо обратиться в&nbsp;
                      a.text-orange(href='/atms') отделение банка
                      | .
                +accordion-item('Как привязать карту в&nbsp;Mir Pay?')
                  +ui-p1('Скачайте приложение Mir Pay в&nbsp;Google Play. Откройте приложение и&nbsp;привяжите к&nbsp;нему свою карту (сфотографируйте, введите данные вручную или отсканируйте по&nbsp;NFC&nbsp;&mdash; самый надежный и&nbsp;удобный способ), введите вручную код CVC и&nbsp;пароль из&nbsp;СМС.', '--light')
                +accordion-item('Забыл ПИН-код, что делать?')
                  +ui-p1('Вы&nbsp;можете поменять ПИН-код на&nbsp;более удобный для себя <a href="/atms" class="text-orange">в&nbsp;одном из&nbsp;банкоматов АТБ</a>, если у&nbsp;вас возникло подозрение, что ПИН-код стал известен посторонним лицам либо его трудно запомнить.', '--light')
                +accordion-item('Что такое МСС код?')
                  +ui-p1('Код вида торговой точки. Представляет собой четырехзначный номер и&nbsp;применяется в&nbsp;отрасли банковских карт для классификации торгово-сервисных предприятий по&nbsp;типу их&nbsp;деятельности. Начисление кэшбэка привязано к&nbsp;MCC&nbsp;кодам.', '--light')
                +accordion-item('В&nbsp;какие сроки начисляется кэшбэк? За&nbsp;какие операции?')
                  +ui-p1('Кэшбэк начисляется не&nbsp;позднее десятого рабочего дня календарного месяца, следующего за&nbsp;месяцем, в&nbsp;котором были совершены платежи с&nbsp;использованием карты (при условии, что тарифный план карты предусматривает начисление кэшбэка). Конкретные правила и&nbsp;условия начисления кэшбэка устанавливаются вашим тарифным планом, в&nbsp;рамках которого оформлена банковская карта, и&nbsp;программой лояльности, документ содержит коды операций (MCC&nbsp;коды), по&nbsp;которым начисляется кэшбэк.', '--light')
                +accordion-item('Не&nbsp;пришли деньги на&nbsp;карту. Что делать?')
                  +ui-p1('В&nbsp;данном вопросе вам может помочь колл-центр банка по&nbsp;номеру <a href="tel:88007758888" class="text-orange text-nowrap">8-800-775-88-88</a>.', '--light')

      +section('--bg-grey')
        .inner
          +how-get('Как получить карту', howGetItems, 'Оформить карту')

      +section
        .inner
          +family-values

      +section
        .inner
          +mob-banner(mobBannersData)

      +section
        .inner
          +section-head.text-center
            +ui-h2('Вас также могут заинтересовать', 'section-head')
          +useful-goods(usefulGoods)
      +section('--mt-xs')
        .inner
          +accordion
            +accordion-item('Другие банковские продукты')
              +ui-p1
                +ui-ul('')
                  li
                    a.text-orange(href='/kredit/ipoteka/', target='_blank') Ипотека
                  li
                    a.text-orange(href='/business/cash-services/packages-rko/', target='_blank') РКО
                  li
                    a.text-orange(href='/business/services/acquiring/', target='_blank') Эквайринг для бизнеса

    +popup__wrapper#choose_fav_category
      +p-categories
