.mortgage-claims {
  position: relative;
  padding: 40px 385px 40px 50px;
  background: $grey30;
  border-radius: 8px;
  @include media-tablet {
    padding: 35px 250px 35px 40px;
  }
  @include media-tablet {
    padding: 20px 20px 115px;
  }
  &__content {
    position: relative;
    z-index: 1;
  }
  &__ui-h4 {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &__img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    max-width: 360px;
    @include media-laptop {
      max-width: 300px;
    }
    @include media-tablet {
      max-width: 240px;
    }
  }
}
