extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')

block variables
  -
    const fileName = 'property-insurance'
    const pageTitle ='Страхование'

    const featuresItems =[
      { icon: 'img/feature_1.svg', title: 'Защита имущества клиента при наступлении наиболее распространенных страховых случаев' },
      { icon: 'img/feature_2.svg', title: 'Компенсация за поврежденное или утраченное жилое имущество при любой стоимости полиса' },
      { icon: 'img/feature_3.svg', title: 'Удобство оформления по доверительному принципу: без осмотра и составления описи' },
    ]

    const tableItems ={
      thead: [
        {
          th: [
            { text: 'Параметры программы', mods: 'ui-table__tr-title' },
            { text: 'Страховые суммы, ₽', mods: 'ui-table__tr-title ui-table__th-desktop' },
          ]
        }
      ],
      tbody: [
        {
          td: [
            { text: 'Страховые суммы, ₽', colspan: '2', mods: 'ui-table__td-mobile' }
          ]
        },
        {
          td: [
            { text: 'Конструктивные элементы' },
            { text: '40&nbsp;000	' },
          ]
        },
        {
          td: [
            { text: 'Отделка и инженерное оборудование' },
            { text: '40&nbsp;000' },
          ]
        },
        {
          td: [
            { text: 'Домашнее имущество' },
            { text: '40&nbsp;000' },
          ]
        },
        {
          td: [
            { text: 'Гражданская ответственность' },
            { text: '45&nbsp;000' },
          ]
        },
        {
          td: [
            { text: '<b>Страховая премия</b>' },
            { text: '<b>1&nbsp;050</b>' },
          ]
        },
      ]
    }

    const list_1 =[
      { text: 'Квартиры' },
      { text: 'Жилые строения' },
    ]

    const list_2 =[
      { text: 'находящееся на открытом воздухе (мачты, антенны и т.п.);' },
      { text: 'отделка и инженерное оборудование действительной стоимостью более 20 000 рублей за&nbsp;1м<sup>2</sup>;' },
      { text: 'антикварные, уникальные предметы и коллекции, картины и другие произведения искусства.' },
    ]

    const list_3 =[
      { text: 'пожар;' },
      { text: 'взрыв;' },
      { text: 'залив;' },
      { text: 'стихийное бедствие;' },
      { text: 'механическое воздействие;' },
      { text: 'противоправные действия третьих лиц.' },
    ]

    const list_4 =[
      { text: 'причинение вреда жизни, здоровью, имуществу третьих лиц в результате пожара, взрыва бытового газа, залива, при эксплуатации застрахованного помещения.' },
    ]

    const list_5 =[
      { text: 'Квартира' },
      { text: 'Жилой дом' },
    ]

    const list_6 = [
      { text: 'в аварийном состоянии, подлежащие сносу или реконструкции' },
      { text: 'в которых проводится капитальный ремонт' },
      { text: 'несущие стены и перекрытия которых полностью выполнены из горючих материалов' },
      { text: 'в заброшенном состоянии и/или используемые не по назначению' },
      { text: 'у которых отсутствует крыша, не завершено возведение стен, имеются незакрытые отверстия и проемы' },
      { text: 'построенные ранее 1960 года' },
      { text: 'являющиеся отдельно стоящей баней' },
    ]

    const list_7 = [
      { text: 'Иметь фундамент' },
      { text: 'Обеспечиваться надлежащим уходом, а именно: электропроводка, газовое оборудование, отопительные системы, системы водоснабжения и водоотведения должны находиться в исправном состоянии' },
      { text: 'При отсутствии постоянного проживания не реже одного раза в 3 месяца посещаться Страхователем (Выгодоприобретателем) или доверенным лицом для проверки технического состояния; проходить предсезонную подготовку (т.е. перед наступлением минусовых температур, необходимо перекрывать газ, обесточивать дом, сливать воду из отопительных систем и систем водоснабжения)' },
      { text: 'На период длительного отсутствия (более 1 месяца) быть обесточено, в нем необходимо перекрыть газ и систему водоснабжения' },
    ]

    const list_8 = [
      { text: 'застрахованное помещение находится на территории Российской Федерации;' },
      { text: 'на застрахованное помещение оформлено право собственности (выписка из ЕГРП) либо Выгодоприобретатель проживает в нем по договору социального найма;' },
      { text: 'Жилой дом является отдельной постройкой капитальной конструкции, рассчитанный на длительный срок службы;' },
      { text: 'Жилой дом /Квартира используется для проживания;' },
      { text: 'лицо (лица), проживающее (-ие) в застрахованном индивидуальном Жилом доме/ Квартире имеет (-ют) регистрацию в нем (-ей).' },
    ]

    const list_9 = [
      { text: 'Пожар;' },
      { text: 'Поджог;' },
      { text: 'Взрыв;' },
      { text: 'Залив*;' },
      { text: 'Стихийные бедствия, а именно: землетрясение, извержение вулкана, ураган, смерч, тайфун, обвал;' },
      { text: 'Противоправные действия третьих лиц - кража со взломом**, грабеж, разбой, умышленное уничтожение или повреждение имущества третьими лицами;' },
      { text: 'Механическое воздействие.' },
    ]

    const list_10 = [
      { text: 'Расходы по найму;' },
      { text: 'Расходы на замену замков и ключей - непредвиденные расходы, возникшие в результате утраты Страхователем (Выгодоприобретателем) ключей от застрахованного по настоящему Полису имущества.' },
    ]

block content
  main
    +banner('--m-vertically')
      +banner-item('--property-insurance')
        +banner-wrapper('img/banner_property_insurance.png', true)
          +banner-h1('Страхование <br>имущества', '--mob-size-l')
          +banner-subtitle('Защита имущества на&nbsp;непредвиденный случай')
          +banner-foot
            +ui-button('Оформить карту', 'banner, --m-size-l')(href='#')
    .page-content
      +section('--mt0')
        .inner
          +features(featuresItems, '--3items')
      +section
        +tabs-head([{ text: 'АО МАКС' }, { text: 'ООО СК «Сбербанк страхование»' }])
        +tabs-main
          +tabs-main__item(true)
            +section('--bg-grey, --mt0')
              .inner
                +section-head.text-center
                  +ui-h2('«Простое решение. Имущество»', 'section-head')
                +ui-table(tableItems, '--inner-border, --prop-ins')
            +section
              .inner
                +section-head.text-center
                  +ui-h2('Условия программы «Простое решение. Имущество»' , 'section-head')
                +accordion
                  +accordion-item('Виды недвижимости', '--transparent-main')
                    +ui-h4('Виды недвижимости принимаемой на страхование:', '--mb-xs, --bold, --mob-fz16')
                    +ui-p1('', '--light')
                      +ui-ul(list_1)
                    br
                    +ui-h4('Виды недвижимости не принимаемой на страхование:', '--mb-xs, --bold, --mob-fz16')
                    +ui-p1('', '--light')
                      +ui-ul('')
                        li Квартира/жилое строение и имущество в квартире/жилом строении во время проведения в них ремонтных, восстановительных, отделочных и иных видов работ, в том числе демонтажа и/или установки инженерных систем и оборудования
                        li
                          p Строения и имущество в строениях:
                          p а) год постройки строений ранее 1960 г. или физический износ конструктивных элементов по БТИ (Бюро технической инвентаризации) которых превышает 65%;
                          p б) часть строения;
                          p в) строения, находящиеся в стадии незавершенного строительства;
                          p г) строения, имеющие баню/сауну/гараж под одной крышей и имущество в них;
                          p д) предметы, закрепленные на наружной стороне строения, если они не являются инженерным оборудованием строения;
                          p е) технические средства, строительные и сельскохозяйственные машины (газонокосилки, мотокультиваторы и т.п.);
                          p ж) насосные установки, очистные сооружения вне застрахованного строения
                        li
                          p Деревянные строения с хотя бы одноим из следующих признаков:
                          p а) несущие стены выполнены из дерева;
                          p б) первый этаж выполнен из кирпича или бетона, а следующие этажи и/или мансарда выполнены из дерева;
                          p в) несущие стены выполнены из кирпича или бетона, при этом общая площадь деревянных пристроек составляет более 10 % от площади первого этажа строения;
                          p г) несущие стены выполнены из дерева и обложены с внешней стороны кирпичом;
                          p д) строение имеет деревянный каркас, обшитый с двух сторон досками, вагонкой, крупными щитами или другими материалами, внутреннее пространство между обшивкой может быть заполнено утеплителем
                        li Гаражи, беседки, бани, сауны, другие хозяйственные (вспомогательные) постройки
                  +accordion-item('Исключения по страхованию имущества', '--transparent-main')
                    +ui-h4('Страхованию не подлежит имущество:', '--mb-xs, --bold, --mob-fz16')
                    +ui-p1('', '--light')
                      +ui-ul(list_2)
                  +accordion-item('Риски', '--transparent-main')
                    +ui-h4('Риски в части страхования имущества', '--mb-xs, --bold, --mob-fz16')
                    +ui-p1('', '--light')
                      +ui-ul(list_3)
                    br
                    +ui-h4('Риски в части гражданской ответственности:', '--mb-xs, --bold, --mob-fz16')
                    +ui-p1('', '--light')
                      +ui-ul(list_4)
                +section-footnote
                  | Тарифы действительны на май 2022
                  br
                  | Узнать более подробные условия и приобрести данную услугу можно в ближайшем офисе «Азиатско-Тихоокеанский Банк» (АО)
                  br
                  | Банк является агентом на основании Агентского договора. Услугу предоставляет ООО СК «Сбербанк страхование»
                  br
                  | Размер агентского вознаграждения по агентскому договору со страховой компанией 85% от страховой премии, в т.ч НДС 20%
          +tabs-main__item
            +section('--bg-grey, --mt0')
              .inner
                +section-head.text-center
                  +ui-h2('ООО СК «Сбербанк страхование»', 'section-head')
                +property-insurance-table
                +section-footnote
                  | Полис действует в течение 12-ти месяцев.
                  br
                  | Датой заключения Полиса является дата оплаты страховой премии.
                  br
                  | Страхование по Полису начинает действовать на 15-й календарный день с даты заключения.
            +section
              .inner
                +section-head.text-center
                  +ui-h2('Условия программы ООО СК «Сбербанк страхование»' , 'section-head')
                +accordion
                  +accordion-item('Виды недвижимости', '--transparent-main')
                    +ui-p1('Условия программы Защита дома', '--light')
                    br
                    +ui-h4('Виды недвижимости принимаемой на страхование:', '--mb-xs, --bold, --mob-fz16')
                    +ui-p1('', '--light')
                      +ui-ul(list_5)
                    br
                    +ui-h4('Виды недвижимости не принимаемой на страхование:', '--mb-xs, --bold, --mob-fz16')
                    +ui-p1('', '--light')
                      +ui-ul(list_6)
                    br
                    +ui-p1('Жилой дом, конструктивные элементы, внутренняя отделка и движимое имущество в котором принимаются на страхование, должен:', '--light')
                    +ui-p1('', '--light')
                      +ui-ul(list_7)
                  +accordion-item('Ограничения при принятии на страхование', '--transparent-main')
                    +ui-p1('Предметы страхования (конструктивные элементы, внутренняя отделка и движимое имущество) находятся только в одном помещении (квартира в многоквартирном жилом доме или индивидуальный Жилой дом) на территории страхования и удовлетворяют одновременно всем перечисленным ниже требованиям:', '--light')
                    +ui-p1('', '--light')
                      +ui-ul(list_8)
                  +accordion-item('Риски', '--transparent-main')
                    +ui-h4('В части страхования имущества:', '--mb-xs, --bold, --mob-fz16')
                    +ui-p1('', '--light')
                      +ui-ul(list_9)
                    +section-footnote
                      | * По риску «Залив» не является застрахованной внутренняя отделка лоджии/балкона. По данному риску покрываются повреждения застрахованного имущества водой вследствие внезапных аварий водопроводных, канализационных, отопительных, противопожарных (спринклерных) систем или иных гидравлических систем находящихся и функционирующих на территории страхования. События, произошедшие вне территории страхования, не застрахованы.
                      br
                      | ** По риску «кража со взломом» не является застрахованным движимое имущество в Жилых домах.
                    br
                    +ui-h4('В части страхования гражданской ответственности:', '--mb-xs, --bold, --mob-fz16')
                    +ui-p1('Наступление ответственности Страхователя за причинение вреда жизни, здоровью, имуществу третьих лиц в результате пожара, взрыва бытового газа, залива, произошедших по вине Страхователя (Застрахованного) в результате эксплуатации им застрахованной квартиры или жилого строения и находящегося в них имущества.', '--light')
                    br
                    +ui-h4('В части страхования финансовых рисков:', '--mb-xs, --bold, --mob-fz16')
                    +ui-p1('', '--light')
                      +ui-ul(list_10)
                +section-footnote
                  | Тарифы действительны на май 2022
                  br
                  | Узнать более подробные условия и приобрести данную услугу можно в ближайшем офисе «Азиатско-Тихоокеанский Банк» (АО)
                  br
                  | Банк является агентом на основании Агентского договора. Услугу предоставляет ООО СК «Сбербанк страхование»
                  br
                  | Размер агентского вознаграждения по агентскому договору со страховой компанией 85% от страховой премии, в т.ч НДС 20%
