.tabs-slider {
  display: flex;
  justify-content: space-between;
  @include media-tablet {
    flex-direction: column;
  }
  &__ui-h2 {
    margin-bottom: 40px;
  }
  &__nav {
    position: relative;
    display: flex;
    margin-bottom: 80px;
    padding-bottom: 15px;
    @include media-laptop {
      margin-bottom: 40px;
      padding-bottom: 10px;
    }
    @include media-tablet {
      display: none;
    }
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 920px;
      height: 2px;
      background: linear-gradient(90deg, #e4e4e4 0%, rgb(228 228 228 / 0) 100%);
      @include media-laptop {
        width: 500px;
      }
    }
  }
  &__tab {
    margin-right: 50px;
    font: 300 20px/1.3 $font;
    color: $grey90;
    cursor: pointer;
    @include media-laptop {
      margin-right: 30px;
      font-size: 16px;
    }
    &:last-child {
      margin-right: 0;
    }
    &--active {
      font-weight: 400;
      color: $orange;
    }
  }
  &__btns {
    position: relative;
    display: flex;
    margin-top: 40px;
    @include media-laptop {
      margin-top: 20px;
    }
    @include media-tablet {
      display: none;
    }
  }
  &__btn {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 80px;
    margin: 0;
    background: #fff;
    border-radius: 50%;
    box-shadow: $lightBigShadow;
    color: $black;
    transition: 0.3s;
    cursor: pointer;
    @include media-laptop {
      width: 54px;
      height: 54px;
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: 16px auto;
      background-repeat: no-repeat;
      background-position: center;
      @include media-laptop {
        background-size: 11px auto;
      }
    }
    &--prev {
      margin-right: 20px;
      &::after {
        background-position-x: 45%;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='31' viewBox='0 0 16 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.931 0.577842L15.6897 3.01394L4.48277 15.7164L15.6897 28.4189L12.931 30.855L1.18018e-05 15.7164L12.931 0.577842Z' fill='%23373A36'/%3E%3C/svg%3E%0A");
      }
    }
    &--next {
      &::after {
        background-position-x: 55%;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='31' viewBox='0 0 16 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.75862 30.855L0 28.4189L11.2069 15.7164L0 3.01397L2.75862 0.577881L15.6897 15.7164L2.75862 30.855Z' fill='%23373A36'/%3E%3C/svg%3E%0A");
      }
    }
    &.swiper-button-disabled {
      opacity: 0.35;
      cursor: auto;
    }
  }
  &__info {
    @include media-laptop {
      width: 50%;
    }
    @include media-tablet {
      width: auto;
    }
  }
  &__content {
    width: 485px;
    @include media-laptop {
      width: 100%;
    }
  }
  &__pic {
    position: relative;
    width: 54%;
    max-width: 650px;
    @include media-laptop {
      width: 45%;
    }
    @include media-tablet {
      margin-top: 20px;
      width: auto;
    }
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
  &__img {
    position: relative;
  }
  &__screen,
  &__anim {
    width: 100%;
  }
  &__anim-item {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    animation: 3s ease-in-out infinite float;
  }
  &__scrollbar {
    display: none;
    height: 2px;
    margin-top: 5px;
    background: #e7e6e6;
    @include media-tablet {
      display: block;
    }
    .swiper-scrollbar {
      &-drag {
        top: -1px;
        height: 4px;
        background: $orange;
        border-radius: 0;
        cursor: pointer;
      }
    }
  }
  &__app-links {
    display: flex;
    align-items: center;
    @include media-tablet {
      margin-top: 5px;
    }
    > * {
      &:not(:last-child) {
        margin-right: 30px;
        @include media-laptop {
          margin-right: 20px;
        }
      }
    }
  }
  &__app {
    display: block;
    height: 50px;
    box-shadow: $smallShadow;
    border-radius: 6px;
    flex-shrink: 0;
    img {
      object-fit: contain;
      height: 100%;
    }
    @include media-laptop {
      height: 40px;
    }
  }
  &__qr {
    width: 70px;
    height: 70px;
    box-shadow: $smallShadow;
    border-radius: 6px;
    flex-shrink: 0;
    overflow: hidden;
    @include media-laptop {
      width: 50px;
      height: 50px;
    }
    @include media-tablet {
      display: none;
    }
  }
  &--sbp-pay {
    .tabs-slider {
      &__ui-ul {
        font-weight: 700;
        font-size: 20px;
        @include media-laptop {
          font-size: 18px;
        }
      }
      &__anim-item {
        &--moneta {
          &-1 {
            animation-delay: 0.3s;
          }
          &-2 {
            animation-delay: 1s;
          }
          &-3 {
            animation-delay: 1s;
          }
        }
        &--tel {
          animation-delay: 0.5s;
        }
      }
    }
  }
}
.bvi-body {
  .tabs-slider {
    display: block;
    &__nav {
      &::before {
        display: none;
      }
    }
    &__pic {
      display: none;
    }
    &__content {
      width: 100%;
    }
    &__btn {
      border: 1px solid;
    }
  }
}
