extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  script(src=fileName + '.js')

block variables
  -const fileName = 'info-pages'
  -const pageTitle ='Банковский надзор за деятельностью кредитной организации'

  -
    const infoPageAsideList =[
      { text: 'Документы и тарифы' },
      { text: 'Дополнительные сведения' },
      { text: 'Клиентам ПАО «КВАНТ МОБАЙЛ БАНК»' },
      { text: 'Уведомления' },
      { isActive: true, text: 'Банковский надзор за деятельностью кредитной организации' },
    ]

block content
  main
    +breadcrumbs
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item('Общая информация', '#')
      +breadcrumbs-item(pageTitle)
    +banner
      +banner-item('--text-old')
        +banner-wrapper('/img/banner_gradient.jpg')
          +banner-h1(pageTitle)
    .page-content
      +section('--mt0')
        .inner
          +info-page(infoPageAsideList, pageTitle)
            +ui-p1('')
              p Банковский надзор за деятельностью кредитной организации АО Азиатско-Тихоокеанский Банк, рег.№1810 осуществляет Служба текущего банковского надзора Банка России. Телефоны Контактного центра Центрального банка Российской Федерации:
              p 8 (800) 300-3000 - бесплатно на территории Российской Федерации;
                br
                | +7 (499) 300-3000 - тарификация в соответствии с тарифами Вашего оператора.
              p Надзор за соблюдением требований законодательства Российской Федерации в сфере защиты прав потребителей финансовых услуг осуществляет Служба по защите прав потребителей и обеспечению доступности финансовых услуг Банка России. Обращение по нарушению действий (бездействием) кредитной организации законодательства Российской Федерации, а также охраняемых законом прав и интересов физических или юридических лиц, может быть направлено для рассмотрения в Банк России через
                =' '
                a.text-orange(target='_blank' href='http://www.cbr.ru/') интернет–приемную
                | .
