extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  script(src=fileName + '.js')

block variables
  -const fileName = 'info-pages'
  -const pageTitle ='Раскрытие информации в соответствии с Указанием Банка России от 28.12.2015 г. №3921-У'

  -
    const infoPageAsideList =[
      { text: 'Устав и иные внутренние документы' },
      { text: 'Лицензии' },
      { text: 'Финансовая отчетность' },
      { text: 'Годовые отчеты' },
      { text: 'Сообщения о существенных фактах' },
      { text: 'Аффилированные лица' },
      { text: 'Ежеквартальные отчеты' },
      { text: 'Эмиссия ценных бумаг' },
      { text: 'Реорганизация' },
      { text: 'Раскрытие информации для регулятивных целей' },
      { text: 'Раскрытие информации об обязательной оценке Банка на предмет соответствия требований положения №382-П' },
      { isActive: true, text: 'Раскрытие информации в соответствии с Указанием Банка России от 28.12.2015 г. №3921-У' },
      { text: 'Документы для ознакомления' },
      { text: 'Архив документов' },
    ]

  -
    const tableItems ={
      thead: [
        {
          th: [
            { mods: 'text-center', text: 'Перечень информации, подлежащей обязательному раскрытию' },
            { mods: 'text-center', text: 'Информация или ссылка на раздел сайта, где раскрыта информация.' },
            { mods: 'text-center', text: 'Дата раскрытия информации на сайте / Период актуальности' },
          ]
        },
      ],
      tbody: [
        {
          td: [
            { mods: 'text-center', text: '<b>1</b>' },
            { mods: 'text-center', text: '<b>2</b>' },
            { mods: 'text-center', text: '<b>3</b>' },
          ]
        },
        {
          td: [
            { text: 'Полное и сокращенное фирменное наименование профессионального участника рынка ценных бумаг, в том числе на иностранном языке (при наличии двух последних)' },
            { text: `Полное фирменное наименование на русском языке: «Азиатско-Тихоокеанский Банк» (публичное акционерное общество)
                <br>Сокращенное фирменное наименование на русском языке: «Азиатско-Тихоокеанский Банк» (ПАО)
                <br>Полное фирменное наименование на английском языке: Public joint stock company Asian-Pacific Bank
                <br>Сокращенное фирменное на английском языке: PJSC Asian-Pacific Bank` },
            { mods: 'text-center', text: '20 мая 2016/ с 20 мая 2016 по 02 декабря 2020' },
          ]
        },
        {
          td: [
            { text: 'Полное и сокращенное фирменное наименование профессионального участника рынка ценных бумаг, в том числе на иностранном языке (при наличии двух последних)' },
            { text: `Полное фирменное наименование на русском языке: «Азиатско-Тихоокеанский Банк» (Акционерное общество)
                    <br>Сокращенное фирменное наименование на русском языке: «Азиатско-Тихоокеанский Банк» (АО)
                    <br>Полное фирменное наименование на английском языке: Joint stock company Asian-Pacific Bank
                    <br>Сокращенное фирменное на английском языке: JSC Asian-Pacific Bank` },
            { mods: 'text-center', text: '03 декабря 2020 / Бессрочно' },
          ]
        },
        {
          td: [
            { text: 'Идентификационный номер налогоплательщика' },
            { text: '2801023444' },
            { mods: 'text-center', text: '20 мая 2016 / Бессрочно' },
          ]
        },
        {
          td: [
            { text: 'Информация о членстве в саморегулируемых организациях в сфере финансового рынка, объединяющих брокеров, дилеров, форекс-дилеров, управляющих, депозитариев, регистраторов (далее - СРО), в случае исключения из СРО профессиональный участник рынка ценных бумаг раскрывает информацию об этом с указанием даты и причины исключения.' },
            { text: '<a class="text-orange" href="#">Саморегулируемая организация «Национальная финансовая ассоциация»</a>' },
            { mods: 'text-center', text: '20 мая 2016 / В течение всего срока членства в СРО НФА' },
          ]
        },
      ]
    }

  -
    const tableItems2 ={
      thead: [
        {
          th: [
            { mods: 'text-center', text: 'Перечень информации, подлежащей раскрытию' },
            { mods: 'text-center', text: 'Информация или ссылка на раздел сайта, где раскрыта информация.' },
            { mods: 'text-center', text: 'Дата раскрытия информации на сайте / Период актуальности' },
          ]
        },
      ],
      tbody: [
        {
          td: [
            { mods: 'text-center', text: '<b>1</b>' },
            { mods: 'text-center', text: '<b>2</b>' },
            { mods: 'text-center', text: '<b>3</b>' },
          ]
        },
        {
          td: [
            { text: 'Порядок электронного документооборота профессионального участника рынка ценных бумаг (при наличии)' },
            { text: '<a class="text-orange" href="https://invest.atb.su/get_file/?item=54294663&id=1952">https://invest.atb.su/get_file/?item=54294663&id=1952</a>' },
            { mods: 'text-center', text: '26.03.2021г' },
          ]
        },
        {
          td: [
            { text: 'Информация о членстве профессионального участника рынка ценных бумаг в ассоциациях, объединениях, и (или) банковских группах' },
            { text: '«Азиатско-Тихоокеанский Банк» (АО) является головной кредитной организацией банковской группы, а также членом Ассоциации Региональных Банков России (Ассоциация «Россия»)' },
            { mods: 'text-center', text: '20 мая 2016 / Бессрочно' },
          ]
        },
        {
          td: [
            { text: 'Перечень кредитных организаций, в которых управляющему открыты банковские счета для расчетов по операциям, связанным с доверительным управлением ценными бумагами и денежными средствами клиента, с указанием полного фирменного наименования кредитной организации' },
            { text: 'Небанковская кредитная организация акционерное общество «Национальный расчетный депозитарий»' },
            { mods: 'text-center', text: '20 мая 2016 / Бессрочно' },
          ]
        },
      ]
    }

block content
  main
    +breadcrumbs
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item('Раскрытие информации', '#')
      +breadcrumbs-item(pageTitle)
    +banner
      +banner-item('--text-old, --mb-small-fz')
        +banner-wrapper('/img/banner_gradient.jpg')
          +banner-h1('Раскрытие информации в соответствии с Указанием Банка России от 28.12.2015 г. №3921-У | «Азиатско-Тихоокеанский Банк» (АО)')
    .page-content
      +section('--mt0')
        .inner
          +section-head
            +ui-p1('До 30.11.2020 г. «Азиатско-Тихоокеанский Банк» (АО) являлся ПАО и осуществлял раскрытие на странице информационного агентства ООО&nbsp;«Интерфакс-ЦРКИ» по ')
              a.text-orange(href='#') ссылке
          +info-page(infoPageAsideList, pageTitle)
            +section-box
              +ui-p1('Обязательная информация, подлежащая раскрытию профессиональным участником рынка ценных бумаг в соответствии с Указанием Банка России от 28.12.2015 № 3921-У', '--bold').text-center
              +section-box('--mb10')
                +ui-table(tableItems, 'info-page')
            +section-box
              +ui-p1('Рекомендуемая информация, подлежащая раскрытию профессиональным участником рынка ценных бумаг в соответствии с Указанием Банка России от 28.12.2015 № 3921-У', '--bold').text-center
              +section-box('--mb10')
                +ui-table(tableItems2, 'info-page')
