extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  script(src=fileName + '.js')

block variables
  -const fileName = 'info-pages'
  -const pageTitle ='Финансовая отчетность'

  -
    const infoPageAsideList =[
      { text: 'Устав и иные внутренние документы' },
      { text: 'Лицензии' },
      { isActive: true, text: 'Финансовая отчетность' },
      { text: 'Годовые отчеты' },
      { text: 'Сообщения о существенных фактах' },
      { text: 'Аффилированные лица' },
      { text: 'Ежеквартальные отчеты' },
      { text: 'Эмиссия ценных бумаг' },
      { text: 'Реорганизация' },
      { text: 'Раскрытие информации для регулятивных целей' },
      { text: 'Раскрытие информации об обязательной оценке Банка на предмет соответствия требований положения №382-П' },
      { text: 'Раскрытие информации в соответствии с Указанием Банка России от 28.12.2015 г. №3921-У' },
      { text: 'Документы для ознакомления' },
      { text: 'Архив документов' },
    ]

block content
  main
    +breadcrumbs
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item('Раскрытие информации', '#')
      +breadcrumbs-item(pageTitle)
    +banner
      +banner-item('--text-old')
        +banner-wrapper('/img/banner_gradient.jpg')
          +banner-h1('Финансовая отчетность | «Азиатско-Тихоокеанский Банк» (АО)')
    .page-content
      +section('--mt0')
        .inner
          +section-head
            +ui-p1('До 30.11.2020 г. «Азиатско-Тихоокеанский Банк» (АО) являлся ПАО и осуществлял раскрытие на странице информационного агентства ООО&nbsp;«Интерфакс-ЦРКИ» по ')
              a.text-orange ссылке
          +info-page(infoPageAsideList, pageTitle)
            +accordion
            +accordion-item('Годовая (промежуточная) бухгалтерская (финансовая) отчетность <span class="text-grey60">(71)</span>')
              +ui-p1()
                p
                  a(href='#') 2013 год
                    span.text-grey60  (8)
                p
                  a(href='#') 2013 год
                    span.text-grey60  (8)
            +accordion-item('Консолидированная финансовая отчетность (МСФО) <span class="text-grey60">(33)</span>')
              +ui-p1()
                p
                  a(href='#') 2013 год
                    span.text-grey60  (8)
                p
                  a(href='#') 2013 год
                    span.text-grey60  (8)
