mixin popup__wrapper(mods)
  -
    const baseName = 'popup__wrapper'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .popup__wrapper(class=allMods style='display: none;')&attributes(attributes)
    block
